---
import PolygoneFlipProg from "../../../../components/commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsApp" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>

  <!-- Polygone Application mobile -->
  <PolygoneFlipProg type="-app" colorBack="-iot" backText="app" />
  <PolygoneFlipProg type="-app" colorBack="-app" imageUrl="/src/assets/images/ambiance/app/image-1.png"/>
  <PolygoneFlipProg type="-app" colorBack="-web" backText="app"/>
  <PolygoneFlipProg type="-app" />

  <PolygoneFlipProg type="-app" colorBack="-metier" backText="app"/>
  <PolygoneFlipProg type="-app" colorBack="-ia" backText="app"/>
  <PolygoneFlipProg type="-app" />
  <PolygoneFlipProg type="-app" colorBack="-app" backText="app"/>

  <PolygoneFlipProg type="-app" colorBack="-iot" imageUrl="/src/assets/images/ambiance/app/image-2.png"/>
  <PolygoneFlipProg type="-app" colorBack="-web" backText="app"/>
  <PolygoneFlipProg type="-app" colorBack="-metier" backText="app"/>
  <PolygoneFlipProg type="-app" imageUrl="/src/assets/images/ambiance/app/image-3.png"/>

</div>
