---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as equipeContent from "../../contenus/equipe/equipe-content.md";
---

<RevealText>
   <h2 class="oka-h">
      {equipeContent.frontmatter.title}
   </h2>
</RevealText>

<p class="oka-text -lg">
   {equipeContent.rawContent()}
</p>