---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as formationContent from "../../contenus/equipe/formation-content.md";
---

<RevealText>
   <h2 class="oka-h">
      {formationContent.frontmatter.title}
   </h2>
</RevealText>

<p class="oka-text -lg">
   {formationContent.rawContent()}
</p>