/**  OKA ACCORDIONS 

| 4.0.0 | 01/11/2022 | Figma token  |
---------------------------------------------------------
| 3.0.4 | 14/10/2021 | force la couleur 'accent' de l'indicateur / border pour oka-accordion__button  |
| 3.0.3 | 04/07/2021 | modifier white - light - loading |
| 3.0.2 | 04/02/2021 | modifier ghost - Ajout Fonction responsive (accordion jusqu'a small)  |
| 3.0.1 | 21/12/2020 | modifier shadow |
| 3.0.0 | 05/11/2020 |  creations  |
| 2.0.1 | |  modifier --reverse|

*/

/* DEPENDANCES */
@import "../../1-bases/animations/animations";


%accordionArrow--closed {

    // Icone (Mobile)
    &:before{
        @extend %arrow; 
        margin: 0 0.5rem ;
        transform: rotate(0deg);
    }
    // &:hover:before{
    //     transform: rotate(90deg);
    // }
}


%accordionArrow--open{

    // Rotation  Icone
    &:before{
        transform: rotate(90deg) !important;
    }
    // &:hover:before{
    //     transform: rotate(0deg) !important;
    // }
}



%accordionButton {

    @extend .oka-ripple;

    display:flex;
    align-items: center;
    
    width : 100%;
    height: 3.5rem;

    margin : 0 ;
    padding : 0 ;

    background : transparent ;
    color:var(--oka-actionAlternatif-color-default);


    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--oka-actionAlternatif-border-default); 


    text-decoration: none;
    cursor: pointer;


    &:hover{
        background-color:var(--oka-actionAlternatif-bg-hover);
        color:var(--oka-actionAlternatif-color-hover);
        border-color : var(--oka-actionAlternatif-border-hover);  
    }


    &--disabled {
        border-color : var(--oka-actionAlternatif-border-disabled); 
        color : var(--oka-actionAlternatif-color-disabled); 
        cursor:not-allowed;
        pointer-events:none;
    }

    // Colorisation des enfants : titres / Sous-Titres / Tags / Texte annexe / Icones
    * {
        color: inherit !important ; // 3.0.4 ->
    }
}

%accordionButton--press {
    z-index:10;

    color: var(--oka-actionAlternatif-color-press);
    border-color: var(--oka-actionAlternatif-border-press);
}

%accordionLibelle{
    @extend .oka-ctaText;
    
    flex-grow:1;

    margin-left:0.5rem; // v2.0.1
    margin-right:0.5rem; // v2.0.1
}



%actionAlternatifColorTokens {
    --oka-actionAlternatif-border-default: var(--oka-color-system-contrast-medium);
    --oka-actionAlternatif-color-default : var(--oka-color-action-fg-primary-default); 

    --oka-actionAlternatif-bg-hover: var(--oka-color-action-bg-primary-hover-alt);
    --oka-actionAlternatif-border-hover: var(--oka-color-action-border-primary-hover);
    --oka-actionAlternatif-color-hover : var(--oka-color-action-fg-primary-hover); 

    --oka-actionAlternatif-border-press: var(--oka-color-action-border-primary-press);
    --oka-actionAlternatif-color-press : var(--oka-color-app-fg-default); 

    --oka-actionAlternatif-border-disabled: var(--oka-color-action-border-primary-disabled);
    --oka-actionAlternatif-color-disabled : var(--oka-color-action-fg-primary-disabled); 

    &.-secondary{
        --oka-actionAlternatif-border-default: var(--oka-color-system-contrast-medium);
        --oka-actionAlternatif-color-default : var(--oka-color-action-fg-secondary-default); 

        --oka-actionAlternatif-bg-hover: var(--oka-color-action-bg-secondary-hover-alt);
        --oka-actionAlternatif-border-hover: var(--oka-color-action-border-secondary-hover);
        --oka-actionAlternatif-color-hover : var(--oka-color-action-fg-secondary-hover); 

        --oka-actionAlternatif-border-press: var(--oka-color-action-border-secondary-press);
        --oka-actionAlternatif-color-press : var(--oka-color-app-fg-default); 

        --oka-actionAlternatif-border-disabled: var(--oka-color-action-border-secondary-disabled);
        --oka-actionAlternatif-color-disabled : var(--oka-color-action-fg-secondary-disabled); 
    }
}


// Inputs radios Pilot d'affichage / masquage
.oka-pilot,
.oka-tab__pilot{
    display:none;
}



.oka-accordion {

    // Tokens de couleurs
    @extend %actionAlternatifColorTokens;


    margin:0;  //3.0.4 -> les marge inférieur sont à gérer avec u-stack //margin-bottom:1rem;

    &:last-child{
        margin-bottom:0;
    }



    // Entete 
    &__head{

        display: flex;

        padding-top:0;

        // Effet Ripple au click
        @extend .oka-ripple;

        .-reverse & {
            .oka-accordion__button {
                flex-direction: row-reverse;
            }
        }
    }

    // 4.0.0 : atomisation du pilot
    // Inputs radios Pilot
    // &__pilot{
    //     display:none;
    // }


    // label
    &__button{
        @extend %accordionButton;
        @extend %accordionArrow--closed;
    }


    &__lbl {
        @extend %accordionLibelle
    }


    &__ico {

        display: flex;

        width:2.5rem;           // 3.0.4 : centrage d'icones / badges
        min-height:2.5rem;      // 3.0.4 : centrage d'icones / badges

        justify-content: center; // 3.0.4 : centrage d'icones / badges
        align-items: center;     // 3.0.4 : centrage d'icones / badges

        flex-grow:0;             // 3.0.4 : centrage d'icones / badges
        flex-shrink: 0;          // 3.0.4 : centrage d'icones / badges

        &.material-icons,
        .material-icons {
            font-size:16px;
        }
    }




    &__body {

        display:block;

        // Effet de slide ouverture - Position initiale
        @extend %okaSlideOuverture--initial;
    }
}



// INTERACTIONS
//
// Activer les Buttons Accordion
.oka-accordion .oka-pilot:checked + .oka-accordion__head label,
.oka-accordion .oka-tab__pilot:checked + .oka-accordion__head label
 {
    
    @extend %accordionButton--press;
    @extend %accordionArrow--open;

}

// Ouverture du Corps
.oka-accordion .oka-pilot:checked ~ .oka-accordion__body ,
.oka-accordion .oka-tab__pilot:checked ~ .oka-accordion__body  {

    // Effet de slide ouverture - Position ouvert
    @extend %okaSlideOuverture--open;
    //
    //
    overflow: visible;
}




// ---------------------------------------------------------------------------------------
// Fonction : container responsive (ex d'utilisation : filtres)
// 
// FORCE L'OUVERTURE A PARTIR DU VIEWPORT MD
.oka-accordion.-openOnMd {

    // Masque l'entete pour breakpoint(md)
    .oka-accordion__head{
        @include breakpoint(md) {
            display:none;
        }
    }

    // Force l'affichage de body
    .oka-accordion__body {
        background-color: transparent;
    
        @include breakpoint(md) {
            max-height:50000px;
            transform: scaleY(1);
            //
            margin-bottom:2rem;
        
            overflow: visible;
        }
    }

}


