---
// Composant
import Logo from './Technologo.astro';
import Titre from './Titre.astro';
---



<Titre titre="Technologies & outils de développement mobile." />
<div class="oka-flex -gap-sm -wrap">

<Logo
    nom="Xamarin"
    categorie="Développement Mobile"
    logoPath="src/assets/img/technologie/Xamarin.png"
    />


<Logo
    nom="iOS"
    categorie="Développement Mobile"
    logoPath="src/assets/img/technologie/iOS.png"
    />

<Logo
    nom="Android"
    categorie="Développement Mobile"
    logoPath="src/assets/img/technologie/Android.png"
    />

</div>