---
// Composant
import Logo from './Technologo.astro';
import Titre from './Titre.astro';
---



<Titre titre="Technologies & outils annexes." />

<div class="oka-flex -gap-sm -wrap">
<Logo
    nom="STRIPE"
    categorie="Développement"
    logoPath="src/assets/img/technologie/STRIPE.png"
    />


<Logo
    nom="OPENAI"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/OPENAI.png"
    />

    
</div>