---
// Composant
import Logo from './Technologo.astro';

import Titre from './Titre.astro';

---



<Titre titre="Technologies & outils de développement." />
<div class="oka-flex -gap-sm -wrap">



<Logo
    nom="Symfony"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/Symfony.png"
    />


<Logo
    nom="Php"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/php.png"
    />

<Logo
    nom="HTML5"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/html.png"
    />

<Logo
    nom="CSS3"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/CSS.png"
    />

<Logo
    nom="Javascript"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/Javascript.png"
    />

<Logo
    nom="MySql"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/MySql.png"
    />

<Logo
    nom="MongoDB"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/MongoDB.png"
    />

<Logo
    nom="Linux"
    categorie="Développement Web"
    logoPath="src/assets/img/technologie/Linux.png"
    />

</div>