---
interface Props {
    titre: string
}

const { titre } = Astro.props;



---

<div class="oka-spacer -xxl"></div>   
<hr class="filet" />
<div class="oka-spacer -sm"></div>
<h3 class="oka-h -xs">{ titre }</h3>