
// ==================================================
// HTML

/**
| 4.0.1 | 05/09/2024 | height 100% de Body |
| 4.0.0 | 16/05/2022 | utilise tokens figma |
| 3.1.1 | 18/09/2021 | ajout Background pour iOs |
| 3.1.0 | 03/06/2021 | Revue -  Font rendering amélioré |
// 1.0.0
*/



html {

    //position:relative ; //4.0.0 requis pour 8ptGrid Preview

    margin:0;
    padding:0;
    height:100%; // 4.0.1 : réactivé -> 4.0.0 // !!!! Isoler , bug sous storybook
    box-sizing: border-box;

    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;

    /* Better Font Rendering =========== */
    text-rendering: optimizeLegibility;   /* Support for Safari and Chrome. */
    -webkit-font-smoothing : antialiased; /* Support for all WebKit browsers. */
    -moz-osx-font-smoothing: grayscale;   /* Support for Firefox. */
    font-feature-settings: 'liga'; /* Support for IE. */


    // 3.1.1 Ajout d'un fond à html
    // pour fond des navigateur sous ios
    // apparait quand le scroll est forcer hors champ en haut et bas
    // background: $oka-app-color-background;
    // | 4.0.0 | 16/05/2022 | utilise tokens figma |
    // background-color: var(--oka-color-app-underground); // Isoler car incompatible avec Storybook : l'affichage des stories en mode canvas ne suit pas le darkmode

    // |4.0.1 | déporté sur body
    //color: $oka-app-color-text;

    // | 4.0.0 | 16/05/2022 | utilise tokens figma |
    // 3.1.2 Préparation à Dark theme
    // | 4.0.1 | A utiliser via body  color : var(--oka-color-app-fg-default);

    // Applique la taille de police de base à l'élémént ROOT (html)
    // afin de standardiser le calcul des REM
    font-size:16px; // Taille de la grille vertical
    line-height:1rem;

    //
    //Enable smooth scrolling on the whole document lors du deplacement vers une ancre
	// 4.0.0 non : provoque un effet de slide lorsque l'on referme un modal (suite à disable noscroll) appliquer à body et son repositionnement
    // il faudrait plutot l'appliquer à #Root ?
    // scroll-behavior: smooth; 



    // Responsive global
    // !!!!!! Attention ... 
    //cela provoque un décentrage des pin de check des radios sur certains viewports
    // @include breakpoint(xs) {
    //     font-size:15.4px;
    // }
    // @include breakpoint(sm) {
    //     font-size:15.4px;
    // }
    // @include breakpoint(md) {
    //     font-size:15px;
    // }
    // @include breakpoint(lg) {
    //     font-size:13.8px;
    // }

}



*,
*::after,
*::before {
    box-sizing: inherit;
}


 
 