<div class="sok-card-container">
   <div class="sok-card-wrapper">
      <slot/>
      
      <div class="sok-card">
         <h3 class="oka-h -lg">L'ADN Hokoha</h3>
   
         <div class="sok-t-paragraph">
            <p class="oka-text -md">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, minus! Quidem, corrupti vitae deserunt reprehenderit natus dolorum illo. Fugit, ea.
            </p>
         </div>
   
         <div class="oka-spacer -md" aria-hidden="true" />
   
         <button class="oka-bt -outlined">
            <div class="oka-bt__lbl">En savoir plus</div>
         </button>
      </div>
   </div>
   
</div>


<style lang="scss">
   .sok-card-container {
      width: 100%;
      min-height: 100dvh;
      border-top: 1px solid var(--oka-color-bd-minimal);
      border-bottom: 1px solid var(--oka-color-bd-minimal);
      
      .sok-card-wrapper {
         position: relative;
         display: flex;
         z-index: -1;
         height: 100%;
      }

      .sok-card {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: start;
         min-width: 100%;
         padding-left: 2rem;
         background-color: var(--oka-color-layer-floor-0);
         border: 1px solid var(--oka-color-bd-minimal);
         
         .sok-t-paragraph {
            max-width: 440px;
         }
      }
   }

   
</style>

<script>
   import { gsap } from "gsap";
   import { ScrollTrigger } from "gsap/ScrollTrigger";

   gsap.registerPlugin(ScrollTrigger);

   document.addEventListener("astro:page-load", () => {
      const container = document.querySelector(".sok-card-container");
      const cardsWrapper = document.querySelector(".sok-card-wrapper");

      if (!cardsWrapper || !container) return;

      const totalWidth = cardsWrapper.scrollWidth;
      const containerWidth = container.offsetWidth;
      
      const scrollDistance = totalWidth - containerWidth;
   

      gsap.to(cardsWrapper, {
         x: -scrollDistance,
         ease: "none",
         scrollTrigger: {
            trigger: ".sok-savoirfaire",
            start: "top top",
            end: `+=${scrollDistance}`,
            scrub: true,
            pin: true,
            anticipatePin: 1,
            invalidateOnRefresh: true,
            markers: true
         }
      });
   });
</script>