//
// TYPOGRAPHY System--------------------------------------
/*
| 4.0.0 |  |  |
*/
$system-font-family :  'IBM Plex Sans'  , sans-serif  ;
$system-font-baseline : 0.125;

$system-font-weight-light : 300;
$system-font-weight-regular : 500;
$system-font-weight-strong : 700 ;

$system-letter-spacing: -0.002em;
$system-word-spacing: 0;
