// Typography Scale
/*
| 4.0.0 |  |  |
*/
 
$oka-fontsize-xxxl: 5.61 ;  // [ 5.61rem ] - [ 89.76px ]
$oka-fontsize-xxl: 4.209 ;  // [ 4.209rem ] - [ 67.34px ]
$oka-fontsize-xl: 3.157 ;   // [ 3.157rem ] - [ 50.51px ]
$oka-fontsize-lg: 2.369 ;   // [ 2.369rem ] - [ 37.9px ]
$oka-fontsize-md: 1.777 ;   // [ 1.777rem ] - [ 28.43px ]
$oka-fontsize-sm: 1.333 ;   // [ 1.333rem ] - [ 21.33px ]
$oka-fontsize-xs: 1 ;       // [ 1rem ] - [ 16px ]
$oka-fontsize-body: 0.875 ; // [ 0.875rem ] - [ 14px ]
$oka-fontsize-xxs: 0.75 ;   // [ 0.75rem ] - [ 12px ]
$oka-fontsize-xxxs: 0.64 ; // [ 0.64rem ] - [ 10.24px ]
//
$oka-lineheight-xxxl: 6.5;  // [ 6.5rem ] - [ 104px ]
$oka-lineheight-xxl: 5;     // [ 5rem ] - [ 80px ]
$oka-lineheight-xl: 4;      // [ 4rem ] - [ 64px ]
$oka-lineheight-lg: 3;      // [ 3rem ] - [ 48px ] 
$oka-lineheight-md: 2.5;    // [ 2.5rem ] - [ 40px ]
$oka-lineheight-sm: 2;      // [ 2rem ] - [ 32px ]
$oka-lineheight-xs: 1.5;    // [ 1.5rem ] - [ 24px ] 
$oka-lineheight-xxs: 1;     // [ 1rem ] - [ 16px ]
