// INSET

/*
| 4.0.0 | 25/11/2022 | Création |

*/

.oka-inset {
    --oka-inset-border-color : var(--oka-color-system-contrast-medium);

    //border-width: 1px;
    //border-style: solid;
    //border-color: var(--oka-inset-border-color);

    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--oka-inset-border-color);

    padding: 0.5rem;

    &.-light{
        --oka-inset-border-color : var(--oka-color-light);
    }

    &.-dark{
        --oka-inset-border-color : var(--oka-color-dark);
    }
    
    &.-low{
        --oka-inset-border-color : var(--oka-color-system-contrast-low);

        &.-primary{
            --oka-inset-border-color : var(--oka-color-primary-contrast-low);
        }
        &.-secondary{
            --oka-inset-border-color : var(--oka-color-secondary-contrast-low);
        }
    }

    &.-primary{
        --oka-inset-border-color : var(--oka-color-primary-contrast-medium);
    }

    &.-secondary{
        --oka-inset-border-color : var(--oka-color-secondary-contrast-medium);
    }

    &.-high{
        --oka-inset-border-color : var(--oka-color-system-contrast-hight);

        &.-primary{
            --oka-inset-border-color : var(--oka-color-primary-contrast-hight);
        }
        &.-secondary{
            --oka-inset-border-color : var(--oka-color-secondary-contrast-hight);
        }
    }
}