/* OKA CREDITS 

| 4.0.1 | 26/01/23 | ABEM - Supprime les elements pour oka-data |
| 4.0.0 | 17/09/22 | figma tokens |
| 1.0.0 | 07/09/21 | ajout de strong |
| 0.0.1 |          | versionning - tokens |
*/


// Dépendances :
//
// Tokens
//@import "../../../design-tokens/oka-credits-tokens.scss";



.oka-credits {

    padding:0.5rem 0 0 0;

    color: var(--oka-color-app-fg-default);


    // Positionne stack  pour view small
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;


    //  marges des enfants par defaut
     > *  {
        margin:0 0 -0.5rem 0 ; 
        padding-left:  0.5rem !important;   
     }


    // Positionne en ligne  pour view medium
    @include breakpoint(sm) {
        flex-direction: row;
        justify-content : flex-end;
        flex-wrap: wrap;
        
    }



    
    &--stack , 
    &.-stack {
        flex-direction: column;
        justify-content : flex-end;
        flex-wrap: wrap;

        // pousse en bas (cas ou sidebar : flex column)
        margin-top: auto;
    }

}
