.oka-2cols-1{


    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto ; 
    gap: 2em 2em; 
    grid-template-areas: 
      "col1"
      "col2"; 

    width : 100%;


    @include breakpoint(sm) {
      grid-template-columns: 1fr 2fr; 
      grid-template-rows: auto auto; 
      gap: 1em 2em; 
      grid-template-areas: 
        "col1 col2"
        ; 
    }

    @include breakpoint(md) {
      grid-template-columns: 1fr 3fr; 
      grid-template-areas: "col1 col2"; 
      gap: 0px 2em;
    }



   > :first-child{
      @include breakpoint(sm) {
        grid-area: col1;
      }
    }

}