
a {
    //text-decoration: none;
    color: var(--color--accent);

    &:hover {
        text-decoration: none;
        //color: var(--color-1--light);
    }
}

li {
    //font-size: 1.45rem;
    //font-size:3.4rem;
    @include plumber-set-defaults($use-baseline-origin: true);
    @include plumber(
        //$grid-height: 1rem,
        $baseline: 0.158203,
        $font-size: 1.95,
        $line-height: 2,
        $leading-top: 2,
        $leading-bottom: 1
    );
    font-family: Roboto, sans-serif;

}

ul {
    padding-left: 2rem;
}
