
:root,.oka-lightMode  {
    --oka-color-app-bg-default : var(--oka-color-neutral-lightest) ;
}



html {
    scroll-behavior: smooth;
  }


// Ancrage
:target {
    scroll-margin-top: 4rem; /* Ajuste cette valeur selon la hauteur de ton header */
}



  //

.oka-appbar__left {
    padding-left:0;
}
.oka-appbar__right {
    padding-right:1px;
}
//
//  affichage grille technique
.oka-spacer{
    position: relative;
    border-color : var(--oka-color-specs-low) !important;
    border-style: solid !important;
    border-width: 0 0 0 0.5px !important;
    opacity:0;
    &:before,
    &:after{
        content:"";
        display: block;
        width:0.5rem;
        height:1px;

        position: absolute;
        left:-0.25rem;

        border-style: solid ;
        border-color : var(--oka-color-specs-low) !important;
        border-width: 0.5px 0 0 0 !important;

        opacity: 0;

    }
    &:after{
        bottom:0;
    }
}


.showGrid .oka-spacer,
.showGrid .oka-spacer:before,
.showGrid .oka-spacer:after {
    opacity:1;
}

.oka-appWrap{
    outline: 0px solid var(--oka-color-specs-low) !important;
}
body.showGrid .oka-app-wrap,
body.showGrid .oka-appWrap {
    outline: 0px solid var(--oka-color-specs-low) !important;
}


.flex-grid-bg-fx{
    display: flex !important;
    opacity:0;
}

.showGrid .flex-grid-bg-fx, .showGrid .grid-bg-fx {
    opacity:1;
}


.oka-spacer {
    transition: opacity 3s ease-out,
}
body:not(.sb-show-main).showGrid #root:after ,
.flex-grid-bg-fx{
    transition: opacity 2.5s ease-out,
}

// Animations d'apparition

.appear {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
.appear.visible {
    opacity: 1;
    transform: translateY(0);
}


// Reprise du footer
.layout-app__footer{
    z-index:2;
}

// Filet séparateur
hr.filet{
    display:inline-block;
    width:10.5rem
}

// Anti Line Break
.u-noLineBreak {
    white-space: nowrap;
}

// Deco  8pt

.heightPointGrid {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0.25rem;
    height: 50vh;
    background-color: transparent;
    opacity: 1;
    background-image: linear-gradient(0deg, transparent 50%, var(--oka-color-primary-bg-medium) 50%);
    background-image: linear-gradient(0deg, transparent 50%, var(--oka-color-app-bg-default) 50%);
    background-size: 16px 16px;
}


// Bouton toggle Mode
// Utilitaire toggle suivant mode

.u-showOnDark {
    display:none;
}
body.oka-darkMode {
    .u-showOnDark {
        display:flex;
        justify-content: center;
    }
    .u-showOnLight {
        display:none;
    }
}
body.oka-lightMode {
    .u-showOnDark {
        display:none;
    }
    .u-showOnLight {
        display:flex;
        justify-content: center;
    }
}

// ZoomText

html{
    transition: font-size 0.5s ease-out;
}
html:has(.zoomText) {
    font-size:19px;
}

