
:root,.oka-lightMode  {

    --oka-color-neutral-darker : #1e2637;

    --oka-color-app-ground : var(--oka-color-neutral-lightest);
    --oka-color-app-bg-default : #fff; // var(--oka-color-neutral-lightest) ;

    --oka-color-surface-level1-bg : var(--oka-color-white);

    --ancre-fd : rgba(255,255,255,0.4);


}

.oka-darkMode  {

    --oka-color-neutral-darker : #1e2637;

    // Semantic
    --oka-color-app-shadows : #000;

    --oka-color-system-bg-soft: var(--oka-color-neutral-darker);

    --oka-color-surface-level1-bg : var(--oka-color-neutral-darker);

    --ancre-fd : rgba(0,0,0,0.4);
}

// Sticky
.sticky {
    position: sticky;
    top : var(--sticky);

    &.-top8{
        --sticky:8rem;
    }

    &.-top12{
        --sticky:12rem;
    }
}


// Flip

.oka-flip__inner {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "flipInner";
  }
  
.oka-flip__front,
.oka-flip__back { 
    grid-area: flipInner; 

    position:relative;
}

.oka-flip__front,
.oka-flip__back { 
    align-items: flex-start;
}

  
.oka-flip__flipper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    color:var(--oka-color-action-fg-primary-default);
}


// Affichage du SEO
body.showSEO {
    h1,h2,h3,h4,h5 {
        position: relative;
        &:before{
            content: "SEO" !important;
            position: absolute;
            top:-0.5rem;
            
            width: 2rem !important;
            height: 1rem !important;
            padding: 0 !important;

            background-color: var(--oka-color-specs-low) !important;
            border-radius: 0.5rem;
            
            font-size: 10px;
            font-weight: 400;
            text-align: center;
    
            line-height: 1rem;
        }
    }

    h1:before{
        content:"H1" !important;
    }

    h2:before{
        content:"H2" !important;
    }


    h3:before{
        content:"H3" !important;
    }


    h4:before{
        content:"H4" !important;
    }


    h5:before{
        content:"H5" !important;
    }


}

// Ancrage
:target {
    scroll-margin-top: 8rem; /* Ajuste cette valeur selon la hauteur de ton header */
}

//

.oka-appbar__left {
    padding-left:0;
}
.oka-appbar__right {
    padding-right:1px;
}
//

// Affichage technique
.oka-appWrap{
    outline: 0px solid var(--oka-color-specs-low) !important;
}
body.showGrid .oka-app-wrap,
body.showGrid .oka-appWrap {
    outline: 0px solid var(--oka-color-specs-low) !important;
}


.flex-grid-bg-fx{
    display: flex !important;
    opacity:0;
}

.showGrid .flex-grid-bg-fx, .showGrid .grid-bg-fx {
    opacity:1;
}


.oka-spacer {
    transition: opacity 3s ease-out,
}

body:not(.sb-show-main).showGrid #root:after ,
.flex-grid-bg-fx{
    transition: opacity 2.5s ease-out,
}

// Animations d'apparition

.appear {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
.appear.visible {
    opacity: 1;
    transform: translateY(0);
}


.appear-fade {
    opacity: 0;
    transition: opacity 0.8s ease-out;
  }
  
.appear-fade.visible {
    opacity: 1;
}



// Reprise du footer
.layout-app__footer{
    z-index:2;
}

// Filet séparateur
hr.filet{
    display:inline-block;
    width:10.5rem
}

hr,.oka-divider {
    background-image: linear-gradient(to right, var(--oka-color-app-fg-default) 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
  }


// Anti Line Break
.u-noLineBreak {
    white-space: nowrap;
}

// Deco  8pt

.heightPointGrid {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0.25rem;
    height: 50vh;
    background-color: transparent;
    opacity: 1;
    background-image: linear-gradient(0deg, transparent 50%, var(--oka-color-primary-bg-medium) 50%);
    background-image: linear-gradient(0deg, transparent 50%, var(--oka-color-app-bg-default) 50%);
    background-size: 16px 16px;
}


// Bouton toggle Mode
// Utilitaire toggle suivant mode

.u-showOnDark {
    display:none;
}
body.oka-darkMode {
    .u-showOnDark {
        display:flex;
        justify-content: center;
    }
    .u-showOnLight {
        display:none;
    }
}
body.oka-lightMode {
    .u-showOnDark {
        display:none;
    }
    .u-showOnLight {
        display:flex;
        justify-content: center;
    }
}

// ZoomText

html{
    transition: font-size 0.5s ease-out;
}
html:has(.zoomText) {
    font-size:19px;
}





// Grid
.oka-showGrid {
    overflow:hidden;
}

.oka-showGrid:before//,
//html:after
{
    content   : '';
    position  : absolute;
    width:100%;
    //height:100%;
    top       :0% ;
    bottom   : 0;
    left     : 0%;
    z-index   : -1;

    padding   : 0;
 
    opacity   : 0   ;
    font-size: 8px;

    // 8Pt GRILLE VERTICALE
    background-repeat: repeat-y;
    background-size: 100% 0.25rem;
    background-image: linear-gradient(to bottom, var(--oka-color-specs-hight) 0,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to left, var(--oka-color-specs-hight) 0,rgba(247, 43, 43, 0) 1px);
    line-height: 0;

    pointer-events: none;

    //mix-blend-mode: multiply;

}



.oka-showGrid:before {
    z-index   : 1;
    opacity   : 0.30   ;
}

.oka-showGrid .oka-spacer,
.oka-showGrid .oka-spacer:before,
.oka-showGrid  .oka-spacer:after {
    z-index   : 100000000000;
    opacity   : 0   ;
}


.oka-showGrid .flex-grid-bg-fx {
    display: flex !important;
    opacity: 1 ;



    .grid-bg-fx__grid > * {
        position: relative;
        margin-bottom: 0 !important;
        background-color: blue !important;
        opacity: 0.0;
    }
}