// Vignette logo Clients
.oka-logoClient {
    // mix-blend-mode: multiply; /* Autres valeurs possibles: screen, overlay, darken, lighten, etc. */
    background-color: var(--oka-color-app-bg-default);
 
    img {
    width:100%;
    height:auto;
    
    mix-blend-mode: luminosity;
    }
}