.oka-ancres{
    position:sticky;
    z-index:10;
    top : 4rem; 

    height: 4rem;

    display:flex;
    align-items: center;
    gap:0.5rem;

    backdrop-filter: blur(3px); /* Applique le flou à l'arrière-plan */
    
    //overflow: auto;

    &:before {
        content:'';
        position:absolute;
        left:-1rem;
        right:-1rem;
        height:100%;

        background-color: var(--oka-color-app-bg-default);
        opacity: 0.9;
       
    }

}