

.oka-expertise {
    //@extend .oka-shadow-2;

    
    margin-bottom:0px;
    padding:1rem 0 1rem 0;

    background:#fff; 

    border:0px solid var(--oka-color-system-contrast-medium); 
    border-radius:0.5rem; 


    .oka-darkMode & {
        background: var(--oka-color-neutral-darker);
    }
}