


.page-accueil {
//--oka-color-app-bg-muted : #EEF1F6;


    // .layout-app__main {
    //     background-color: var(--oka-color-app-bg-muted) !important;
    // }

}


.oka-argument {

    &__intro {
        // border : 1px solid red;
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }

    &__detail{
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }
}   



 