


.page-accueil {
//--oka-color-app-bg-muted : #EEF1F6;


    // .layout-app__main {
    //     background-color: var(--oka-color-app-bg-muted) !important;
    // }

}

@font-face {
    font-family: 'Noto Serif';
    src: url('/site-hokoha/assets/fonts/NotoSerif-MediumItalic.woff2') format('woff2');
    font-weight: normal;
    //font-style: italic;
    font-display: swap;
}




.noto-serif {
    font-family: "Noto Serif", serif !important;
    font-optical-sizing: auto;
    font-weight: normal;
    
    color:var(--oka-color-system-contrast-hard);
    letter-spacing: -0.02em;
    // border-bottom:1px solid var(--oka-color-primary-contrast-medium);
    }

.oka-argument {

    &__intro {
        // border : 1px solid red;
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }

    &__detail{
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }
}   



 