

.page-entreprise {

    --oka-color-app-bg-muted : #EEF1F6;


    .layout-app__main {
        //background-color: var(--oka-color-app-bg-muted) !important;
        

        &:before{
            content: "";
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0.5rem;
            width: 100vw;
            height: 100vh;
            //background-image: url(assets/img/Logokoha-xxl-blanc.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            opacity: 0.6;

            

        }
    }


}


.page-entreprise.oka-darkMode {
    .layout-app__main {
        &:before{
           // background-image: url(assets/img/Logokoha-xxl-noir.png);
        }
    }
}

.equipe {
    position:relative;
    z-index: 2;
}


.membresStagiaires{
    display: flex;
    flex-wrap: wrap;
    gap:0 3rem;

    p {
        @extend .oka-text;
        margin:0 !important;
    }
}