


.page-accueil {
//--oka-color-app-bg-muted : #EEF1F6;


    // .layout-app__main {
    //     background-color: var(--oka-color-app-bg-muted) !important;
    // }

}



.noto-serif {
    font-family: "Noto Serif", serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
  
    color:var(--oka-color-system-contrast-hard);
    letter-spacing: -0.02em;
    // border-bottom:1px solid var(--oka-color-primary-contrast-medium);
    }

.oka-argument {

    &__intro {
        // border : 1px solid red;
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }

    &__detail{
        padding : 3rem 1rem 1rem 3rem;

        background-color: var(--oka-color-surface-level1-bg);
    }
}   



 