

.page-entreprise {

    --oka-color-app-bg-muted : #EEF1F6;


    .layout-app__main {
        background-color: var(--oka-color-app-bg-muted) !important;
        

        &:before{
            content: "";
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0.5rem;
            width: 100vw;
            height: 100vh;
            background-image: url(assets/img/Logokoha-xxl-blanc.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            opacity: 0.6;
        }
    }


}

.equipe {
    position:relative;
    z-index: 2;
}

.cartoucheMembre {
    &.-rvrs {
        flex-direction: row-reverse;
    }
}

.membre {
    &__attributs {
        display:flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap:0.5rem;

        .-rvrs & {
            align-items: flex-end; 
        }
    }
}

.membresStagiaires{
    display: flex;
    flex-wrap: wrap;
    gap:0 3rem;

    p {
        @extend .oka-text;
        margin:0 !important;
    }
}