:root {
  --sok-color-bg-blue-400: #2A4CBAFF;
  --sok-color-bg-blue-800: #133296FF;
  --sok-color-bg-blue-950: #1D2A56FF;
  --sok-color-bg-darkest: #001522FF;
  --sok-color-bg-grey-300: #FAF9FCFF;
  --sok-color-white: #FFFFFFFF;
}