<section class="oka-entreprise">
  <div class="oka-entreprise__content">
    <h2>Pour vos produits, vos services et vos process.</h2>

    <ul class="oka-entreprise__list">
      <li class="oka-presentation__item">
        <span class="oka-presentation__icon">></span>
        <span class="oka-presentation__text">Création en mars 2017</span>
      </li>

      <li class="oka-presentation__item">
        <span class="oka-presentation__icon">></span>
        <span class="oka-presentation__text">9 Personnes</span>
      </li>

      <li class="oka-presentation__item">
        <span class="oka-presentation__icon">></span>
        <span class="oka-presentation__text">Basée à Laval</span>
      </li>
    </ul>
  </div>

  <figure class="oka-entreprise__image-wrapper">
    <img class="oka-presentation__image" src="" alt="image" />
  </figure>
</section>
