---
import Revealtext from "../../animations/RevealText.astro";
import GrilleOffres from "../../components/commun/polygones/GrillePolygoneOffres.astro";
import GrilleVierge from "../../components/commun/polygones/GrillePolygoneVierge.astro";
---

<section class="flex-grid sok-hero">
   <div class="col col-1"></div>
   <div class="col col-8">
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>

      <img class="sok-logokoha" src="/src/assets/images/logokoha.svg" alt="logo Hokoha">

      <div class="static -md">
         <Revealtext>
            <h1 class="oka-h -xxl">Développement Informatique sur-mesure.</h1>
         </Revealtext>
      </div>
      <p class="oka-text -lg">
         Lorem ipsum dolor sit amet consectetur. Urna fringilla dui quis a vitae
         cras. Dui nec amet mauris tempor interdum facilisi eget.
      </p>

      <div class="oka-spacer  -lg" aria-hidden="true"></div>
  
      <button class="oka-bt -lg -solid   ">
         <div class="oka-bt__lbl">call to action</div>
         <div class="oka-bt__ico"><i class="fa fa-arrow-right"></i></div>
        <div class="oka-spinner"></div>
      </button>

      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
   

      <div class="sok-offres">
         <div class="sok-offres__item">
            <span class="oka-data -xs -crop">01</span>
            <span class="oka-h -md">Solutions Web</span>
         </div>
         <hr class="oka-divider" aria-hidden="true">
         <div class="sok-offres__item">
            <span class="oka-data -xs -crop">02</span>
            <span class="oka-h -md">Logiciels Métiers</span>
         </div>
         <hr class="oka-divider" aria-hidden="true">
         <div class="sok-offres__item">
            <span class="oka-data -xs -crop">03</span>
            <span class="oka-h -md">Application Mobile</span>
         </div>
         <hr class="oka-divider" aria-hidden="true">
         <div class="sok-offres__item">
            <span class="oka-data -xs -crop">04</span>
            <span class="oka-h -md">Intelligence Artificielle</span>
         </div>
         <hr class="oka-divider" aria-hidden="true">
         <div class="sok-offres__item">
            <span class="oka-data -xs -crop">05</span>
            <span class="oka-h -md">Objets Connectées</span>
         </div>
      </div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>

   </div>
    <div class="col col-1">
      <!-- <GrilleVierge /> -->

    </div>
   <div class="col col-6">
      <div class="hexa">
         <GrilleVierge />
         <GrilleOffres />
         <GrilleVierge />
      </div>
   </div>


   



</section>

<style lang="scss">
   .sok-hero {
      position:relative;
      // top: 0;
      background: linear-gradient(
         to bottom,
         var(--sok-color-bg-darkest) 20%,
         var(--sok-color-bg-blue-800) 50%,
         var(--sok-color-bg-blue-400) 65%,
         var(--sok-color-bg-blue-800) 80%,
         var(--sok-color-bg-darkest) 100%,
      );

      &::before {
         position: absolute;
         content: "";
         top: -30%;
         left: -30vw;
         // transform-origin: center;
         transform: rotate(20deg);
         width: 40vw;
         height: 150%;
         background: radial-gradient(#3753AA, #162144);
         mix-blend-mode: color-dodge;
      }
   }

   .oka-h, .oka-text, .oka-data {
      color: var(--sok-color-white);
   }



   .static{
      position:sticky;
      top: 0;
   }

   .hexa{
      position:sticky;
      top: 0;
   }

   .sok-offres{
      position:sticky;
      top: 14rem;

      &__item {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 1rem 0;
      }
   }

</style>
