---
// ===== Composants de la page =====
import Grid from "../../components/commun/grid.astro";
import GrilleIntro from "../../components/accueil/GrilleIntro.astro";

// ===== Composants d'animations =====
import Revealtext from "../../animations/RevealText.astro";
import RevealMask from "../../animations/RevealMask.astro";

// ===== Fichiers Markdown =====
import * as paragrapheHero from "../../contenus/accueil/hero/paragraphe-hero.md"
import logokohaDark from '../../assets/images/logokoha-dark.png';
---






<div class="oka-appWrap -full">
   <section class="sok-hero">
      
      

      <!-- <Grid /> -->

      <div class="flex-grid">
         <div class="col col-1"></div>
   
         <div class="col col-7">
            <div class="oka-spacer  -xl" aria-hidden="true"></div>
            <div class="oka-spacer  -xxl" aria-hidden="true"></div>
   
            <Revealtext data-delay="1.3">
               <img class="sok-logokoha"  src={logokohaDark.src} alt="logo Hokoha">
            </Revealtext>

            <div class="oka-spacer  -sm" aria-hidden="true"></div>

            <h1 class="oka-h -xxl">
            <Revealtext data-delay="1.3">
               Développement Informatique sur-mesure.
            </Revealtext>
            </h1>


            <div class="oka-spacer  -sm" aria-hidden="true"></div>
 

           
            <paragrapheHero.Content />
         
   
            <div class="oka-spacer  -lg" aria-hidden="true"></div>
              
         </div>
       
         <div class="col col-1">
            <!-- <GrilleIntro cols="2" /> -->
         </div>
      </div>
   
      <div class="flex-grid">
         <div class="col col-2">
         
         </div>
         <div class="col col-14">
            <GrilleIntro cols="7" dataAttrs={{ appearGroup: "", delay: "1.5" }} />
         </div>
      </div>

   </section>
</div>



<style lang="scss" is:global>

   @use "../../styles/oka-design-system/2-elements/typography-brand/texts/texts.scss" as *;

   .sok-hero {
      position:relative;
      z-index: 2;

      margin:0;
      border-radius : var(--sok-radius-section)  var(--sok-radius-section) 0 0;

      background-color: var(--sok-color-surface);
      
   }

   .sok-logokoha{
      width: auto;
      height: 56px;
   }


   .oka-text p,
   .sok-hero__chapeau p {
      @extend %oka-text-lg;
      max-width: 840px;
   }


</style>





<script>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(SplitText, ScrollTrigger);
</script>