---
import Revealtext from "../commun/animations/RevealText.astro";
import RevealBox from "../commun/animations/RevealBox.astro";
---

<section class="flex-grid sok-hero">


   <div class="col col-1"></div>
   <div class="col col-10">
         
      <Revealtext>
         <h1 class="oka-h -giant">La précision du développement sur-mesure.</h1>
      </Revealtext>

      <p class="oka-text -lg">
         Lorem ipsum dolor sit amet consectetur. Urna fringilla dui quis a vitae
         cras. Dui nec amet mauris tempor interdum facilisi eget.
      </p>

      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <!-- TODO Créer un component Call to action -->
      <button class="oka-bt -ghost   ">
        <div class="oka-bt__ico"><i class="fa fa-arrow-left"></i></div>
        <div class="oka-bt__lbl">call to action</div>
        <div class="oka-spinner"></div>
      </button>
   </div>
   

</section>

<style lang="scss">
   .sok-hero {
      //height: 40dvh;
      margin-bottom:8rem; 
   }

</style>
