---
// ===== Composants de la page =====
import Grid from "../../components/commun/grid.astro";
import GrilleIntro from "../../components/accueil/GrilleIntro.astro";

// ===== Composants d'animations =====
import Revealtext from "../../animations/RevealText.astro";
import RevealMask from "../../animations/RevealMask.astro";

// ===== Fichiers Markdown =====
import * as paragrapheHero from "../../contenus/accueil/hero/paragraphe-hero.md"
---






<div class="oka-appWrap -full">
   <section class="sok-hero">
      
      

      <!-- <Grid /> -->

      <div class="flex-grid">
         <div class="col col-1"></div>
   
         <div class="col col-14">
            <div class="oka-spacer  -xxl" aria-hidden="true"></div>
   
            <Revealtext>
               <img class="sok-logokoha"  src="/src/assets/images/logokoha-dark.png" alt="logo Hokoha">
            </Revealtext>
   
            <Revealtext>
               <h1 class="oka-h -xxl">Développement <br> Informatique sur-mesure.</h1>
            </Revealtext>
   
            <div class="oka-spacer  -sm" aria-hidden="true"></div>
   
            <div class="sok-t-paragraph oka-text -lg" data-delay="0.5">
               <paragrapheHero.Content />
            </div>
   
            <div class="oka-spacer  -lg" aria-hidden="true"></div>
              
         </div>
       
         <div class="col col-1">
            <!-- <GrilleIntro cols="2" /> -->
         </div>
      </div>
   
      <div class="flex-grid">
         <div class="col col-1">
         
         </div>
         <div class="col col-14">
            <GrilleIntro cols="7" dataAttrs={{ appearGroup: "", delay: "1.5" }} />
         </div>
      </div>

   </section>
</div>



<style lang="scss">

   .sok-hero {
      position:relative;
      z-index: 2;

      margin:0;
      border-radius : var(--sok-radius-section)  var(--sok-radius-section) 0 0;

      background-color: var(--sok-color-surface);
      
   }

   .sok-logokoha{
      width: auto;
      height: 56px;
   }


</style>


<script>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(SplitText, ScrollTrigger);
</script>