---
import Offres from "./Offres.astro";
import GrilleOffres from "../../components/commun/polygones/GrillePolygoneOffres.astro";
import GrilleVierge from "../../components/commun/polygones/GrillePolygoneVierge.astro";
import Revealtext from "../../animations/RevealText.astro";
import TestMaskPolygon from "../commun/polygones/TestMaskPolygon.astro"
---

<section class="flex-grid sok-hero">
   <div class="sok-grid-img">
      <img src="/src/assets/images/8pt.svg" alt="">
   </div>

   <div class="col col-1"></div>
   <div class="col col-7">
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <!-- <div class="oka-spacer  -xxl" aria-hidden="true"></div> -->

      <img class="sok-logokoha" src="/src/assets/images/logokoha.svg" alt="logo Hokoha">

      <div class="static -md">
         <Revealtext>
            <h1 class="oka-h -xxl">Développement Informatique sur-mesure.</h1>
         </Revealtext>
      </div>
      <p class="oka-text -lg">
         Lorem ipsum dolor sit amet consectetur. Urna fringilla dui quis a vitae
         cras. Dui nec amet mauris tempor interdum facilisi eget.
      </p>

      <div class="oka-spacer  -md" aria-hidden="true"></div>
  
      <button class="oka-bt -lg -solid   ">
         <div class="oka-bt__lbl">call to action</div>
         <div class="oka-bt__ico"><i class="fa fa-arrow-right"></i></div>
        <div class="oka-spinner"></div>
      </button>

      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
   
      <!-- ===== Offres ===== -->
      <Offres />

      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>

   </div>
    <div class="col col-1">
      <!-- <GrilleVierge /> -->

    </div>
   <div class="col col-5">
      <div class="hexa">
         <GrilleVierge />
         <GrilleOffres />
         <GrilleVierge />
      </div>
   </div>

   <div class="test-mask">
      <div class="mask-img"></div>
      <!-- <img class="mask-img" src="/src/assets/images/test.jpg" alt=""> -->
      <div class="masque">
         <TestMaskPolygon visible="" />

         <div class="mask-form"></div>
      </div>
   </div>
</section>

<style lang="scss">
   .sok-hero {
      position:relative;
      background-color: var(--sok-color-bg-strong);
      z-index: 90;

      & > * {
         z-index: 99;
      }

      &::before {
         position: absolute;
         content: "";
         top: 64px;
         left: 0;
         width: 100vw;
         height: 40vh;
         background: linear-gradient(
            var(--sok-color-bg-blue-500), 
            var(--sok-color-bg-blue-600) 20%,
            var(--sok-color-bg-blue-700) 45%,
            var(--sok-color-bg-blue-800) 65%,
            var(--sok-color-bg-strong) 100%
         );
         z-index: 91;
      }
   }

   .oka-h, .oka-text, .oka-data {
      color: var(--sok-color-fg-on_surface);
   }

   .static {
      position:sticky;
      top: 0;
      z-index: 99;
   }

   .hexa {
      position:sticky;
      top: 0;
   }

   // À MODIFIER
   .sok-grid-img {
      position: absolute;
      top: 70vh;
   }

   .test-mask {
      position: relative;
      overflow: hidden;
      width: 400px;
      height: 400px;
      border: 2px solid red;
      background: white;
   }


   .mask-img {
      background-image: url("/src/assets/images/test.jpg");
      position: absolute;
      inset: 0;
      mix-blend-mode: screen; 
      z-index: 99;
   }

   .masque {
      position: absolute;
      inset: 0;
   }

   .mask-form {
      position: absolute;
      width: 300px;
      height: 100px;
      background-color: #000;
   }
</style>
