---
import Offres from "./Offres.astro";
import GrilleOffres from "../../components/commun/polygones/GrillePolygoneOffres.astro";
import GrilleVierge from "../../components/commun/polygones/GrillePolygoneVierge.astro";
import Revealtext from "../../animations/RevealText.astro";
import TestMaskPolygon from "../commun/polygones/TestMaskPolygon.astro"
import RevealMask from "../../animations/RevealMask.astro";
---




<section class="sok-hero">
   

  


   <div class="flex-grid">
      <div class="col col-1"></div>
      <div class="col col-7">
         <!-- <div class="oka-flex  -center-top -gap-xs"> -->
            <div class="oka-spacer  -lg" aria-hidden="true"></div>
            <div class="oka-spacer  -xxl" aria-hidden="true"></div>
            <Revealtext>
               <img class="sok-logokoha"  src="/src/assets/images/logokoha-dark.png" alt="logo Hokoha">
            </Revealtext>

            <Revealtext>
               <h1 class="oka-h -xl">Développement Informatique sur-mesure.</h1>
            </Revealtext>

            <div class="oka-spacer  -sm" aria-hidden="true"></div>
            <p class="oka-text -lg">
               Lorem ipsum dolor sit amet consectetur. Urna fringilla dui quis a vitae
               cras. Dui nec amet mauris tempor interdum facilisi eget.
            </p>

            <div class="oka-spacer  -sm" aria-hidden="true"></div>
      

         <!-- </div> -->

         <!-- <div class="oka-spacer  -xxl" aria-hidden="true"></div>
         <div class="oka-spacer  -xxl" aria-hidden="true"></div> -->
      
         
      </div>
      <div class="col col-1"></div>
      <div class="col col-7">
         <!-- <GrilleVierge rows="3" cols="2"/>  -->
      </div>
      
   </div>


</section>

<style lang="scss">

   .sok-logokoha{
      width: auto;
      height: 56px;
   }



   .oka-h, .oka-text{
      //text-align: center;
   }



   



   .sok-hero {
      position:relative;
      z-index: 1;

      margin:0;
      border-radius : var(--sok-radius-section)  var(--sok-radius-section) 0 0;

      background-color: var(--sok-color-surface);
      
      // background-image: linear-gradient(
      //    var(--sok-color-bg-strong),
      //    var(--sok-color-bg-blue-800) 30dvh,
      //    var(--sok-color-bg-blue-700) 34dvh,
      //    var(--sok-color-bg-blue-600) 38dvh,
      //    var(--sok-color-bg-blue-500) 42dvh,
      //    var(--sok-color-bg-blue-600) 46dvh,
      //    var(--sok-color-bg-blue-700) 50dvh,
      //    var(--sok-color-bg-blue-800) 54dvh,
      //    var(--sok-color-bg-strong) 80dvh
      //    );

      // background-image: linear-gradient(
      //    var(--sok-color-bg-blue-500) ,
      //    var(--sok-color-bg-blue-600) 8%,
      //    var(--sok-color-bg-blue-700) 16%,
      //    var(--sok-color-bg-blue-800) 24%,
      //    var(--sok-color-bg-strong) 70%
      //    );
      //background-attachment: fixed;
     
   }


   .hexa {
      position:sticky;
      top: 0;
   }


  
</style>


<script>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(SplitText, ScrollTrigger);
</script>