---
import GrilleOffres from "../../components/commun/polygones/GrillePolygoneOffres.astro";
import GrilleVierge from "../../components/commun/polygones/GrillePolygoneVierge.astro";
import { hexHeight, hexWidth } from "../../utils/hexConfig";
---

<section class="oka-darkMode oka-surface">
   

  <div class="flex-grid">

    <div class="col col-16" >


      <!-- ===== Offres ===== -->
      
  <div class="sok-offres">
    <div class="sok-offres__item">
      <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
      <span class="oka-data -xs -crop">01</span>
      <span class="oka-h -sm -center">Solutions Web</span>
    </div>
   
    
    <div class="sok-offres__item">
      <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
      <span class="oka-data -xs -crop">02</span>
      <span class="oka-h -sm -center">Logiciels Métiers</span>
    </div>
    
    
    <div class="sok-offres__item">
      <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
      <span class="oka-data -xs -crop">03</span>
      <span class="oka-h -sm -center">Application Mobile</span>
    </div>
   
    
    <div class="sok-offres__item">
      <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
      <span class="oka-data -xs -crop">04</span>
      <span class="oka-h -sm -center">Intelligence Artificielle</span>
    </div>
    
    
    <div class="sok-offres__item">
      <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
      <span class="oka-data -xs -crop">05</span>
      <span class="oka-h -sm -center">Objets Connectées</span>
    </div>
  </div>


      <GrilleVierge  rows="3"/>

  
      <GrilleOffres />
      <GrilleVierge />
    </div>

  </div>


<div class="oka-spacer  -xxl" aria-hidden="true"></div>
<div class="oka-spacer  -xxl" aria-hidden="true"></div>
<div class="oka-spacer  -xxl" aria-hidden="true"></div>

  
  <div class="oka-spacer  -xxl" aria-hidden="true"></div>
  <div class="oka-spacer  -xxl" aria-hidden="true"></div>
  <div class="oka-spacer  -xxl" aria-hidden="true"></div>
</section>



<style lang="scss">
  .oka-h {
    padding: 0;
  }

  .oka-h, .oka-text, .oka-data {
    color: var(--sok-color-fg-on_surface);
  }



  .flex-grid{
    position: sticky;
    top: 6rem;
  }


  .sok-offres {

     height: calc(var(--hex-height) * 1);
     margin-bottom: calc(var(--hex-height) * -2);
    position:sticky;
    top: 0rem;

    display: flex;
    justify-content: center;
    gap: 4rem;

    &__item {
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      padding: 1rem 0;
      overflow: hidden;
      cursor: pointer;

      & > .sok-arrow {
        margin-left: -4rem;
        // transition: margin .15s ease-in-out;
        transition: margin .15s cubic-bezier(.63,.78,.25,1);
      }

      &:hover > .sok-arrow {
        margin-left: 2rem;
      }
    }
  }


</style>