<section class="flex-grid">

  <div class="col col-1"></div>
  
  <div class="col col-4">
    <h2 class="sok-offres__title">
      <div class="oka-loader"></div>
      Pour vos produits, vos services et vos process.
    </h2>

    <hr class="oka-divider" aria-hidden="true">

    <div class="sok-offres__item">
      <span class="oka-data -xs -crop">01</span>
      <span class="oka-h -md">Solutions Web</span>
    </div>

    <div class="sok-offres__item">
      <span class="oka-data -xs -crop">02</span>
      <span class="oka-h -md">Logiciels Métiers</span>
    </div>

    <div class="sok-offres__item">
      <span class="oka-data -xs -crop">03</span>
      <span class="oka-h -md">Application Mobile</span>
    </div>

    <div class="sok-offres__item">
      <span class="oka-data -xs -crop">04</span>
      <span class="oka-h -md">Intelligence Artificielle</span>
    </div>

    <div class="sok-offres__item">
      <span class="oka-data -xs -crop">05</span>
      <span class="oka-h -md">Objets Connectées</span>
    </div>

  </div>

</section>




<style lang="scss">

  .sok-offres {

    &__item {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
</style>