---
import GrilleOffres from "../../components/commun/polygones/GrillePolygoneOffres.astro";
import GrilleVierge from "../../components/commun/polygones/GrillePolygoneVierge.astro";
import { hexHeight, hexWidth } from "../../utils/hexConfig";
---

<section class="sok-offre">
   

  <div class="flex-grid">

    <div class="col col-1" ></div>

    <div class="col col-7" > 


      
      <button class="oka-bt -lg -solid   ">
          <div class="oka-bt__lbl">call to action</div>
          <div class="oka-bt__ico"><i class="fa fa-arrow-right"></i></div>
          <div class="oka-spinner"></div>
      </button>
    

      <hr class="oka-divider -strong -lg" aria-hidden="true">

      <!-- ===== Offres ===== -->
    
      <div class="sok-offres">

        <div class="sok-offres__item">
          <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
          <span class="oka-data -xs -crop">01</span>
          <span class="oka-h -lg -secondary ">Solutions Web</span>
        </div>
      
        
        <div class="sok-offres__item">
          <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
          <span class="oka-data -xs -crop">02</span>
          <span class="oka-h -lg -secondary ">Logiciels Métiers</span>
        </div>
        
        
        <div class="sok-offres__item">
          <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
          <span class="oka-data -xs -crop">03</span>
          <span class="oka-h -lg -secondary ">Application Mobile</span>
        </div>
      
        
        <div class="sok-offres__item">
          <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
          <span class="oka-data -xs -crop">04</span>
          <span class="oka-h -lg -secondary -center">Intelligence Artificielle</span>
        </div>
        
        
        <div class="sok-offres__item">
          <img class="sok-arrow" src="/src/assets/images/digital-arrow.svg">
          <span class="oka-data -xs -crop">05</span>
          <span class="oka-h -lg -secondary -center">Objets Connectées</span>
        </div>
      </div>



    </div>

    <div class="col col-1" ></div>

    <div class="col col-7" >
      <GrilleOffres />
      <GrilleVierge  rows="2" cols="3"/>
    </div>

  </div>


<div class="oka-spacer  -xxl" aria-hidden="true"></div>
<div class="oka-spacer  -xxl" aria-hidden="true"></div>
<div class="oka-spacer  -xxl" aria-hidden="true"></div>

<!--   
  <div class="oka-spacer  -xxl" aria-hidden="true"></div>
  <div class="oka-spacer  -xxl" aria-hidden="true"></div>
  <div class="oka-spacer  -xxl" aria-hidden="true"></div> -->
</section>



<style lang="scss">

  .sok-offre{
    position:relative;
      z-index: 1;
      margin:0;
      border-radius : 0 0  var(--sok-radius-section)  var(--sok-radius-section);
      background-color: var(--sok-color-surface);

  }


  .oka-h {
    padding: 0;
  }

  .oka-h, .oka-text, .oka-data {
    //color: var(--sok-color-fg-on_surface);
  }



  .flex-grid{
    position: sticky;
    top: 6rem;
  }


  .sok-offres {

    height: calc(var(--hex-height) * 1);
    margin-bottom: calc(var(--hex-height) * -2);

    position:sticky;
    top: 0rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0rem;




    &__item {
      flex-shrink:0;
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      padding: 1rem 0;
      overflow: hidden;
      cursor: pointer;

      & > .sok-arrow {
        margin-left: -4rem;
        // transition: margin .15s ease-in-out;
        transition: margin .15s cubic-bezier(.63,.78,.25,1);
      }

      &:hover > .sok-arrow {
        margin-left: 2rem;
      }
    }
  }


</style>