<section class="oka-offres">
  <div class="oka-offres__content">
    <h2 class="oka-offres__title">
      Pour vos produits, vos services et vos process.
    </h2>

    <ul class="oka-offres__list">
      <li class="oka-offres__item">
        <span class="oka-offres__number">01</span>
        <span class="oka-offres__text">Solutions Web</span>
      </li>

      <li class="oka-offres__item">
        <span class="oka-offres__number">02</span>
        <span class="oka-offres__text">Logiciels Métiers</span>
      </li>

      <li class="oka-offres__item">
        <span class="oka-offres__number">03</span>
        <span class="oka-offres__text">Application Mobile</span>
      </li>

      <li class="oka-offres__item">
        <span class="oka-offres__number">04</span>
        <span class="oka-offres__text">Intelligence Artificiel</span>
      </li>

      <li class="oka-offres__item">
        <span class="oka-offres__number">05</span>
        <span class="oka-offres__text">Objets Connectées</span>
      </li>
    </ul>
  </div>

  <div class="oka-offres__tags-wrapper">
    <!-- <figure></figure> -->
  </div>
</section>
