---
import CardSavoirFaire from "./savoir-faire/CardSavoirFaire.astro"

---

<section class="oka-savoir-faire">
  <div class="oka-savoir-faire__top">
    <h2>Notre Savoir-Faire.</h2>

   <p>
      Lorem ipsum dolor sit amet consectetur. Lorem risus molestie posuere
      turpis tincidunt vestibulum cursus.
   </p>
  </div>

  <div class="oka-savoir-faire__list">
      <CardSavoirFaire />
  </div>
</section>
