---
import CardSavoirFaire from "./savoir-faire/CardSavoirFaire.astro"
import Revealtext from "../../animations/RevealText.astro";
import Morph from "./savoir-faire/MorphSavoirFaire.astro";
import CardContainer from "./savoir-faire/CardContainer.astro";
import TestCard from "./savoir-faire/TestCard.astro";
---
<div class="sok-container hgo-snap">

  <hr class="oka-divider" aria-hidden="true">

  <section class="flex-grid sok-section">
    <div class="col col-1"></div>
    <div class="col col-12">
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      <Revealtext>
        <h1>
            Lorem ipsum dolor sit <span class="sok-text-color">amet consectetur</span>. 
            <br> 
            Urna lacus viverra senectus at. 
        </h1>
      </Revealtext>

      <p class="oka-text -lg">
          Lorem ipsum dolor sit amet consectetur. Nunc egestas sed porttitor egestas 
          enim risus ullamcorper id smper. Commodo ultricies netus eu morbi eget scelerisque.        
      </p>
    </div>
    <div class="col col-5"></div>

    <div class="oka-spacer  -xl" aria-hidden="true"></div>
  </section>


  <section class="flex-grid oka-savoir-faire__content sok-section">


    <div class="col col-1"></div>
    <div class="col col-5 oka-savoir-faire__top">
      <div class="stiktop">

        <div class="oka-morph-wrapper">
          <Morph>
        </div>

      </div>
    </div>

    <div class="col col-1"></div>
    <div class="col col-9 oka-savoir-faire__list">
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>

      <CardContainer>
        <TestCard />
      </CardContainer>
      <!-- <CardSavoirFaire /> -->
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <div class="stiktop oka-spacer  -xxl" aria-hidden="true"></div>
      <hr class="oka-divider" aria-hidden="true">
    </div>
  </section>

</div>




<style lang="scss">



  .sok-container {
    position: relative;
    z-index: 1;
    margin: 1rem 0;
    // background-color: red;
    border-radius: var(--sok-radius-section);
    background-color: #fff;
  }



  .sok-section {
    background-color: var(--sok-color-surface-dark);
   
  }

  .oka-savoir-faire{
    position: sticky;
    top: 8rem;
  }


  .stiktop{
    position: sticky;
    top: 7rem;
  }

  .oka-morph-wrapper {
    position: relative;
    background-color: var(--oka-color-bg-minimal);
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }


  .sok-text-color {
    color: var(--sok-color-primary);
  }
</style>
