---
// ===== Componsants de la page =====
import CardSavoirFaire from "./savoir-faire/CardSavoirFaire.astro"
// import Grid from "../../components/commun/grid.astro";
// ===== Composants d'animations =====
import Revealtext from "../../animations/RevealText.astro";

// ==== Import du fichier Markdown
import * as titreSavoirFaire from "../../contenus/accueil/savoir-faires/titre-savoir-faire.md"
import * as paragrapheSavoirFaire from "../../contenus/accueil/savoir-faires/paragraphe-savoir-faire.md"
---
<div class="oka-appWrap -full oka-darkMode oka-surface">
  <section class="sok-sf" id="sok-sf">
  
    <div class="hgo-snap oka-appWrap -fluid -firstWrap">
      <section class="sok-savoirfaire">
        <div class="flex-grid">

          <div class="col col-16">
            <div class="flex-grid sok-savoirfaire__wrapper">
              <div class="col col-1" aria-hidden="true"></div>

              <div class="col col-14 sok-savoirfaire__content-container">
                <div class="flex-grid">
    
                  <div class="col col-7 sok-savoirfaire__content" aria-hidden="true">
                    <div class="sok-savoirfaire__titles">
                      
                      
                      <div class="oka-spacer -lg" aria-hidden="true"></div>
                      



                      <Revealtext>
                        <span class="oka-text -xs ">NOTRE SAVOIR-FAIRE</span>
                        <titreSavoirFaire.Content />
                      </Revealtext>
              
                      <!-- <div class="sok-paragraph">
                        <paragrapheSavoirFaire.Content />
                      </div> -->
                    </div>
                  </div>
    
                  <div class="col col-7 sok-savoirfaire__quote-wrapper" aria-hidden="true">
                    <div class="oka-spacer -xl -spacing" aria-hidden="true"></div> 
    
                    <!-- <div class="sok-savoirfaire__quote">
                      <span class="oka-text -strong -lg">“Notre seul but est de faire bien”</span>
        
                      <p class="oka-text -sm">Ernő Rubik - Inventeur du Rubik’s Cube</p>
    
                      <div class="oka-spacer -xl -spacing" aria-hidden="true"></div> 
                    </div> -->
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>      
          
        </div>    
      </section>
    </div>
    
    <div class="oka-appWrap -fluid -secondWrap">  
      <section class="sok-savoirfaire__cards">
        <div class="sok-card-container">
          <CardSavoirFaire />
        </div>
      </section>    
    </div>
  </section>

</div>


<style lang="scss">
  @use "../../styles/oka-design-system/0-abstracts/breakpoints/breakpoints" as *;  
  // oka-appWrap des deux sections
  .-firstWrap,.-secondWrap { padding: 0; }

  .-spacing {
    @include breakpoint(md) {
      display: none;
    }
  }
  
  .sok-savoirfaire {
    
    &__wrapper {
      background-color: var(--oka-color-layer-floor-0);
      border: 1px solid var(--oka-color-bd-minimal);

      @include breakpoint(md) {
        min-height: 40vh;
        align-items: center;
      }
    }
    
    &__quote-wrapper {
      @include breakpoint(md) {
        display: flex;
        justify-content: end;
        align-items: end;
      }
    }
  }

  // Container des cartes
  .sok-card-container {
    @include breakpoint(md) {
      display: flex;
      // overflow: hidden;
    }
  }
</style>