---
// ===== Componsants de la page =====
import CardSavoirFaire from "./savoir-faire/CardSavoirFaire.astro"
import CardContainer from "./savoir-faire/CardContainer.astro";
import Grid from "../../components/commun/grid.astro";
// ===== Composants d'animations =====
import Revealtext from "../../animations/RevealText.astro";

// ==== Import du fichier Markdown
import * as titreSavoirFaire from "../../contenus/accueil/savoir-faires/titre-savoir-faire.md"
import * as paragrapheSavoirFaire from "../../contenus/accueil/savoir-faires/paragraphe-savoir-faire.md"
---


<div class="sok-container hgo-snap oka-appWrap -full oka-darkMode" >
  <section class="_ctnr-inline sok-section sok-savoirfaire">


    <Grid />


    <div class="flex-grid">
      <!-- <div class="oka-spacer -lg" aria-hidden="true"></div> -->

      <div class="col col-16">
        <div class="oka-cols -two -gold sok-savoirfaire__wrapper">
          <div class="sok-savoirfaire__content">
        
            
            
            <div class="sok-savoirfaire__titles">
              <div class="oka-spacer -xxl" aria-hidden="true"></div>
           
              <span class="oka-text -xs">NOTRE SAVOIR-FAIRE</span>
              
              <div class="oka-spacer -md" aria-hidden="true"></div>
              
              <Revealtext>
                <titreSavoirFaire.Content />

                <div class="oka-spacer -xl -h" aria-hidden="true"></div>
                <div class="oka-spacer -xl -h" aria-hidden="true"></div>
              </Revealtext>
      
              <!-- <div class="sok-paragraph">
                <paragrapheSavoirFaire.Content />
              </div> -->
            </div>

            <div class="sok-savoirfaire__quote">
              <span class="oka-text -strong -lg">“Notre seul but est de faire bien”</span>

              <p class="oka-text -sm">Ernő Rubik - Inventeur du Rubik’s Cube</p>
            </div>

          </div>
    
          <CardContainer>
            <CardSavoirFaire />
          </CardContainer>
        </div>
      </div>




      <!-- <div class="oka-spacer -lg" aria-hidden="true"></div> -->
    </div>
    
  </section>
</div>

<style lang="scss">
  @use "../../styles/oka-design-system/0-abstracts/breakpoints/breakpoints" as *;  

  .oka-cols.-two {
    gap: 0;
  }

  .-h {
    @include breakpoint(lg) {
      display: none;
    }
  }

  .sok-container {
    position: relative;
    z-index: 1;
    
    background-color: var(--oka-color-layer-floor-0);
    border-radius: var(--sok-radius-section);

    //&:before,
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 0;
        opacity: 0.5;
        font-size: 8px;
        background-repeat: repeat-y;
        background-size: 100% 0.25rem;
        background-image: linear-gradient(to bottom, var(--oka-color-bd-primary-subtle) 0, rgba(255, 255, 255, 0) 1px);
        line-height: 0;
        line-height: 0;
        pointer-events: none;
    }


    &:before {
      margin-top:0px;
      background-size: 100% 0.5rem;
      background-image: linear-gradient(to bottom, var(--oka-color-bd-spec-subtle) 0, rgba(255, 255, 255, 0) 1px);
        
    }




  }

  .sok-section {
    overflow: hidden;
    z-index: 99;
    background-color: var(--oka-color-layer-floor-0);
  }

  .sok-savoirfaire__wrapper {
      @include breakpoint(lg) {
        display: flex;
        flex-direction: column;
        height: 100dvh;
      }

    .sok-savoirfaire__content {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      padding-top: 0;
      background-color: var(--oka-color-layer-floor-0);
      border: 1px solid var(--oka-color-bd-minimal); 
      
      @include breakpoint(800px) {
        justify-content: start;
      }
      
      @include breakpoint(lg) {
        flex-direction: row;
        align-items: end;
        gap: 2rem;
        padding-top: 2rem;
      }

      .sok-savoirfaire__titles {
        @include breakpoint(lg) {
          flex: 2
        }
      }

      .sok-savoirfaire__quote {
        @include breakpoint(lg) {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: end;
          flex: 1;
        }
      }

    }
  }

  // Unused
  // .oka-morph-wrapper {
  //   position: relative;
  //   overflow: hidden;
  //   width: 100%;
  //   aspect-ratio: 1/1;
  //   background-color: var(--oka-color-bg-minimal);
  // }

</style>
