---
// ===== Componsants de la page =====
import CardSavoirFaire from "./savoir-faire/CardSavoirFaire.astro"
import CardContainer from "./savoir-faire/CardContainer.astro";
// ===== Composants d'animations =====
import Revealtext from "../../animations/RevealText.astro";

// ==== Import du fichier Markdown
import * as titreSavoirFaire from "../../contenus/accueil/savoir-faires/titre-savoir-faire.md"
import * as paragrapheSavoirFaire from "../../contenus/accueil/savoir-faires/paragraphe-savoir-faire.md"
---
<div class="sok-container hgo-snap" id="finSavoirFaire">
  <section class="flex-grid sok-section sok-savoirefaire">
    <div class="col col-1"></div>
    <div class="col col-12">
      
      <div class="oka-spacer  -xxl" aria-hidden="true"></div>
      
      <div class="">
        <Revealtext>
          <span class="oka-text -sm -strong">NOTRE SAVOIR-FAIRE</span>
        </Revealtext>
        
        <div class="oka-spacer -md" aria-hidden="true"></div>

        <Revealtext>
          <h1 set:html={titreSavoirFaire.rawContent()}></h1>
        </Revealtext>

        <p class="oka-text -lg" set:html={paragrapheSavoirFaire.rawContent()}></p>
      </div>
    </div>

    <div class="oka-spacer  -xl" aria-hidden="true"></div>

    <div class="col col-16 oka-savoir-faire__list">
      <CardContainer>
        <CardSavoirFaire />
      </CardContainer>
    </div>

    <div class="oka-spacer  -xxl" aria-hidden="true"></div>
  </section>
</div>

<style lang="scss">

  .sok-container {
    position: relative;
    z-index: 1;
    margin: 1rem 0;
    border-radius: var(--sok-radius-section);
    background-color: #fff;
  }

  .sok-section {
    background-color: var(--sok-color-underground);
    overflow: hidden;
  }

  .oka-morph-wrapper {
    position: relative;
    background-color: var(--oka-color-bg-minimal);
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
</style>
