
/* ICONS OKA

| 5.0.0 | 23/05/2025 | compatible design tokens 5 figma |
| 4.0.1 | 01/08/2024 | Placeholders base64 light/dark compatibles  |
| 4.0.0 | 20/04/2023 | Nomage du fichier  |
| 3.1.1 | 08/10/2021 | Icone error  |
| 3.1.0 | 03/06/2021 | Mise en ligne des svg  |
| 3.0.0 |            | mixin de colorisations / Nomage (oka-ico)|
| 2.0.2 |            | ajout dependances en interne|
| 2.0.1 |            |

*/



$svgColor:red;


/* AVATAR */
$svg-avatar:"<svg  xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve'><rect fill='none' width='64' height='64'/><circle fill='#000000' cx='32' cy='25.8' r='14.5'/><circle fill='#000000' cx='32' cy='67.7' r='29.1'/></svg>";

/* CAM */
$svg-cam:"<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' ><path fill='#000000' d='M0,0h24v24H0V0z'/><path fill='#000000' d='M17,10.5V7c0-0.55-0.45-1-1-1H4C3.45,6,3,6.45,3,7v10c0,0.55,0.45,1,1,1h12c0.55,0,1-0.45,1-1 v-3.5l4,4v-11L17,10.5z'/></svg>";

/* CHECK */
$svg-check:"<svg xmlns='http://www.w3.org/2000/svg' role='img' viewBox='0 0 512 512'><path fill='#000000' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/></svg>";

/* ERROR */
$svg-error:"<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#000000'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/></svg>";

/* SPINNER */
$svg-spin:"<svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M59.17,32A27.17,27.17,0,1,1,32,4.83' transform='translate(0)' fill='none' stroke='#000000' stroke-miterlimit='10' stroke-width='3'/><rect width='64' height='64' fill='none'/></svg>";




@mixin icon( $type:'default') {

    $svg:$svg-spin; 

    $svgColor:currentColor;
    $svgColor--white:#ffffff;


    @if $type == 'avatar' {
        $svg:$svg-avatar; 
    }
    @if $type == 'cam' {
        $svg:$svg-cam; 
    }
    @if $type == 'check' {
        $svg:$svg-check; 
    }
    @if $type == 'error' {
        $svg:$svg-error; 
    }
    @if $type == 'spin' {
        $svg:$svg-spin; 
    }
   


    // Icones
    @include background-svg-fill($svg, '#000000', $svgColor);
    // Colorisations
    &--white,
    &.-white{
        @include background-svg-fill($svg, '#000000', $svgColor--white);
    }

}




$svgColor:currentColor;
$svgColor--white:#ffffff;

.oka-ico,
.ico-bg{

    display:flex;
    width:3.0rem;
    height:3.0rem;

    overflow: hidden;

    justify-content: center;

    //border-radius: 50%;
    border:0px solid var(--gray--light);

    //background-color: #fff;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;


    &-avatar{
        @include icon($type:"avatar");
    }

    &-cam{
        @include icon($type:"cam");
    }


    &-check{
        @include icon($type:"check");
    }

    &-error{
        @include icon($type:"error");
    }

    &-spin{
        @include icon($type:"spin");
    }

}


// A appliquer à :before

%arrow {
content:'\002023'; // https://outils-javascript.aliasdmc.fr/encodage-caracteres-speciaux/encode-caractere-2023-html-css-js-autre.html
//
height:auto;
width:auto;


font-size: 24px;
color:inherit;

}

/* Placeholders */
/* https://www.fffuel.co/eeencode/ */

%spinner-bg {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZD0iTTU5LjE3LDMyQTI3LjE3LDI3LjE3LDAsMSwxLDMyLDQuODMiIGZpbGw9Im5vbmUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIGJlZ2luPSIwcyIgZHVyPSIxcyIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDMyIDMyIiB0bz0iMzYwIDMyIDMyIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvcGF0aD48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9Im5vbmUiLz48L3N2Zz4=');

    .oka-darkMode & {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZD0iTTU5LjE3LDMyQTI3LjE3LDI3LjE3LDAsMSwxLDMyLDQuODMiIGZpbGw9Im5vbmUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0Ij48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIGJlZ2luPSIwcyIgZHVyPSIxcyIgdHlwZT0icm90YXRlIiBmcm9tPSIwIDMyIDMyIiB0bz0iMzYwIDMyIDMyIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvcGF0aD48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9Im5vbmUiLz48L3N2Zz4=');
    }

}

%calendar-bg {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQ4IiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ0OCA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTE0XzE1NTY5KSI+CjxwYXRoIGQ9Ik05NiAwVjY0SDBWMTYwSDQ0OFY2NEgzNTJWMEgyODhWNjRIMTYwVjBIOTZaTTQ0OCAxOTJIMFY1MTJINDQ4VjE5MloiIGZpbGw9ImJsYWNrIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMTExNF8xNTU2OSI+CjxyZWN0IHdpZHRoPSI0NDgiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=');
    
    .oka-darkMode & {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQ4IiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ0OCA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTE0XzE1NTcxKSI+CjxwYXRoIGQ9Ik05NiAwVjY0SDBWMTYwSDQ0OFY2NEgzNTJWMEgyODhWNjRIMTYwVjBIOTZaTTQ0OCAxOTJIMFY1MTJINDQ4VjE5MloiIGZpbGw9IndoaXRlIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMTExNF8xNTU3MSI+CjxyZWN0IHdpZHRoPSI0NDgiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=');
    }
}

%arrowDown-bg {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjE5MiIgdmlld0JveD0iMCAwIDMyMCAxOTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zMjAgNDhMMTYwIDE5MkwwIDQ4VjBIMzIwVjQ4WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
    .oka-darkMode & {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjE5MiIgdmlld0JveD0iMCAwIDMyMCAxOTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zMjAgNDhMMTYwIDE5MkwwIDQ4VjBIMzIwVjQ4WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
    }  
}

.-calendar-bg {
    @extend %calendar-bg;
}
.-spinner-bg {
    @extend %spinner-bg;
}
.-arrowDown-bg {
    @extend %arrowDown-bg;
}