---
import PolygoneFlipProg from "../../commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsIot" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>

  <!-- Polygone Objects -->
  <PolygoneFlipProg type="-iot" colorBack="-app" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-iot" imageUrl="/src/assets/images/ambiance/iot/image-2.png"/>
  <PolygoneFlipProg type="-iot" colorBack="-web" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-iot" backText="iot"/>

  <PolygoneFlipProg type="-iot" colorBack="-metier" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-app" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-iot" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-web" backText="iot"/>
  
  <PolygoneFlipProg type="-iot" colorBack="-app" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-iot" backText="iot"/>
  <PolygoneFlipProg type="-iot" colorBack="-iot" imageUrl="/src/assets/images/ambiance/iot/image-1.png"/>

</div>
