---
import PolygoneFlipProg from "../../commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsMetier" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>



  <!-- Polygone Logiciels métiers -->
  <PolygoneFlipProg type="-metier" />
  <PolygoneFlipProg type="-metier" colorBack="-app" backText="Logiciel métier"/>
  <PolygoneFlipProg type="-metier" colorBack="-web" backText="Logiciel métier"/>
  <PolygoneFlipProg type="-metier" colorBack="-metier" imageUrl="/src/assets/images/ambiance/metiers/image-2.jpg"/>
  
  <PolygoneFlipProg type="-metier" colorBack="-metier" backText="Paie SILAE"/>
  <PolygoneFlipProg type="-metier" colorBack="-iot" backText="Logiciel métier"/>
  <PolygoneFlipProg type="-metier" colorBack="-metier" imageUrl="/src/assets/images/ambiance/metiers/image-3.png"/>
  <PolygoneFlipProg type="-metier" colorBack="-ia" backText="Logiciel métier"/>
  
  <PolygoneFlipProg type="-metier" colorBack="-metier" imageUrl="/src/assets/images/ambiance/metiers/image-1.png"/>
  <PolygoneFlipProg type="-metier" colorBack="-ia" backText="Logiciel métier"/>
  <PolygoneFlipProg type="-metier" />
  <PolygoneFlipProg type="-metier" />
 

</div>
