---
import PolygoneFlipProg from "../../commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsAi" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>



 
  <!-- Polygone Intelligence artifielle -->
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia" />
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" imageUrl="/src/assets/images/ambiance/ia/image-2.png"/>

  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" backText="ia"/>
  <PolygoneFlipProg type="-ia" colorBack="-ia" imageUrl="/src/assets/images/ambiance/ia/image-1.png"/>



</div>
