---
import PolygoneFlipProg from "../../commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsWeb" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>



  <!-- Poly par default 
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none"  />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none"  />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" />
  <PolygoneFlipProg type="-none" colorFront="-default" /> 


-->


  <!-- Polygone Solutions web -->
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-3.png" />
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Sécurité" />
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-2.jpg"/>
  
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" />
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  
  <PolygoneFlipProg type="-web" />
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-1.jpg"/>
  <PolygoneFlipProg type="-web" colorBack="-web" backText="..."/>
  

</div>


