


/*
Inspiration
https://designsystem.digital.gov/utilities
*/


//@import "gap/gap.4.0.0";

//--------------------------------------
// SCROLL
@import "scroll/scroll.4.0.0";


//---------------------------------------
._ctnr-inline{
    container-type: inline-size;
}

//---------------------------------------
// Largeurs 
._with-xs {
    width : var(--oka-breakpoint-xs);
}
._with-sm {
    width : var(--oka-breakpoint-sm);
}
._with-md {
    width : var(--oka-breakpoint-md);
}