
/** STYLES COMMUNS à : RADIOS / CHECKBOX

| 4.0.0 | 13/03/2022 | Figma token Compatible  + notation ABEM |
-------------------------------------------------------------------------------------
*/

/* DEPENDANCES */
@import "../../1-bases/animations/animations";

// 
// CHECKBOX / RADIO 
// APPARENCE
@mixin radio-checkbox-appearance( $variant:'primary' , $mode:'on-light' ) { 
    //
    $form-pin-color     : var(--oka-color-accent-primary-dark);
    $form-pin-color-muted : var(--oka-color-neutral-light); 
    //
    $form-bg-default    : var(--oka-color-ui-bg-primary-default);
    $form-bg-hover      : var(--oka-color-ui-bg-primary-hover);
    $form-bg-focus      : var(--oka-color-ui-bg-primary-focus);
    $form-bg-disabled   : var(--oka-color-ui-bg-primary-disabled);
    $form-bg-error      : var(--oka-color-ui-bg-primary-error);
    //  
    $form-fg-default    : var(--oka-color-ui-fg-primary-default);
    $form-fg-subtle     : var(--oka-color-ui-fg-primary-subtle);
    $form-fg-muted      : var(--oka-color-ui-fg-primary-muted);
    $form-fg-error      : var(--oka-color-ui-fg-primary-error);
    //
    $form-border-default    : var(--oka-color-ui-border-primary-default);
    $form-border-hover      : var(--oka-color-ui-border-primary-hover);
    $form-border-focus      : var(--oka-color-ui-border-primary-focus);
    $form-border-disabled   : var(--oka-color-ui-border-primary-disabled);
    $form-border-error      : var(--oka-color-ui-border-primary-error);
    //
    $form-outline-hover  : var(--oka-color-ui-outline-primary-hover);
    $form-outline-focus  : var(--oka-color-ui-outline-primary-focus);
    //  
    
    @if $variant == 'secondary' {
        // PIN INDICATOR
        $form-pin-color : var(--oka-color-secondary-base);
        $form-pin-color-muted : var(--oka-color-neutral-light); 
        
    
        //
        $form-bg-default    : var(--oka-color-ui-bg-secondary-default);
        $form-bg-hover      : var(--oka-color-ui-bg-secondary-hover);
        $form-bg-focus      : var(--oka-color-ui-bg-secondary-focus);
        $form-bg-disabled   : var(--oka-color-ui-bg-secondary-disabled);
        $form-bg-error      : var(--oka-color-ui-bg-secondary-error);
        //  
        $form-fg-default    : var(--oka-color-ui-fg-secondary-default);
        $form-fg-subtle     : var(--oka-color-ui-fg-secondary-subtle);
        $form-fg-muted      : var(--oka-color-ui-fg-secondary-muted);
        $form-fg-error      : var(--oka-color-ui-fg-secondary-error);
        //
        $form-border-default    : var(--oka-color-ui-border-secondary-default);
        $form-border-hover      : var(--oka-color-ui-border-secondary-hover);
        $form-border-focus      : var(--oka-color-ui-border-secondary-focus);
        $form-border-disabled   : var(--oka-color-ui-border-secondary-disabled);
        $form-border-error      : var(--oka-color-ui-border-secondary-error);
        //
        $form-outline-hover  : var(--oka-color-ui-outline-secondary-hover);
        $form-outline-focus  : var(--oka-color-ui-outline-secondary-focus);
    }
    
    
    // ...................................................
    // DEFAULT
 

    
    + label:before,
    + label:before {
        background-color: $form-bg-default;
        color           : $form-fg-default;
        border-color    : $form-border-default;
        border-width    : 1px ;
        border-style    : solid ;
        outline: none; //3.0.2
        box-shadow: none; //3.0.2

        &::placeholder{
            color       : $form-fg-subtle;
        }
    }

    + label,
    + label {
        color           : $form-fg-default;
        // PIN INDICATOR 
        &:after{
            background-color: $form-pin-color;
        }
    }
    // ...................................................
    // HOVER
    &:not(:disabled):not(.oka-checkbox--readonly):not(.oka-radio--readonly):not(.-readOnly)  + label:hover:before {
        background-color: $form-bg-hover;
        color           : $form-fg-default;
        border-color    : $form-border-hover;
        box-shadow      : 0 0 0 $oka-form-outline-width $form-outline-hover; //3.0.2
    }
    // ...................................................
    // FOCUS
    &.focus,
    &:focus {
        background-color: $form-bg-focus;
        color           : $form-fg-default;
        border-color    : $form-border-focus;
        // box-shadow      :   0 0 0 $oka-form-outline-width $form-outline-focus,
        //                     inset 0 1px 1px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 2px 2px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 4px 4px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 6px 8px oka-alpha($oka-color-shadow, 0.11); //4.0.0

        @include shadow-inset;                    
    }



    // ...................................................
    // DISABLED
    // READONLY

    &:disabled + label:before ,
    &.oka-checkbox--readonly  + label:before,
    &.oka-radio--readonly  + label:before,
    &.-readOnly  + label:before  {
        background-color: $form-bg-disabled;
        color           : $form-fg-muted;
        border-color    : $form-border-disabled;
        //
        cursor: not-allowed;
        //
        // supprime les fleches
        @include noArrow 
    }

    &:disabled + label ,
    &.oka-checkbox--readonly + label,
    &.oka-radio--readonly  + label,
    &.-readOnly  + label { 
        color           : $form-fg-muted;
        // PIN INDICATOR 
        &:after{
            background-color: $form-pin-color-muted;
        }
    }
    
}

// STRUCTURE
@mixin radio-checkbox-structure {

    display: none !important;

    + label {
  
        display: inline-block;
        vertical-align: text-top;
      
        position: relative;
        min-height:1.5rem;
        margin-right:1.5rem; // Marge pour l'indicateur
        padding-left: 2rem;

        cursor: pointer;

        user-select: none;

        // Evite la derniere marge (position en pied)
        &:last-child{
            margin-bottom:0;
        }
        // Contour 
        &:before {
            content: "";
            display: block;
            width: 1.5rem !important;
            height: 1.5rem !important;
            margin-right: 14px;
            position: absolute;
            top: 0;
            left: 0;
        }
        // PIN INDICATOR 
        &:after{
            content: "";
            display: block;
            position: absolute;

            // Surcharge CropLine quand oka-label
            margin:0;
        }
    }
    &.-readOnly,
    &--readonly,
    &:disabled {
        + label {
            cursor:not-allowed;
            pointer-events: none;
        }
    }
    &:checked + label:after {
        animation: oka-pulse 0.13s linear;
    }  
    
}
