
/** STYLES COMMUNS à : INPUT / TEXTAREA / SELECT

| 5.0.0 | 22/05/2025 | compatible design tokens 5 figma |
| 4.0.5 | 30/01/2025 | Font size : 1rem (norme d'accessibilité) |
| 4.0.4 | 01/08/2024 | modifier -update |
| 4.0.3 | 20/03/2024 | token radee + outline |
| 4.0.2 | 23/10/2023 | reprise input:readonly compatible avec le plugin date piker (https://easepick.com/) |
| 4.0.1 | 25/11/2022 | Modifier readonly et skeleton |
| 4.0.0 | 13/03/2022 | Figma token Compatible + ABEM |
-------------------------------------------------------------------------------------
| 3.1.0 | 03/06/2021 | revision Modifiers de Taille - webkit compatible (bug select)|
| 3.0.3 | 01/12/2020 | revision du border-radius de outline / Placeholder / Secondary style |
| 3.0.2 | 24/11/2020 | gestion du border-radius de outline |
| 3.0.1 | 25/10/2020 | amélioration tokens + mise en place outline + font system :  Data |
// 3.0.0 : Tokens externes
// 2.0.3 add : skeleton
// 2.0.2 add : readonly
// 2.0.1

*/

// Dépendance 
// Tokens
// @import "../../../design-tokens/oka-forms-tokens.scss";
// Ombres
// @import "../../1-bases/shadows/shadows.3.0.0";


// Tokens

$oka-forms-max-width : 340px;
$oka-forms-border-radius : var(--oka-radius-form , var(--oka-borderradius-forms, 3px));

// OUTLINE
$oka-form-outline-width             : 3px;

// CONTOURS
$oka-form-border-width              : 1px;





// Skeleton
$oka-forms-background-skeleton     : var(--color--skeleton);
$oka-forms-border-color-skeleton   : var(--color--skeleton);  
$oka-forms-border-style-skeleton   : solid;
$oka-forms-text-color-skeleton     : $oka-forms-border-color-skeleton ;



// INPUT - TEXTAREA - SELECT

@mixin forms {
    //OUTLINE
    outline: none; //3.0.2
    box-shadow: none; //3.0.2
    // BOX
    box-sizing: border-box;
    width:100%; // Accupe tout js-encapsuleur
    max-width : $oka-forms-max-width;
    //
    // BORDER
    border-radius: $oka-forms-border-radius;
    border-width : $oka-form-border-width ;
    //
    // FONT
    text-align: left;

    // SAFARI
    //https://stackoverflow.com/questions/53686576/styling-a-select-on-ios
    -webkit-appearance: none; // 3.1.0 // Bug iOs : supprime les styles system, et hélas (supprime la fleche)
}




@mixin forms-text( $variant:'primary') {  
    //
    $form-bg-default        : var(--oka-color-none, var(--oka-color-ui-bg-primary-default));
    $form-bg-hover          : var(--oka-color-bg-primary-minimal, var(--oka-color-ui-bg-primary-hover));
    $form-bg-focus          : var(--oka-color-bg-on_surface, var(--oka-color-ui-bg-primary-focus));
    $form-bg-disabled       : var(--oka-color-bg-disabled, var(--oka-color-ui-bg-primary-disabled));
    $form-bg-error          : var(--oka-color-bg-on_surface, var(--oka-color-ui-bg-primary-error));
    //  
    $form-fg-default        : var(--oka-color-fg, var(--oka-color-ui-fg-primary-default));
    $form-fg-subtle         : var(--oka-color-fg-subtle, var(--oka-color-ui-fg-primary-subtle));
    $form-fg-muted          : var(--oka-color-fg-disabled, var(--oka-color-ui-fg-primary-muted));
    $form-fg-error          : var(--oka-color-fg-negative, var(--oka-color-ui-fg-primary-error));
    //
    $form-border-default    : var(--oka-color-bd-primary, var(--oka-color-ui-border-primary-default));
    $form-border-hover      : var(--oka-color-bd-primary-hover, var(--oka-color-ui-border-primary-hover));
    $form-border-focus      : var(--oka-color-bd-primary-active, var(--oka-color-ui-border-primary-focus));
    $form-border-disabled   : var(--oka-color-bd-disabled, var(--oka-color-ui-border-primary-disabled));
    $form-border-error      : var(--oka-color-bd-negative, var(--oka-color-ui-border-primary-error));
    //
    $form-outline-default   : var(--oka-color-bd-primary-minimal, var(--oka-color-ui-outline-primary-default));
    $form-outline-hover     : var(--oka-color-bd-primary-minimal, var(--oka-color-ui-outline-primary-hover));
    $form-outline-focus     : var(--oka-color-bd-primary-minimal, var(--oka-color-ui-outline-primary-focus));
    $form-outline-disabled  : var(--oka-color-bd-disabled, var(--oka-color-ui-outline-primary-disabled));
    $form-outline-error     : var(--oka-color-bd-negative-minimal, var(--oka-color-ui-outline-primary-error));
    //  
    


    @if $variant == 'secondary'   {
        //
        $form-bg-default    : var(--oka-color-none, var(--oka-color-ui-bg-secondary-default));
        $form-bg-hover      : var(--oka-color-bg-secondary-minimal, var(--oka-color-ui-bg-secondary-hover));
        $form-bg-focus      : var(--oka-color-bg-on_surface, var(--oka-color-ui-bg-secondary-focus));
        $form-bg-disabled   : var(--oka-color-bg-disabled, var(--oka-color-ui-bg-secondary-disabled));
        $form-bg-error      : var(--oka-color-bg-on_surface, var(--oka-color-ui-bg-secondary-error));
        //  
        $form-fg-default    : var(--oka-color-fg, var(--oka-color-ui-fg-secondary-default));
        $form-fg-subtle     : var(--oka-color-fg-subtle, var(--oka-color-fg-subtle));
        $form-fg-muted      : var(--oka-color-fg-disabled, var(--oka-color-ui-fg-secondary-muted));
        $form-fg-error      : var(--oka-color-fg-negative, var(--oka-color-ui-fg-secondary-error));
        //
        $form-border-default    : var(--oka-color-bd-secondary, var(--oka-color-ui-border-secondary-default));
        $form-border-hover      : var(--oka-color-bd-secondary-hover, var(--oka-color-ui-border-secondary-hover));
        $form-border-focus      : var(--oka-color-bd-secondary-active, var(--oka-color-ui-border-secondary-focus));
        $form-border-disabled   : var(--oka-color-bd-disabled, var(--oka-color-ui-border-secondary-disabled));
        $form-border-error      : var(--oka-color-bd-negative, var(--oka-color-ui-border-secondary-error));
        //
        $form-outline-default   : var(--oka-color-bd-secondary-minimal, var(--oka-color-ui-outline-secondary-default));
        $form-outline-hover     : var(--oka-color-bd-secondary-minimal, var(--oka-color-ui-outline-secondary-hover));
        $form-outline-focus     : var(--oka-color-bd-secondary-minimal, var(--oka-color-ui-outline-secondary-focus));
        $form-outline-disabled  : var(--oka-color-bd-disabled, var(--oka-color-ui-outline-secondary-disabled));
        $form-outline-error     : var(--oka-color-bd-negative-minimal, var(--oka-color-ui-outline-secondary-error));
    }
    
    
    .oka-fiel--invalid & {

        
    }



    // ...................................................
    background-color: $form-bg-default;
    color           : $form-fg-default;
    border-color    : $form-border-default;
    border-width    : 1px ;
    border-style    : solid ;
    outline: none; //3.0.2
    //box-shadow: none; //3.0.2
    box-shadow      : 0 0 0 $oka-form-outline-width $form-outline-default; //4.0.3

    &::placeholder{
        color       : $form-fg-subtle;
        font-style  : oblique;
    }

    // ...................................................
    // HOVER
    &:not(:disabled):not(:focus):not(.focus):not(:read-only):not(.readonly):not(.-readOnly):hover{
        background-color: $form-bg-hover;
        color           : $form-fg-default;
        border-color    : $form-border-hover;
        box-shadow      : 0 0 0 $oka-form-outline-width $form-outline-hover; //3.0.2
    }
    // ...................................................
    // FOCUS
    &.focus,
    &:focus {
        background-color: $form-bg-focus;
        color           : $form-fg-default;
        border-color    : $form-border-focus;
    }

    // Ombre interne (sauf Select)
    &.focus:not(select),
    &:focus:not(select) {
        // box-shadow      :   0 0 0 $oka-form-outline-width $form-outline-focus,
        //                     inset 0 1px 1px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 2px 2px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 4px 4px oka-alpha($oka-color-shadow, 0.11),
        //                     inset 0 6px 8px oka-alpha($oka-color-shadow, 0.11); //4.0.0
        box-shadow      :   0 0 0 $oka-form-outline-width $form-outline-focus,
                            inset 0 1px 1px var(--oka-color-neutral-alpha20 , var(--oka-color-app-shadows)),
                            inset 0 2px 2px var(--oka-color-neutral-alpha20 , var(--oka-color-app-shadows)),
                            inset 0 4px 4px var(--oka-color-neutral-alpha20 , var(--oka-color-app-shadows)),
                            inset 0 6px 8px var(--oka-color-neutral-alpha20 , var(--oka-color-app-shadows));
        //@include shadow-inset;
    }

    &.focus:is(select),
    &:focus:is(select) {
        box-shadow      :   0 0 0 $oka-form-outline-width $form-outline-focus; //4.0.0
    }

    // ...................................................
    // DISABLED
    &.disabled,
    &:disabled{
        background-color: $form-bg-disabled !important;
        color           : $form-fg-muted !important;
        border-color    : $form-border-disabled !important;
        box-shadow      : 0 0 0 $oka-form-outline-width $form-outline-disabled !important; //4.0.3
        //
        cursor: not-allowed !important;
        //
        // supprime les fleches
        @include noArrow; 
    }

    // ...................................................
    // READONLY
    &.readonly,
    &.-readOnly,
    &.-readonly,
    &:read-only:not(select):not(.field-fantom) {
        outline: none;
        box-shadow: none;

        background-color: $form-bg-disabled;
        color           : $form-fg-default;
        border-color    : $form-border-disabled;
        //
        pointer-events: none;
        appearance: none;
        
        background-image: none;

        // supprime les fleches
        @include noArrow
    }
  
    // 4.0.4 UPDATE
    &.-update {
        // Spinner svg base64
        @extend %spinner-bg;

        background-repeat: no-repeat;
        background-position: calc(100% - 0.5rem) center;
        background-size: 1.5rem;

        pointer-events: none;
        
        // PLACEHOLDER
        &::placeholder{
            color: transparent;
        }

    }


    // ...................................................
    // SKELETON
    &.-skeleton {
        //OUTLINE
        outline: none;
        box-shadow: none; //3.0.2
        // BACKGROUND
        background  : $oka-forms-background-skeleton;
        // BORDER
        border-color: $oka-forms-border-color-skeleton;
        border-width : $oka-form-border-width ;
        border-style: $oka-forms-border-style-skeleton ;
        // FONT
        color: $oka-forms-text-color-skeleton;
        
        cursor: not-allowed;
        pointer-events: none;
        //
        // supprime les fleches
        @include noArrow;

        // PLACEHOLDER
        &::placeholder{
            color: transparent;
        }

    }
}


// supprime les fleches
@mixin noArrow {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}


// SIZE MODIFIERS
@mixin forms--sm {
    // BOX
    min-height:2rem;
    padding:0rem 0.5rem;
    // FONT DATA
    @extend %oka-data-sm;
}

@mixin forms--md {
    // BOX
    min-height:2.5rem;
    padding:0 0.5rem;
    // FONT DATA
    @extend %oka-data-lg;
}

@mixin forms--lg {
    // BOX
    min-height:3rem;
    padding:0 0.5rem;
    // FONT DATA
    @extend %oka-data-lg;
}


