/** OKA DROPDOWN 
| 5.0.0 | 24/05/2025 | Compatible design token 5 |

| 4.0.0 | 27/10/2022 | figma tokens |
| 3.0.3 | 28/09/2022 | AutoOuverture pour menu mobile |
| 3.0.2 | 26/01/2022 | tokens |
| 3.0.1 | 30/11/2020 | Z-index pour multi dropdown / surbrillance bt declancheur |
| 3.0.0 | 01/11/2020 | Révision / nomage |
| 2.0.0 | | |

*/


/* DEPENDANCES */
@import "../../1-bases/animations/animations";


// Tokens

$oka-dropdown-border-radius : 0 ;

//$oka-dropdown-zindex: 1000 ;

$oka-dropdown-container-minwidth :16rem;
$oka-dropdown-position-top : 0rem;
$oka-dropdown-position-right : 0;




.oka-dropdown {
    position:relative;

    // Le input checkbox de control
    &__ctrl{
        display:none;
    }
    // Containeur
    &__ctnr {
        // Effet de slide ouverture - Position initiale
        @extend %okaSlideOuverture--initial;

        //
        flex-direction:column;
        //
        // 3.0.3 // position : fixed;
        top: $oka-dropdown-position-top;
        right: $oka-dropdown-position-right;

        //@include shadow-dreamy;
        @extend .oka-shadow-3;

        @include breakpoint(sm) {
            position : absolute;
        }
    }

    &__overlay{
        display:none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

}

// Affichage
.oka-dropdown__ctrl:checked + .oka-dropdown {
    //z-index : $oka-dropdown-zindex;
    z-index : var(--oka-elevation-dropdown , 1000);
}


// Surbrillance du bouton déclencheur
.oka-dropdown__ctrl:checked + .oka-dropdown > label:first-child{
    border : 1px solid var(--oka-color-bd-primary-active, var(--oka-color-primary-active , oka-alpha(var(--color--accent), 0.6)));
}


// Affichage du Container
// Affichage de l'overlay
.oka-dropdown__ctrl:checked + .oka-dropdown .oka-dropdown__ctnr,
.oka-dropdown__ctrl:checked + .oka-dropdown .oka-dropdown__overlay {
    display:flex;
    z-index: 1 ; // requis pour multi-dpdown
}





.oka-dropdown__ctrl:checked + .oka-dropdown .oka-dropdown__ctnr {
    

    // Effet de slide ouverture - Position ouvert
    @extend %okaSlideOuverture--open;
    // max-height:50000px;
    // transform: scaleY(1);
}


// ------------------------------------------
// Utilisation dans menu Mobile
// Par default (xs) ouverture auto

.oka-dropdown {

    // Bouton d'ouverture
    &__bt {
        .oka-burger & {
            display:none;
            // Reprend son comportement en (md)
            @include breakpoint(md) {
                display:flex;
            }
        }
    }

    // Containeur
    &__ctnr {
        .oka-burger & {

            // Effet de slide ouverture
            max-height:50000px;
            transform: scaleY(1);

            // force pour tablette
            @include breakpoint(sm) {
                position : relative;
            }


            // Reprend son comportement en (md)
            @include breakpoint(md) {
                position : absolute;
                max-height:0;
                transform: scaleY(0);
            }
        }
    }
}



// -------------------------------------------
// Design du container
//
.oka-dropdown__ctnr {
    //
    background-color: var(--oka-color-layer-floor-0, var(--oka-color-app-bg-default));
    color: var(--oka-color-fg, var(--oka-color-app-fg-default));
    //
    border-radius: $oka-dropdown-border-radius;
    min-width:$oka-dropdown-container-minwidth;
    max-width: 20rem;

    // padding:1rem; // 4.0.0
}

.oka-dropdown__ctnr > :first-child {
    border-radius: $oka-dropdown-border-radius $oka-dropdown-border-radius 0 0;
}

.oka-dropdown__ctnr > :last-child {
    border-radius: 0 0 $oka-dropdown-border-radius $oka-dropdown-border-radius;
}

// Cas Particuliers suivant enfants

