

// 8points GRID Vertical
//
// 1.0.0

// Dépendances
// Tokens
// @import "../../../design-tokens/oka-colors-tokens.scss";



/* GRILLE VERTICALE */
@include plumber-set-defaults(
    $use-baseline-origin: true,
    $grid-height: 1rem, //0.5rem,
    // Leadings - on utlisera <p> comme reference
    //  !!!!!!!!!!!!!!
    //  !!!!!!!!!!!!!!
    //  Les leadings sont supprimés dans la librairie (vendor/plumber)
    //
    $leading-top: 1,
    $leading-bottom: 1
    );


body:not(.sb-show-main):after
{
    content   : '8ptGrid';
    position  : absolute;
    width:100%;
    height:100%;
    bottom    : 0;
    left     : 0;
    z-index   : -1;

    padding   : 0;
 
    opacity   : 0   ;
    font-size: 8px;

    // 8Pt GRILLE VERTICALE
    background-repeat: repeat-y;
    background-size: 100% 0.5rem;
    background-image: linear-gradient(to bottom,$oka-grid-color-preview 0,rgba(255, 255, 255, 0)1px);
    line-height: 0;

    pointer-events: none;
}

body:not(.sb-show-main).showGrid:after 
{
    z-index   : 100000000000;
    opacity   : 0.40   ;
}
