/** ==================================================
* WRAPPERS
| 4.0.0    | 04/05/2023 | ABEM / intégration des variables scss (tokens) |
| 1.0.2    | 23/02/2021 | nomage - responsive par default - ajout wrap-fluid |
| 1.0.1    | 21/12/2020 | séparation du wrapper de composant |


*/
// Tokens

//
// oka-wrappers-tokens
//

// Marges extérieurs (centrage)
//
$oka-wrapper-space-right    : auto ;
$oka-wrapper-space-left     : auto ;


// Marges intérieurs responsive (padding)
//
$oka-wrapper-space-inset-right  : 1rem;
$oka-wrapper-space-inset-left   : 1rem;

$oka-wrapper-space-inset-right-breakpoints-sm   : 1rem;
$oka-wrapper-space-inset-left-breakpoints-sm    : 1rem;

$oka-wrapper-space-inset-right-breakpoints-md   : 2rem;
$oka-wrapper-space-inset-left-breakpoints-md    : 2rem;

$oka-wrapper-space-inset-right-breakpoints-lg   : 2rem;
$oka-wrapper-space-inset-left-breakpoints-lg    : 2rem;

$oka-wrapper-space-inset-right-breakpoints-xl   : 2rem;
$oka-wrapper-space-inset-left-breakpoints-xl    : 2rem;

// max-width
//
$oka-wrapper-max-width-breakpoints-sm   :  56rem;   // next -> 48rem;   // largeur utile : 864px
$oka-wrapper-max-width-breakpoints-md   :  69.5rem; // next -> 63.5rem; // largeur utile : 1048px
$oka-wrapper-max-width-breakpoints-lg   :  80.5rem; // next -> 79.5rem; // largeur utile : 1224px;
$oka-wrapper-max-width-breakpoints-xl   :   92.5rem;// next -> 89.5rem;  // largeur utile : 1416px


/**
https://css-tricks.com/best-way-implement-wrapper-css/

*/

// 

/**
 * 1. Centers the content. Yes, it's a bit opinionated.
 * 2. See the "width vs max-width" section
 * 3. See the "Additional Padding" section
 */


// wrapper pour header ou footer pleine largeur
.oka-app-wrap-fluid{
    position : relative ; // Requis pour Grid
    width:100%;

    margin-right : $oka-wrapper-space-right;
    margin-left : $oka-wrapper-space-left;

    padding-right: $oka-wrapper-space-inset-right; 
    padding-left:  $oka-wrapper-space-inset-left;
}


.oka-appWrap,
.oka-app-wrap {
    position : relative ; // Requis pour Grid
    width:100%;

    //flex:0 0 0;
    flex-shrink:0;
    flex-grow:0;

    margin-right : $oka-wrapper-space-right;
    margin-left : $oka-wrapper-space-left;


    padding-right: $oka-wrapper-space-inset-right; 
    padding-left:  $oka-wrapper-space-inset-left;
    

    // Container Query 
    // !!! provoque l'annulation de overflow et des enfants fixed
    container-type: inline-size; 


    //
    &:not(.-fluid){
        @include breakpoint(sm) {
            //width: $oka-wrapper-max-width-breakpoints-sm; 
            max-width: $oka-wrapper-max-width-breakpoints-sm; 
            padding-right: $oka-wrapper-space-inset-right-breakpoints-sm;
            padding-left:  $oka-wrapper-space-inset-left-breakpoints-sm;
        }

        @include breakpoint(md) {
            //width: $oka-wrapper-max-width-breakpoints-md; 
            max-width: $oka-wrapper-max-width-breakpoints-md; 
            padding-right: $oka-wrapper-space-inset-right-breakpoints-md;
            padding-left:  $oka-wrapper-space-inset-left-breakpoints-md;
        }

        @include breakpoint(lg) {
            //width: $oka-wrapper-max-width-breakpoints-lg;              
            max-width: $oka-wrapper-max-width-breakpoints-lg;  
            padding-right: $oka-wrapper-space-inset-right-breakpoints-lg;
            padding-left:  $oka-wrapper-space-inset-left-breakpoints-lg;  
        }

        @include breakpoint(xl) {
            //width: $oka-wrapper-max-width-breakpoints-xl;              
            max-width: $oka-wrapper-max-width-breakpoints-xl;  
            padding-right: $oka-wrapper-space-inset-right-breakpoints-xl; 
            padding-left:  $oka-wrapper-space-inset-left-breakpoints-xl;   
        }
    }

    &.-full,
    &--full{
        max-width: none;
        padding-right: 0rem; 
        padding-left:  0rem; 
    }

}




// Preview
body.showGrid .oka-appWrap,
body.showGrid .oka-app-wrap{
    //outline: 1px solid $oka-grid-color-preview;
    outline: 1px solid var(--oka-color-specs-low);
}

