---
// Composant
import Expertise from '../../components/expertise/Expertise.astro';

import TechnoWeb from '../../components/technologie/TechnoWeb.astro';
import TechnoMobile from '../../components/technologie/TechnoMobile.astro';
import TechnoAnnexe from '../../components/technologie/TechnoAnnexe.astro';
---

<div class="flex-grid oka-flex -rvrs">

    <div class="col col-5">
        <h2 class="oka-h -xl -crop">Notre expertise <span class="u-noLineBreak">du développement</span> informatique.</h2>
        <div class="oka-spacer -sm"></div>
        <p class="oka-text -lg">Hokoha se distingue par une expertise polyvalente, couvrant plusieurs domaines clés du développement technologique.</p>
    </div>
    <div class="col col-1"></div>
    <div class="col col-10">
        <div class="flex-grid">
        <Expertise
            theme="Organisation"
            titre="Maitrise en gestion de projet"
            description="Mise en place de la méthode de gestion la plus adaptée aux contraintes de votre projets"
            stitre1="Méthode Agiles"
            contenu1=""
            stitre2="Méthode Prédictives"
            contenu2=""
            stitre3=""
            contenu3=""
            imgCouvPath="src/assets/img/expertise/agilite.jpg"
            imgIllustrPath=""
            />

        </div>
    </div>
</div>



<div class="flex-grid oka-flex -rvrs">

    <div class="col col-5">
        <p class="oka-text">Notre équipe maîtrise l'ensemble du processus de conception et de développement, de l'analyse des besoins à la mise en œuvre des solutions.</p>

    </div>
    <div class="col col-1"></div>
    <div class="col col-10">
        <div class="flex-grid">

        <Expertise
            theme="Conception"
            titre="Architecture logiciel / Modélisation"
            description="Conception et modélisation de vos logiciels de façon structurée."
            stitre1="Définition du besoin"
            contenu1="Accompagnement à la rédaction de votre cahier des charges et de votre backlog"
            stitre2="Découpage de votre projet en lots de travaux"
            contenu2="Analyse de votre projet pour l'architecturer en plusieurs modules logiciels et/ou matériels."
            stitre3="Organisation des données"
            contenu3="Modélisation de votre base de données. Définition du flux de données entre vos modules logiciels."
            imgCouvPath="src/assets/img/expertise/conception.jpg"
            imgIllustrPath=""
            />
        </div>
    </div>
</div>




<div class="flex-grid oka-flex -rvrs">

    <div class="col col-5">
        
    
    </div>
    <div class="col col-1"></div>
    <div class="col col-10">
        <div class="flex-grid">



        <Expertise
            theme="Ergonomie"
            titre="Design d'interfaces ergonomiques"
            description="Design de vos interfaces logicielles centré sur vos utilisateurs."
            stitre1="Expérience utilisateur"
            contenu1="Conception d'interfaces ergonomiques et accessibles dans le respect de votre charte graphique."
            stitre2="L'esthétisme, gage d'attraction"
            contenu2="La qualité graphique de nos interfaces permettra une meilleure adhésion des utilisateurs de vos services et applications."
            stitre3="Tendance et héritage"
            contenu3="Nous adoptons les bonnes pratiques et rêgles graphiques à nos réalisations tout en suivant les tendances visuelles."
            imgCouvPath="src/assets/img/expertise/uxdesign.jpg"
            imgIllustrPath=""
            />
        
        </div>
    </div>
</div>


<div class="flex-grid oka-flex -rvrs">

    <div class="col col-5">
        <TechnoWeb />
        <TechnoMobile />
        <TechnoAnnexe />
    </div>
    <div class="col col-1"></div>
    <div class="col col-10">
        <div class="flex-grid">



        
        <Expertise
            theme="Production"
            titre="Développement, intégration et qualité du logiciel"
            description="Réalisation de logiciels conformes à vos attentes."
            stitre1="Réalisation"
            contenu1="Choix et mise en œuvre des technologies"
            stitre2="Validation"
            contenu2="Tests adaptés aux contraintes du logiciel."
            stitre3="Qualité"
            contenu3="Méthodologie, Métriques et Outillage."
            imgCouvPath="src/assets/img/expertise/developpement.jpg"
            imgIllustrPath=""
            />
        </div>
    </div>
</div>




<div class="oka-spacer -xl"></div>









