---
// Composant
import Expertise from '../../components/expertise/Expertise.astro';

import TechnoWeb from '../../components/technologie/TechnoWeb.astro';
import TechnoMobile from '../../components/technologie/TechnoMobile.astro';
import TechnoAnnexe from '../../components/technologie/TechnoAnnexe.astro';
---

<div class="flex-grid oka-flex" style="position:sticky; top : 12rem; z-index:2">
    <div class="col col-1 oka-show--lg"></div>

    <div class="col col-1"><h2 class="oka-text -xs ">2.<br />NOTRE EXPERTISE</h2>
    </div>

    <div class="col col-5" style="backdrop-filter: blur(3px); padding-bottom:8rem;">
        <div class="oka-spacer -sm"></div>
        <p class="oka-h -lg -crop">Hokoha se distingue par son <mark class="hx hx-13"><span class="hx__select"></span>expertise polyvalente</mark>, couvrant les domaines clés du développement technologique.</p>
    
    
<style >

    #accroches {
        position:absolute;

    
       
    
        
    }

    .accroche{
            --color-dotteds-rgb : rgba(0,0,0,0.15);
            position: relative;
            text-decoration: none; /* Retire l'underline par défaut */
    
            border-bottom:1px solid rgba(0,0,0,0.15);
            border:1px solid red !important;
            
        }
        p::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px; /* Place la ligne juste sous le texte */
            width: 100%;
            height: 2px; /* Épaisseur de la ligne */
            background-color: currentColor; /* Utilise la couleur du texte */
            transform: scaleX(0); /* Cache la ligne par défaut */
            transform-origin: bottom right; /* Point de départ de l'animation */
            transition: transform .6s cubic-bezier(.075,.82,.165,1);/* Animation douce */
        }
    
        p:hover::after {
            transform: scaleX(1); /* Affiche la ligne de gauche à droite au survol */
            transform-origin: bottom left; /* L'animation se déroule de gauche à droite */
        }
    </style>
        <div id="accroches"></div>
    </div>

    
</div>

    


<div class="flex-grid oka-flex">

    <div class="col col-6"></div>

    <div class="col col-1 oka-show--lg"></div>

    <div class="col col-9">
        <div class="flex-grid">
        <Expertise
            theme="Organisation"
            titre="Maitrise en gestion de projet"
            description="Mise en place de la méthode de gestion la plus adaptée aux contraintes de votre projets"
            stitre1="Méthode Agiles"
            contenu1=""
            stitre2="Méthode Prédictives"
            contenu2=""
            stitre3=""
            contenu3=""
            imgCouvPath="src/assets/img/expertise/agilite.jpg"
            imgIllustrPath=""
            />

        </div>
    </div>
    
</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">
        <!-- <p class="oka-text">Notre équipe maîtrise l'ensemble du processus de conception et de développement, de l'analyse des besoins à la mise en œuvre des solutions.</p> -->

    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">

        <Expertise
            theme="Conception"
            titre="Architecture logiciel / Modélisation"
            description="Conception et modélisation de vos logiciels de façon structurée."
            stitre1="Définition du besoin"
            contenu1="Accompagnement à la rédaction de votre cahier des charges et de votre backlog"
            stitre2="Découpage de votre projet en lots de travaux"
            contenu2="Analyse de votre projet pour l'architecturer en plusieurs modules logiciels et/ou matériels."
            stitre3="Organisation des données"
            contenu3="Modélisation de votre base de données. Définition du flux de données entre vos modules logiciels."
            imgCouvPath="src/assets/img/expertise/conception.jpg"
            imgIllustrPath=""
            />
        </div>
    </div>

</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6"></div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">



        <Expertise
            theme="Ergonomie"
            titre="Design d'interfaces ergonomiques"
            description="Design de vos interfaces logicielles centré sur vos utilisateurs."
            stitre1="Expérience utilisateur"
            contenu1="Conception d'interfaces ergonomiques et accessibles dans le respect de votre charte graphique."
            stitre2="L'esthétisme, gage d'attraction"
            contenu2="La qualité graphique de nos interfaces permettra une meilleure adhésion des utilisateurs de vos services et applications."
            stitre3="Tendance et héritage"
            contenu3="Nous adoptons les bonnes pratiques et rêgles graphiques à nos réalisations tout en suivant les tendances visuelles."
            imgCouvPath="src/assets/img/expertise/uxdesign.jpg"
            imgIllustrPath=""
            />
        
        </div>
    </div>
</div>

<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">
        <!-- <TechnoWeb />
        <TechnoMobile />
        <TechnoAnnexe /> -->
    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">



        
        <Expertise
            theme="Production"
            titre="Développement, intégration et qualité du logiciel"
            description="Réalisation de logiciels conformes à vos attentes."
            stitre1="Réalisation"
            contenu1="Choix et mise en œuvre des technologies"
            stitre2="Validation"
            contenu2="Tests adaptés aux contraintes du logiciel."
            stitre3="Qualité"
            contenu3="Méthodologie, Métriques et Outillage."
            imgCouvPath="src/assets/img/expertise/developpement.jpg"
            imgIllustrPath=""
            />
        </div>
    </div>
</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>


<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">

    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">



        
        <Expertise
            theme="ERP / Gestion d’Entreprise"
            titre="ERP :  Planification et Gestion d’Entreprise complètes"
            description="Développement de systèmes ERP taillés pour vos besoins métiers."
            stitre1="Réalisation"
            contenu1="Choix et mise en œuvre des technologies"
            stitre2="Validation"
            contenu2="Tests adaptés aux contraintes du logiciel."
            stitre3="Qualité"
            contenu3="Méthodologie, Métriques et Outillage."
            imgCouvPath="src/assets/img/expertise/erp.jpg"
            imgIllustrPath=""
            />
        </div>
    </div>
</div>




<div class="oka-spacer -xl"></div>









