---
//Composant
import LogoClient from '../clients/LogoClient.astro';

// Charger les clients
const clients = await Astro.glob('../../content/clients/**/*.md');

// Sélectionner 8 clients
const listeClients = clients.slice(0, 104);

---




<div class="oka-flex "></div>

<div class="clients-widget">
    <h3>Ils nous font confiances</h3>
    
    <div class="oka-flex -gap-sm">
        <label class="oka-switch -sm">
            <input class="noVerifForm" type="checkbox" id="switch-etat-licence" checked="checked"  onchange="licence.disabledLicence(this)">
            <span class="oka-switch__switcher"></span>
            <span class="oka-switch__label">Industrie</span>
        </label>
        <label class="oka-switch -sm">
            <input class="noVerifForm" type="checkbox" id="switch-etat-licence" checked="checked"  onchange="licence.disabledLicence(this)">
            <span class="oka-switch__switcher"></span>
            <span class="oka-switch__label">Commerce</span>
        </label>
        <label class="oka-switch -sm">
            <input class="noVerifForm" type="checkbox" id="switch-etat-licence" checked="checked"  onchange="licence.disabledLicence(this)">
            <span class="oka-switch__switcher"></span>
            <span class="oka-switch__label">Association</span>
        </label>
        <label class="oka-switch -sm">
            <input class="noVerifForm" type="checkbox" id="switch-etat-licence" checked="checked"  onchange="licence.disabledLicence(this)">
            <span class="oka-switch__switcher"></span>
            <span class="oka-switch__label">Particulier</span>
        </label>
    </div>
    <div class="oka-spacer -sm"></div>
    
    

    <div class="flex-grid bandeauShaded">
        {listeClients.map((client) => (
        <div class={` col col-2 col--md-2 oka-logoClient -${client.frontmatter.categorie}`}>
            {client.frontmatter.logoPath && (
            <LogoClient
                logoPath={client.frontmatter.logoPath}
                altText={`Logo de ${client.frontmatter.client}`}
            />
            )}

        </div>
        ))}
    </div>
</div>

<div class="oka-spacer -xl"></div>

<style lang="scss">

    .bandeauShaded{
        position:relative;


        &:before,
        &:after {
            content:"";
            position:absolute;
            z-index: 2;
            display:block;
            height:100%;
            width:200px;

            pointer-events: none;
        }

        &:before {
            background-image: linear-gradient(to right, var(--oka-color-app-bg-default) , transparent );
        }
        &:after {
            right: 0;
            background-image: linear-gradient(to left, var(--oka-color-app-bg-default) , transparent );
        }


    }
</style>