---
// import CardSavoirFaire from "./CardSavoirFaire.astro";
---

<div class="sok-card-container">
   <div class="oka-spacer -xxl -inline" aria-hidden="true"></div>
   <slot/>
   <div class="oka-spacer -xxl -inline" aria-hidden="true"></div>
   <div class="oka-spacer -xxl -inline" aria-hidden="true"></div>
   <div class="oka-spacer -xxl -inline" aria-hidden="true"></div>
   <div class="oka-spacer -xxl -inline" aria-hidden="true"></div>
</div>


<style lang="scss">
   .sok-card-container {
      display: flex;
      width: 100%;
      margin-left: 4rem;
      width: max-content;
      // gap: 10px;
   }
</style>