---
import TestCard from "./TestCard.astro";
---

<div>
   <TestCard />
</div>


<style lang="scss">
   div {
      display: flex;
      gap: 10px;
      overflow-x: scroll;
      background: red;
   }
</style>