---
import ImageSavoirFaire from "../savoir-faire/ImageSavoirFaire.astro";

const savoirFaires = Object.values(import.meta.glob("../../../contenus/savoir-faires/*.md", { eager: true }));

---

{savoirFaires.map((savoirFaire) => (
   <article class="oka-savoir-faire__card">
      <div class="content">
         <div class="oka-savoir-faire__card-content">
            <span class="oka-savoir-faire__card-subtitle">
               {savoirFaire.frontmatter.subtitle}
            </span>

            <h3 class="oka-savoir-faire__card-title">
               {savoirFaire.frontmatter.title}
            </h3>
         </div>

         <savoirFaire.Content />

         <a class="oka-cta" href="#">
            En savoir plus
         </a>
      </div>


<ImageSavoirFaire 
            imagePath={savoirFaire.frontmatter.src}
            altText={savoirFaire.frontmatter.alt}
         />

   </article>
))}


