<div class="oka-morph-wrapper">
   <slot />
</div>

<style lang="scss">
   .oka-morph-wrapper {
      position: relative;
      background-color: var(--oka-color-bg-minimal);
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
   }
</style>