


/**
* FILTERS OKA
*

|  3.1.0 | 04/06/2021 | Révision nommage Modifiers Taille |
|   1.0.0   | 01/12/2020 | Création |
*/

/* DEPENDANCES */
@import "../../1-bases/animations/animations";

// Tokens



// primary
$oka-filter-label-color   : oka-alpha(var(--color--accent), 1);

$oka-filter-border-color   : oka-alpha(var(--color--accent), 0.55);
$oka-filter-border-width   : 1px ;
$oka-filter-border-style   : solid ;

// secondary
$oka-filter-label-color-secondary   : oka-alpha(var(--color--accent-secondary), 1);

$oka-filter-border-color-secondary   : oka-alpha(var(--color--accent-secondary), 0.55);
$oka-filter-border-width-secondary   : 1px ;
$oka-filter-border-style-secondary   : solid ;


// PIN (checkbox)
$oka-filter-pin-color   : oka-alpha(var(--color--accent), 1);
$oka-filter-pin-color-secondary   : oka-alpha(var(--color--accent-secondary), 1);





$filter-border-radius : 2rem;
$filter-opacity-inactif : 0.6;
$filter-color-background-inactif : transparent;


@mixin filter-checkbox {

    display: none !important;


    + label {
        display: inline-block;
        vertical-align: text-top;
      
        position: relative;
        margin-bottom:0.5rem;
    
        border-radius: $filter-border-radius ;

        padding:0.25rem 1.5rem 0.25rem 2rem;

        cursor: pointer;
        user-select: none;
    
        opacity: $filter-opacity-inactif ;
    
        font-size:0.68rem;

        // Evite la derniere marge (position en pied)
        // &:last-child{
        //    // margin-bottom:0;
        // }

        &:hover {
            opacity:1;
            background-color:oka-alpha(var(--color--accent-secondary), 0.075) !important;
        }


        // Contour 
        &:before {
            content: "";
            display: block;
            width: 1.0rem !important;
            height: 1.0rem !important;
            margin-right: 14px;
            position: absolute;
            top: 0.25rem;
            left: 0.25rem;

            border-radius:1rem;

        }

        // PIN INDICATOR 
        &:after{

            content: "";
            display: block;
            position: absolute;

            border-radius:1rem;

            // animation: oka-pulse 0.13s linear;
        }

    }


    &:checked + label {

        opacity:1;
        background-color:oka-alpha(var(--color--accent-secondary), 0.15) !important;


        &:after {
            top: 0.25rem;
            left: 0.25rem;
            width: 1.0rem !important;
            height: 1.0rem !important;
    
            margin-top:0;
    
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;
            //
            @include background-svg-fill($svg-check, '#000000',  '#ffffff');
     
        }

    }
    
}


@mixin filter-checkbox-style($style : 'primary') {
    
    $filter-label-color : $oka-filter-label-color;
    // BORDER
    $filter-border-color : $oka-filter-border-color;
    $filter-border-width : $oka-filter-border-width;
    $filter-border-style : $oka-filter-border-style;

    $filter-pin-color : $oka-filter-pin-color;


    @if $style == 'secondary' {
        
      
        $filter-label-color : $oka-filter-label-color-secondary;
        // BORDER
        $filter-border-color : $oka-filter-border-color-secondary;
        $filter-border-width : $oka-filter-border-width-secondary;
        $filter-border-style : $oka-filter-border-style-secondary;

        $filter-pin-color : $oka-filter-pin-color-secondary;
    }



    + label {
        color : $filter-label-color;
        // BORDER
        border-color: $filter-border-color;
        border-width: $filter-border-width;
        border-style:  $filter-border-style;

        &:before{
            border:1px solid $filter-pin-color ;
        }
        &:after{
            background: $filter-pin-color ;
        }

    }


}

@mixin filter-checkbox-size($size : 'md') {

    + label {
        // Contour 
        // &:before {

        // }
    }

}



input[type="checkbox"].oka-filter-checkbox{
    @include filter-checkbox;
    @include filter-checkbox-style('primary');
    @include filter-checkbox-size('sm');
}


input[type="checkbox"].oka-filter-checkbox--secondary{
    @include filter-checkbox-style('secondary');
}


input[type="checkbox"].oka-filter-checkbox--sm{
    @include filter-checkbox-size('sm');
}


/** 
SELECTS 
================================================================================ 
*/

select.oka-filter-select {
    //border:1px solid red;

    display:inline !important;
    width:auto;
    height:1.65rem;

    margin-bottom: 0.5rem;
    padding:0.25rem 1rem 0.25rem 1rem;

    border-radius: $filter-border-radius ;
    background : $filter-color-background-inactif;
    opacity: $filter-opacity-inactif ;

    font-size:0.68rem;
    
    @include label--sm ;

    color : $oka-filter-label-color-secondary;
    // BORDER
    border-color : $oka-filter-border-color-secondary;
    border-width : $oka-filter-border-width-secondary;
    border-style : $oka-filter-border-style-secondary;
    

    // &:hover {
       
    // }

    &:not(:empty){
        opacity:1;
        background-color:oka-alpha(var(--color--accent-secondary), 0.15) !important;
    }

    option {
        font-size:0.9rem;
        line-height:2rem; // Pas pris en charge
        padding:1rem; // Pas pris en charge
        background-color: #fff;
       
    }



}

select.oka-filter-select:not(:disabled):not(:focus):not(.focus):not(.readonly):hover,
select.oka-filter-select:focus {

    opacity:1;

    box-shadow: 0 0 0 2px oka-alpha(var(--color--accent-secondary), 0.3) ; //3.0.2

    color : $oka-filter-label-color-secondary;
    // BORDER
    border-color : $oka-filter-border-color-secondary;
    border-width : $oka-filter-border-width-secondary;
    border-style : $oka-filter-border-style-secondary;
}