/** SELECTS
| 4.0.2 | 24/07/2024 | Arrow compatible darkMode |
| 4.0.1 | 16/10/2023 | Ancêtre -forceActionSecondary |
| 4.0.0 | 13/03/2022 | figma token compatible |
| 3.1.1 | 06/09/2021 | padding pour arrow pour iOs                 |
| 3.1.0 | 03/06/2021 | revision / arrow pour iOs                   |
| 3.0.2 | 12/04/2021 | Ajout modifier --update (micro-interaction) |
| 3.0.1 |
| 3.0.0 |
| 2.0.2 |            | add : skeleton
| 2.0.1 |            | add : readonly
| 2.0.0 |
*/
// Dépendance 
// Communs
// @import "../commons.3.0.3.scss";


// suite à correction de Bug IOs 
// la fleche est supprimée
// on applique une nouvelle fleche
// https://davidtang.io/2016-04-07-styling-select-elements-with-css/

@mixin arrowSelect{
    /* Removes the default <select> styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* 3.1.0 Positions background arrow image */
    //background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    /* 4.0.2 arrow for darkMode*/
    //background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjE5MiIgdmlld0JveD0iMCAwIDMyMCAxOTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zMjAgNDhMMTYwIDE5MkwwIDQ4VjBIMzIwVjQ4WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==');
    @extend %arrowDown-bg;
    
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center ;

    /* 3.1.1 Corrige le manque de padding right */
    padding-right:2rem; 
}


@mixin selectDefault {

    @include forms;
    @include forms--md;

    //@include arrowSelect;

    // Centrage Verticale (ex : pour Tag cas Multiselect )
    display:flex;
    flex-wrap : wrap;
    align-items: center;
    // NoCrop Suite au centrage vertical Flex.
    padding-top:0;
    padding-bottom:0;
    
    &:before,
    &:after{display:none}


    // ...................................................
    // FOCUS
    &.focus,
    &.-focus,
    &:focus{
        @include arrowSelect;
    }
    
    // ...................................................
    // SKELETON
    // &.oka-select--skeleton,
    // &.e-oka-select--skeleton{
    //     //@include forms--skeleton;
    // }

    // ...................................................
    // Gérer depuis commons.4.0.4
    // UPDATE (micro-interaction)
    //$colorbtspinner : white ;

    // &.oka-select--update,
    // &.e-oka-select--update,
    // &.-update{
        // //@include forms--skeleton;

        // @extend %spinner-bg;
        // //background-image:  url("data:image/svg+xml; utf8, <svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M59.17,32A27.17,27.17,0,1,1,32,4.83'  fill='none' stroke='#{$colorbtspinner}' stroke-miterlimit='10' stroke-width='4'><animateTransform attributeName='transform' begin='0s' dur='1s' type='rotate' from='0 32 32' to='360 32 32' repeatCount='indefinite'/></path><rect width='64' height='64' fill='none'/></svg>");
    
        // background-repeat: no-repeat;
        // background-position: 1rem center;
        // background-size: 1.5rem;

        // pointer-events: none;
    // }

}


select,
.oka-select {
    @include selectDefault;
    @include forms-text('primary');

    &.-secondary,
    .-forceActionSecondary & {
        @include forms-text('secondary');
    }
}

.oka-select--sm,
.oka-select.-sm,
select.-sm {
        @include forms--sm;
}

.oka-select--lg,
.oka-select.-lg,
select.-lg {
        @include forms--lg;
}
