// OKA LOADER
/*

| 5.0.0 | 22/05/2025 | compatible design tokens figma + spinner translucide|

| 4.0.0 | 25/10/2021 | compatible darkMode - ABEM |
| 3.1.1 | 13/10/2021 | Secondary |
| 3.1.0 | 02/06/2021 | Révision |
| 1.0.0 | 06/02/2021 |  |
*/
//@import "../../1-bases/animations/_animations";


// from : https://akhilgautam.medium.com/loaders-are-quite-common-web-components-that-we-see-on-the-web-7cbcd56cfefc
.oka-loader {

    height: 1rem;
    width: 1rem;

    flex-grow:0;
    flex-shrink:0;

    border: 1px solid var(--oka-color-primary-50, var(--oka-color-system-contrast-low)); // 5.0.0
    border-right-color: var(--oka-color-primary-700, var(--oka-color-primary-contrast-hight)); // 5.0.0
    border-bottom-color: var(--oka-color-primary-700, var(--oka-color-primary-contrast-hight)); // 5.0.0

    border-radius: 50%;

    animation: loaderRotate 0.65s linear infinite;
    

    &.-sm {
        height: 0.5rem;
        width: 0.5rem;
        border-width: 1px;
    }   



    &.-lg {
        height: 3rem;
        width: 3rem;
        border-width: 3px;
    } 
    

    &.-secondary {
        border: 1px solid var(--oka-color-secondary-50, var(--oka-color-system-contrast-low));
        border-right-color: var(--oka-color-secondary-700, var(--oka-color-secondary-contrast-medium));
        border-bottom-color: var(--oka-color-secondary-700, var(--oka-color-secondary-contrast-medium));

    }
}

@keyframes loaderRotate{
    100% {
      transform: rotate(360deg);
    }
  }
