---
// Vérifiez la taille de l'écran côté client
//const isMobile = window.innerWidth < 768;
---

<div class="cursor">
  <div class="cursor__inner">
    <!-- cursor__inner-box elements come here -->
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="gooey">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="90" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -7" result="goo" />
          <feComposite in="SourceGraphic" in2="goo" operator="atop" />
      </filter>
    </defs>
  </svg>
</div>

<script>


import { GooCursor } from './cursor.js';
import { gsap } from "gsap";

const cursorEl = document.querySelector('.cursor');

// Initialize cursor
const goo = new GooCursor(cursorEl);

// Easter egg: click anywhere

window.addEventListener('click', () => {
    gsap.
    timeline()
    .addLabel('start', 0)
    .to(goo.DOM.cells, {
        duration: 1,
        ease: 'power4',
        opacity: 1,
        stagger: {
            from: [...goo.DOM.cells].indexOf(goo.getCellAtCursor()),
            each: 0.02,
            grid: [goo.rows,goo.columns]
        }
    }, 'start')
    .to(goo.DOM.cells, {
        duration: 1,
        ease: 'power1',
        opacity: 0,
        stagger: {
            from: [...goo.DOM.cells].indexOf(goo.getCellAtCursor()),
            each: 0.03,
            grid: [goo.rows,goo.columns]
        }
    }, 'start+=0.3')
});
</script>


<style lang="scss" is:global>


@import "src/styles/oka-design-system/0-abstracts/breakpoints/breakpoints";

:root {
	/*--columns: 14;*/


  /* Limiter le nombre de cellules pour les mobiles*/
  --columns: 6;
}

body{
	--cursor-bg: #47eadf;
  --cursor-blend-mode: color-dodge;

}
  
.cursor {

  height: 100vh;
  
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
  margin-bottom: -100vh;
	pointer-events: none;
	z-index: 9999;
	mix-blend-mode: var(--cursor-blend-mode);
	--size: calc(100vw / var(--columns));

}

.cursor__inner {
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor__inner-box {
	width: var(--size);
	height: var(--size);
	background: var(--cursor-bg);
	opacity: 0;
  will-change: opacity;
	/*border-radius: var(--cursor-radius);*/
}
  


</style>