---
const { elTrigger } = Astro.props;
---

<div class="sok-container">
   <slot />
</div>

<script>
   import { gsap } from "gsap";

   document.addEventListener("astro:page-load", () => {
      const maskContainer = document.querySelector('.maskContainer');
      const polygons = maskContainer.querySelectorAll('.-visible');

      // Source - GSAP/Stagger : https://codepen.io/GreenSock/pen/gyWrPO
      // var tl = gsap.timeline({repeat: -1, repeatDelay: 0.5});
      var tl = gsap.timeline({
         // repeat: -1, 
         // repeatDelay: 0.5,
         scrollTrigger: {
            trigger: ".oka-entreprise",
            start: "top 70%",
            // end: "bottom 20%",
            toggleActions: "play none reverse none",
            markers: true
         }
      });

      tl.from(polygons, {
         opacity: 0,
         // rotation: 260,
         ease: "power2.inOut",
         stagger: distributeByPosition({
            amount: .5, 
            from: "start" // or try an index like 5
            //  axis: "x",
            //ease: "power2.inOut",
         })
      });

      // Permet de trouver les éléments du DOM les plus proches
      function distributeByPosition(vars) {
         var ease = vars.ease && gsap.parseEase(vars.ease),
            from = vars.from || 0,
            base = vars.base || 0,
            axis = vars.axis,
            ratio = {center: 0.5, end: 1, edges:0.5}[from] || 0,
            distances;
         return function(i, target, a) {
            var l = a.length,
               originX, originY, x, y, d, j, minX, maxX, minY, maxY, positions;
            if (!distances) {
               distances = [];
               minX = minY = Infinity;
               maxX = maxY = -minX;
               positions = [];
               for (j = 0; j < l; j++) {
                  d = a[j].getBoundingClientRect();
                  x = (d.left + d.right) / 2; //based on the center of each element
                  y = (d.top + d.bottom) / 2;
                  if (x < minX) {
                     minX = x;
                  }
                  if (x > maxX) {
                     maxX = x;
                  }
                  if (y < minY) {
                     minY = y;
                  }
                  if (y > maxY) {
                     maxY = y;
                  }
                  positions[j] = {x:x, y:y};
               }
               originX = isNaN(from) ? minX + (maxX - minX) * ratio : positions[from].x || 0;
               originY = isNaN(from) ? minY + (maxY - minY) * ratio : positions[from].y || 0;
               maxX = 0;
               minX = Infinity;
               for (j = 0; j < l; j++) {
                  x = positions[j].x - originX;
                  y = originY - positions[j].y;
                  distances[j] = d = !axis ? Math.sqrt(x * x + y * y) : Math.abs((axis === "y") ? y : x);
                  if (d > maxX) {
                     maxX = d;
                  }
                  if (d < minX) {
                     minX = d;
                  }
               }
               distances.max = maxX - minX;
               distances.min = minX;
               distances.v = l = (vars.amount || (vars.each * l) || 0) * (from === "edges" ? -1 : 1);
               distances.b = (l < 0) ? base - l : base;
            }
            l = (distances[i] - distances.min) / distances.max;
            return distances.b + (ease ? ease(l) : l) * distances.v;
         };
      }


      // ===== ANCIENNE MÉTHODE =====
      // const tl = gsap.timeline();
      // const maskContainer = document.querySelector('.maskContainer');
      // console.log(maskContainer);
      
      // const polygons = maskContainer.querySelectorAll('.-visible');
      // console.log(polygons);
      

      // Settings
      // const amount = 2; // durée totale en seconde de l'animation
      // const from = "end"; // valeur possible : "start", "center", "end", "edges" ou "random"
      // const axis = "x"; // valeur possible : "x" ou "y"
      
      // maskAnimation(polygons, amount, from, axis);

      // function maskAnimation(polygons: string, amount: number, from: string, axis: "x" | "y") {
      //    // const polygons = maskContainer.querySelectorAll('.-visible');
      //    let gridNumber = [1, 1]



      //    gsap.to(polygons, {
      //       scale: 0.1,
      //       rotate: 360,
      //       ease: "power2.out",
      //       stagger: distributeByPosition({
      //          amount: amount,
      //          // grid: gridNumber,
      //          from: from
      //          // axis: axis,
      //       )}
      //    });
      // }
   });
</script>