<div class="sok-container">
   <slot />
</div>

<script>
   import { gsap } from "gsap";

   function maskAnimation(polygons: string, amount: number, from: string, axis: "x" | "y") {
      // const polygons = maskContainer.querySelectorAll('.-visible');

      gsap.to(polygons, {
         scale: 0.1,
         rotate: 360,
         ease: "power2.out",
         stagger: {
            amount: amount,
            grid: "auto",
            from: from,
            axis: axis,
         },
      })
   }

   document.addEventListener("astro:page-load", () => {

      const tl = gsap.timeline();
      const maskContainer = document.querySelector('.maskContainer');
      console.log(maskContainer);
      
      const polygons = maskContainer.querySelectorAll('.-visible');
      console.log(polygons);
      

      // Settings
      const amount = 2; // durée totale en seconde de l'animation
      const from = "start"; // valeur possible : "start", "center", "end", "edges" ou "random"
      const axis = "y"; // valeur possible : "x" ou "y"
      
      maskAnimation(polygons, amount, from, axis);
   });
</script>