
// VENDORS -----------------------------------
// ABSTRACTS   -----------------------------------
// BASE (ATOMS) -----------------------------------
// LAYOUT BASE
@import "typo.scss";
@import "base.scss";


@import "oka-design-system/1-utilities/oka-utilities";

// COMPONENTS (ORGANISMES)-----------------------------------
// /* 5 */ @import "oka-design-system/3-components/accept-terms/accept-terms.4.0.0"; 
// /* 5 */ @import "oka-design-system/3-components/avatars/avatars"; 
// /* 5 */ @import "oka-design-system/3-components/badges/badges";
/* 5 */ @import "oka-design-system/3-components/burgers/burgers"; 
// /* 5 */ @import "oka-design-system/3-components/buttonsGroup/buttonsGroup"; 
/* 5 */ @import "oka-design-system/3-components/cards/cards"; 
// /* 5 */ @import "oka-design-system/3-components/chip/chip";
// @import "oka-design-system/3-components/dashboard/dashboard.0.0.1"; // ------------------------------> A reprendre (suivre pattern de badge)
// /* 5 */ @import "oka-design-system/3-components/dropdowns/dropdowns"; // -----------------------> A reprendre 
// // @import "oka-design-system/3-components/inset/inset.4.0.0"; // -----------------------> Abandonné -  A reprendre  en utilitaire
// @import "oka-design-system/3-components/filters/filters.3.1.0.scss"; // ------------------------------> A reprendre (suivre pattern de badge)
/* 5 */ @import "oka-design-system/3-components/flips/flips";
// /* 5 */ @import "oka-design-system/3-components/heads/heads";
// /* 5 */ @import "oka-design-system/3-components/navitems/navitems";
// /* 5 */ @import "oka-design-system/3-components/navgroups/navgroups";
// /* 5 */ @import "oka-design-system/3-components/pagination/pagination";
// /* 5 */ @import "oka-design-system/3-components/popovers/popovers";
/* 5 */ @import "oka-design-system/3-components/ratios/ratios";
// /* 5 */ @import "oka-design-system/3-components/tables/tables";
// /* 5 */ @import "oka-design-system/3-components/tags/tags";
// /* 5 */ @import "oka-design-system/3-components/tooltips/tooltips";
// @import "oka-design-system/3-components/tree/tree.0.0.1"; 
 // -----------------------> A reprendre 
//
// LAYOUT (TEMPLATES) -----------------------------------
//
// Paramêtrage de la grille 
$nbCol : 16;

$nbCol-on-xsmall  : calc($nbCol / 4 );
$nbCol-on-small  : calc($nbCol / 2 );
$nbCol-on-medium : $nbCol;
$nbCol-on-large  : $nbCol;

$grid-gap-on-xsmall  : 1.5rem;
$grid-gap-on-small  : 1.5rem;
$grid-gap-on-medium : 1.5rem;
$grid-gap-on-large  : 1.5rem;

:root {
  --grid-columns: #{$nbCol-on-xsmall} ;

  --grid-gap-y: 1rem;
  --grid-gap-x: #{$grid-gap-on-xsmall}; 

  @include breakpoint(sm) {
    --grid-columns: #{$nbCol-on-small} ;
    --grid-gap-x: #{$grid-gap-on-small};
  }
  @include breakpoint(md) {
    --grid-columns: #{$nbCol-on-medium} ;
    --grid-gap-x: #{$grid-gap-on-medium};
  }
  @include breakpoint(lg) {
    --grid-columns: #{$nbCol-on-large} ;
    --grid-gap-x: #{$grid-gap-on-large};
  }
}



@import "oka-design-system/4-layouts/cols/cols";
@import "oka-design-system/4-layouts/flex/flex";
//
@import "oka-design-system/4-layouts/oka-filters/oka-filters.4.0.0";

// PAGES -----------------------------------
// ARTBOARDS -> AFFICHAGE DES VALEURS DE VARIABLES
//@import "oka-design-system/_artboards/artboard.scss";
//@import "oka-design-system/_artboards/typography/typography.scss";

//@import "skeuomorphisme";


@import "shame-design-system";




@import "project-design-system/commons.scss";

@import "project-design-system/oka-logo.scss";

@import "project-design-system/oka-mosaic.scss";
@import "project-design-system/oka-expertise.scss";

@import "project-design-system/page-accueil.scss";
@import "project-design-system/page-entreprise.scss";



@import "project-design-system/highlight.scss";
