




/* revue par Hokoha
-------------------------------- */
.height-100{
    height:100%;
}
.position-relative {
    position:relative;
}

/* Démo de la personnalisation */
.oka-badge.-maCouleur{
    --oka-badge-color : pink;
}


/* Grid 8pt */

.flex-grid-bg-fx, 
.grid-bg-fx,
.oka-spacer {
// mix-blend-mode: normal;
      // mix-blend-mode: multiply;
      // mix-blend-mode: screen;
      // mix-blend-mode: overlay;
      // mix-blend-mode: darken;
      // mix-blend-mode: lighten;
    // mix-blend-mode: color-dodge;
       //mix-blend-mode: color-burn;
       //mix-blend-mode: hard-light;
       //mix-blend-mode: soft-light;
      // mix-blend-mode: difference;
      // mix-blend-mode: exclusion;
      // mix-blend-mode: hue;
      // mix-blend-mode: saturation;
       //mix-blend-mode: color;
      // mix-blend-mode: luminosity;
      // mix-blend-mode: plus-lighter;
      // mix-blend-mode: plus-darker;
}



.flex-grid {
        --grid-gap-x: 0rem !important;
}

.oka-appWrap {
    z-index:1;

    &.-full {
        width:100% !important;
        max-width: none !important;
        padding:0 !important;
    }
}


.oka-h.-xxl {
    --crop-top: -1.5rem;
    --crop-bottom: -1rem;
    --plumber-font-size: 3.157rem;
    --plumber-line-height: 3rem;
    --plumber-padding-top: 0.347695rem;
    --plumber-padding-bottom: 0.652305rem;
    font-size: clamp(var(--oka-typo-brand-heading-md-font-size), 11cqw, var(--oka-typo-brand-heading-giant-font-size));
    line-height: clamp(var(--oka-typo-brand-heading-md-line-height) * 1px, 1em, var(--oka-typo-brand-heading-xl-line-height) * 1px);
}