


/* revue par Hokoha
-------------------------------- */
.height-100{
    height:100%;
}
.position-relative {
    position:relative;
}

/* Démo de la personnalisation */
.oka-badge.-maCouleur{
    --oka-badge-color : pink;
}