


@use "oka-design-system/0-abstracts/breakpoints/breakpoints" as *;

/* revue par Hokoha
-------------------------------- */
.height-100{
    height:100%;
}
.position-relative {
    position:relative;
}

/* Démo de la personnalisation */
.oka-badge.-maCouleur{
    --oka-badge-color : pink;
}


/* Grid 8pt */

.flex-grid-bg-fx, 
.grid-bg-fx,
.oka-spacer {
// mix-blend-mode: normal;
      // mix-blend-mode: multiply;
      // mix-blend-mode: screen;
      // mix-blend-mode: overlay;
      // mix-blend-mode: darken;
      // mix-blend-mode: lighten;
    // mix-blend-mode: color-dodge;
       //mix-blend-mode: color-burn;
       //mix-blend-mode: hard-light;
       //mix-blend-mode: soft-light;
      // mix-blend-mode: difference;
      // mix-blend-mode: exclusion;
      // mix-blend-mode: hue;
      // mix-blend-mode: saturation;
       //mix-blend-mode: color;
      // mix-blend-mode: luminosity;
      // mix-blend-mode: plus-lighter;
      // mix-blend-mode: plus-darker;
}



.flex-grid {
        --grid-gap-x: 0rem !important;
}

.oka-appWrap {
    z-index:1;

    &.-full {
        width:100% !important;
        max-width: none !important;
        padding:1rem !important;


        @include breakpoint(md) {
            padding:0rem !important;
        }
    }


}


.oka-h.-xxl {
    --crop-top: -1.5rem;
    --crop-bottom: -1rem;
    --plumber-font-size: 3.157rem;
    --plumber-line-height: 3rem;
    --plumber-padding-top: 0.347695rem;
    --plumber-padding-bottom: 0.652305rem;
    font-size: clamp(var(--oka-typo-brand-heading-md-font-size), 11cqw, var(--oka-typo-brand-heading-giant-font-size));
    line-height: clamp(var(--oka-typo-brand-heading-md-line-height) * 1px, 1em, var(--oka-typo-brand-heading-xl-line-height) * 1px);
}



:root {
    // Sert à calculer la taille d'une ou plusieurs colonne par rapport au viewport
    // 1 col = calc((100dvw / 16) * 1)
    --col-size: calc(100dvw / 16);
  }

// ShowGrid - 8pt grid vertical dans un container

.showGrid {
    position:relative; /* requis pour showGrid */

}


.showGrid:after  /* Div spécifique dans Docs */
{
    content   : '';
    position  : absolute;
    width:100%;

    top       :0 ;
    bottom   : 0;
    left     : 0;
    z-index   : -1;

    padding   : 0;
 
    opacity   : 0.3   ;
    font-size: 8px;

    // 8Pt GRILLE VERTICALE
    background-repeat: repeat-y;
    background-size: 100% 0.5rem;
    background-image: linear-gradient(to bottom, var(--oka-color-bd-spec-subtle,var(--oka-color-specs-default)) 0,rgba(255, 255, 255, 0) 1px);
    line-height: 0;

   
    /* SQUARE */
    /*   */
    background-repeat: repeat;  
    background-size: calc(var(--col-size) * 1) 16px, calc(var(--col-size) * 1) 16px;
    background-position:  0px 0px, 0px 0px;
    background-image: linear-gradient(var(--oka-color-bd-spec-subtle,var(--oka-color-specs-default))  1px, transparent 1px),
                    linear-gradient(90deg, var(--oka-color-bd-spec-subtle,var(--oka-color-specs-default))  1px, transparent 1px);
        
  

    line-height: 0;
    pointer-events: none;
}


