


/* revue par Hokoha
-------------------------------- */
.height-100{
    height:100%;
}
.position-relative {
    position:relative;
}




/* ********************** 

Range  .range-slider */


.range-slider {

    --oka-range-track-weight : 2px;
    //outline : 1px solid red;

    --range-slider-common-height: 32px;
    --range-slider-handle-width: 64px;
    --range-slider-handle-height: 24px;

    position: relative;
    display: flex;
	align-items: center;
    width: 99%;
	height: 100%;

    
}


.range-slider > div {
    
    //outline:1px solid green;
    position: absolute;
    display: flex;
	align-items: center;

	left: calc(var(--range-slider-handle-width) / 2 ) ; // 32px;// 13px;
	right: calc(var(--range-slider-handle-width) / 2 ) ; // 32px ; // 15px;

	height: var(--range-slider-common-height);


}
/* Vélocité */
.range-slider * {
    //transition: all 0.25s cubic-bezier(0.85, 1.5, 0.5, 1); /* effet élastique */
    transition: all 0.25s ease; // transition douce
}

// graduations
.range-slider .range-slider-graduation {

    // Connaitre le nombre d'étapes possible via la variable de style sur l'element du dom
    // 
    --tick-dark: var(--oka-color-white-alpha10);
    --tick-light: var(--oka-color-black-alpha60);

    //outline: 1px solid red;

  


    position:absolute;
    z-index: 2;
    top: calc(var(--range-slider-common-height) * -1);
    height: calc(var(--range-slider-common-height) / 2);


    .range-slider-graduation-tick {


        &:first-child{
            justify-content: flex-start;
        }
        &:last-child{
            justify-content: flex-end;
        }
        position: relative;
        background: transparent;
      
        display: flex   ;
        justify-content: center;
        cursor: pointer;


        // Le num
        &:after{
            content:attr(data-value);
            position: absolute;
            top:-1.25rem;
            opacity: 0;
            font-size:14px;
        }

        // LA graduations
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0 ;
            height: 60%;
            width: 1px;

            border-left : 1px solid var(--tick-light);
            border-right : 1px solid var(--tick-dark);  
            transition: all 0.35s ease; // transition douce
            }

        &:hover::before {
        

        }
        &:hover {
            &:before{
                height: 80%;
                border-left : 1px solid blue;
                border-right : 1px solid var(--tick-dark);
                 transition: none; 
            }

            &:after{
                opacity: 1;
            }
        }
    }


        
} 


// .range-slider .range-slider-graduation2 {

//     // Connaitre le nombre d'étapes possible 

//     --tick-dark2: var(--oka-color-white-alpha10);
//     --tick-light2: var(--oka-color-black-alpha60);

//     //--steps : attr(data-steps number);

//     height: 0.5rem;
//     position:absolute;
//     top: -1.5rem;

//     background: 
//         repeating-linear-gradient(
//         to right,
//             var(--tick-light2),
//             var(--tick-light2) 1px,
//             var(--tick-dark2) 1px,
//             var(--tick-dark2) 2px,
//             transparent 2px,
//             transparent calc(100% / calc(var(--steps) * 10 ))
//         ) ;
// } 



// la gouttière
.range-slider > div > .range-slider-val-left, 
.range-slider > div > .range-slider-val-right, 
.range-slider > div > .range-slider-val-range {
 
    height: var(--oka-range-track-weight); // 2px;

}

.range-slider > div > .range-slider-val-left {
	position: absolute;
	left: 0;
	border-radius: 10px;
	background-color: #000;
	margin: 0 7px;
}

.range-slider > div > .range-slider-val-right {
	position: absolute;
	right: 0;
    margin: 0 7px;
    border-radius: 10px;
	background-color: #000;
}

.range-slider > div > .range-slider-val-range {
    position: absolute;
    left: 0;
    top: -1px;
    bottom:0;
    margin:auto;
    height: var(--oka-range-track-weight); // 2px;
	border-radius: 14px;
	background-color: var(--oka-color-fg-primary);


    //background-image: linear-gradient(to right,   color-mix(in srgb, var(--oka-color-fg-primary) 80%, white) 50%, transparent 80.01%); // 5.0.0
    //background-repeat: no-repeat;
}

.range-slider > div > .range-slider-handle {
    z-index: 10;
    position: absolute;
	top: -2px;
    bottom : 0px;

    margin-top: auto;
    margin-bottom: auto;

    //margin-left: -14px ; // calc(  var(--range-slider-handle-width) / 2);
    margin-left: calc( calc( var(--range-slider-handle-width) / 2) * -1);

    width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);

    border-radius: var(--oka-radius-button);

    background: var(--skeuo-shape-concav) , var(--oka-color-white-alpha10);
    background-color: var(--oka-color-layer-floor-0);

    text-align: left;
	
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;

    //
    // Biseau
    --biseauSup : 0 1px ; //0 2px ;
    --biseauSupColor : var(--oka-color-white-alpha20);
    --biseauInf : 0 -1px ; //0 -3px;
    --biseauInfColor :  var(--oka-color-black-alpha30);
    --biseauBlur : 0px;
    
    box-shadow: inset var(--biseauSup) var(--biseauBlur) var(--biseauSupColor), // biseau supérieur
                inset var(--biseauInf) var(--biseauBlur) var(--biseauInfColor), // biseau inférieur
                //
                //0px 0px 0px 3px var(--interElement), // espace interne entre le socle et le bouton; 
                0 12px 12px -2px #000
                ;

    // Point central 
    &:before {
        content: "";

        position: absolute;
        top:4px;
        left:calc( 50% - 3px);

        display:block;
        width : 6px;
        height:6px;

        border-radius: 6px;

        background: var(--skeuo-shape-concav) , var(--oka-color-white-alpha10);
        background-color: var(--oka-color-fg-primary);

        box-shadow: 
            inset var(--biseauSup) var(--biseauBlur) var(--biseauSupColor), // biseau supérieur
            inset var(--biseauInf) var(--biseauBlur) var(--biseauInfColor);
    }

}

div.range-slider > input[type="range"]::-ms-thumb {
	width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border: 0 none;
    border-radius: 0px;
    background: red;
    
    pointer-events: all;
	
}

div.range-slider > input[type="range"]::-moz-range-thumb {
	width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border: 0 none;
    border-radius: 0px;
    background: red;
    
    pointer-events: all;
}

div.range-slider > input[type="range"]::-webkit-slider-thumb {
	width: var(--range-slider-handle-width);
    height: var(--range-slider-handle-height);
    border: 0 none;
    border-radius: 0px;
    background: green;
    
    pointer-events: all;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}

div.range-slider > input[type="range"]::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.range-slider > input[type="range"] {
    z-index: 10;
    position: absolute;
	width: 100%;
	height: var(--range-slider-common-height);


    outline : 1px solid red;
	
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-track {
	background: transparent;
    color: transparent;
    
    -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-moz-range-track {
	background: transparent;
    color: transparent;
   
    -moz-appearance: none;
}

div.range-slider > input[type="range"]:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}

div.range-slider > input[type="range"]:focus {
	outline: none;

}



div.range-slider > input[type="range"]::-ms-tooltip {
	display: none;
}

.range-slider > div > .range-slider-tooltip {
    z-index: 20;
	position: absolute;
	top: -42px;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
	background-color:  var(--oka-color-black);
	color: #fff;
	text-align: center;
    
    opacity: 0;
}

.range-slider > div > .range-slider-tooltip:after {
    content: "";

    position: absolute;
	left: 0;
	top: 19px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top-width: 16px;
	border-top-style: solid;
    border-top-color: var(--oka-color-black); //var(--ColorPrimaryLt);
    border-radius: 16px;
}

.range-slider > div > .range-slider-tooltip > span {
	font-size: 12px;
	font-weight: 700;
	line-height: 28px;
}

.range-slider:hover > div > .range-slider-tooltip {
	opacity: 1;
}


// ----------------------------------------------------

.oka-neomorphMode {

    .oka-bt {
        --oka-radius-button: 32px;
        
        --biseauSup : 0 8px ;
        --biseauSupColor : var(--oka-color-white-alpha20);
        --biseauInf : 0 -3px;
        --biseauInfColor :  var(--oka-color-black-alpha30);
        --biseauBlur : 2px;

        position: relative;

        min-width:300px;

        //background : var(--oka-bt-surface); 
        background: radial-gradient(circle, var(--oka-color-white-alpha40) 0%, var(--oka-color-none)), 
                    radial-gradient(ellipse, var(--bt-background-color ) 20%, color-mix(in srgb, var(--bt-background-color) 70%, black));

        box-shadow: inset 0 3px 8px 0px rgba(255,255,255,0.9) ,
                    inset 0 -4px 6px 0px rgba(255,255,255,0.6),
                    //
                    0 32px 8px 4px color-mix(in srgb, var(--bt-background-color) 10%, transparent) ,
                    //0 24px 8px 8px color-mix(in srgb, var(--bt-background-color) 4%, transparent)
                  
                    ; 


        // box-shadow: inset var(--biseauSup) var(--biseauBlur) var(--biseauSupColor), // biseau supérieur
        //             inset var(--biseauInf) var(--biseauBlur) var(--biseauInfColor), // biseau inférieur
        //             //
        //             0px 0px 0px 2px var(--interElement); // espace interne entre le socle et le bouton; 

        // Effet Luminescent
        &:before{
            content:"";
            display:block;
            width:100%;
            height: 100%;

            position:absolute;
            top:0;
            z-index: -1;

            overflow: hidden;

            background-image: radial-gradient(circle at 50% 280%,  var(--bt-background-color) 50%, transparent 80.01%); // 5.0.0
            background-repeat: no-repeat;



            border-radius:inherit;

            mix-blend-mode: lighten;
            filter: blur(00px) invert(1) ;

 

        }
        &:hover {
            &:before{
                background-image: radial-gradient(circle at 50% 280%,  var(--bt-background-color) 80%, transparent 100.01%); // 5.0.0
                
                //transition: background-image 2.26s;
            }
        }


    }
} 