
/* Introduction au skeuomorphisme
-------------------------------- */

:root , .oka-skeuomorphMode {

    --skeuo-angle : 180deg ;


    --skeuo-shape-convex : linear-gradient(var(--skeuo-angle), var(--oka-color-white-alpha80), var(--oka-color-black-alpha10)); /* dégradé = volume */
    --skeuo-shape-concav : linear-gradient(var(--skeuo-angle), var(--oka-color-black-alpha10), var(--oka-color-white-alpha80)); /* dégradé = volume */


    

    &.oka-darkMode ,
    .oka-darkMode & {
        --skeuo-shape-convex : linear-gradient(var(--skeuo-angle), var(--oka-color-white-alpha10), var(--oka-color-black-alpha20)); /* dégradé = volume */
        --skeuo-shape-concav : linear-gradient(var(--skeuo-angle), var(--oka-color-black-alpha20), var(--oka-color-white-alpha10)); /* dégradé = volume */

    }


}






.oka-skeuomorphMode  {

    --oka-color-layer-floor-0 : var(--oka-color-neutral-50);

    --interElement : var(--oka-color-black-alpha50);


    .oka-darkMode & {

        --oka-color-layer-floor-0 : var(--oka-color-neutral-900);



        --interElement : var(--oka-color-black);
    }


    .oka-skeuo__surface {
        
        &.-concav{
            background : var(--skeuo-shape-concav);
        }
        &.-convex{
            background : var(--skeuo-shape-convex);
        }
    }


    .oka-skeuo__relief {


        --skeuo-fat: 4px;

        // Embossage de Relief
        --bumpSup : var(--oka-color-white-alpha90);
        --bumpInf : var(--oka-color-black-alpha20);
        --arreteSup : var(--oka-color-white-alpha90);
        --arreteInf : var(--oka-color-white-alpha90);

        .oka-darkMode & {
            --bumpSup : var(--oka-color-white-alpha20);
            --bumpInf : var(--oka-color-black-alpha90);
            --arreteSup : var(--oka-color-black-alpha20);
            --arreteInf : var(--oka-color-black-alpha20);
        }






        position: relative;
        z-index: 1;

        display: inline-flex;
        gap : 0.5rem;

        &:has(.oka-bt){
            --border-radius : calc(var(--oka-radius-button) + var(--skeuo-fat));
        }

        &:has(.oka-input){
            --border-radius : calc(var(--oka-radius-form) + var(--skeuo-fat));
        }  


        &:before{
            content: '';
            display:block;

            position: absolute;
            top:calc(calc(var(--skeuo-fat) - 1px) * -1 );
            bottom:calc(calc(var(--skeuo-fat) + 1px) * -1 );
            right:calc(var(--skeuo-fat) * -1 );
            left:calc(var(--skeuo-fat) * -1 );
            z-index:-1;

            border-radius : var(--border-radius);
               
        }



        &.-bump:before{
            background :  var(--skeuo-shape-concav);  // biseau Interne de container
  
            box-shadow: 0 11px 22px var(--bumpInf), // bump inférieur de surface
                        0 -11px 22px var(--bumpSup), // bump supérieur de surface
                        0 1px 0px var(--oka-color-white-alpha50), // arrete inférieure;
                        0 -1px 0px var(--oka-color-black-alpha40) // arrete supérieure
                        ; 

        }

        &.-dip:before{
            background :    var(--skeuo-shape-concav);  // biseau Interne de container

            box-shadow: //0 11px 22px var(--bumpInf), // bump inférieur de surface
                        //0 -11px 22px var(--bumpSup), // bump supérieur de surface
                        0 1px 0px var(--oka-color-white-alpha20), // arrete inférieure;
                        0 -1px 0px var(--oka-color-black-alpha50) // arrete supérieure
                        ; 
        }







    }













    .oka-bt {

        --none : 0 0 0 transparent;
        --interElement : #000;

        // HALO Lumineux extérieur  ;
        --haloXY         : 0 0;
        --haloBlur      : 8px;
        --haloWeight    : 2px;
        --haloColor     : #fff;

        --hasHalo : var(--haloXY) var(--haloBlur) var(--haloWeight) var(--haloColor) ; 
        --halo : var(--none);
        
        // INTER-ELEMENT


        // BISEAUX
        --biseauSuperieurXY : 0 1px ; //Orientation + epaisseur ;
        --biseauSuperieurColor : var(--oka-color-white-alpha20);
        --biseauInferieurXY : 0 -1px ; //0 -3px;
        --biseauInferieurColor :  var(--oka-color-black-alpha30);
        --biseauBlur : 0px;
        --hasBiseauSuperieur :  inset var(--biseauSuperieurXY) var(--biseauBlur) var(--biseauSuperieurColor); // biseau supérieur
        --biseauSuperieur : var(--hasBiseauSuperieur);
        --hasBiseauInferieur :  inset var(--biseauInferieurXY) var(--biseauBlur) var(--biseauInferieurColor); // biseau supérieur
        --biseauInferieur : var(--hasBiseauInferieur);

        --oka-bt-surface : var(--skeuo-shape-convex); /* Shape skeuo , couleur unie = fond */

        --oka-borderwidth-bt : 0.5px;

        background : var(--oka-bt-surface); 

        //border-radius : var(--bt-radius) !important;

        // Biseau
        box-shadow: //inset 0 12px 8px -12px #000,
                    var(--halo), // HALO  ;
                    var(--biseauSuperieur), // biseau supérieur
                    var(--biseauInferieur), // biseau inférieur
                    //
                    0px 1px 0px 2px var(--interElement), // espace interne entre le socle et le bouton; 
                    0 12px 12px -2px #000
                    ;

        &:focus,
        &.-focus {
            outline : none;
            //--interElement : var(--oka-color-none);
        }            

        // evite le double filet pour -outlined            
        &.-outlined {
            --interElement : var(--oka-color-none);
            
        }

        // Surface flat
        // &.-disabled,
        // &:disabled,
        // &.-ghost,
        // &.-outlined {
        //     --oka-bt-surface : var(--oka-color-bg-on_surface);
        // }

        &:hover {
        //--halo : var(--hasHalo);
        //--oka-bt-surface : var(--skeuo-shape-convex), var(--oka-color-black-alpha10);

        background-color: var(--oka-color-black-alpha60);

        /* Halo interne */
        box-shadow: 
                    var(--halo), // HALO  ;
                    0px -1px 0px 2px var(--interElement), // espace interne entre le socle et le bouton;
                          
                    var(--biseauSuperieur), // biseau supérieur
                    var(--biseauInferieur), // biseau inférieur
                   
                    0 6px 6px #000
                    ;
        transform: translate3d(0, 1px, 0);
                    
        }

        

        &:active, &.-active {

            --oka-bt-surface : var(--skeuo-shape-convex), red;

            background-color: var(--oka-color-black-alpha40);

            box-shadow: 
                    // inset 0 12px 8px -12px #000, // OmbreSup
                    // inset var(--biseauSup) var(--biseauBlur) var(--oka-color-black-alpha40), // biseau supérieur
                    // inset var(--biseauInf) var(--biseauBlur) var(--biseauInfColor), // biseau inférieur
                    var(--biseauSuperieur), // biseau supérieur
                    var(--biseauInferieur), // biseau inférieur
                    //
                    0px 0px 0px 2px var(--interElement), // espace interne entre le socle et le bouton; 
                    0 22px 22px transparent
                    ;
        }




        // Effet Luminescent au darkMode
        //.oka-darkMode & {

        --crantage-color : var(--oka-color-black-alpha10) ;

        .oka-darkMode  & {
            --crantage-color : var(--oka-color-black-alpha20) ;
        }


        // Texture de crantage horizontal
        --crantage-hrz : repeating-linear-gradient(to bottom , transparent, transparent 1px, var(--crantage-color) 1px, var(--crantage-color) 2px ) ;

        // luminescence inférieure 
        // calc(50% + 100% + 75%) permet de positionner l'effet en bas sous le centre
        // color-mix(in srgb, var(--bt-background-color) 70%, transparent) permet d'éclaircir la couleur
        --luminescence-inf : radial-gradient(circle at 50% calc(50% + 100% + 85%), color-mix(in srgb, var(--bt-background-color) 70%, transparent) 50%, transparent 80.01%) ;


            &:before{
                content:"";
                display:block;
                width:100%;
                height: 100%;

                position:absolute;
                top:0;
                z-index: -1;

                overflow: hidden;

                // background-image: 
                //     // luminescence inférieure 
                //     var(--luminescence-inf)//,
                //     // crantage
                //     //var(--crantage-hrz)
                //     ;

                background-repeat: no-repeat;
               

                


                border-radius:inherit;

                //mix-blend-mode: lighten;
                //filter: blur(0) invert(0.3) ;

            }

            &:hover {
                &:before{
                    //filter: blur(0) invert(1) ;
                    background-image: 
                    // luminescence inférieure 
                    var(--luminescence-inf)//,
                    // crantage
                    //var(--crantage-hrz)
                    ;
                }               
            }


            &:not(.-outlined):not(.-ghost){
                &:before{
                    filter: blur(0) invert(0.3) ;
                }

            }
        //}


        &__ico {
            //text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--oka-color-fg-primary)  0px 0px 20px, var(--oka-color-fg-primary)  0px 0px 30px, var(--oka-color-fg-primary)  0px 0px 40px, var(--oka-color-fg-primary)  0px 0px 50px, var(--oka-color-fg-primary)  0px 0px 75px;
        }

    }

}

        