// Emplacement des Polices : Font Brand (expressive)
$oka-brand-font-path: '/public/assets/fonts' !default;


// Import FONTAWESOME
// $fa-font-path : $oka-brand-font-path + "/fontawesome-pro-6.5.2";
// @import "oka-design-system/1-bases/fonts/fontawesome-pro-6.5.2/fontawesome.scss"; // Obligatoire : fichier de demarrage
// @import "oka-design-system/1-bases/fonts/fontawesome-pro-6.5.2/solid.scss"; // Obligatoire : oka-list
// @import "oka-design-system/1-bases/fonts/fontawesome-pro-6.5.2/regular.scss";


@import "oka-design-system/1-bases/fonts/fontawesome-custom-icons/custom-icons" ;


// BASE - BRAND FONTS (EXPRESSIVES)
@import "project-design-system/fonts/font-ibm-plex-sans-v8-latin";


// =========================================
// BRAND-HEADINGS
$oka-brand-heading-font-family: Inter,sans-serif;
$oka-brand-heading-font-weight: 600;
$oka-brand-heading-font-baseline: 0.134;
$oka-brand-heading-letter-spacing: -0.05em;

$oka-brand-heading-font-family-strong: Inter,sans-serif;
$oka-brand-heading-font-weight-strong: 800;

// =========================================
// BRAND BODY (TEXT)
//
$oka-brand-text-font-family: Inter,sans-serif;
$oka-brand-text-font-weight: 200;
//
$oka-brand-text-font-family-bold: Inter,sans-serif;
$oka-brand-text-font-weight-bold: 400;
//
$oka-brand-text-font-family-light: Inter,sans-serif;
$oka-brand-text-font-weight-light: 100;
//
$oka-brand-text-letter-spacing: -0.006em;
$oka-brand-text-word-spacing: 0.06em;
//
$oka-brand-text-font-baseline:0.134 ; 