// ==================================================
// LES TEXTS
/*
| 4.0.1 | 30/11/2022 | Revision nomage ABEM |
| 4.0.0 | 10/06/2022 | Perfectionnement alignement grid verticale |
| 3.1.0 | 02/06/2021 | Revision nommage : Modifiers de taille |
// 3.0.1  : integration dependance (base) / Meilleur Strong
// v3.0.0 : Dépendance internes / Nomage de classes
*/

// Dépendances : none


//
// Size m
//
$oka-brand-text-font-size-md: $oka-fontsize-xs ;    // [ 1rem ]
$oka-brand-text-line-height-md: $oka-lineheight-xs; // [ 1.5rem ] - [ 24px ] 
$oka-brand-text-md-weight : 300 ;
$oka-brand-text-md-ajustement-vertical : 0 ;
//
// Size s
//
$oka-brand-text-font-size-sm: $oka-fontsize-body ;  // [ 0.875rem ]
$oka-brand-text-line-height-sm: $oka-lineheight-xs; // [ 1.5rem ] - [ 24px ] 
$oka-brand-text-sm-weight :300 ;
$oka-brand-text-sm-ajustement-vertical : 0 ;
//
//Size xs
//
$oka-brand-text-font-size-xs: $oka-fontsize-xxs ;    // [ 0.75rem ]
$oka-brand-text-line-height-xs : $oka-lineheight-xxs; // [ 1rem ] - [ 16px ] 
$oka-brand-text-xs-weight : 300;
$oka-brand-text-xs-ajustement-vertical : 0.02; 
//
// size l
//
$oka-brand-text-font-size-lg: $oka-fontsize-sm ;     // [ 1.333rem ]
$oka-brand-text-line-height-lg: $oka-lineheight-sm ; // [ 2rem ] - [ 32px ]
$oka-brand-text-lg-weight : 300;
$oka-brand-text-lg-ajustement-vertical : 0 ;
//



// ==================================================
// LES TEXTS
//
// 
.oka-text {

    // 4.0.0 Supression des marges supérieures et inférieures du navigateurs (default user agent)
    margin-block-start: 0;
    margin-block-end: 0;
    
    margin-top:0; // 

    font-family: $oka-brand-text-font-family-light;
    font-weight: $oka-brand-text-md-weight ; // 4.0.0 
    letter-spacing: $oka-brand-text-letter-spacing;
    word-spacing : $oka-brand-text-word-spacing;

    &.-strong,
    strong {
        font-family: $oka-brand-text-font-family-bold;
        font-weight: $oka-brand-text-font-weight-bold;
    }

    &--md, // deprecated
    &.-md,
    &:not(.-xs):not(.-sm):not(.-lg):not(&--xs):not(&--sm):not(&--lg) // deprecated
    // &:not(.-xs):not(.-sm):not(.-lg) // utiliser cela après supression des deprecated
    {
        @include plumber-set-defaults($use-baseline-origin: true);
        @include plumber(
            $baseline: $oka-brand-text-font-baseline  ,
            $font-size: $oka-brand-text-font-size-md,
            $line-height: $oka-brand-text-line-height-md,
            $oka-ajustement-vertical : $oka-brand-text-md-ajustement-vertical,
        );
        
        // Stacking (entre deux paragraphe)
        margin-bottom:0.5rem;  

    }


    &--sm, // deprecated
    &.-sm { 
        @include plumber-set-defaults($use-baseline-origin: true);
        @include plumber(
            $baseline: $oka-brand-text-font-baseline  ,
            $font-size: $oka-brand-text-font-size-sm,
            $line-height: $oka-brand-text-line-height-sm,
            $oka-ajustement-vertical : $oka-brand-text-sm-ajustement-vertical,
        );
        
        // Stacking (entre deux paragraphe)
        margin-bottom:0.5rem;
    }

    &--xs, // deprecated
    &.-xs {
        @include plumber-set-defaults($use-baseline-origin: true);
        @include plumber(
            $baseline: $oka-brand-text-font-baseline  ,
            $font-size: $oka-brand-text-font-size-xs,
            $line-height: $oka-brand-text-line-height-xs,
            $oka-ajustement-vertical : $oka-brand-text-xs-ajustement-vertical,
        );
        
        // Stacking (entre deux paragraphe)
        margin-bottom:0;    
    }

    &--lg, // deprecated
    &.-lg {
        @include plumber-set-defaults($use-baseline-origin: true);
        @include plumber(
            $baseline: $oka-brand-text-font-baseline  ,
            $font-size: $oka-brand-text-font-size-lg,
            $line-height: $oka-brand-text-line-height-lg,
            $oka-ajustement-vertical : $oka-brand-text-lg-ajustement-vertical,
        );

        // Stacking (entre deux paragraphe)
        margin-bottom:1.5rem;
    }


    span,strong,em {
        line-height: 0;
    }


    // Staking
    //
    // Supprime la marge inférieure pour les paragraphes uniques
    &:first-of-type:last-of-type{
        margin-bottom:0 !important;
    }

    // Supprime la marge inférieure pour les derniers paragraphes
    &:last-child{
        margin-bottom:0 !important;
    }
}


p, .oka-text {
    @extend .oka-text;
}
