// OKA LINKS
/*
| 4.0.0    | 07/07/2023 |  Création |
*/

%link {
    color:var(--oka-color-action-fg-primary-default);
    text-decoration: underline;
    cursor:pointer;

    &:hover {
        color:var(--oka-color-action-fg-primary-hover);
    }
    &:active {
        color:var(--oka-color-action-fg-primary-press);
    }
}

a,
.oka-link {
    @extend %link;
}