/** OKA TABLE 
| 3.1.1 | 19/09/2021 | evite les changement de couleurs des boutons lors du survol de row |
| 3.1.0 | 04/06/2021 | Révision nommage Modifiers Taille |
| 1.0.1 | 22/02/2021 | Ajout centrage des Bouton de tri - table border  | 
| 1.0.0 | 22/10/2020 | création    | 

*/

// Dépendances :
//
// Tokens
@import "../../../design-tokens/oka-tables-tokens.scss";




.oka-table{

    width:100%;
  
    background-color: $oka-table-color-background;
    color : $oka-table-color-text ;


    border-collapse:separate;
    border-spacing: 0 $oka-table-row-spacing;


    border-color : $oka-table-border-color;
    border-width : $oka-table-border-width;
    border-style : solid;

}



    // HEADER ---------------------------------
.oka-thead{

        &-row {
            background: $oka-table-head-color-background ;
            color :$oka-table-head-color-text ;
        }

        &-cell {
            //
            padding : $oka-table-head-cell-space-inset;
            //
            border-color : $oka-table-head-cell-border-color;
            border-style: solid;
            border-width: $oka-table-head-cell-border-width;
            //
            vertical-align: bottom; // Force la mise en pied au cas ou un autre libellé sur deux lignes
            
            text-align: left;
            //
            &:last-child {
                border-right-width: 0;
            }

            // MODIFIERS
            // Tailles des cellules
            &--xxs{
                width:4rem;
            }
            &--xs{
                width:6rem;
            }
            &--sm{
                width:8rem;
            }
            &--md{
                width:12rem;
            }
            //
            // Alignements du text
            &--center {
                text-align:center;

                // !!!!!
                // On applique une legère marge au bouton dans le cas de centrage 
                // rattrapage effet visuel décentré
                .oka-thead-order {
                    margin-left: -0.5rem;
                }
            }
            &--right {
                text-align:right;
            }

        }

        // Bouton SORT (sortlist.js)
        &-order{
            //margin-left: 1.5rem; // Ajout Mentor

           
            border:none;
            
            background:none !important;

            outline: none;
            padding-left:0; // 1.0.1 
            padding-right:0; // 1.0.1 

            color :inherit;
            
            // POLICE
            @include label--sm;
            // font-weight: normal;
            display:inline-block; // pour possibilite de centrage ----ecrase la definition de label


            cursor:pointer;

            .indic {
                position:absolute;
                margin-left:0.25rem;
                font-size: 22px;

            }

            &.sort.desc .indic{
                transform: rotate(-90deg);
            }

            &.sort.asc .indic{
                transform: rotate(90deg);
            }
        }



        &-lbl {
            //
            // POLICE
            @include label--sm;
            font-weight: normal;

            // Libellé multilignes
            + .oka-thead-lbl{
                margin-top:0.5rem;
            }
        }

    }


    
 .oka-table{

    // TBODY
    // &__content {
    //     //outline:1px solid red;
    // }


    // LIGNES

    &__row{

        background-color:    #fff; // Ajout Mentor

        // Filet Divider
        background-repeat: repeat-y;
        background-size: 100% 100%;
        background-image: linear-gradient(to top,$oka-table-divider-color  0,rgba(255, 255, 255, 0)1px);

        transform: scale(1); // Use this hack as position relative is ignored in tr thanks to https://github.com/w3c/csswg-drafts/issues/1899

        // Supprime le filet divider du dernier enfant
        // &:last-child{
        
        // }

        &:nth-child(even) {
            background-color: $oka-table-row-color-background-even;
        }
        &:nth-child(odd) {
            background-color: $oka-table-row-color-background-odd;
        }


        $colorbtspinner : white ;

        &.row--clicked{
            pointer-events: none;
        
            background-color: var(--color--accent);
            background-image:  url("data:image/svg+xml; utf8, <svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M59.17,32A27.17,27.17,0,1,1,32,4.83'  fill='none' stroke='#{$colorbtspinner}' stroke-miterlimit='10' stroke-width='4'><animateTransform attributeName='transform' begin='0s' dur='1s' type='rotate' from='0 32 32' to='360 32 32' repeatCount='indefinite'/></path><rect width='64' height='64' fill='none'/></svg>");
        
            background-repeat: no-repeat;
            background-position: 1.25rem center;
            background-size: 1.5rem;
        
            // Couleurs des enfants , sauf les boutons
            *:not(.oka-bt):not(.oka-bt__lbl):not(.oka-bt__ico) {
                color:#fff;
                opacity : 0.53 
            }
        
        }
    }


    // CELLULES
    &__cell{

        vertical-align: middle;

        padding:$oka-table-cell-space-inset;
        //
        //
        border-color : $oka-table-cell-border-color;
        border-style: solid;
        border-width: $oka-table-cell-border-width;
        //
        text-align: left;
        //
        font-size: 0 ; // Fighting the Space Between Inline Block Elements  (https://css-tricks.com/fighting-the-space-between-inline-block-elements/)
        //
        // MODIFIERS ----------------------------------
        // Alignements du text
        &--center {
            text-align:center;
        }
        &--right {
            text-align:right;
        }
        

        &:last-child{
            border-width: $oka-table-cell-last-border-width;
        }


        // Data Multilignes
        .oka-data  + .oka-data{
            margin-top:0.5rem;
           
        }



}



    // // LIBELLES
    // &__lbl{
    //     color:var(--color-1--darker);
    //     @include text--m;

    //     padding-top:0; // Suprime le Crop
    //     padding-bottom:0; // Suprime le Crop

    //     margin:1rem 0;


    //     &.u-typo--bold{
    //         @include text--strong;
    //     }

    //     &--s{
    //         @include text--s;
    //     }
    //     &--xs{
    //         @include text--xs;
    //     }
    // }

    // &__lbl--strong{
    //     @include text--strong;
    //     //color:var(--color-1--darker);
    // }



    // Effet Hover pour les row non selectionner
    &--links{
        .oka-table__row {
            &:not(.oka-table__row--selected):hover{
                background-color:  $oka-table-row-color-background-hover;

                cursor: pointer;
                // Couleurs des enfants , sauf les boutons
                *:not(.oka-bt):not(.oka-bt__lbl):not(.oka-bt__ico) {
                    color:$oka-table-row-color-text-hover;
                } 
            }
        }
    }

}
