
/** 
// USER-SELECT
//
//
| 4.0.0  | 04/09/2022 | Compatible Figma token |
| 3.1.0  | 03/06/2021 | Revision |
*/


@mixin user-select-none {
    user-select: none;
}

.oka-U-selectNone{
    @include user-select-none()
}



@mixin user-select-text {
    user-select: text;
}

.oka-U-selectText{
    @include user-select-text()
}



@mixin user-select-all {
    user-select: all;
}

.oka-U-selectAll{
    @include user-select-all()
}

// surbrillance des textes.
// HABILLAGE DU SELECT HIGHLIGT
::selection {
    color:var(--oka-color-primary-fg-on-medium);;
    background: var(--oka-color-primary-bg-medium);
}
