
/** 
// USER-SELECT
//
//
| 5.0.0 | 23/05/2025 | compatible design tokens 5 figma |
| 4.0.0  | 04/09/2022 | Compatible Figma token |
| 3.1.0  | 03/06/2021 | Revision |
*/


@mixin user-select-none {
    user-select: none;
}

.oka-U-selectNone{
    @include user-select-none()
}

@mixin user-select-text {
    user-select: text;
}

.oka-U-selectText{
    @include user-select-text()
}

@mixin user-select-all {
    user-select: all;
}

.oka-U-selectAll{
    @include user-select-all()
}

// surbrillance des textes.
::selection {
    color: var(--oka-color-fg-strong ,var(--oka-color-primary-fg-on-medium));
    background: var(--oka-color-bg-primary-subtle, var(--oka-color-primary-bg-medium));
}
