/** ==================================================
* FILTERS

| 4.0.0    | 08/09/2023 | Création pour oka-list |

*/




.oka-filters {

    --oka-filters-color-bg : var(--oka-color-app-bg-default) ; //transparent; //var(--oka-color-system-bg-soft);
    --oka-filters-radius : 0.5rem;
    --oka-filters-border-color : var(--oka-color-system-contrast-hight);
    --oka-filters-border-width : 0px;
    --oka-filters-border-style : solid;
    --oka-filters-padding : 1rem 1rem;



    position: relative;
    z-index: 999;

    margin-bottom:1rem;
    
    padding: var(--oka-filters-padding) ;

    background-color: var(--oka-filters-color-bg);
    
    border-color: var(--oka-filters-border-color);
    border-radius: var(--oka-filters-radius);
    border-width: var(--oka-filters-border-width);
    border-style: var(--oka-filters-border-style);

    form {
        display:flex;
        flex-direction : row;
        flex-wrap:wrap;
        gap:0.5rem;
       

        // xs
        @container (min-width: 480px) {
            //outline:1px solid red;
        }

        //SM
        @container (min-width: 768px) {
            //outline:1px solid green;
            flex-direction : row;
        }

        // MD
        @container (min-width: 1024px) {
            //outline:1px solid blue;
        }

        // LG
        @container (min-width: 1280px) {
            //outline:1px solid yellow;
        }


    }

    &_head{
        
        margin-right:0rem;
        align-items: flex-end;

        .oka-head__title {
            display:none;
        }
    }

    &_ico{
        color : var(--oka-color-app-fg-default) !important;

        .-active & {
            display : none;
        }
    }

    &_reset{
        display : none;

        .-active & {
            display : flex;
        }
    }

    &_body{
        flex-grow : 1 ;
        width: 100px ; // !!!!! Attention une taille minimum est necessaire pour le responsive 480

        display:flex; 
        flex-direction: column;
        //align-items: flex-end;
        flex-wrap: wrap;
        gap:0.5rem;
    }

    // Block de filtres
    .l-form-row {

        display:flex;
        flex-direction : column;
        
        align-items: flex-start;
        justify-content: center;

        //outline:1px solid red;

        order:1; // Par default tous les blocks sont ordonnés un

        flex-grow:1;
        width: 100%;
        min-height:2.5rem;

        margin-bottom: 0; // surcharge DS oka


        /* Reset la taille max des champ */
        select,input,.oka-field {
            max-width:none;
        }


        // De champ de recherche
        &:has(.oka-field--search){
            // mobil-first
            order:0;

        }

        .oka-field--search{
            min-width: 240px;

        }

        // les labels de groupes
        .oka-label:not(.u-displaynone):has(+ .l-form-row__group),
        .oka-label:not(.u-displaynone):has(+ .l-form-row),
        .oka-label:not(.u-displaynone):has(+ div .l-form-row) {
            margin-bottom:0.5rem;
        }


        // Groupe de radios
        .l-form-row__group{
      
            //outline:1px solid rgb(0, 255, 106);

            flex-direction: row;
            flex-wrap: wrap;
            gap:0.5rem;
 
            .oka-label {
                margin-bottom:0;
            }
        }
    }

    &_footer {
        // Mobil first
        display: flex;
        //align-items: flex-end;
        justify-content: flex-end;
        
        width:100%;

        // Force l'affichage en ligne meme sous mobile
        .-forceFiltersRow & {
            width:auto;
        }

        // Si les radio group sont vertical on align verticalement en haut
        // .-forceRadioGroupVertical &{
        //     justify-content: flex-start !important;
        // } 
    }

    button[type="submit"]{
        order:100; 
    }

    button[type="submit"][disabled]{
        opacity:0.35;
    }


    // libellé de bouton adaptive
    &__action{
        //container-type: inline-size; 

        .-short{
            display:none;
        }
    }
}


.oka-bt__lbl{
    .-forceFiltersIconOnly &{
        display:none;
    }
}
.oka-bt__ico{
    .-forceFiltersIconOnly &{
        margin:0 !important;
    }
}

.l-form-row__group {
    .-forceRadioGroupVertical &{
        flex-direction: column !important;
    } 
}



/* Mise en page responsive */

/*
$oka-breakpoint-xxs    : 320px;
$oka-breakpoint-xs     : 480px;
$oka-breakpoint-sm     : 768px;
$oka-breakpoint-md     : 1024px;
$oka-breakpoint-lg     : 1280px;
$oka-breakpoint-xl     : 1440px;
*/

.oka-filters {
    container-type: inline-size; 
    min-width : 340px;

    //XS
    @container (min-width: 480px) {
            
        &_body {
            flex-direction: row;
            align-items:flex-start;
        }



        .l-form-row{
            width: auto;
            flex-grow:0;
        }

        //Les blocks de radios prennent toute la largeur
        /*.l-form-row:has(.oka-radio),
        .l-form-row:has(.oka-checkbox){

            //width:100%;
        }
        */

        .l-form-row:has(.oka-field--search){
            order:2;
            // Supprime la marge auto du bouton
            ~ button[type="submit"]{
                margin-left:0;
            }
        }

        .l-form-row:last-of-type:has(.oka-field--search){
           // margin-left:auto;
        }


        select {
            min-width:240px;
        }


        &_footer {
            width : auto;
            //outline:1px solid red;
        }


        button[type="submit"]{
            margin-left:auto;
        }

        // libellé de bouton adaptive
        &__action{
            //container-type: inline-size; 

            .-short{
                display:inline-block;

            }
            .-long{
                display:none;
            }
        }
    }


    //SM
    @container (min-width: 768px) {
        
        form {
            flex-direction : row;
        }


        .l-form-row:has(select) {
            flex-grow : 0;
            width:240px;
        }

        .l-form-row:has(.oka-field--search) {
            max-width: 320px;
        }

    }

    //MD
    @container (min-width: 1024px) {
        /*
        .l-form-row:has(.oka-radio),
        .l-form-row:has(.oka-checkbox){
            width:auto;
        }
        */
        //Les blocks de radios suivi d'un autre blocks on les diminuent
        /*
        .l-form-row:has(.oka-radio):has(+ .l-form-row),
        .l-form-row:has(.oka-checkbox):has(+ .l-form-row){
            //border:1px solid red;
            //max-width:50%;
        }

        .l-form-row:has(.oka-radio):has(+ * + .l-form-row),
        .l-form-row:has(.oka-checkbox):has(+ * + .l-form-row){
            //border:1px solid blue;
            //max-width:33%;
        }
        */
    }
}