---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';


const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/secteur/mosaic/*.{png,jpg,jpeg,gif}')
// Convertir l'objet en tableau et mélanger
const shuffledImages = Object.keys(images).sort(() => Math.random() - 0.5);

---
<style>
    .mosaic {
        columns: 5;
        gap: 1.5rem;
        padding:0;
    }
    </style>
<section  id="album" class="mosaic">

    <p class="oka-data -sm -crop"><strong>Les différents instants de votre quotidien ou vous pouvez retrouver les traces de Hokoha.</strong></p>


    {shuffledImages.map((imagePath) => {

        // Extraire le nom de l'image à partir du chemin
        const imageName = imagePath.split('/').pop().split('.')[0]; // Récupère le nom sans extension

        // Générer une classe aléatoirement
        const hasMixBlend = Math.random() < 1; // 80 % de probabilité d'ajouter la classe 'nette'

        return (
        <div class={`item ${hasMixBlend ? '-mixBlend' : ''}`} >   
        
            <Image src={images[imagePath]()} alt={`Hokoha Développement : ${imageName}`} />
            <p class="oka-data -xs">{imageName}</p>
        </div> 
        );
    
    })}


</section>