---
import PolygoneFlipProg from "../../../../components/commun/polygones/PolygoneFlipProg.astro";
---

<div id="grilleTagsWeb" class="sok-offre__grid hex-grid -hidden" data-rows="3" data-cols="4" data-ratio="0.2" data-appeargroup>

  <!-- Polygone Solutions web -->
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-3.png" />
  <PolygoneFlipProg type="-web" colorBack="-ia" backText="Sécurité" />
  <PolygoneFlipProg type="-web" colorBack="-metier" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-2.jpg"/>
  
  <PolygoneFlipProg type="-web" colorBack="-iot" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-app" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" />
  <PolygoneFlipProg type="-web" colorBack="-web" backText="Solution Web"/>
  
  <PolygoneFlipProg type="-web" />
  <PolygoneFlipProg type="-web" colorBack="-iot" backText="Solution Web"/>
  <PolygoneFlipProg type="-web" colorBack="-web" imageUrl="/src/assets/images/ambiance/web/image-1.jpg"/>
  <PolygoneFlipProg type="-web" colorBack="-web" backText="..."/>
  
</div>


