//
//OMBRES
// par : https://tobiasahlin.com/blog/layered-smooth-box-shadows/
//
/**
| 4.0.0  | 25/10/2022 | Ombres pour DarkMode  / Supression des ombres spéciales inutilisées |
| 3.1.1  | 21/10/2021 | Ajout des petites Ombres |
| 3.1.0  | 03/06/2021 | Externalisation du Token de couleur |
| V3.0.0 |            | Nomage / Variables de colorisations |
*/

// ------------------------------------
// Token de colorisation
// La gestion des couleurs s'effectue via tokens SCSS : fichier oka-colors-tokens.scss

//$oka-color-shadow : var(--oka-color-app-bg-overlay);

// placeholder pour darkmode

%shadowOnDark {
    //box-shadow: none;
    //border:1px solid var(--oka-color-app-shadows);
}

$spread : -10px;


// ------------------------------------
// Layered box-shadows
// 2 shadows with 15% alpha
@mixin shadow-2{
    // box-shadow: 0 1px 1px oka-alpha($oka-color-shadow, 0.18),
    //             0 2px 2px oka-alpha($oka-color-shadow, 0.15)
    box-shadow: 0 1px 1px var(--spread , 0) var(--oka-color-app-shadows),
                0 2px 4px var(--spread , 0) var(--oka-color-app-shadows)
                         
}

.oka-shadow2,
.oka-shadow-2{
    @include shadow-2;

    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}



// ------------------------------------
//Layered box-shadows
// 3 shadows with 15% alpha
@mixin shadow-3{
    // box-shadow: 0 1px 1px oka-alpha($oka-color-shadow, 0.18),
    //             0 2px 2px oka-alpha($oka-color-shadow, 0.15),
    //             0 4px 4px oka-alpha($oka-color-shadow, 0.15),
    box-shadow: 0 1px 1px var(--spread , 0) var(--oka-color-app-shadows),
                0 2px 4px var(--spread , 0) var(--oka-color-app-shadows),
                0 4px 8px var(--spread , 0) var(--oka-color-app-shadows),
 
}

.oka-shadow3,
.oka-shadow-3{
    @include shadow-3;

    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}



// ------------------------------------
//Layered box-shadows
// 4 shadows with 15% alpha
@mixin shadow-4{
    // box-shadow: 0 1px 1px oka-alpha($oka-color-shadow, 0.18),
    //             0 2px 2px oka-alpha($oka-color-shadow, 0.15),
    //             0 4px 4px oka-alpha($oka-color-shadow, 0.15),
    //             0 8px 8px oka-alpha($oka-color-shadow, 0.15);
    box-shadow: 0 1px 1px var(--spread , 0) var(--oka-color-app-shadows),
                0 2px 4px var(--spread , 0) var(--oka-color-app-shadows),
                0 4px 8px var(--spread , 0) var(--oka-color-app-shadows),
                0 8px 16px var(--spread , 0) var(--oka-color-app-shadows);
}

.oka-shadow4,
.oka-shadow-4{
    @include shadow-4;

    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}


// Layered box-shadows
// gradually increasing offset/blur
@mixin shadow-5{
    // box-shadow: 0 1px 1px    oka-alpha($oka-color-shadow, 0.12),
    //             0 2px 2px    oka-alpha($oka-color-shadow, 0.12),
    //             0 4px 4px    oka-alpha($oka-color-shadow, 0.12),
    //             0 8px 8px    oka-alpha($oka-color-shadow, 0.12),
    //             0 16px 16px  oka-alpha($oka-color-shadow, 0.12);
    box-shadow: 0 1px 1px   var(--spread , 0) var(--oka-color-app-shadows),
                0 2px 4px   var(--spread , 0) var(--oka-color-app-shadows),
                0 4px 8px   var(--spread , 0) var(--oka-color-app-shadows),
                0 8px 16px  var(--spread , 0)  var(--oka-color-app-shadows),
                0 16px 32px var(--spread , 0) var(--oka-color-app-shadows);
}

.oka-shadow5,
.oka-shadow-5{
    @include shadow-5;

    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}



/* Function permet de calculer le offset y des ombres en rapport avec "spread" (décalage) */
@function yOffset($n , $spread) {
    @return calc($n - $spread);
}



// Layered box-shadows
// 6 shadows with 11% alpha
@mixin shadow-6 {

    box-shadow: 0 var(--y1) 1px   var(--spread) var(--oka-color-app-shadows),
                0 var(--y2) 4px   var(--spread) var(--oka-color-app-shadows),
                0 var(--y4) 8px   var(--spread) var(--oka-color-app-shadows),
                0 var(--y8) 16px  var(--spread) var(--oka-color-app-shadows),
                0 var(--y16) 32px var(--spread) var(--oka-color-app-shadows),
                0 var(--y32) 34px var(--spread) var(--oka-color-app-shadows);
}

.oka-shadow6,
.oka-shadow-6{

    $spread : 0px ;

    --y1 : #{yOffset(1px,$spread)};
    --y2 : #{yOffset(2px,$spread)};
    --y4 : #{yOffset(4px,$spread)};
    --y8 : #{yOffset(8px,$spread)};
    --y16 : #{yOffset(16px,$spread)};
    --y32 : #{yOffset(32px,$spread)};

    --spread : #{$spread};

    @include shadow-6;

    &.-spreadSm{

        $spread : -16px ;

        --y1 : #{yOffset(1px,$spread)};
        --y2 : #{yOffset(2px,$spread)};
        --y4 : #{yOffset(4px,$spread)};
        --y8 : #{yOffset(8px,$spread)};
        --y16 : #{yOffset(16px,$spread)};
        --y32 : #{yOffset(32px,$spread)};

        --spread : #{$spread};
    }
    
    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}


  
  
  
@mixin shadow-inset{
    //   box-shadow: inset 0 1px 1px oka-alpha($oka-color-shadow, 0.11),
    //               inset 0 2px 2px oka-alpha($oka-color-shadow, 0.11),
    //               inset 0 4px 4px oka-alpha($oka-color-shadow, 0.11),
    //               inset 0 6px 8px oka-alpha($oka-color-shadow, 0.11);
    box-shadow: inset 0 1px 1px var(--oka-color-app-shadows),
                inset 0 2px 2px var(--oka-color-app-shadows),
                inset 0 4px 4px var(--oka-color-app-shadows),
                inset 0 6px 8px var(--oka-color-app-shadows);
 
}

.oka-shadowInset,
.oka-shadow-inset {
      @include shadow-inset;

    .oka-darkMode & {
        @extend %shadowOnDark; 
    }
}


