<article class="oka-avantages__card">
   <h4 class="oka-avantages__subtitle">une garantie</h4>
   <h4 class="oka-avantages__title">à vie</h4>

   <p class="oka-avantages__text">
      Lorem ipsum dolor sit amet consectetur.
   </p>
</article>