
/** OKA BADGES
//
| 0.0.2 | 01/09/2022 | ajout modifier info (corridor)  |
| 0.0.1 | 08/10/2021 | création (pottok)  |

*/


$oka-badge-border-color   : var(--color--accent) ;
$oka-badge-border-width   : 0 0 1px 0 ;
$oka-badge-border-style   : solid ;



.oka-badge {

    // TAILLE
    width:1rem;
    height:1rem;
    border-radius: 1rem;
    
    //
    outline-width: $oka-badge-border-width ;
    outline-style: $oka-badge-border-width ;
    outline-color: $oka-badge-border-color ;

    // ANIMATION D'APPARITION
    animation: oka-pulse 0.13s linear;


    //background:var(--color--skeleton);
    background: var(--oka-badge-color);

    // MODIFIERS : ASPECT
    &--warning,
    &.-warning {
        --oka-badge-color :var(--oka-color-feedback-warning-base , var(--color--warning)); 
        //background:var(--oka-color-feedback-warning-base , var(--color--warning));
    }

    &--error,
    &.-error {
        --oka-badge-color :var(--oka-color-feedback-error-base , var(--color--error)); 
        //background:var(--oka-color-feedback-error-base , var(--color--error));
    }

    &--success,
    &.-success {
        --oka-badge-color :var(--oka-color-feedback-success-base , var(--color--success)); 
        //background:var(--oka-color-feedback-success-base , var(--color--success));
    }

    &--info,
    &.-info {
        --oka-badge-color :var(--oka-color-feedback-info-base , var(--color--info)); 
        //background:var(--oka-color-feedback-info-base , var(--color--info));
    }

    // MODIFIERS : SIZE

    &--xs,
    &.-xs {
        width:0.5rem;
        height:0.5rem;
        border-radius: 0.5rem;
    }

    &--sm,
    &.-sm {
        width:0.75rem;
        height:0.75rem;
        border-radius: 0.75rem;
    }


    // MODIFIER  : ANIMATION
    &.-pulse {
        //@extend .oka-pulse;
        
        animation: pulse 2s infinite;
    }
    
    @keyframes pulse {
        0% {
            //box-shadow: 0 0 0 0px rgba(255,0,0, 0.5);
            box-shadow: 0 0 0 0 var(--oka-badge-color);
        }
        100% {
            box-shadow: 0 0 0 1rem rgba(255,0,0, 0);
        }
    }
}
     