---
// ===== Layout =====
import Layout from "../layouts/Layout.astro";

// ===== GLobalStyles =====
import GlobalStyles from '../components/commun/GlobalStyles.astro';

// ===== Componsants de la page =====
import MediaWrapper from '../components/commun/MediaWrapper.astro';
import ImageSok from "../components/commun/ImageSok.astro";
import Footer from "../components/commun/Footer.astro";

// ===== Composants d'animations =====
import RevealText from "../animations/RevealText.astro";
// ===== Fichiers Markdown =====
import * as titreGlobal from "../contenus/equipe/titre-global.md";
import * as paragrapheHistoire from "../contenus/equipe/paragraphe-histoire.md";

import * as titreEquipe from "../contenus/equipe/titre-equipe.md";
import * as paragrapheEquipe from "../contenus/equipe/paragraphe-equipe.md";

import * as titreFormation from "../contenus/equipe/titre-formation.md";
import * as paragrapheFormation from "../contenus/equipe/paragraphe-formation.md";

import * as titreHommage from "../contenus/equipe/titre-hommage.md";
import * as paragrapheHommage from "../contenus/equipe/paragraphe-hommage.md";

// Props pour le conteu de meta:description
const { descContent = "lorem ipsum" } = Astro.props;
---

<Layout title="Page Équipe" description={descContent}>
  <div class="oka-appWrap oka-lightMode oka-surface">
    <!-- ===== Section Histoire ===== -->
    <section class="_ctnr-inline">
      <div class="flex-grid">
        <div class="oka-spacer -xxl"></div>
        <!-- <div class="oka-spacer -xl"></div> -->

        <div class="col col-1"></div>

        <div class="col col-14">
          <RevealText>
            <titreGlobal.Content />
          </RevealText>

          <div class="oka-spacer -xl"></div>

          <div class="oka-cols -two">
            <div class="sok-gerants">
              <article class="sok-gerants__card">
                <figure class="sok-gerants__img">
                  <ImageSok
                    imagePath="/src/assets/images/equipe/gerants/Laurent-Costaouec.png"
                    altText="kevin"
                  />
                </figure>

                <div class="sok-gerants__infos">
                  <h3 class="oka-h -sm">Laurent Costaouec</h3>
                  <span class="oka-text -lg">Co-Fondateur / Co-Gérant</span>
                </div>
              </article>

              <article class="sok-gerants__card">
                <figure class="sok-gerants__img">
                  <ImageSok
                    imagePath="/src/assets/images/equipe/gerants/Franck-Hortala.png"
                    altText="kevin"
                  />
                </figure>

                <div class="sok-gerants__infos">
                  <h3 class="oka-h -sm">Frank Hortola</h3>
                  <span class="oka-text -lg">Co-Fondateur / Co-Gérant</span>
                </div>
              </article>

              <article class="sok-gerants__card">
                <figure class="sok-gerants__img">
                  <ImageSok
                    imagePath="/src/assets/images/equipe/gerants/Yann-Lorgueilleux.png"
                    altText="kevin"
                  />
                </figure>

                <div class="sok-gerants__infos">
                  <h3 class="oka-h -sm">Yann Lorgueilleux</h3>
                  <span class="oka-text -lg">Co-Gérant</span>
                </div>
              </article>
            </div>

            <div class="sok-t-wrapper -first">
              <div class="sok-t-paragraph">
                <paragrapheHistoire.Content />
              </div>
            </div>
          </div>
        </div>

        <div class="oka-spacer -xxl"></div>
      </div>
    </section>
  </div>

  <div class="oka-appWrap oka-lightMode oka-surface">
    <!-- ===== Section Histoire ===== -->
    <section class="_ctnr-inline">
      <div class="flex-grid">
        <!-- <div class="oka-spacer -xl"></div> -->
        <div class="col col-1"></div>

        <div class="col col-14">
          <!-- === Partie équipe === -->
          <div class="oka-cols -two">
            <div class="sok-t-wrapper">
              <div class="sok-t-content">
                <RevealText>
                  <titreEquipe.Content />
                </RevealText>

                <div class="sok-t-paragraph">
                  <paragrapheEquipe.Content />
                </div>

                <div class="oka-spacer -sm"></div>

                <button class="oka-bt -lg">
                  <div class="oka-bt__lbl">call to action</div>
                  <div class="oka-spinner"></div>
                </button>
              </div>
            </div>

            <MediaWrapper ratio="16/9" radius="sm">
              <ImageSok imagePath="/src/assets/images/equipe/equipe.jpg" altText="photo de l'équipe Hokoha" />
            </MediaWrapper>
          </div>

          <div class="oka-spacer -xxl"></div>

          <!-- === Partie "formation" === -->
          <div class="oka-cols -two">
            <div class="sok-t-wrapper -third">
              <div class="sok-t-content">
                <RevealText>
                  <titreHommage.Content />
                </RevealText>

                <div class="sok-t-paragraph">
                  <paragrapheHommage.Content />
                </div>
              </div>
            </div>

            <div class="sok-t-wrapper -fourth">
              <div class="sok-t-content">
                <RevealText>
                  <titreFormation.Content />
                </RevealText>

                <div class="sok-t-paragraph">
                  <paragrapheFormation.Content />
                </div>

                <div class="oka-spacer -sm"></div>

                <button class="oka-bt -lg">
                  <div class="oka-bt__lbl">call to action</div>
                  <div class="oka-spinner"></div>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="oka-spacer -xxl"></div>
      </div>
    </section>
  </div>
  
  <!-- <div slot="Footer">
    <Footer modifier="-grey" />
  </div> -->
</Layout>

<!-- === GobalStyles === -->
<GlobalStyles/>

<style lang="scss">
    @use "../styles/oka-design-system/0-abstracts/breakpoints/breakpoints" as *;  
  
  // Base
  .oka-text {
    text-align: justify;

    @include breakpoint(sm) {
      text-align: start;
    }
  }
  
  .-two {
    gap: 2rem
  }

  .sok-t-wrapper {
    // Paragraphe Histoire
    &.-first {
      justify-content: end;
    }

    // Partie Hommage
    &.-third {
      align-items: end;

      .sok-t-paragraph {
        max-width: 500px;
      }
    }

    // Partie Formation
    &.-fourth {
      justify-content: end;
    }
  }

  .sok-gerants {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__img {
      // width: 400px;
      height: 150px;
      aspect-ratio: 4 / 3;
      margin: 0;
      border: 2px solid red;
    }
  }
</style>