---
// ===== Layout =====
// import Layout from '../../layouts/Layout.astro';
import Layout from '../layouts/Layout.astro';
// ===== Composants de la page =====
import VideoSok from '../components/commun/VideoSok.astro';
import ImageSok from '../components/commun/ImageSok.astro';
import Marquee from '../components/commun/marquee/Marquee.astro';
import MarqueeItem from '../components/commun/marquee/MarqueeItem.astro';

// ===== Composants d'animations =====
// import RevealText from '../../animations/RevealText.astro';
import RevealText from '../animations/RevealText.astro';

// ===== Fichiers Markdown =====
import * as paragrapheHero from "../contenus/projets/hibou/paragraphe-hero.md"
import * as paragraphe from "../contenus/projets/hibou/paragraphe.md"
---

<Layout title="22 - Hibou">
   <!-- ===== Hero Section ===== -->
  <div class="oka-appWrap">
    <section class="_ctnr-inline"> 

      <div class="flex-grid">
        <div class="col col-1"></div>

        <div class="col col-14">
          <div class="oka-spacer -xxl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div class="sok-t-wrapper -first">
              <div class="sok-t-content">
                <RevealText>
                  <h1 class="oka-h -xl">22 - Hibou</h1>
                </RevealText>
              </div>
            </div>

            <div class="sok-t-wrapper -second">
              <div class="sok-t-content">

                <div class="sok-t-paragraph">
                  <paragrapheHero.Content />
                </div>
                
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
  </div>
  
  <div class="oka-appWrap">
    <section class="_ctnr-inline">
      <div class="oka-spacer -xl" aria-hidden="true"></div>
      <!-- <div class="oka-spacer -xl" aria-hidden="true"></div> -->
      
      <div class="flex-grid">
        <div class="col col-1"></div>
  
        <div class="col col-14">
          <div class="video-container">
            <VideoSok srcVideo="/src/assets/images/realisations/Hibou/Hibou.mp4" typeVideo="mp4"/>
          </div>

          <div class="oka-spacer -xl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div class="sok-t-wrapper -third">
              <div class="sok-t-content">

                <div class="sok-t-paragraph">
                  <paragraphe.Content />
                </div>

              </div>
            </div>

            <div class="image-container">
              <ImageSok imagePath="/src/assets/images/realisations/Hibou/image-1.jpeg" altText="photo de l'équipe Hokoha" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="oka-spacer -xl" aria-hidden="true"></div>
      <div class="oka-spacer -xl" aria-hidden="true"></div>
    </section>
  </div>
  
  <div class="oka-appWrap">
    <section>
      <div class="flex-grid">
        <div class="col col-1"></div>
        
        <div class="col col-14">
          <RevealText>
            <h2 class="oka-h -lg">Lorem ipsum dolor sit amet consectetur.</h2>
          </RevealText>
          
          <div class="oka-spacer -lg" aria-hidden="true"></div>
          
          <!-- Ajout d'un composant marquee -->
          <Marquee direction="-normal">
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="false"/>

            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="true"/>

            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="true"/>
          </Marquee>
          
          <div class="oka-spacer -lg" aria-hidden="true"></div>

          <Marquee direction="-reverse">
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="false"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="false"/>

            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="true"/>

            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/php.png" altImage="PHP" texte="PHP" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Javascript.png" altImage="Javascript" texte="Javascript" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Symfony.png" altImage="symfony" texte="symfony" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MongoDB.png" altImage="MongoDB" texte="MongDB" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/CSS.png" altImage="CSS" texte="CSS" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/MySql.png" altImage="MySql" texte="MySql" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/OPENAI.png" altImage="Open AI" texte="Open AI" hidden="true"/>
            <MarqueeItem modifier="-colD -no-text" srcImage="/src/assets/images/technologie/Android.png" altImage="android" texte="Android" hidden="true"/>
          </Marquee>
        </div>
      </div>

      <div class="oka-spacer -xxl" aria-hidden="true"></div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .sok-t-wrapper {
    display: flex;

    .sok-t-content,
    .sok-t-paragraph {
        width: 100%;
    }

    .sok-t-content {
        max-width: 700px;
    }

    .sok-t-paragraph {
        max-width: 680px;
    }

    // Titre Hero
    &.-first {
      align-items: end;
    }

    // Paragraph Hero
    &.-second {
      justify-content: end;
    }

    // Paragraph projet
    &.-third {
      align-items: end;
    }
  }

  .video-container {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: .5rem;
    overflow: hidden;
  }

  .image-container {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: .5rem;
    overflow: hidden;
  }
</style>