---
// ===== Layout =====
// import Layout from '../../layouts/Layout.astro';
import Layout from '../layouts/Layout.astro';
// ===== Composants de la page =====
import VideoSok from '../components/commun/VideoSok.astro';
import ImageSok from '../components/commun/ImageSok.astro';

// ===== Composants d'animations =====
// import RevealText from '../../animations/RevealText.astro';
import RevealText from '../animations/RevealText.astro';
---

<Layout title="Page cas client">
   <!-- ===== Hero Section ===== -->
  <div class="oka-appWrap">
    <section class="_ctnr-inline"> 

      <div class="flex-grid">
        <div class="col col-1"></div>

        <div class="col col-14">
          <div class="oka-spacer -xxl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div>
              <RevealText>
                <h1 class="oka-h -xl">XX - Projet</h1>
              </RevealText>
            </div>
    
            <p class="oka-text -lg">
              Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
              tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
            </p>
          </div>

          <div class="oka-spacer -md"></div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="oka-appWrap">
    <section class="_ctnr-inline">
      <div class="oka-spacer -xl" aria-hidden="true"></div>
      
      <div class="flex-grid">
        <div class="col col-1"></div>
  
        <div class="col col-14">
          <div class="video-container">
            <VideoSok srcVideo="/src/assets/videos/Hercule.mp4" typeVideo="mp4" ctrlVideo="controls" playVideo="autoplay"/>
          </div>

          <div class="oka-spacer -xl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two -gap">
            <p class="oka-text -lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non tenetur neque accusantium. Hic, soluta ipsa, esse quidem aperiam obcaecati nostrum doloremque ratione nobis, incidunt ut explicabo error exercitationem distinctio.
            </p>

            <!-- <p class="oka-text -lg">
              Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
              tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
            </p> -->

            <div class="image-container">
              <ImageSok src="/src/assets/images/realisations/XX - Hibou/hibou.jpeg" alt="image du projet"/>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="oka-spacer -xxl" aria-hidden="true"></div>
      <div class="oka-spacer -xxl" aria-hidden="true"></div>
    </section>
  </div>
  
  <div class="oka-appWrap">
    <section>
      <div class="flex-grid">
        <div class="col col-1"></div>
        
        <div class="col col-14">
          <RevealText>
            <h2 class="oka-h -lg">Lorem ipsum dolor sit amet consectetur. </h2>
          </RevealText>
          
          <!-- Ajout d'un composant marquee -->


        </div>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .video-container {
    width: 100%;
    aspect-ratio: 16/9;
    // background-color: red;
    border: 1px solid var(--oka-color-bd-minimal);
    border-radius: .5rem;
    overflow: hidden;
  }

  .image-container {
    background-color:  red;
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: .5rem;
    overflow: hidden;
  }

  .-gap p{
    margin-right: 50px;
  }
</style>