---
// ===== Layout =====
// import Layout from '../../layouts/Layout.astro';
import Layout from '../layouts/Layout.astro';
// ===== Composants de la page =====
import VideoSok from '../components/commun/VideoSok.astro';
import ImageSok from '../components/commun/ImageSok.astro';

// ===== Composants d'animations =====
// import RevealText from '../../animations/RevealText.astro';
import RevealText from '../animations/RevealText.astro';

// ===== Fichiers Markdown =====
import * as paragrapheHero from "../contenus/projets/hibou/paragraphe-hero.md"
import * as paragraphe from "../contenus/projets/hibou/paragraphe.md"
---

<Layout title="Projet Hibou">
   <!-- ===== Hero Section ===== -->
  <div class="oka-appWrap">
    <section class="_ctnr-inline"> 

      <div class="flex-grid">
        <div class="col col-1"></div>

        <div class="col col-14">
          <div class="oka-spacer -xxl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div class="text-wrapper">
              <RevealText>
                <h1 class="oka-h -xl">22 - Hibou</h1>
              </RevealText>
            </div>

            <div>
              <paragrapheHero.Content />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="oka-appWrap">
    <section class="_ctnr-inline">
      <div class="oka-spacer -xl" aria-hidden="true"></div>
      <!-- <div class="oka-spacer -xl" aria-hidden="true"></div> -->
      
      <div class="flex-grid">
        <div class="col col-1"></div>
  
        <div class="col col-14">
          <div class="video-container">
            <VideoSok srcVideo="/src/assets/images/realisations/Hibou/Hibou.mp4" typeVideo="mp4"/>
          </div>

          <div class="oka-spacer -xl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div class="text-wrapper">
              <paragraphe.Content />
            </div>

            <div class="image-container">
              <ImageSok imagePath="/src/assets/images/realisations/Hibou/image-1.jpeg" altText="photo de l'équipe Hokoha" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="oka-spacer -xl" aria-hidden="true"></div>
      <div class="oka-spacer -xl" aria-hidden="true"></div>
    </section>
  </div>
  
  <div class="oka-appWrap">
    <section>
      <div class="flex-grid">
        <div class="col col-1"></div>
        
        <div class="col col-14">
          <RevealText>
            <h2 class="oka-h -lg">Lorem ipsum dolor sit amet consectetur. </h2>
          </RevealText>
          
          <!-- Ajout d'un composant marquee -->


        </div>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .text-wrapper {
    display: flex;
    align-items: end;
    margin-right: 7rem;
  }

  .video-container {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: .5rem;
    overflow: hidden;
  }

  .image-container {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: .5rem;
    overflow: hidden;
  }
</style>