
---
// Ceci est une section "frontmatter" Astro pour importer des composants ou ajouter de la logique JavaScript
import LayoutClassic from '../layouts/LayoutClassic.astro'; // Import du layout

// Composants
import Hero from '../components/home/Hero.astro';
import Argument from '../components/home/Argument.astro';
import NewsWidget from '../components/news/NewsWidget.astro'; // Importer le widget des actualités

---

<LayoutClassic title="À propos">

  <Argument
    title="Nous développons et interconnectons vos outils."
    body="HOKOHA est une société de développement informatique ayant pour ambition de rendre les technologies numériques plus accessibles, en développant des solutions simples, efficaces et adaptées à l’usage des entreprises qu’elle rencontre."
  />
  <div class="oka-spacer -xl"></div>
  <Argument
    title="Nous concrétisons vos innovations et relevons vos défis."
    body=""
  />
  <div class="oka-spacer -xl"></div>
  <Argument
    title="Nous collectons vos données et nous les valorisons."
    body=""
  />
  <div class="oka-spacer -xl"></div>

  <!-- Intégration du widget des actualités -->
  <NewsWidget />


  <!-- "Hero" -->
  <div slot="hero">
    <Hero />
  </div>


</LayoutClassic>
   
          