---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';
// ===== Components =====
import Hero from "../components/accueil/Hero.astro";
import Offres from "../components/accueil/Offres.astro";
import SavoirFaire from "../components/accueil/SavoirFaire.astro";
import Entreprise from "../components/accueil/Entreprise.astro";
import Avantages from '../components/commun/Avantages.astro';
import Avantage from '../components/commun/Avantage.astro';
import Innover from '../components/accueil/Innover.astro';
---

<Layout title="Page Accueil">
	<Hero />
	<Offres />
	
	<!-- <div class="oka-spacer  -xxl" aria-hidden="true"></div>
	<div class="oka-spacer  -xxl" aria-hidden="true"></div> -->
	<SavoirFaire />
	<div class="oka-spacer  -xxl" aria-hidden="true"></div>
	
<!-- <Innover /> -->
 
	<Entreprise />

	<Avantages>
		<Avantage subtitle="acccompagnement" title="360°" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="développement au" title="forfait" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="une garantie" title="à vie" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="satisfaction client" title="100%" text="Lorem ipsum dolor sit amet consectetur." />
	</Avantages>
</Layout>
