---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';

// ===== GLobalStyles =====
import GlobalStyles from '../components/commun/GlobalStyles.astro';

// ===== Componsants de la page =====
import Hero from "../components/accueil/Hero.astro";
import Offres from "../components/accueil/Offres.astro";
// import SavoirFaire from "../components/accueil/SavoirFaire.astro";
import SavoirFaire from "../components/accueil/savoir-faire/test2/SavoirFaire.astro";
import Entreprise from "../components/accueil/Entreprise.astro";
import Avantages from '../components/commun/avantages/Avantages.astro';
import Avantage from '../components/commun/avantages/Avantage.astro';
import Innover from '../components/accueil/Innover.astro';

// Props pour le conteu de meta:description
const { descContent = "lorem ipsum" } = Astro.props;
---

<Layout title="Page Accueil" description={descContent}>
	<Hero />
	<Offres />
	
	<!-- <div class="oka-spacer  -xxl" aria-hidden="true"></div>
	<div class="oka-spacer  -xxl" aria-hidden="true"></div> -->
	<SavoirFaire />
	
	<!-- <Innover />	 -->

	<Entreprise />

	<div class="oka-appWrap">
		<Avantages>
			<Avantage subtitle="acccompagnement" title="360°" text="Lorem ipsum dolor sit amet consectetur." />
			<Avantage subtitle="développement au" title="forfait" text="Lorem ipsum dolor sit amet consectetur." />
			<Avantage subtitle="une garantie" title="à vie" text="Lorem ipsum dolor sit amet consectetur." />
			<Avantage subtitle="satisfaction client" title="100%" text="Lorem ipsum dolor sit amet consectetur." />
		</Avantages>
	</div>
</Layout>

<!-- === GobalStyles === -->
<GlobalStyles/>
