
---
// Layout
import LayoutClassic from '../layouts/LayoutClassic.astro'; 

// Composants
import Typper from '../animations/Typper.astro';
//import Hero from '../components/home/Hero.astro';
import OkaImage from '../components/Image.astro';
import logoImageImport from '../assets/img/Logokoha-primary-onlight.png';
import img1 from '../assets/img/entreprise/mosaic/JPEG/perspective.jpg';
//import img1 from '../assets/img/entreprise/mosaic/JPEG/kevinA.jpg';


import Argument from '../components/home/Argument.astro';
import Focus from '../components/home/Focus.astro';
import ClientsWidget from '../components/clients/ClientsSwiper.astro';
import NewsWidget from '../components/news/NewsWidget.astro';
import NextPage from '../components/Nextpage.astro';

// Pour menu Focus
const pageName = "Accueil";
const pageClass = "accueil";
---

<LayoutClassic 
  title="Développement informatique" 
  description="Découvrez Hokoha, société lavalloise experte en développement sur-mesure de logiciels, applications web et mobiles. Répondez aux besoins spécifiques de votre entreprise avec pragmatisme et efficacité."
  pageName={pageName}
  pageClass={pageClass}
  >

  <div class="flex-grid" >
    <div class="col col-1 oka-show--lg"></div>
    <div class="col col-14">
      <div class="oka-spacer -xl"></div>


      <h1 class="oka-h -poster -crop -secondary">
        <Typper text='La précision du <span class="noto-serif">développement sur-mesure</span>.' />
      </h1>


      <hr class="oka-divider -lg " />

    </div>

  </div>

  
  
  <div class="flex-grid" >
    <div class="col col-1 oka-show--lg"></div>

    <div class="col col-5">
    
      <div class="sticky -top30vh">

        <OkaImage src={logoImageImport} 
                    alt="Logotype de la société Hokoha Développement informatique" 
                    imgHeight="80"
                    imgWidth="418" 
                    className="oka-hero__logo" 
                />
        <div class="oka-spacer -md"></div>
        <h2 class="oka-h -secondary -sm -crop">La société HOKOHA est spécialisée dans le <mark class="hx hx-13"><span class="hx__select"></span>développement</mark> informatique <mark class="hx hx-13"><span class="hx__select"></span>sur mesure</mark>, dédiée à rendre les technologies numériques accessibles et performantes pour les entreprises.</h2>
        <div class="oka-spacer -xl"></div>
        
        <!-- <OkaImage src={img1} 
                    alt="Logotype de la société Hokoha Développement informatique" 
                    imgHeight="800"
                    imgWidth="800" 
                    className="" 
                    style="width:100%; object-fit:cover;"
                /> -->
                
        
      
      
      
      </div>

    </div>
    
    <div class="col col-1"></div>
    <div class="col col-8">
        <div class="oka-spacer -xl"></div>
        <div class="oka-spacer -xl"></div>

        <Argument
          nb="1"
          theme="Notre métier"
          title="<span class='noto-serif'>Développer</span> et <br/><span class='noto-serif'>interconnecter</span> <span class='u-noLineBreak'>vos outils.</span>"
          body="Nous développons vos outils sur mesure et les interconnectons pour créer un écosystème numérique fluide et performant. Notre approche garantit une intégration harmonieuse, optimisant vos processus et renforçant l'efficacité de vos systèmes."
        />

        <Argument
          nb="2"
          theme="Notre objectif"
          title="Concrétiser vos <span class='noto-serif'>innovations</span><br /> et relever <span class='u-noLineBreak'><span class='noto-serif'>vos défis</span>.</span>"
          body="Nous concrétisons vos idées les plus innovantes en alliant <span>créativité et pragmatisme</span>. Chaque défi est pour nous une opportunité de proposer des solutions sur mesure, simples et efficaces, répondant parfaitement à vos besoins tout en stimulant l'innovation dans vos projets."
        />

       

        <Argument
          nb="3"
          theme="Notre métier"
          title="<span class='noto-serif'>Collecter, traiter</span><br /> et <span class='noto-serif'>valoriser</span> vos données."
          body="Nous collectons vos données avec précision et les valorisons pour en extraire tout leur potentiel. Grâce à une analyse rigoureuse et des solutions adaptées, nous transformons vos données en leviers de croissance et en outils d’aide à la décision efficaces."
        />
        
    </div>

   
  </div>

  <div class="oka-spacer -xl"></div>  
  <!-- <hr class="oka-divider "> -->
  <div class="oka-spacer -xl"></div>  


  <div class="flex-grid ">
    <div class="col col-1 oka-show--lg"></div>
    

    <div class="col col-5">

      <div class="-cq sticky -top30vh" >

        <h2 class="oka-h -xxl -secondary -crop">
          <Typper text="Solutions web" /><br />
          <Typper text="Logiciels métiers" /><br />
          <Typper text="Applications Mobiles" /><br />
          <Typper text="IoT Objets connectés" /><br />
          <Typper text="ERP Gestion d'entreprise" /> 
        </h2>

      </div>
    </div>


    <div class="col col-7">
      <!-- <div class="oka-spacer -xl"></div>  
      <div class="oka-spacer -xl"></div> -->


      
      <div class="zzsticky zz-top8" style="margin-top:50vh" data-appearup >
        <p class="oka-text -lg">Nous concevons des solutions innovantes et personnalisées, parfaitement alignées avec les besoins spécifiques de chaque client. Notre engagement se traduit par des solutions au forfait, optimisant vos outils et intégrant harmonieusement vos systèmes existants pour améliorer l'efficacité globale de vos processus métiers.</p>
      </div>
    </div>

 

    
  </div>

  <div class="oka-spacer -xl"></div>
  
  <div class="flex-grid">
    <div class="col col-1 oka-show--lg"></div>
    <div class="col col-14">
     

        <div class="oka-cols -four oka-darkMode">

    <Focus
      title="Accompagnement"
      body="360°"
      baseLine="Vous n’êtes jamais seul."
      baseLineMini=""
    />
    
    <Focus
      title="développement au"
      body="forfait"
      baseLine="Sans surprise, comme convenu."
      baseLineMini=""
    />

    <Focus
      title="une garantie"
      body="à vie"
      baseLine=""
      baseLineMini="Maintenance corrective garantie durant toute la durée d’exécution de votre contrat de maintenance."
    />

    <Focus
      title="fidélité client"
      body="100%"
      baseLine=""
      baseLineMini="Indice calculé sur le CA des clients ayant manifesté une suite à leur projet."
    />
  </div>


    </div>
  </div>


  

  <div class="oka-spacer -xl"></div>


  <ClientsWidget />

  <!-- Intégration du widget des actualités -->
  <!-- <NewsWidget /> -->


<div class="link-underline"><div class="oka-h -secondary -lg">link underline</div></div>
<br />

<style>




.link-underline {
    --color-dotteds-rgb : rgba(0,0,0,0.15);
    position: relative;
    text-decoration: none; /* Retire l'underline par défaut */

    border-bottom:1px solid rgba(0,0,0,0.15);
    
}

.link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Place la ligne juste sous le texte */
    width: 100%;
    height: 2px; /* Épaisseur de la ligne */
    background-color: currentColor; /* Utilise la couleur du texte */
    transform: scaleX(0); /* Cache la ligne par défaut */
    transform-origin: bottom right; /* Point de départ de l'animation */
    transition: transform .6s cubic-bezier(.075,.82,.165,1);/* Animation douce */
}

.link-underline:hover::after {
    transform: scaleX(1); /* Affiche la ligne de gauche à droite au survol */
    transform-origin: bottom left; /* L'animation se déroule de gauche à droite */
}
</style>



  <!-- "Hero" -->
  <div slot="hero">
    <!-- <Hero /> -->
  </div>

  
  <!-- "Next" -->
  <div slot="next">
    <NextPage
      titre="Société HOKOHA, l'entreprise"
      contenu="Découvrez comment notre expertise peut transformer vos projets numériques."
      url="/site-hokoha/entreprise"
      bouton="En savoir plus sur HOKOHA"
      image=""
    />
  </div>





</LayoutClassic>
   
          