---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';

// ===== GLobalStyles =====
import GlobalStyles from '../components/commun/GlobalStyles.astro';

// ===== Componsants de la page =====
import Grid from "../components/commun/grid.astro";
import Hero from "../components/accueil/Hero.astro";
import Offres from "../components/accueil/Offres.astro";
import SavoirFaire from "../components/accueil/SavoirFaire.astro";
import Entreprise from "../components/accueil/Entreprise.astro";
import Avantages from '../components/commun/avantages/Avantages.astro';
import Avantage from '../components/commun/avantages/Avantage.astro';
import Innover from '../components/accueil/Innover.astro';

// Props pour le conteu de meta:description
const { descContent = "lorem ipsum" } = Astro.props;
---

<Layout title="Page Accueil" description={descContent}>
	<!-- <Grid /> -->
	<Hero />
	<Offres />
	
	<SavoirFaire />
	
	<!-- <Innover />	 -->

	<Entreprise />

	<div class="oka-appWrap -fluid">
   
		<section class="flex-grid sok-avantages">
			<div class="oka-spacer -xl" aria-hidden="true"></div>

			<div class="col col-1"></div>
			
			<div class="col col-14">
				<h2 class="oka-h -xl">
					Lorem ipsum dolor sit amet consectetur 
					elementum magna odio.
				</h2>

				<div class="oka-spacer -lg" aria-hidden="true"></div>

				<Avantages>
					<Avantage title="Développement au forfait" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M8.00008 6V9H5.00008V6H8.00008ZM3.00008 4V11H10.0001V4H3.00008ZM13.0001 4H21.0001V6H13.0001V4ZM13.0001 11H21.0001V13H13.0001V11ZM13.0001 18H21.0001V20H13.0001V18ZM10.7072 16.2071L9.29297 14.7929L6.00008 18.0858L4.20718 16.2929L2.79297 17.7071L6.00008 20.9142L10.7072 16.2071Z" />
					<Avantage title="Accompagnement 360°" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H16C16 18.6863 13.3137 16 10 16C6.68629 16 4 18.6863 4 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM10 11C12.21 11 14 9.21 14 7C14 4.79 12.21 3 10 3C7.79 3 6 4.79 6 7C6 9.21 7.79 11 10 11ZM18.2837 14.7028C21.0644 15.9561 23 18.752 23 22H21C21 19.564 19.5483 17.4671 17.4628 16.5271L18.2837 14.7028ZM17.5962 3.41321C19.5944 4.23703 21 6.20361 21 8.5C21 11.3702 18.8042 13.7252 16 13.9776V11.9646C17.6967 11.7222 19 10.264 19 8.5C19 7.11935 18.2016 5.92603 17.041 5.35635L17.5962 3.41321Z" />
					<Avantage title="Garantie à vie" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M3 12C3 10.067 4.567 8.5 6.5 8.5C7.7035 8.5 8.51959 8.9338 9.19914 9.61336C9.9255 10.3397 10.4851 11.3322 11.1258 12.4856L11.1595 12.5462C11.7605 13.6283 12.4431 14.8573 13.3866 15.8009C14.3946 16.8088 15.7035 17.5 17.5 17.5C20.5376 17.5 23 15.0376 23 12C23 8.96243 20.5376 6.5 17.5 6.5C15.8394 6.5 14.3508 7.2359 13.3423 8.39937C13.7887 9.05406 14.1574 9.70577 14.464 10.2574C15.0681 9.20718 16.2014 8.5 17.5 8.5C19.433 8.5 21 10.067 21 12C21 13.933 19.433 15.5 17.5 15.5C16.2965 15.5 15.4804 15.0662 14.8009 14.3866C14.0745 13.6603 13.5149 12.6678 12.8742 11.5144L12.8405 11.4538C12.2395 10.3717 11.5569 9.14265 10.6134 8.19914C9.60541 7.1912 8.2965 6.5 6.5 6.5C3.46243 6.5 1 8.96243 1 12C1 15.0376 3.46243 17.5 6.5 17.5C8.16056 17.5 9.64923 16.7641 10.6577 15.6006C10.2113 14.9459 9.84262 14.2942 9.53605 13.7426C8.93194 14.7928 7.79856 15.5 6.5 15.5C4.567 15.5 3 13.933 3 12Z" />
					<Avantage title="Satisfaction client 100%" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM7 12H9C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12H17C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12Z" />
				</Avantages>
			</div>
			
			<div class="oka-spacer -xl" aria-hidden="true"></div> 
		</section>
		
	</div>
</Layout>

<!-- === GobalStyles === -->
<GlobalStyles/>


<style lang="scss">
	.sok-avantages{
      background-color: var(--sok-color-underground);

		h2 {
			max-width: 900px;
		}
   }
</style>