---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';
// ===== Composants de la page =====

// ===== Composants d'animations =====
import RevealText from '../animations/RevealText.astro';
---

<Layout title="Page cas client">
   <!-- ===== Hero Section ===== -->
  <div class="oka-appWrap">
    <section class="_ctnr-inline"> 

      <div class="flex-grid">
        <div class="col col-1"></div>

        <div class="col col-14">
          <div class="oka-spacer -xxl" aria-hidden="true"></div>
          <div class="oka-spacer -xl" aria-hidden="true"></div>

          <div class="oka-cols -two">
            <div>
              <RevealText>
                <h1 class="oka-h -xl">XX - Projet</h1>
              </RevealText>
            </div>
    
            <p class="oka-text -lg">
              Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
              tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
            </p>
          </div>

          <div class="oka-spacer -xl"></div>
        </div>
      </div>
    </section>

    <section>
      
    </section>
    
    <div class="oka-appWrap">
      <section>
        <div class="oka-spacer -xl" aria-hidden="true"></div>
        
        <div class="flex-grid"></div>

        <div class="col col-1"></div>

        <div class="col col-14">
          <RevealText>
            <h2 class="oka-h -xl">Lorem ipsum dolor sit amet consectetur. </h2>
          </RevealText>

          <!-- Ajout d'un composant marquee -->

        </div>
  
      </section>
    </div>
  </div>


    <div>

    </div>

</Layout>