---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';
// Composants d'animations
import RevealText from '../animations/RevealText.astro';
---

<Layout title="Page cas client">
   <!-- ===== Hero Section ===== -->
    <section class="flex-grid">
      <div class="col col-1"></div>
      <div class="col col-8">
        <div class="oka-spacer -xl"></div>
        <RevealText>
          <h1 class="oka-h -xl">Lorem ipsum ac a scelerisquealiquam fames.</h1>
        </RevealText>

        <p class="oka-text -lg">
          Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
          tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
        </p>
      </div>
    </section>

    <div>

    </div>

</Layout>