---
import Layout from '../layouts/Layout.astro';
import Projets from '../components/realisations/Projets.astro';
import RevealText from '../components/commun/animations/RevealText.astro';
import Diversite from '../components/realisations/Diversite.astro';
---

  <Layout>
    <!-- ===== Hero Section ===== -->
    <section class="flex-grid">
      <div class="col col-1"></div>
      <div class="col col-10">
        <RevealText>
          <h1 class="oka-h -giant">Lorem ipsum ac a scelerisquealiquam fames.</h1>
        </RevealText>

        <p class="oka-text -lg">
          Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
          tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
        </p>
      </div>
    </section>

    <!-- ===== Réalisations Section -->
    <Projets />

    <div class="oka-spacer -xl"></div>
    
    <!-- ===== Diversités ===== -->
    <Diversite />
</Layout>
