---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';
// ===== Composants d'animations =====
import RevealText from '../animations/RevealText.astro';
// ===== Componsants de la page =====
import Projets from '../components/realisations/ProjetsTest.astro';
import Diversite from '../components/realisations/Diversite.astro';
import Avantages from "../components/commun/Avantages.astro";
import Avantage from "../components/commun/Avantage.astro";
---

  <Layout title="Page Réacomponents/lisations">
    <!-- ===== Hero Section ===== -->
    <section class="flex-grid sok-realisations">
      <div class="col col-1"></div>
      <div class="col col-8">
        <div class="oka-spacer -xl"></div>
        <RevealText>
          <h1 class="oka-h -xl">Lorem ipsum ac a scelerisquealiquam fames.</h1>
        </RevealText>

        <p class="oka-text -lg">
          Lorem ipsum dolor sit amet consectetur. Commodo dui diam in maecenas sed
          tincidunt fames bibendum varius. Arcu dolor a amet risus platea lacus.
        </p>
      </div>

      <!-- ===== Réalisations Section -->
      <Projets />

      <div class="oka-spacer -xl"></div>
    </section>

    
    <!-- ===== Diversités ===== -->
    <Diversite />
          
    
    <Avantages>
      <div class="oka-spacer -lg" aria-hidden="true"></div>

      <Avantage subtitle="développement au" title="forfait" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="une garantie" title="à vie" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="fidélitée client" title="100%" text="Lorem ipsum dolor sit amet consectetur." />
    </Avantages>

</Layout>