---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';

// ===== GLobalStyles =====
import GlobalStyles from '../components/commun/GlobalStyles.astro';

// ===== Componsants de la page =====
import Projets from '../components/realisations/Projets.astro';
import Diversite from '../components/realisations/Diversite.astro';
import Avantages from "../components/commun/avantages/Avantages.astro";
import Avantage from "../components/commun/avantages/Avantage.astro";
import Footer from '../components/commun/Footer.astro';

// ===== Composants d'animations =====
import RevealText from '../animations/RevealText.astro';

// ===== Fichiers Markdown =====
import * as titreHero from "../contenus/realisations/titre-hero.md";
import * as paragrapheHero from "../contenus/realisations/paragraphe-hero.md";

// Props pour le conteu de meta:description
const { descContent = "lorem ipsum" } = Astro.props;
---

  <Layout title="Page Réalisations" description={descContent}>
    <div class="oka-appWrap -fluid">
      <!-- ===== Hero Section ===== -->
      <section class="flex-grid">
        <div class="flex-grid">
          <div class="col col-1"></div>
          <div class="col col-8">
            <div class="oka-spacer -xl"></div>
  
            <RevealText>
              <titreHero.Content/>
            </RevealText>
  
            <div class="sok-t-paragraph">
              <paragrapheHero.Content/>
            </div>
  
          </div>
        </div>
  
        <div class="oka-spacer  -md" aria-hidden="true"></div>
       
        <!-- ===== Réalisations Section ===== -->
        <Projets />
  
        <div class="oka-spacer  -xl" aria-hidden="true"></div>
  
      </section>
    </div>
    
    <!-- ===== Diversités ===== -->
    <Diversite />
          
    <!-- ===== Avantages ===== -->
    <div class="oka-appWrap -fluid">
    
      <section class="flex-grid sok-avantages">
        <div class="oka-spacer -xl" aria-hidden="true"></div>

        <div class="col col-1"></div>
        
        <div class="col col-14">
          <!-- <h2 class="oka-h -xl">
            Lorem ipsum dolor sit amet consectetur 
            elementum magna odio.
          </h2>

          <div class="oka-spacer -lg" aria-hidden="true"></div> -->

          <Avantages>
            <Avantage title="Développement au forfait" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M8.00008 6V9H5.00008V6H8.00008ZM3.00008 4V11H10.0001V4H3.00008ZM13.0001 4H21.0001V6H13.0001V4ZM13.0001 11H21.0001V13H13.0001V11ZM13.0001 18H21.0001V20H13.0001V18ZM10.7072 16.2071L9.29297 14.7929L6.00008 18.0858L4.20718 16.2929L2.79297 17.7071L6.00008 20.9142L10.7072 16.2071Z" />
            <Avantage title="Garantie à vie" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M3 12C3 10.067 4.567 8.5 6.5 8.5C7.7035 8.5 8.51959 8.9338 9.19914 9.61336C9.9255 10.3397 10.4851 11.3322 11.1258 12.4856L11.1595 12.5462C11.7605 13.6283 12.4431 14.8573 13.3866 15.8009C14.3946 16.8088 15.7035 17.5 17.5 17.5C20.5376 17.5 23 15.0376 23 12C23 8.96243 20.5376 6.5 17.5 6.5C15.8394 6.5 14.3508 7.2359 13.3423 8.39937C13.7887 9.05406 14.1574 9.70577 14.464 10.2574C15.0681 9.20718 16.2014 8.5 17.5 8.5C19.433 8.5 21 10.067 21 12C21 13.933 19.433 15.5 17.5 15.5C16.2965 15.5 15.4804 15.0662 14.8009 14.3866C14.0745 13.6603 13.5149 12.6678 12.8742 11.5144L12.8405 11.4538C12.2395 10.3717 11.5569 9.14265 10.6134 8.19914C9.60541 7.1912 8.2965 6.5 6.5 6.5C3.46243 6.5 1 8.96243 1 12C1 15.0376 3.46243 17.5 6.5 17.5C8.16056 17.5 9.64923 16.7641 10.6577 15.6006C10.2113 14.9459 9.84262 14.2942 9.53605 13.7426C8.93194 14.7928 7.79856 15.5 6.5 15.5C4.567 15.5 3 13.933 3 12Z" />
            <Avantage title="Fidélitée client 100%" desc="Lorem ipsum dolor sit amet consectetur. Risus est ultricies pellentesque mi tempus." path="M11.8611 2.39057C12.8495 1.73163 14.1336 1.71797 15.1358 2.35573L19.291 4.99994H20.9998C21.5521 4.99994 21.9998 5.44766 21.9998 5.99994V14.9999C21.9998 15.5522 21.5521 15.9999 20.9998 15.9999H19.4801C19.5396 16.9472 19.0933 17.9102 18.1955 18.4489L13.1021 21.505C12.4591 21.8907 11.6609 21.8817 11.0314 21.4974C10.3311 22.1167 9.2531 22.1849 8.47104 21.5704L3.33028 17.5312C2.56387 16.9291 2.37006 15.9003 2.76579 15.0847C2.28248 14.7057 2 14.1254 2 13.5109V6C2 5.44772 2.44772 5 3 5H7.94693L11.8611 2.39057ZM4.17264 13.6452L4.86467 13.0397C6.09488 11.9632 7.96042 12.0698 9.06001 13.2794L11.7622 16.2518C12.6317 17.2083 12.7903 18.6135 12.1579 19.739L17.1665 16.7339C17.4479 16.5651 17.5497 16.2276 17.4448 15.9433L13.0177 9.74551C12.769 9.39736 12.3264 9.24598 11.9166 9.36892L9.43135 10.1145C8.37425 10.4316 7.22838 10.1427 6.44799 9.36235L6.15522 9.06958C5.58721 8.50157 5.44032 7.69318 5.67935 7H4V13.5109L4.17264 13.6452ZM14.0621 4.04306C13.728 3.83047 13.3 3.83502 12.9705 4.05467L7.56943 7.65537L7.8622 7.94814C8.12233 8.20827 8.50429 8.30456 8.85666 8.19885L11.3419 7.45327C12.5713 7.08445 13.8992 7.53859 14.6452 8.58303L18.5144 13.9999H19.9998V6.99994H19.291C18.9106 6.99994 18.5381 6.89148 18.2172 6.68727L14.0621 4.04306ZM6.18168 14.5448L4.56593 15.9586L9.70669 19.9978L10.4106 18.7659C10.6256 18.3897 10.5738 17.9178 10.2823 17.5971L7.58013 14.6247C7.2136 14.2215 6.59175 14.186 6.18168 14.5448Z" />
          </Avantages>
        </div>
        
        <div class="oka-spacer -xl" aria-hidden="true"></div> 
      </section>

    </div>
    <div class="oka-appWrap">
    </div>

    <!-- <div slot="Footer">
      <Footer modifier="-grey"/>
    </div> -->
</Layout>

<!-- === GobalStyles === -->
<GlobalStyles/>

<style lang="scss">
  section {
    // border-radius: var(--sok-radius-section) var(--sok-radius-section) 0 0  ;
  }

  .sok-avantages{
    background-color: var(--sok-color-underground);
  }
</style>