---
// ===== Layout =====
import Layout from '../layouts/Layout.astro';

// ===== Composants d'animations =====
import RevealText from '../animations/RevealText.astro';

// ===== Componsants de la page =====
import Projets from '../components/realisations/Projets.astro';
import Diversite from '../components/realisations/Diversite.astro';
import Avantages from "../components/commun/Avantages.astro";
import Avantage from "../components/commun/Avantage.astro";
import Footer from '../components/commun/Footer.astro';

// ===== Fichiers Markdown =====
import * as titreHero from "../contenus/realisations/titre-hero.md"
import * as paragrapheHero from "../contenus/realisations/paragraphe-hero.md"
---

  <Layout title="Page Réalisations">
    <!-- ===== Hero Section ===== -->
    <section class="flex-grid">
      <div class="flex-grid">
        <div class="col col-1"></div>
        <div class="col col-8">
          <div class="oka-spacer -xxl"></div>

          <RevealText>
            <titreHero.Content/>
          </RevealText>

          <div class="sok-t-paragraph">
            <paragrapheHero.Content/>
          </div>

        </div>
      </div>

      <div class="oka-spacer  -md" aria-hidden="true"></div>
     
      <!-- ===== Réalisations Section ===== -->
      <Projets />

      <div class="oka-spacer  -xl" aria-hidden="true"></div>

    </section>


    
    <!-- ===== Diversités ===== -->
    <Diversite />
          
    
    <Avantages>
      <Avantage subtitle="développement au" title="forfait" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="une garantie" title="à vie" text="Lorem ipsum dolor sit amet consectetur." />
      <Avantage subtitle="fidélitée client" title="100%" text="Lorem ipsum dolor sit amet consectetur." />
    </Avantages>

    <div slot="Footer">
      <Footer modifier="-grey"/>
    </div>
</Layout>

<style lang="scss">
  section {
    border-radius: var(--sok-radius-section) var(--sok-radius-section) 0 0  ;
  }

  .sok-t-paragraph {
    width: 100%;
    max-width: 680px;
  }
</style>