/* OKA MESSAGES 

| 5.0.0 | 24/05/2025 | Compatible design token 5  |
| 4.0.0 | 18/11/2022 | Figma compatible et rajout footer |
| 3.0.2 | 01/09/2022 | alignement vertical flex-start |
| 3.0.1 | 11/10/2021 | Revision taille du libellé / Paddings |
| 3.0.0 |     |  Nomage |
| 2.0.0 |     | |
*/

.oka-message{

    --oka-messages-color-bg: var(--oka-color-layer-floor-1 ,var(--oka-color-app-bg-default));
    --oka-messages-color-border: var(--oka-color-bd , var(--oka-color-app-border-default));
    --oka-messages-color-fg: var(--oka-color-fg , var(--oka-color-app-fg-default));
    --oka-messages-color-icon: var(--oka-color-fg , var(--oka-color-app-fg-default));

    &.-info{
        --oka-messages-color-border: var(--oka-color-bd-info , var(--oka-color-info-contrast-low));
        --oka-messages-color-fg: var(--oka-color-fg , var(--oka-color-info-contrast-hight));
        --oka-messages-color-icon: var(--oka-color-fg-info , var(--oka-color-info-contrast-medium));
    }

    &.-error{
        --oka-messages-color-border: var(--oka-color-bd-negative , var(--oka-color-error-contrast-low));
        --oka-messages-color-fg: var(--oka-color-fg , var(--oka-color-error-contrast-hight));
        --oka-messages-color-icon: var(--oka-color-fg-negative , var(--oka-color-error-contrast-medium));
    }

    &.-warning{
        --oka-messages-color-border: var(--oka-color-bd-warning , var(--oka-color-warning-contrast-low));
        --oka-messages-color-fg: var(--oka-color-fg , var(--oka-color-warning-contrast-hight));
        --oka-messages-color-icon: var(--oka-color-fg-warning , var(--oka-color-warning-contrast-medium));
    }

    &.-success{
        --oka-messages-color-border: var(--oka-color-bd-positive , var(--oka-color-success-contrast-low));
        --oka-messages-color-fg: var(--oka-color-fg , var(--oka-color-success-contrast-hight));
        --oka-messages-color-icon: var(--oka-color-fg-positive , var(--oka-color-success-contrast-medium));
    }

    min-width : 340px;
    min-height : 3.5rem;

    display:inline-flex;

    align-items: flex-start; //3.0.2

    padding: 0.5rem;
    margin : 0 0 1rem 0; // $space-stack-md;

    background: var(--oka-messages-color-bg);
    outline : 1px solid  var(--oka-messages-color-border);
    border-left:3px solid var(--oka-messages-color-border);
    border-radius:0.125rem;

    //@include shadow-sharp;
    @extend .oka-shadow-4;

    &__lbl {

        @extend %oka-data-sm; //3.0.2

        flex-grow:1;
        flex-shrink: 1 ;

        max-width:480px;
        margin-top:1rem; //3.0.2
        margin-right:0.5rem;
        margin-bottom:0.5rem; //3.0.2
       
        color: var(--oka-messages-color-fg);

        // Crop line Height 
        // https://medium.com/eightshapes-llc/cropping-away-negative-impacts-of-line-height-84d744e016ce
        //
        &:before {
            content: '';
            display: block;
            height: 0;
            width: 0;
            margin-bottom: -0.5rem;
        }
        //
        &:after {
            content: '';
            display: block;
            height: 0;
            width: 0;
            margin-top: -0.5rem;
        }
    }

    &__ico {
        margin-right:0.5rem;
        margin-top:0.5rem;
        align-self: flex-start;
        color: var(--oka-messages-color-icon);
        font-size:24px;
    }

    &__footer {
        margin-bottom: 0.5rem;
    }

    .oka-bt {
        margin-top: 0.25rem;
    }
}
