
// ==================================================
// UI HEADINGS

/*
| 4.0.0 | 21/03/2022 | Figma tokens |
| 3.1.1 | 06/09/2021 | Ajout nomage oka-UI-h et Ajout oka-UI-h-(size) |
| 3.1.0 | 02/06/2021 | Revision nommage : Modifiers de taille |
| 1.0.0 |
*/




//
//
// ========================================
// =========================================
// UI-HEADINGS
//
$oka-component-heading-font-family: $system-font-family ;
$oka-component-heading-font-baseline: $system-font-baseline;
//
$oka-component-heading-font-size: $oka-fontsize-sm ; // [ 1.333rem ] 
$oka-component-heading-line-height: $oka-lineheight-xs;   // [ 1.5rem ] - [ 24px ] 

$oka-component-heading-letter-spacing: $system-letter-spacing;

// Crop line Height 
$oka-component-heading-margin-bottom-crop: -0.5rem;
$oka-component-heading-margin-top-crop: -1rem;
//
// ------------------------------------------
// UI-HEADINGS LARGE
$oka-component-heading-font-size-lg: $oka-fontsize-md ; // [ 1.777rem ]
$oka-component-heading-line-height-lg: $oka-lineheight-sm;   // [ 2rem ] - [ 32px ]
$oka-component-heading-letter-spacing-lg: $system-letter-spacing;
// Crop line Height 
$oka-component-heading-margin-bottom-crop-lg: -0.5rem;
$oka-component-heading-margin-top-crop-lg: -1rem;
//
// ------------------------------------------
// UI-HEADINGS  SMALL
$oka-component-heading-font-size-sm:  $oka-fontsize-xs ; // [ 1rem ] // 1.70;
$oka-component-heading-line-height-sm:  $oka-lineheight-xxs ; // [ 1rem ] - [ 16px ]
$oka-component-heading-letter-spacing-sm: $system-letter-spacing;
// Crop line Height 
$oka-component-heading-margin-bottom-crop-sm: 0rem;
$oka-component-heading-margin-top-crop-sm: -1rem;

// ========================================
// =========================================
// UI-SUBHEADINGS
$oka-component-subheading-font-family: $system-font-family ;
$oka-component-subheading-font-baseline: $system-font-baseline;

$oka-component-subheading-font-size:  $oka-fontsize-sm ; // [ 1.333rem ] 
$oka-component-subheading-line-height: $oka-lineheight-xs;   // [ 1.5rem ] - [ 24px ] 
$oka-component-subheading-letter-spacing: $system-letter-spacing;
// Crop line Height 
$oka-component-subheading-margin-bottom-crop: -0.5rem;
$oka-component-subheading-margin-top-crop: -1rem;
// ------------------------------------------
// UI-SUBHEADINGS LARGE
$oka-component-subheading-font-size-lg:  $oka-fontsize-md ; // [ 1.777rem ]
$oka-component-subheading-line-height-lg: $oka-lineheight-sm;   // [ 2rem ] - [ 32px ]
$oka-component-subheading-letter-spacing-lg: $system-letter-spacing;
// Crop line Height 
$oka-component-subheading-margin-bottom-crop-lg: -0.5rem;
$oka-component-subheading-margin-top-crop-lg: -1rem;
// ------------------------------------------
// UI-SUBHEADINGS SMALL
$oka-component-subheading-font-size-sm: $oka-fontsize-xs ; // [ 1rem ] // 1.70;
$oka-component-subheading-line-height-sm: $oka-lineheight-xxs ; // [ 1rem ] - [ 16px ]
$oka-component-subheading-letter-spacing-sm: $system-letter-spacing;
// Crop line Height 
$oka-component-subheading-margin-bottom-crop-sm: 0rem;
$oka-component-subheading-margin-top-crop-sm: -1rem;



// --------------------------------------
// HEADINGS DE COMPOSANTS / 
//


@mixin component-heading {
    
    font-weight:700;

    @include plumber(
        $baseline: $oka-component-heading-font-baseline,
        $font-size: $oka-component-heading-font-size,
        $line-height: $oka-component-heading-line-height,
    );

    font-family: $oka-component-heading-font-family;  
    letter-spacing: $oka-component-heading-letter-spacing;

    user-select: none;

    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-heading-margin-bottom-crop ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-heading-margin-top-crop;
    }
}



// @mixin component-heading-xl {
    
//     @include plumber(
//         $baseline: $oka-component-heading-font-baseline,
//         $font-size: $oka-component-heading-font-size-xl,
//         $line-height: $oka-component-heading-line-height-xl,
//     );


//     font-family: $oka-component-heading-font-family; 
//     letter-spacing: $oka-component-heading-letter-spacing-xl;

//     user-select: none;

   
//     //  Crop line Height 
//     &:before{
//         content:'';
//         display: block;
//         height: 0;
//         width: 0;
//         margin-bottom: $oka-component-heading-margin-bottom-crop-xl ;
//     }
//     //
//     &:after{
//         content:'';
//         display: block;
//         height: 0;
//         width: 0;
//         margin-top:  $oka-component-heading-margin-top-crop-xl;
//     }


// }



@mixin component-heading-lg {
    
    @include plumber(
        $baseline: $oka-component-heading-font-baseline,
        $font-size: $oka-component-heading-font-size-lg,
        $line-height: $oka-component-heading-line-height-lg,
    );


    font-family: $oka-component-heading-font-family; 
    letter-spacing: $oka-component-heading-letter-spacing-lg;

    user-select: none;

   
    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-heading-margin-bottom-crop-lg ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-heading-margin-top-crop-lg;
    }


}




@mixin component-heading-sm {
    
    @include plumber(
        $baseline: $oka-component-heading-font-baseline,
        $font-size: $oka-component-heading-font-size-sm,
        $line-height: $oka-component-heading-line-height-sm,
    );


    font-family: $oka-component-heading-font-family;  
    letter-spacing: $oka-component-heading-letter-spacing-sm;

    user-select: none;

    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-heading-margin-bottom-crop-sm ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-heading-margin-top-crop-sm;
    }
}


.oka-UI-h,
.oka-UI-heading,
.oka-component-heading {
    @include component-heading;

    &--md,
    &-md {
        @include component-heading;
    }


    &--lg,
    &-lg{
        @include component-heading-lg;
    }
    
    &--sm,
    &-sm{
        @include component-heading-sm;
    }

}


// ------------------------------------------------------


@mixin component-subheading {
    
    @include plumber(
        $baseline: $oka-component-subheading-font-baseline,
        $font-size: $oka-component-subheading-font-size,
        $line-height: $oka-component-subheading-line-height,
    );

    font-family: $oka-component-subheading-font-family;  
    letter-spacing: $oka-component-subheading-letter-spacing;

    user-select: none;

    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-subheading-margin-bottom-crop ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-subheading-margin-top-crop;
    }
}



@mixin component-subheading-lg {
    
    @include plumber(
        $baseline: $oka-component-subheading-font-baseline,
        $font-size: $oka-component-subheading-font-size-lg,
        $line-height: $oka-component-subheading-line-height-lg,
    );


    font-family: $oka-component-subheading-font-family; 
    letter-spacing: $oka-component-subheading-letter-spacing-lg;

    user-select: none;

   
    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-subheading-margin-bottom-crop-lg ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-subheading-margin-top-crop-lg;
    }
}


@mixin component-subheading-sm {
    
    @include plumber(
        $baseline: $oka-component-subheading-font-baseline,
        $font-size: $oka-component-subheading-font-size-sm,
        $line-height: $oka-component-subheading-line-height-sm,
    );


    font-family: $oka-component-subheading-font-family; 
    letter-spacing: $oka-component-subheading-letter-spacing-sm;

    user-select: none;

   
    //  Crop line Height 
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom: $oka-component-subheading-margin-bottom-crop-sm ;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:  $oka-component-subheading-margin-top-crop-sm;
    }
}

.oka-UI-h.oka-UI-h--secondary,
.oka-component-subheading {
    @include component-subheading;
    
    &.oka-UI-h--md,
    &-md{
        @include component-subheading;
    }
    &.oka-UI-h--lg,
    &-lg{
        @include component-subheading-lg;
    }
    &.oka-UI-h--sm,
    &-sm{
        @include component-subheading-sm;
    }
}

// Définition des marges suivant mise en page (enchainements) headings/subheading


.oka-component-heading-lg + .oka-component-subheading,
.oka-component-heading + .oka-component-subheading, 
.oka-UI-h-lg + .oka-component-subheading,
.oka-UI-h + .oka-component-subheading, 

.oka-component-heading-lg + .oka-component-subheading-lg,
.oka-component-heading + .oka-component-subheading-lg,
.oka-UI-h-lg + .oka-component-subheading-lg,
.oka-UI-h + .oka-component-subheading-lg,  

.oka-component-subheading + .oka-component-heading-lg ,
.oka-component-subheading + .oka-component-heading-sm ,
.oka-component-subheading + .oka-UI-h-lg ,
.oka-component-subheading + .oka-UI-h-sm ,

.oka-component-subheading-lg + .oka-component-heading, 
.oka-component-subheading-lg + .oka-component-heading-sm,
.oka-component-subheading-lg + .oka-UI-h, 
.oka-component-subheading-lg + .oka-UI-h-sm    
{
    margin-top:0.5rem;
}


.oka-component-subheading-lg + .oka-component-heading-lg,
.oka-component-subheading + .oka-component-heading,
.oka-component-subheading-sm + .oka-component-heading-sm,
.oka-component-subheading-lg + .oka-UI-h-lg,
.oka-component-subheading + .oka-UI-h,
.oka-component-subheading-sm + .oka-UI-h-sm
{
    margin-top:0.5rem; 
}

.oka-component-heading-sm + .oka-component-subheading,
.oka-component-heading-sm + .oka-component-subheading-sm,
.oka-UI-h-sm + .oka-component-subheading,
.oka-UI-h-sm + .oka-component-subheading-sm
{
    margin-top:0.5rem;
}

