
/** ==================================================
// LES Libellés de NAVS
//
| 5.0.0 | 23/05/2025 | compatible design tokens 5 figma |

|  3.1.0 | 02/06/2021 | Revision nommage Tokens et mixins: Modifiers de taille |
|  3.0.0 | 06/11/2020 |  création  |


*/


//
// =========================================
// =========================================
// NAV WORDING
$oka-nav-font-family-light: $system-font-family;
$oka-nav-font-baseline: $system-font-baseline;

$oka-nav-font-weight-light: $system-font-weight-light;
$oka-nav-letter-spacing: $system-letter-spacing;
$oka-nav-word-spacing: $system-word-spacing;

// Size m
$oka-nav-font-size-md: $oka-fontsize-body; // [ 0.875rem ]
$oka-nav-line-height-md: $oka-lineheight-xs; // [ 1.5rem ] 
// size l
$oka-nav-font-size-lg: $oka-fontsize-xs; // [ 1rem ] 
$oka-nav-line-height-lg: $oka-lineheight-sm; // [ 2rem ] 


@mixin nav-lbl--md {
    @include plumber(
        $baseline: $oka-nav-font-baseline,
        $font-size: $oka-nav-font-size-md ,
        $line-height: $oka-nav-line-height-md ,
    );
    display: block;
    font-family: $oka-nav-font-family-light ;
    font-weight: $oka-nav-font-weight-light ;
    
    
    box-sizing: border-box;

    user-select: none;

    // https://medium.com/eightshapes-llc/cropping-away-negative-impacts-of-line-height-84d744e016ce
    //
    &:before{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-bottom:-0.5rem;
    }
    //
    &:after{
        content:'';
        display: block;
        height: 0;
        width: 0;
        margin-top:-0.5rem;
    }
}





@mixin nav-lbl--lg {
    @include plumber(
        $baseline: $oka-nav-font-baseline ,
        $font-size: $oka-nav-font-size-lg ,
        $line-height: $oka-nav-line-height-lg ,
    );
    user-select: none;
}

.oka-navitem__lbl,
.oka-nav__lbl {
    @include nav-lbl--md;


    &--l,
    &--lg {
        @include nav-lbl--lg;
    }
}