---

import LayoutClassic from '../../layouts/LayoutClassic.astro'; // Import du layout

// import { Markdown } from 'astro/components'; // Importer le composant Markdown
// const articles = import.meta.glob('../../content/news/*.md');

// Importer l'article spécifique en fonction de son URL (slug)
export async function getStaticPaths() {
  const articles = await Astro.glob('../../content/news/*.md');
  // Créer des chemins avec les slugs, basés soit sur le frontmatter, soit sur le nom de fichier
  return articles.map((article) => ({
    params: { slug: article.frontmatter.slug || article.file.split('/').pop().replace('.md', '') },
    props: { article },
  }));

}

// Récupération de l'article depuis le contexte
const { article } = Astro.props;
const { frontmatter, Content } = article; // Extraire le frontmatter et le contenu compilé

---

<LayoutClassic title="À propos">
  <article>
    <h1>{article.frontmatter.title}</h1>
    <small>{new Date(article.frontmatter.date).toLocaleDateString()}</small>
    <p>{article.frontmatter.description}</p>

    <!-- Affichage de la vignette, si disponible -->
    {frontmatter.image && (
      <img src={article.frontmatter.image} alt={`Vignette de ${frontmatter.title}`} width="300" height="200" />
    )}


    <!-- Afficher directement le contenu de l'article en Markdown -->
    <Content />

  </article>
</LayoutClassic>
