---
interface Props {
  theme: string;
	title: string;
	body: string;
}

const { theme, title, body } = Astro.props;
---


<!-- <p class="oka-h -xs -secondary -crop">{theme}</p> -->
<div class="flex-grid">

    <div class="col col-3 col--md-5 ">
      <h2 class="oka-argument__title -secondary -crop" set:html={title}></h2>
    </div>

    <div class="col col-5">
        <!-- <div class="oka-spacer -sm"></div> -->
        <p class="oka-text -md "  set:html={body}></p>
    </div>
</div>
<div class="oka-spacer -lg"></div>
<hr class="oka-divider -low">
<div class="oka-spacer -lg"></div>
