---
interface Props {
  theme: string;
	title: string;
	body: string;
}

const { theme, title, body } = Astro.props;
---



<div class="flex-grid appear">
    <div class="col"><p class="oka-h -xs -secondary ">{theme}</p></div>

    <div class="col col-3 col--md-6 ">
      <h2 class="oka-h -lg -secondary -crop" set:html={title}></h2>
    </div>

    <div class="col col-4">
        <!-- <div class="oka-spacer -sm"></div> -->
        <p class="oka-text -md "  set:html={body}></p>
    </div>

    <div class="oka-spacer -sm"></div>
</div>

