---
interface Props {
	title: string;
	body: string;
    baseLine: string;
    baseLineMini: string;
}

const { title, body ,baseLine, baseLineMini } = Astro.props;
---

<div class="oka-surface oka-flex -vrt -center oka-wrap oka-wrap--sm">

    <div class="oka-spacer -lg"></div>
    <div class="oka-h -sm ">{title}</div>
    <div class="oka-h -xxl -crop">{body}</div>
    <div class="oka-spacer -sm"></div>
    {baseLine && <div class="oka-data" style="text-align:center">{baseLine}</div>}
    {baseLineMini && <div class="oka-data -xs" style="text-align:center">{baseLineMini}</div>}

    <div class="oka-spacer -lg"></div>

</div>