---
import Image from '../../components/Image.astro';

import logoImage from '../../assets/img/Logokoha-couv-simple.png';
---


<div class="oka-hero oka-darkMode">
    
    <video class="video_background" id="video_background" preload="auto" autoplay="" loop="" muted="" volume="0" poster="">
        <!-- <source src="/assets/video/video0.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource1.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource2.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource3.mp4" type="video/mp4"> -->
        <source src="assets/video/fondCodeSource4.mp4" type="video/mp4">
    </video>


    <div id="video_pattern"></div>

    

    <div class="oka-app-wrap ">
        
        <div class="flex-grid">
            <div class="col col-12">
             
                <div class="oka-spacer -xl"></div>
                <div class="oka-spacer -xl"></div>
                <div class="oka-spacer -xl"></div>
                
                <!-- <img src="/site-hokoha/assets/img/Logokoha-couv.png" height="80" alt="Logotype de la société Hokoha Développement informatique" class="zzoka-hero__logo" /> -->
                <Image src={logoImage} alt="Logotype de la société Hokoha Développement informatique" imgHeight="80" className="oka-hero__logo" />

                <div class="oka-spacer -sm"></div>
                <hr class="filet"/>
                <div class="oka-spacer -sm"></div>
                <div class="oka-h -md -secondary -crop">Apporteur de solutions</div>
                <h1 class="oka-h -xl">Développement informatique</h1>
                <div class="oka-spacer -sm"></div>
                <h2 class="oka-h -sm -secondary" style="">
                    <span class='u-noLineBreak'>Logiciels métiers / </span>
                    <span class='u-noLineBreak'>Applications Mobiles / </span>
                    <span class='u-noLineBreak'>Applications Web / </span>
                    <span class='u-noLineBreak'>IoT Objets connectés /</span> 
                    <span class='u-noLineBreak'>Prestations de conseil.</span></h2>
            
            </div>

            <div class="col col-1 oka-show--md"></div>

            <div class="col col-3">

                <div class="oka-spacer -md"></div>
               
                <!-- <div class="oka-spacer -sm"></div> -->
                <hr style="display:inline-block;width:10.5rem"/>
                <div class="oka-spacer -ms"></div>
                <div class="oka-h -xs">Sté. HOKOHA</div>
                <div class="oka-h -xs -secondary">19 rue Engène Messmer</div>
                <div class="oka-h -xs -secondary -crop">53000 LAVAL - FRANCE</div>
                <div class="oka-spacer -ms"></div>
                <div class="oka-h -xs">+33 2 43 49 75 18</div>
                <div class="oka-spacer -xl"></div>

                

            </div>
        </div>
        <div class="oka-spacer -md"></div>


    </div>

</div>