---
import Image from '../../components/Image.astro';

import logoImage from '../../assets/img/Logokoha-couv-simple.png';
---


<div class="oka-hero oka-darkMode zzoka-showGrid">
    
    <video class="video_background" id="video_background" preload="auto" autoplay="" loop="" muted="" volume="0" poster="">
        <!-- <source src="/assets/video/video0.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource1.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource2.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource3.mp4" type="video/mp4"> -->
        <!-- <source src="assets/video/fondCodeSource4.mp4" type="video/mp4"> -->
        <source src="assets/video/dev.mp4" type="video/mp4"> 

        <!-- <source src="assets/video/dev2.mp4" type="video/mp4">  -->

        <!-- <source src="assets/video/dev3.mp4" type="video/mp4">  -->
    </video>


    <div id="video_pattern"></div>

    

    <div class="oka-app-wrap ">
        
        <div class="flex-grid">
            <div class="col col-10">
             
                <!-- <div class="oka-spacer -xl"></div> -->
                <div class="oka-spacer -md"></div>
                <div class="oka-spacer -xl"></div>
                
                
                <Image src={logoImage} 
                    alt="Logotype de la société Hokoha Développement informatique" 
                    imgHeight="80"
                    imgWidth="418" 
                    className="oka-hero__logo" 
                />

                <div class="oka-spacer -sm"></div>
                <hr class="filet"/>
                <div class="oka-spacer -sm"></div>
                <div class="oka-h -md -secondary -crop">Apporteur de solutions</div>
                <h1 class="oka-h -xl"><span class='noto-serif'>Développement informatique</span></h1>
                <div class="oka-spacer -lg"></div>
                <h2 class="oka-h -lg -secondary" style="">
                    <span id="phrase1" class='u-noLineBreak'></span>&nbsp;<br />
                    <span id="phrase2" class='u-noLineBreak'></span>&nbsp;<br />
                    <!-- <span class='u-noLineBreak'>Applications Web</span> -->
                    <span id="phrase3" class='u-noLineBreak'></span>&nbsp;<br />
                    <span id="phrase4" class='u-noLineBreak'></span>&nbsp;


                    <!-- <span id="phrase1" class='u-noLineBreak'>Logiciels métiers</span><br />
                    <span id="phrase2" class='u-noLineBreak'>Applications Mobiles</span><br />
                    <span id="phrase3" class='u-noLineBreak'>IoT Objets connecté</span> <br />
                    <span id="phrase4" class='u-noLineBreak'>ERP de gestion d'entreprise</span> -->
                  </h2>
                
                
                <div class="oka-spacer -md"></div>
            
            </div>

            <div class="col col-1 oka-show--md"></div>

            <div class="col col-5 oka-flex -vrt " style="justify-content:space-between">

                
               <div>
                    <div class="oka-spacer -md"></div>
                    <hr style="display:inline-block;width:10.5rem"/>
                    <div class="oka-spacer -ms"></div>
                    <div class="oka-h -xs">Sté. HOKOHA</div>
                    <div class="oka-h -xs -secondary">19 rue Engène Messmer</div>
                    <div class="oka-h -xs -secondary -crop">53000 LAVAL - FRANCE</div>
                    <div class="oka-spacer -ms"></div>
                    <div class="oka-h -xs">+33 2 43 49 75 18</div>
                    <div class="oka-spacer -xl"></div>
                </div>
                
                <!-- <div class="hero-cta oka-lightMode">
                    
                    <div class="oka-spacer -md"></div>

                    <div class="oka-h -md -secondary">Une question, une idée , un projet</div>
                    <button class="oka-bt -lg -secondary ">
                        <div class="oka-bt__ico"><i class="fa-kit fa-arrow-right"></i></div>
                        <div class="oka-bt__lbl">Parlons de votre projet</div>
                        <div class="oka-spinner"></div>
                    </button>
                    <div class="oka-spacer -md"></div>
                </div>
                 -->
            </div>
        </div>
        

    
<!-- Grid Preview -->
<div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
    <div class="oka-app-wrap" style="height:100%">
        <div class="grid-bg-fx__grid flex-grid ">

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>
        </div>
    </div>
</div>
    </div>


    <script>
    </script>

    <script  is:inline data-astro-rerun>

        //Chargement du fond

       // window.addEventListener('load', function() {
        document.addEventListener('astro:page-load', () => {
           
            // const element = document.getElementById('video_pattern');
            
            // element.style.backgroundImage = "url('/site-hokoha/assets/img/trame-video.jpg')";

            // //element.style.backgroundImage = "url('/site-hokoha/assets/img/Macbook_Air_Mockup_2.png')";
    
            // element.classList.add('appear-fade');
        
        
            // AutoType
            // https://github.com/tsanak/autotyping

            const  AutoTyping=function(e){var t={};function r(n){if(t[n])return t[n].exports;var i=t[n]={i:n,l:!1,exports:{}};return e[n].call(i.exports,i,i.exports,r),i.l=!0,i.exports}return r.m=e,r.c=t,r.d=function(e,t,n){r.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:n})},r.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},r.t=function(e,t){if(1&t&&(e=r(e)),8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var n=Object.create(null);if(r.r(n),Object.defineProperty(n,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var i in e)r.d(n,i,function(t){return e[t]}.bind(null,i));return n},r.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return r.d(t,"a",t),t},r.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},r.p="",r(r.s=0)}([function(e,t,r){"use strict";r.r(t);t.default=class{constructor(e,t,{typeSpeed:r=150,deleteSpeed:n=150,waitBeforeDelete:i=1e3,waitBetweenWords:o=1e3,writeWhole:l=!1}={}){this.selector=e,this.text=t,this.typeSpeed=r,this.deleteSpeed=n,this.waitBeforeDelete=i,this.waitBetweenWords=o,this.writeWhole=l,this.el=document.querySelector(e)}async start(){this.el;for(let e=0;e<this.text.length;e++){const t=this.text[e];let r=t.split("");this.writeWhole&&(r=[t]),await this.writeText(r),e==this.text.length-1&&(e=-1)}}writeText(e){let t=this;return new Promise(r=>{const n=this.el;let i=!1,o=setInterval(()=>{let l=e.shift();i&&(i=!1,l=" "+l),i=" "==l,n.innerText+=l,0==e.length&&(clearInterval(o),setTimeout(()=>{let e=setInterval(()=>{const i=n.innerText;t.writeWhole?n.innerText="":n.innerText=i.substr(0,i.length-1),0==n.innerText.length&&(clearInterval(e),setTimeout(()=>r(),this.waitBetweenWords))},this.deleteSpeed)},this.waitBeforeDelete))},this.typeSpeed)})}}}]).default;


            //const typing = new AutoTyping('selector', [array of words]);
            //const typing = new AutoTyping('#video_pattern', ['lorem ipsum etc', 'after the first text']);


            const codeSource = [ 
            'r.d=function(e,t,n) {r.o(e,t)|| Object.defineProperty (e,t,{enumerable:!0,get:n})}',
            'r.r=function(e){"undefined" !=typeof Symbol&&Symbol. toStringTag &&Object.defineProperty (e,Symbol.toStringTag',
            '{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})}',
            'r.t=function(e,t){if(1&t&&(e=r(e)) this.deleteSpeed=n, this.waitBeforeDelete=i, this.waitBetweenWords=o, this.writeWhole=l',
            '8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var n=Object.create(null)',
            'if(r.r(n),Object.defineProperty(n,"default",{enumerable:!0,value:e})',
            '2&t&&"string"!=typeof e)',
            'for(var i in e)r.d(n,i,function(t)',
            '{return e[t]}.bind(null,i));return n}',
            'r.n=function(e){var t=e&&e.__esModule?',
            'function(){return e.default}:function(){return e};',
            'return r.d(t,"a",t),t},r.o=function(e',
            't){return Object.prototype.hasOwnProperty.call(e,t)}',
            'writeWhole:l=!1}={}){this.selector=e,this.text=t,this.typeSpeed=r',
            'this.deleteSpeed=n, this.waitBeforeDelete=i, this.waitBetweenWords=o, this.writeWhole=l',
            'this.el=document.querySelector(e)}async start(){',
            'this.el;for(let e=0;e<this.text.length;e++){const t=this.text[e];let r=t.split("");',
            'e==this.text.length-1&&(e=-1)}}writeText(e){let t=this;return new Promise(r=>{const n=this.el;let i=!1,o=setInterval(()=>{let l=e.shift();',
            'i&&(i=!1,l=" "+l),i=" "==l,n.innerText+=l'
            ];
            
            const codeTyping = new AutoTyping('#video_pattern', codeSource, {
                typeSpeed: 30,
                deleteSpeed: 10,
                waitBeforeDelete: 100,
                waitBetweenWords: 500,
            });


            const options = { 
                typeSpeed: 30,
                deleteSpeed: 30,
                waitBeforeDelete: 10000000,
                waitBetweenWords: 500,}

            const phrase1 = new AutoTyping('#phrase1', ['Logiciels Métiers'] , options );
            const phrase2 = new AutoTyping('#phrase2', ['Applications Mobiles'] , options);
            const phrase3 = new AutoTyping('#phrase3', ['IoT Objets connecté'] , options);
            const phrase4 = new AutoTyping('#phrase4', ['ERP de gestion d\'entreprise'] , options);

            setTimeout(() => { phrase1.start(); }, 300); 
            setTimeout(() => { phrase2.start(); }, 1000);
            setTimeout(() => { phrase3.start(); }, 1500); 
            setTimeout(() => { phrase4.start(); }, 2000);  

            setTimeout(() => { codeTyping.start(); }, 3000); 

            
        
        });


   


      </script>


</div>
