/** OKA TABLE 
Simplification ecriture ( recup Corridor)
| 4.0.0 | 21/10/2022 | Simplification de la structure HTML + Figma compatible |
| 3.1.3 | 24/08/2022 | Afine le centrage verticale |
| 3.1.2 | 24/09/2021 | thead sticky |
| 3.1.1 | 19/09/2021 | evite les changement de couleurs des boutons lors du survol de row |
| 3.1.0 | 04/06/2021 | Révision nommage Modifiers Taille |
| 1.0.1 | 22/02/2021 | Ajout centrage des Bouton de tri - table border  | 
| 1.0.0 | 22/10/2020 | création    | 

*/

// Dépendances : nan
//
// Tokens
//@import "../../../design-tokens/oka-tables-tokens.scss";




.oka-table {

    // Structure generale
    // --oka-table-border-width: 0; 
    
    --oka-table-rows-borderBottom-width : 0px;
    --oka-table-columns-borderLeft-width : 0px;
    
    


    // Variant System

    --oka-table-border-color : var(--oka-color-system-contrast-medium);

    --oka-table-rows-odd-bg-color :  transparent;
    --oka-table-rows-even-bg-color : var(--oka-color-system-contrast-low) ;

    &.-primary{
        --oka-table-border-color : var(--oka-color-primary-contrast-medium);

        --oka-table-rows-odd-bg-color : var(--oka-color-primary-contrast-low) ;
        --oka-table-rows-even-bg-color : transparent ;
    }

    &.-secondary{
        --oka-table-border-color : var(--oka-color-secondary-contrast-medium);

        --oka-table-rows-odd-bg-color : var(--oka-color-secondary-contrast-low) ;
        --oka-table-rows-even-bg-color : transparent ;
    }



    --oka-table-rows-border-color : var(--oka-color-primary-contrast-hight);
    --oka-table-columns-border-color : var(--oka-color-primary-contrast-medium) ;

    
    // Thead
    --oka-table-thead-bg-color :  transparent ;
    --oka-table-thead-fg-color :  var(--oka-color-app-fg-default) ;

    --oka-table-head-border-color : var(--oka-color-primary-contrast-hight) ;
    --oka-table-head-borderBottom-width : 0;
    --oka-table-head-borderLeft-width : 0;




    // // Thead
    // --oka-table-thead-bg-color :  var(--oka-color-primary-bg-heavy) ;
    // --oka-table-thead-fg-color :  var(--oka-color-primary-fg-on-heavy) ;



    width:100%;
  
    //background-color: $oka-table-color-background;
    background-color: var(--oka-color-app-bg-default);
    color : var(--oka-color-app-fg-default) ;


    border-collapse:collapse;
    




    // Pour lignes 'uniques'
    &.-separate {
        border-spacing: 0 0.5rem;
        border:none;
        border-collapse:separate;
    }


    // Ombré
    &.-shaded:not(.-separate) {
        @extend .oka-shadow-3;
    }
    // Filet Encart
    &.-outlined:not(.-separate){
        border-color : var(--oka-table-border-color);
        border-width : 1px; 
        border-style : solid;
    }

   

    // HEADER ---------------------------------
    thead {

       

        tr {

            position: -webkit-sticky; // 3.1.2 /* for Safari */
            position: sticky; // 3.1.2 
            top: 0; // 3.1.2 
            z-index: 1; // 3.1.2 


            // 4.0.0 background: $oka-table-head-color-background ; 
            // 4.0.0 color :$oka-table-head-color-text ;
            background: var(--oka-table-thead-bg-color , var(--oka-color-app-bg-default));
            color : var(--oka-table-thead-fg-color, var(--oka-color-app-fg-default)) ;
           
     
        }

        th {
            //

            // 4.0.0 -> le padding de label prend le dessus ->
            // padding : $oka-table-head-cell-space-inset; // 4.0.0 
            // on ne garde donc que les paddings droite gauche 
            padding-left : 0.5rem; // 4.0.0
            padding-right : 0.5rem; // 4.0.0

            // et donne une hauteur minimum
            height: 3.5rem; // Sur les cellules de tableau, height ce comporte comme min-height


            // 4.0.1 Filet Divider
            background-image:   linear-gradient(to top, var(--oka-table-border-color)  0,rgba(255, 255, 255, 0)  1px ),
                                linear-gradient(to left, var(--oka-table-head-border-color)  0,rgba(255, 255, 255, 0)  var(--oka-table-head-borderLeft-width));

            //
            vertical-align: bottom; // Force la mise en pied au cas ou un autre libellé sur deux lignes
            

            @extend .oka-label--sm; // 4.0.0
            display: table-cell; // 4.0.0 !!! retablir le comportaement de thead cellule

            // on s'appuis sur les pseudo ::after et ::before pour ajouter du padding 
            &:before{
                margin-top: 0.5rem;
            }
            &:after {
                margin-top: 0;
            }
            
            // 4.0.0 -> text-align: left;
            text-align: center;
            //
            &:last-child {
                border-right-width: 0;
            }

            // MODIFIERS
            // Tailles des cellules
            &.-xxs{
                width:4rem;
            }
            &.-xs{
                width:6rem;
            }
            &.-sm{
                width:8rem;
            }
            &.-md{
                width:12rem;
            }
            //
            // Alignements du text
            &.-left {
                text-align:left;
                padding-left : 1rem; // 4.0.0
            }

            &.-center {
                text-align:center;

                // !!!!!
                // On applique une legère marge au bouton dans le cas de centrage 
                // rattrapage effet visuel décentré
                .oka-thead-order {
                    margin-left: -0.5rem;
                }
            }
            &.-right {
                text-align:right;
            }

        }

        // Bouton SORT (sortlist.js)
        //4.0.0 -> .oka-thead-order{
        button {
                
            position: relative ; // 4.0.0

            padding-left:0; // 1.0.1 
            padding-right:0; // 1.0.1 

            border:none;
            
            background:none !important;
            outline: none;

            color :inherit;
            
            // POLICE
            // 4.0.0 -> @include label--sm;
            // font-weight: normal;
            display:inline-block; // pour possibilite de centrage ----ecrase la definition de label


            cursor:pointer;

            .indic {
                position:absolute;
                top:-0.25rem;
                margin-left:0.5rem;
                font-size: 22px;

            }

            &.sort.desc .indic{
                transform: rotate(-90deg);
            }

            &.sort.asc .indic{
                transform: rotate(90deg);
            }
        }
    }


    
    tbody {

        // LIGNES
        tr {

            //4.0.0 background-color:    #fff; // Ajout Mentor
            //background-color : var(--oka-color-app-bg-default);

            // Filet Divider
            // background-repeat: repeat-y;
            // background-size: 100% 100%;
            // //4.0.0 background-image: linear-gradient(to top,$oka-table-divider-color  0,rgba(255, 255, 255, 0)1px);
            // background-image: linear-gradient(to top, var(--oka-table-rows-border-color)  0,rgba(255, 255, 255, 0)  var(--oka-table-rows-border-width));


               
            //@extend .oka-shadow-3;


            transform: scale(1); // Use this hack as position relative is ignored in tr thanks to https://github.com/w3c/csswg-drafts/issues/1899

            // Supprime le filet divider du dernier enfant
            // &:last-child{
            
            // }

            &:nth-child(even) {
                background-color: var(--oka-table-rows-even-bg-color);

                // Tableau Flat
                .-flat &{
                    background-color: var(--oka-table-rows-odd-bg-color);
                }

            }
            // Couleur dominante
            &:nth-child(odd) {
                background-color: var(--oka-table-rows-odd-bg-color);


            }



            $colorbtspinner : white ;

            &.row--clicked{
                pointer-events: none;
            
                background-color: var(--oka-color-action-bg-primary-press);
                
                background-image:  url("data:image/svg+xml; utf8, <svg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M59.17,32A27.17,27.17,0,1,1,32,4.83'  fill='none' stroke='#{$colorbtspinner}' stroke-miterlimit='10' stroke-width='4'><animateTransform attributeName='transform' begin='0s' dur='1s' type='rotate' from='0 32 32' to='360 32 32' repeatCount='indefinite'/></path><rect width='64' height='64' fill='none'/></svg>");

                background-repeat: no-repeat;
                background-position: 1.25rem center;
                background-size: 1.5rem;
            
                // Couleurs des enfants , sauf les boutons
                *:not(.oka-bt):not(.oka-bt__lbl):not(.oka-bt__ico) {
                    color:var(--oka-color-action-fg-primary-on-solid);
                    //opacity : 0.53 
                }
            
            }
        }


        // CELLULES
        td {

            // 4.0.0 -> oka-data--md par defaut
            @extend %oka-data-md;
            display: table-cell; // 4.0.0

            // Hauteur minimum
            height:3rem; // 3.1.2

            vertical-align: middle;

            padding: 0.5rem 1rem ; //4.0.0 $oka-table-cell-space-inset;


            // 4.0.1 Filet Divider
            background-image:   linear-gradient(to top, var(--oka-table-rows-border-color)  0,rgba(255, 255, 255, 0)  var(--oka-table-rows-borderBottom-width)),
                                linear-gradient(to left, var(--oka-table-columns-border-color)  0,rgba(255, 255, 255, 0)  var(--oka-table-columns-borderLeft-width));


            //
            // 4.0.0 -> souvenir de Yanis : // text-align: left;
            text-align : center;

            //impact sur le centrage vertical
            // 3.1.2 -> font-size: 0 ; // Fighting the Space Between Inline Block Elements  (https://css-tricks.com/fighting-the-space-between-inline-block-elements/)
           // 4.0.0 -> inutile : declarer par oka-data--sm  // font-size: 1rem ;   // 3.1.2 

            //
            // MODIFIERS ----------------------------------
            // Alignements du text
            &.-left { // 4.0.0
                text-align:left;// 4.0.0
            } // 4.0.0 

            &.-center {
                text-align:center;
            }
            &.-right {
                text-align:right;
            }
            
            

            &:last-child{
                //border-width: $oka-table-cell-last-border-width;
            }



            // Data Multilignes
            .oka-data  + .oka-data{
                margin-top:0.5rem;
            
            }

            // 3.1.2
            // Afinnage pour centrage verticale
            // pour tous les enfants directs :
            // Supression du Padding (cas oka-data) pour centrage vertical
            > *{
                padding-top:0;
                padding-bottom:0;
            } 
            // 3.1.2
            // Supression du Before et after (cas oka-component-heading) pour centrage vertical
            > *{
                &:before,
                &:after{
                    margin-top:0;
                    margin-bottom:0;
                }
            }




        }
    }

    // Effet Hover pour les row non selectionner
    &.-links {
        
        tbody tr {
            &:not(.oka-table__row--selected):hover{
                //background-color:  $oka-table-row-color-background-hover;
                background-color: var(--oka-color-action-bg-primary-hover-alpha);

                cursor: pointer;
                // Couleurs des enfants , sauf les boutons
                *:not(.oka-bt):not(.oka-bt__lbl):not(.oka-bt__ico) {
                    //color:$oka-table-row-color-text-hover;
                    color : var(--oka-color-action-fg-primary-hover)
                } 
            }
        }
    }


    &.-flat{
        tbody tr:nth-child(even) {
            background-color: var(--oka-table-rows-odd-bg-color);
        }
    }

    // Ombré
    &.-shaded.-separate {
        tbody tr{
            @extend .oka-shadow-3;
        }
    }
}


