<div class="oka-spacer -lg"></div>

<div class="oka-ancres">

    <span class="oka-divider -vrt"></span>
    
    <a href="entreprise/#historique" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl"># Historique</div>
        <div class="oka-spinner"></div>
    </a>

    <a href="entreprise/#valeurs" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl"># Nos Valeurs</div>
        <div class="oka-spinner"></div>
    </a>

    <a href="entreprise/#equipe" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl"># L'équipe</div>
        <div class="oka-spinner"></div>
    </a>

</div>

    