<style lang="scss">

@import "src/styles/oka-design-system/0-abstracts/breakpoints/breakpoints";

@function transparentize-css-var($color, $alpha) {
  @return rgba($color, $alpha);
}


.oka-bt {
    background : var(--ancre-fd);
}



.oka-ancres{
    position:sticky;
    z-index:10;
    top:4rem;
 
    height: 4rem;

    display:flex;
    align-items: center;
    gap:0.5rem;

    backdrop-filter: blur(3px); /* Applique le flou à l'arrière-plan */
    
    //overflow: auto;




    &:before {
        content:'';
        position:absolute;
        left:-1rem;
        right:-1rem;
        height:100%;

        background-color: var(--oka-color-app-bg-default);
        opacity: 0.9;
       
    }

}
</style>


<div class="oka-spacer -lg"></div>

<div class="oka-ancres">

   
    
    <a href="entreprise/#historique" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl">Historique</div>
        <div class="oka-spinner"></div>
    </a>

    <a href="entreprise/#expertise" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl">Expertise</div>
        <div class="oka-spinner"></div>
    </a>

    <a href="entreprise/#equipe" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl">Équipe</div>
        <div class="oka-spinner"></div>
    </a>

    <a href="entreprise/#album" class="oka-bt -ghost -sm">
        <div class="oka-bt__lbl">L'album</div>
        <div class="oka-spinner"></div>
    </a>

</div>

    