
<div class="oka-spacer -lg"></div>


<!-- <div  class="flex-grid ">
    <div class="col col-1"></div>
    <div class="col col-11">
        <div class="oka-h -lg -secondary">L'entreprise HOKOHA</div>
    </div>
</div> -->
    


<div  class="flex-grid sticky">
    <div class="col col-1"></div>
    <div class="col col-11">
        <div class="oka-ancres">
            <a href="entreprise/#historique" class="oka-bt -ghost -sm">
                <div class="oka-bt__lbl">1. HISTORIQUE</div>
                <div class="oka-spinner"></div>
            </a>
        
            <a href="entreprise/#expertise" class="oka-bt -ghost -sm">
                <div class="oka-bt__lbl">2. EXPERTISE</div>
                <div class="oka-spinner"></div>
            </a>
        
            <a href="entreprise/#equipe" class="oka-bt -ghost -sm">
                <div class="oka-bt__lbl">3. L'ÉQUIPE</div>
                <div class="oka-spinner"></div>
            </a>
        
            <a href="entreprise/#album" class="oka-bt -ghost -sm">
                <div class="oka-bt__lbl">L'album</div>
                <div class="oka-spinner"></div>
            </a>
        </div>
    </div>
</div>
    
    


    
<style lang="scss">

    @import "src/styles/oka-design-system/0-abstracts/breakpoints/breakpoints";
    
    @function transparentize-css-var($color, $alpha) {
      @return rgba($color, $alpha);
    }
    
    
    .sticky {
        position:sticky;
        z-index:10;
        top:4rem;
    }
    
    
    .oka-bt {
        background : var(--ancre-fd);
        border:1px solid rgba(0,0,0,0.1);
    
        &__lbl {
            font-size:0.6rem;
        }
    
    
    }
    
    
    
    .oka-ancres{
    
     
        height: 4rem;
    
        display:flex;
        align-items: center;
        gap:0.5rem;
    
        backdrop-filter: blur(3px); /* Applique le flou à l'arrière-plan */
        
        //overflow: auto;
    
    
    
    
        &:before {
            content:'';
            position:absolute;
            left:-1rem;
            right:-1rem;
            height:100%;
    
            background-color: var(--oka-color-app-bg-default);
            opacity: 0.9;
           
        }
    
    }
    </style>