---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---


<div class="oka-h -sm -crop" set:html={title} ></div>
<p class="oka-text -md"  set:html={body} ></p>
       
<div class="oka-spacer -sm"></div>
<hr class="oka-divider -low">
<div class="oka-spacer -sm"></div>
