---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="col col-4 appear oka-shadow-2" style="background:#fff; padding:1rem 1rem 1rem 3rem;border:0px solid var(--oka-color-system-contrast-medium); border-radius:0.5rem; margin-bottom:0px;">
  
  <div class="oka-spacer -md"></div>

  <div class="oka-h -sm noto-serif   -crop" set:html={title} ></div>
  <p class="oka-text -sm"  set:html={body} ></p>
        
 
 
</div>
