---
// Composant
import Membre from '../../components/equipe/Membre.astro';

---

<div class="flex-grid">
    <Membre
        nom="Laurent"
        role=""
        mission="Innovation"
        portrait="src/assets/img/team/color/Laurent.png"
        orientation =" "   
    />

    <Membre
        nom="Franck"
        role=""
        mission="Gestion de projets"
        portrait="src/assets/img/team/color/Franck.png"
        orientation =""   
    />

    <Membre
        nom="Yann"
        role=""
        mission="Design UI/UX"
        portrait="src/assets/img/team/color/Yann.png"
        orientation =" "   
    />

    <Membre
        nom="Thomas"
        role=""
        mission="Développement mobile"
        portrait="src/assets/img/team/color/Thomas.png"
        orientation =" "   
    />

    <Membre
        nom="Kévin"
        role=""
        mission="Développement web"
        portrait="src/assets/img/team/color/Kevin.png"
        orientation =" "   
    />

    <Membre
        nom="Kévin"
        role=""
        mission="Développement web"
        portrait="src/assets/img/team/color/KevinA.png"
        orientation =" "   
    />
    <Membre
        nom="Alexandre"
        role=""
        mission="Développement Python / Odoo"
        portrait="src/assets/img/team/color/Alexandre.png"
        orientation =" "   
    />
    <Membre
        nom="Yannis"
        role=""
        mission="Développement Python / Odoo"
        portrait="src/assets/img/team/color/Yannis.png"
        orientation =" "   
    />
    <Membre
        nom="Ewen"
        role=""
        mission="Développement web"
        portrait="src/assets/img/team/color/Ewen.png"
        orientation =" "   
    />
</div> 