---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as paragrapheFormation from "../../contenus/equipe/paragraphe-formation.md";
---

<p class="oka-text -lg" set:html={paragrapheFormation.rawContent()}></p>