---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as titreHommage from "../../contenus/equipe/titre-hommage.md";
---

<RevealText>
   <h2 class="oka-h" set:html={titreHommage.rawContent()}></h2>
</RevealText>