---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as titreGlobal from "../../contenus/equipe/titre-global.md";
---

<RevealText>
   <h1 class="oka-h -xl" set:html={titreGlobal.rawContent()}></h1>
</RevealText>