---
// ===== Composants d'animations =====
import RevealText from "../../animations/RevealText.astro"

// ==== Import du fichier Markdown
import * as titreFormation from "../../contenus/equipe/titre-formation.md";
---

<RevealText>
   <h2 class="oka-h" set:html={titreFormation.rawContent()}></h2>
</RevealText>