---
//import "../styles/main.scss"; // chemin vers ton fichier SCSS
---



<!-- Credits -->
<div class="oka-credits">


    <!-- {# Toogle DARK/LIGHT MODE #} -->
    <button onclick="document.body.classList.toggle('oka-darkMode'); document.body.classList.toggle('oka-lightMode'); setCookieMode();" class="oka-bt -ghost" >
        <div class="oka-bt__ico">
            <span class="u-showOnDark"><i class="fa-regular fa-sun-bright"></i></span>
            <span class="u-showOnLight"><i class="fa-solid fa-moon"></i></span>
        </div>
        
        <!-- <div class="oka-nav__lbl">
            <span class="u-showOnDark">Affichage : clair</span>
            <span class="u-showOnLight">Affichage : sombre</span>
        </div> -->
        <div class="oka-spinner"></div>
    </button>  

    <button onclick="document.body.classList.toggle('showGrid');  setCookieShowGrid()" class="oka-bt -ghost"  >
        <div class="oka-bt__ico"><i class="fa-solid fa-grid-round-5"></i></div>
        <div class="oka-spinner"></div>
    </button> 

    <button onclick="document.body.classList.toggle('zoomText');  setCookieZoomText()" class="oka-bt -ghost"  >
        <div class="oka-bt__ico"><i class="fa-regular fa-text-size"></i></div>
        <div class="oka-spinner"></div>
    </button> 

    



    <div class="oka-spacer -full -inline"></div>

    <div class="oka-data -xs">
        <strong>Site Public <span style="text-transform:uppercase">Sté. HOKOHA</span></strong>
    </div>
    <div class="oka-data -xs">
        version : <strong>0.0.1</strong>
    </div>
    <div class="oka-data -xs">
        ©2024 - Tous droits réservés<br />
    </div>
    <div class="oka-data -xs">
        Conception / Réalisation : <strong><a href="https://www.hokoha.com" target="_blank"  rel="noopener">HOKOHA</a></strong>
    </div>


    
    
</div>