---
//import "../styles/main.scss"; // chemin vers ton fichier SCSS
---



<!-- Credits -->
<div class="oka-credits">
    <div class="oka-data -xs">
        <strong>Site Public <span style="text-transform:uppercase">Sté. HOKOHA</span></strong>
    </div>
    <div class="oka-data -xs">
        version : <strong>0.0.1</strong>
    </div>
    <div class="oka-data -xs">
        ©2024 - Tous droits réservés<br />
    </div>
    <div class="oka-data -xs">
        Conception / Réalisation : <strong><a href="https://www.hokoha.com" target="_blank"  rel="noopener">HOKOHA</a></strong>
    </div>
</div>