---
const { currentPage } = Astro.props; // Récupérer le nom de la page courante
---

<!-- Header -->

<style lang="scss">

@import "src/styles/oka-design-system/0-abstracts/breakpoints/breakpoints";

header{
    position:sticky;
    top:0;
    z-index: 20;
}

.oka-burger__ctnr {
    top: 0;
}

.oka-burger__content {
    
    // justify-content: flex-end;
    // padding-bottom:5rem;
    // @include breakpoint(md) {
    //     justify-content: flex-start;
    //     padding-bottom:0;
    // }

}
</style>

<header>

    <!-- HEADER -->
    <div class="oka-appbar layout-app__header oka-shadow-2" style="position:relative">
        <div class="oka-appbar__row oka-app-wrap">
            <section class="oka-appbar__left">
                
                <a href="/site-hokoha/" class="oka-logo">
                    <svg class="oka-logo__picto" width="180" height="180" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_202_1865)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C1.79086 0 0 1.79086 0 4V176C0 178.209 1.79086 180 4 180H176C178.209 180 180 178.209 180 176V4C180 1.79086 178.209 0 176 0H4ZM61.3119 31.5899C66.2881 31.5899 66.2881 34.9786 66.2881 34.9786V61.1335H56.3357V34.8587C56.3357 34.8587 56.3357 31.5899 61.3119 31.5899ZM90.2583 71.551C90.2583 71.551 114.229 71.9152 159.084 61.1362L158.463 68.4022C158.463 68.4022 145.277 74.0573 124.173 77.6388V146.991C124.173 146.991 122.375 152.68 118.973 152.68C115.57 152.68 114.229 151.592 114.229 151.592V79.0697C106.275 80.0246 98.2704 80.5053 90.2583 80.5092C82.2434 80.5071 74.2358 80.0278 66.2786 79.074V151.614C66.2786 151.614 64.9505 152.702 61.5353 152.702C58.1201 152.702 56.3349 147.012 56.3349 147.012V77.656C35.2314 74.0744 22.0449 68.4193 22.0449 68.4193L21.4326 61.1362C66.2872 71.9152 90.2583 71.551 90.2583 71.551ZM124.185 34.8587C124.185 34.8587 124.185 31.5899 119.208 31.5899C114.232 31.5899 114.232 34.9786 114.232 34.9786V61.1121H124.185V34.8587Z" fill="#0091E6"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_202_1865">
                        <rect width="180" height="180" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <div class="oka-logo__typo ">HOKOHA</div>
                </a>
            </section>
            
            <!-- <section class="oka-appbar__center">
                section centre
            </section>  -->

            <section class="oka-appbar__right">
            
                <nav class="oka-burger">
                    <!-- Label déclencheur ouverture du menu -->
                    <label class="oka-bt -ghost oka-burger__openner" for="display-burger">
                        <span class="oka-bt__lbl">Menu</span>
                        <span class="oka-bt__ico -isClose"><i class="fa-sharp fa-solid fa-bars"></i></span>
                        <span class="oka-bt__ico -isOpen"><i class="fa-sharp fa-solid fa-xmark"></i></span>
                    </label>
                    
                    <!-- Pilot d'ouverture du menu -->
                    <input type='checkbox' id="display-burger"  class="oka-burger__pilot"/>

                    <!-- Container -->
                    <div id="burger" class="oka-burger__ctnr">
                        <!-- Fond pilot de fermeture -->
                        <label for="display-burger" class="oka-burger__closer"></label>
                        <!-- Contenu -->
                        <nav class="oka-burger__content">
                            
                            <a href="index.html" class={`oka-bt -ghost ${currentPage === 'Accueil' ? '-focus' : ''}`}>
                                
                                <div class="oka-bt__lbl">Accueil</div>
                                <div class="oka-spinner"></div>
                            </a>

                            <a href="entreprise" class={`oka-bt -ghost ${currentPage === 'Entreprise' ? '-focus' : ''}`}>
                                <div class="oka-bt__lbl">L'entreprise</div>
                                <div class="oka-spinner"></div>
                            </a>

                            <a href="clients" class={`oka-bt -ghost ${currentPage === 'Clients' ? '-focus' : ''}`}>
                                <div class="oka-bt__lbl">Nos clients</div>
                                <div class="oka-spinner"></div>
                            </a>

                            <a href="realisation" class="oka-bt -ghost {{ pageSolutions ? '-focus'  }}">
                                <div class="oka-bt__lbl">Réalisations</div>
                                <div class="oka-spinner"></div>
                            </a>

                            <a href="contact" class="oka-bt -outlined {{ pageContact ? '-focus'  }}">
                                <div class="oka-bt__lbl">Contactez-nous</div>
                                <div class="oka-spinner"></div>
                            </a>

                            <div class="oka-show--md  oka-flex ">
                                <div class="oka-spacer -sm -inline"></div>
                                <hr class="oka-divider -vrt ">
                                <div class="oka-spacer -sm -inline"></div>
                            </div>
                            <div class="oka-hide--md oka-flex -vrt">
                                <div class="oka-spacer -sm"></div>
                                <hr class="oka-divider  ">
                                <div class="oka-spacer -sm"></div>
                            </div>
                            
                            
                            <div class="oka-flex -center -gap-sm">
                                <!-- Toogle DARK/LIGHT MODE  -->
                                <button onclick="document.body.classList.toggle('oka-darkMode'); document.body.classList.toggle('oka-lightMode'); setCookieMode();" class="oka-bt -ghost" >
                                    <div class="oka-bt__ico">
                                        <span class="u-showOnDark"><i class="fa-regular fa-sun-bright"></i></span>
                                        <span class="u-showOnLight"><i class="fa-solid fa-moon"></i></span>
                                    </div>
                                    <div class="oka-bt__lbl oka-hide--md">Mode</div>
                                    <div class="oka-spinner"></div>
                                </button>  

                                <button onclick="document.body.classList.toggle('showGrid');  setCookieShowGrid()" class="oka-bt -ghost"  >
                                    <div class="oka-bt__ico"><i class="fa-solid fa-grid-round-5"></i></div>
                                    <div class="oka-bt__lbl oka-hide--md">Grille</div>
                                    <div class="oka-spinner"></div>
                                </button> 

                                <button onclick="document.body.classList.toggle('zoomText');  setCookieZoomText()" class="oka-bt -ghost"  >
                                    <div class="oka-bt__ico"><i class="fa-regular fa-text-size"></i></div>
                                    <div class="oka-bt__lbl oka-hide--md">Zoom</div>
                                    <div class="oka-spinner"></div>
                                </button> 
                            </div>


                        </nav>
                    </div>
                </nav>
            </section>
        </div>
    </div>
</header>  