---

import OkaImage from '../components/Image.astro';


interface Props {
    imgImport: ImageMetadata;
 
    alt?: string; // Texte alternatif pour l'image
    width?: number; // Largeur de l'image
    height?: number; // Hauteur de l'image
    containerHeight?: string; // Hauteur du conteneur (par défaut à 500px)
 
}

const { imgImport,alt,width,height,containerHeight  } = Astro.props;

// TODO : S'assurer du bien fondé de Height et width 
---

<div class="parallax-image-container" style={`--height: ${containerHeight}`}>   
    <OkaImage src={imgImport} 
        alt={alt} 
        imgHeight="auto"
        imgWidth="100%" 
        className="parallax-image" 
        />
</div>


<style>
    .parallax-image-container {
        position: relative;
        overflow: hidden;
        height: var(--height);
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--oka-color-system-contrast-low);
        border-radius:1rem;
  
    }
    
    :global(.parallax-image) {
        position: absolute;
        top: -45%; /* Décalage vers le haut pour permettre l'effet de parallaxe */
        width: 100%;
        height: 160%; /* Taille agrandie pour remplir le conteneur avec l'effet */
        object-fit: cover;

        background-color: var(--oka-color-system-contrast-low);


        opacity: 0;
        filter: blur(6px);

       
    }

</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);
  
    document.addEventListener("astro:page-load", () => {
        
        const images = document.querySelectorAll('.parallax-image');
    
        images.forEach((imgElement) => {
            //Animation d'apparition au scroll
            gsap.to(imgElement, {
                opacity: 1,
                filter: "blur(0px)", 
                duration: 2,
                ease: "power2.out",
                scrollTrigger: {
                trigger: imgElement,
                start: "top 80%", // Quand l'image entre dans le viewport
                toggleActions: "play none none none"
                }
            });

            // Effet de parallaxe
            gsap.to(imgElement, {
                y: "30%",
                scrollTrigger: {
                trigger: imgElement,
                start: "top bottom",
                end: "bottom top",
                scrub: true
                }
            });
        });
    });
  </script>
  