
---
import type { string } from 'astro:schema';

interface Props {
    titre: string;
	contenu: string;
	image: string;
    url: string;
    bouton: string;
}

const { titre, contenu, image, url, bouton } = Astro.props;
---

<div class="oka-appWrap -full oka-darkMode oka-surface -system -soft oka-showGrid">

    <div class="oka-appWrap">
        <div class="flex-grid">


            <div class="col col-4 col--md-12" style="">
                <div class="oka-spacer -xl"></div>
                <hr class="filet">
                <p class="oka-text -md "  set:html={titre}></p>
                <p class="oka-text -md "  set:html={contenu}></p>
                <a href={url} class="oka-bt -outlined ">
                    <div class="oka-bt__lbl">{bouton}</div>
                    <div class="oka-bt__ico"><i class="fa-kit fa-arrow-right"></i></div>
                    <div class="oka-spinner"></div>
                </a>
                <div class="oka-spacer -xl"></div>
            </div>


            <div class="col col-3 col--md-4 ">
                <div class="oka-spacer -xl"></div>
                <h2 class="oka-h -lg">Un projet ?<br />Une question ?</h2>
                <div class="oka-spacer -sm"></div>
                <button class="oka-bt ">
                    <!-- <div class="oka-bt__ico"><i class="fa fa-heart"></i></div> -->
                    <div class="oka-bt__lbl">Contactez-nous</div>
                    <div class="oka-spinner"></div>
                </button>
                <div class="oka-spacer -xl"></div>
            </div>
        
        
        </div>
    </div>




    
<!-- Grid Preview -->
<div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
    <div class="oka-app-wrap" style="height:100%">
        <div class="grid-bg-fx__grid flex-grid ">

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>

            <div class="col col-1"></div>
            <div class="col col-1"></div>
            <div class="col col-1" ></div>
            <div class="col col-1" ></div>
        </div>
    </div>
</div>
</div>
