:root {
  --blue-100: #B0D8FFFF;
  --blue-200: #8AC5FFFF;
  --blue-300: #54AAFFFF;
  --blue-400: #3399FFFF;
  --blue-50: #E6F2FFFF;
  --blue-500: #0080FFFF;
  --blue-600: #0074E8FF;
  --blue-700: #005BB5FF;
  --blue-800: #00468CFF;
  --blue-900: #00366BFF;
  --blue-alpha10: #0074E819;
  --blue-alpha20: #0074E833;
  --blue-alpha30: #0074E84C;
  --blue-alpha40: #0074E866;
  --blue-alpha50: #0074E87F;
  --blue-alpha60: #0074E899;
  --blue-alpha70: #0074E8B2;
  --blue-alpha80: #0074E8CC;
  --blue-alpha90: #0074E8E5;
  --cold-grey-100: #CCCDD3FF;
  --cold-grey-200: #B3B5BFFF;
  --cold-grey-300: #9599A7FF;
  --cold-grey-400: #797E90FF;
  --cold-grey-50: #EFEFF1FF;
  --cold-grey-500: #606676FF;
  --cold-grey-600: #484E5BFF;
  --cold-grey-700: #383F4CFF;
  --cold-grey-800: #29313DFF;
  --cold-grey-900: #172230FF;
  --cold-grey-950: #001522FF;
  --cold-grey-alpha10: #60667619;
  --cold-grey-alpha20: #60667633;
  --cold-grey-alpha30: #6066764C;
  --cold-grey-alpha40: #60667666;
  --cold-grey-alpha50: #6066767F;
  --cold-grey-alpha60: #60667699;
  --cold-grey-alpha70: #606676B2;
  --cold-grey-alpha80: #606676CC;
  --cold-grey-alpha90: #606676E5;
  --fushia-100: #FAB0F4FF;
  --fushia-200: #F88AEFFF;
  --fushia-300: #F554E8FF;
  --fushia-400: #F333E3FF;
  --fushia-50: #FEE6FCFF;
  --fushia-500: #F000DCFF;
  --fushia-600: #DA00C8FF;
  --fushia-700: #AA009CFF;
  --fushia-800: #840079FF;
  --fushia-900: #65005CFF;
  --fushia-alpha10: #DA00C819;
  --fushia-alpha20: #DA00C833;
  --fushia-alpha30: #DA00C84C;
  --fushia-alpha40: #DA00C866;
  --fushia-alpha50: #DA00C87F;
  --fushia-alpha60: #DA00C899;
  --fushia-alpha70: #DA00C8B2;
  --fushia-alpha80: #DA00C8CC;
  --fushia-alpha90: #DA00C8E5;
  --green-100: #B3E2D0FF;
  --green-200: #8FD4BAFF;
  --green-300: #5CC19AFF;
  --green-400: #3CB586FF;
  --green-50: #E7F6F0FF;
  --green-500: #0BA268FF;
  --green-600: #0A935FFF;
  --green-700: #08734AFF;
  --green-800: #065939FF;
  --green-900: #05442CFF;
  --green-alpha10: #08734A19;
  --green-alpha20: #08734A33;
  --green-alpha30: #08734A4C;
  --green-alpha40: #08734A66;
  --green-alpha50: #08734A7F;
  --green-alpha60: #08734A99;
  --green-alpha70: #08734AB2;
  --green-alpha80: #08734ACC;
  --green-alpha90: #08734AE5;
  --orange-100: #FFD5B0FF;
  --orange-200: #FFC08AFF;
  --orange-300: #FFA454FF;
  --orange-400: #FF9233FF;
  --orange-50: #FFF1E6FF;
  --orange-500: #FF7700FF;
  --orange-600: #E86C00FF;
  --orange-700: #B55400FF;
  --orange-800: #8C4100FF;
  --orange-900: #6B3200FF;
  --orange-alpha10: #FF770019;
  --orange-alpha20: #FF770033;
  --orange-alpha30: #FF77004C;
  --orange-alpha40: #FF770066;
  --orange-alpha50: #FF77007F;
  --orange-alpha60: #FF770099;
  --orange-alpha70: #FF7700B2;
  --orange-alpha80: #FF7700CC;
  --orange-alpha90: #FF7700E5;
  --red-100: #FAB0B0FF;
  --red-200: #F88A8AFF;
  --red-300: #F55454FF;
  --red-400: #F33333FF;
  --red-50: #FEE6E6FF;
  --red-500: #F00000FF;
  --red-600: #DA0000FF;
  --red-700: #AA0000FF;
  --red-800: #840000FF;
  --red-900: #650000FF;
  --red-alpha10: #DA000019;
  --red-alpha20: #DA000033;
  --red-alpha30: #DA00004C;
  --red-alpha40: #DA000066;
  --red-alpha50: #DA00007F;
  --red-alpha60: #DA000099;
  --red-alpha70: #DA0000B2;
  --red-alpha80: #DA0000CC;
  --red-alpha90: #DA0000E5;
  --warm-grey-100: #C8C8CBFF;
  --warm-grey-200: #AEAEB1FF;
  --warm-grey-300: #88888EFF;
  --warm-grey-400: #717178FF;
  --warm-grey-50: #EDEDEEFF;
  --warm-grey-500: #4E4E56FF;
  --warm-grey-600: #47474EFF;
  --warm-grey-700: #37373DFF;
  --warm-grey-800: #2B2B2FFF;
  --warm-grey-900: #212124FF;
  --warm-grey-950: #141415FF;
  --warm-grey-alpha10: #4E4E5619;
  --warm-grey-alpha20: #4E4E5633;
  --warm-grey-alpha30: #4E4E564C;
  --warm-grey-alpha40: #4E4E5666;
  --warm-grey-alpha50: #4E4E567F;
  --warm-grey-alpha60: #4E4E5699;
  --warm-grey-alpha70: #4E4E56B2;
  --warm-grey-alpha80: #4E4E56CC;
  --warm-grey-alpha90: #4E4E56E5;
}