:root {
  --oka-color-info-100: var(--blue-100);
  --oka-color-info-200: var(--blue-200);
  --oka-color-info-300: var(--blue-300);
  --oka-color-info-400: var(--blue-400);
  --oka-color-info-50: var(--blue-50);
  --oka-color-info-500: var(--blue-500);
  --oka-color-info-600: var(--blue-600);
  --oka-color-info-700: var(--blue-700);
  --oka-color-info-800: var(--blue-800);
  --oka-color-info-900: var(--blue-900);
  --oka-color-info-alpha10: var(--blue-alpha10);
  --oka-color-info-alpha20: var(--blue-alpha20);
  --oka-color-info-alpha30: var(--blue-alpha30);
  --oka-color-info-alpha40: var(--blue-alpha40);
  --oka-color-info-alpha50: var(--blue-alpha50);
  --oka-color-info-alpha60: var(--blue-alpha60);
  --oka-color-info-alpha70: var(--blue-alpha70);
  --oka-color-info-alpha80: var(--blue-alpha80);
  --oka-color-info-alpha90: var(--blue-alpha90);
  --oka-color-negative-100: var(--red-100);
  --oka-color-negative-200: var(--red-200);
  --oka-color-negative-300: var(--red-300);
  --oka-color-negative-400: var(--red-400);
  --oka-color-negative-50: var(--red-50);
  --oka-color-negative-500: var(--red-500);
  --oka-color-negative-600: var(--red-600);
  --oka-color-negative-700: var(--red-700);
  --oka-color-negative-800: var(--red-800);
  --oka-color-negative-900: var(--red-900);
  --oka-color-negative-alpha10: var(--red-alpha10);
  --oka-color-negative-alpha20: var(--red-alpha20);
  --oka-color-negative-alpha30: var(--red-alpha30);
  --oka-color-negative-alpha40: var(--red-alpha40);
  --oka-color-negative-alpha50: var(--red-alpha50);
  --oka-color-negative-alpha60: var(--red-alpha60);
  --oka-color-negative-alpha70: var(--red-alpha70);
  --oka-color-negative-alpha80: var(--red-alpha80);
  --oka-color-negative-alpha90: var(--red-alpha90);
  --oka-color-neutral-100: var(--cold-grey-100);
  --oka-color-neutral-200: var(--cold-grey-200);
  --oka-color-neutral-300: var(--cold-grey-300);
  --oka-color-neutral-400: var(--cold-grey-400);
  --oka-color-neutral-50: var(--cold-grey-50);
  --oka-color-neutral-500: var(--cold-grey-500);
  --oka-color-neutral-600: var(--cold-grey-600);
  --oka-color-neutral-700: var(--cold-grey-700);
  --oka-color-neutral-800: var(--cold-grey-800);
  --oka-color-neutral-900: var(--cold-grey-900);
  --oka-color-neutral-950: var(--cold-grey-950);
  --oka-color-neutral-alpha10: var(--cold-grey-alpha10);
  --oka-color-neutral-alpha20: var(--cold-grey-alpha20);
  --oka-color-neutral-alpha30: var(--cold-grey-alpha30);
  --oka-color-neutral-alpha40: var(--cold-grey-alpha40);
  --oka-color-neutral-alpha50: var(--cold-grey-alpha50);
  --oka-color-neutral-alpha60: var(--cold-grey-alpha60);
  --oka-color-neutral-alpha70: var(--cold-grey-alpha70);
  --oka-color-neutral-alpha80: var(--cold-grey-alpha80);
  --oka-color-neutral-alpha90: var(--cold-grey-alpha90);
  --oka-color-positive-100: var(--green-100);
  --oka-color-positive-200: var(--green-200);
  --oka-color-positive-300: var(--green-300);
  --oka-color-positive-400: var(--green-400);
  --oka-color-positive-50: var(--green-50);
  --oka-color-positive-500: var(--green-500);
  --oka-color-positive-600: var(--green-600);
  --oka-color-positive-700: var(--green-700);
  --oka-color-positive-800: var(--green-800);
  --oka-color-positive-900: var(--green-900);
  --oka-color-positive-alpha10: var(--green-alpha10);
  --oka-color-positive-alpha20: var(--green-alpha20);
  --oka-color-positive-alpha30: var(--green-alpha30);
  --oka-color-positive-alpha40: var(--green-alpha40);
  --oka-color-positive-alpha50: var(--green-alpha50);
  --oka-color-positive-alpha60: var(--green-alpha60);
  --oka-color-positive-alpha70: var(--green-alpha70);
  --oka-color-positive-alpha80: var(--green-alpha80);
  --oka-color-positive-alpha90: var(--green-alpha90);
  --oka-color-primary-100: var(--blue-100);
  --oka-color-primary-200: var(--blue-200);
  --oka-color-primary-300: var(--blue-300);
  --oka-color-primary-400: var(--blue-400);
  --oka-color-primary-50: var(--blue-50);
  --oka-color-primary-500: var(--blue-500);
  --oka-color-primary-600: var(--blue-600);
  --oka-color-primary-700: var(--blue-700);
  --oka-color-primary-800: var(--blue-800);
  --oka-color-primary-900: var(--blue-900);
  --oka-color-primary-alpha10: var(--blue-alpha10);
  --oka-color-primary-alpha20: var(--blue-alpha20);
  --oka-color-primary-alpha30: var(--blue-alpha30);
  --oka-color-primary-alpha40: var(--blue-alpha40);
  --oka-color-primary-alpha50: var(--blue-alpha50);
  --oka-color-primary-alpha60: var(--blue-alpha60);
  --oka-color-primary-alpha70: var(--blue-alpha70);
  --oka-color-primary-alpha80: var(--blue-alpha80);
  --oka-color-primary-alpha90: var(--blue-alpha90);
  --oka-color-secondary-100: var(--fushia-100);
  --oka-color-secondary-200: var(--fushia-200);
  --oka-color-secondary-300: var(--fushia-300);
  --oka-color-secondary-400: var(--fushia-400);
  --oka-color-secondary-50: var(--fushia-50);
  --oka-color-secondary-500: var(--fushia-500);
  --oka-color-secondary-600: var(--fushia-600);
  --oka-color-secondary-700: var(--fushia-700);
  --oka-color-secondary-800: var(--fushia-800);
  --oka-color-secondary-900: var(--fushia-900);
  --oka-color-secondary-alpha10: var(--fushia-alpha10);
  --oka-color-secondary-alpha20: var(--fushia-alpha20);
  --oka-color-secondary-alpha30: var(--fushia-alpha30);
  --oka-color-secondary-alpha40: var(--fushia-alpha40);
  --oka-color-secondary-alpha50: var(--fushia-alpha50);
  --oka-color-secondary-alpha60: var(--fushia-alpha60);
  --oka-color-secondary-alpha70: var(--fushia-alpha70);
  --oka-color-secondary-alpha80: var(--fushia-alpha80);
  --oka-color-secondary-alpha90: var(--fushia-alpha90);
  --oka-color-warning-100: var(--orange-100);
  --oka-color-warning-200: var(--orange-200);
  --oka-color-warning-300: var(--orange-300);
  --oka-color-warning-400: var(--orange-400);
  --oka-color-warning-50: var(--orange-50);
  --oka-color-warning-500: var(--orange-500);
  --oka-color-warning-600: var(--orange-600);
  --oka-color-warning-700: var(--orange-700);
  --oka-color-warning-800: var(--orange-800);
  --oka-color-warning-900: var(--orange-900);
  --oka-color-warning-alpha10: var(--orange-alpha10);
  --oka-color-warning-alpha20: var(--orange-alpha20);
  --oka-color-warning-alpha30: var(--orange-alpha30);
  --oka-color-warning-alpha40: var(--orange-alpha40);
  --oka-color-warning-alpha50: var(--orange-alpha50);
  --oka-color-warning-alpha60: var(--orange-alpha60);
  --oka-color-warning-alpha70: var(--orange-alpha70);
  --oka-color-warning-alpha80: var(--orange-alpha80);
  --oka-color-warning-alpha90: var(--orange-alpha90);
  --oka-radius-button: 16px;
  --oka-radius-container: 8px;
  --oka-radius-form: 4px;
}

:root {
  --oka-fontfamily-brand-default: IBM Plex Sans;
--oka-fontfamily-brand-heading: IBM Plex Sans;
--oka-fontfamily-brand-text: IBM Plex Sans;
--oka-fontfamily-system-default: IBM Plex Sans;
--oka-fontfamily-system-heading: IBM Plex Sans;
--oka-fontfamily-system-data: IBM Plex Sans;
--oka-fontfamily-system-cta: IBM Plex Sans;
--oka-fontfamily-system-label: IBM Plex Sans;
--oka-typo-brand-heading-poster-font-family: IBM Plex Sans;
--oka-typo-brand-heading-poster-font-weight: Bold;
--oka-typo-brand-heading-poster-line-height: 104;
--oka-typo-brand-heading-poster-font-size: 5.61rem;
--oka-typo-brand-heading-poster-letter-spacing: -3.5%;
--oka-typo-brand-heading-poster-paragraph-spacing: 0;
--oka-typo-brand-heading-poster-text-case: none;
--oka-typo-brand-heading-poster-text-decoration: none;
--oka-typo-brand-heading-giant-font-family: IBM Plex Sans;
--oka-typo-brand-heading-giant-font-weight: Bold;
--oka-typo-brand-heading-giant-line-height: 80;
--oka-typo-brand-heading-giant-font-size: 4.209rem;
--oka-typo-brand-heading-giant-letter-spacing: -3.5%;
--oka-typo-brand-heading-giant-paragraph-spacing: 0;
--oka-typo-brand-heading-giant-text-case: none;
--oka-typo-brand-heading-giant-text-decoration: none;
--oka-typo-brand-heading-xl-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xl-font-weight: Bold;
--oka-typo-brand-heading-xl-line-height: 64;
--oka-typo-brand-heading-xl-font-size: 3.157rem;
--oka-typo-brand-heading-xl-letter-spacing: -3.5%;
--oka-typo-brand-heading-xl-paragraph-spacing: 0;
--oka-typo-brand-heading-xl-text-case: none;
--oka-typo-brand-heading-xl-text-decoration: none;
--oka-typo-brand-heading-lg-font-family: IBM Plex Sans;
--oka-typo-brand-heading-lg-font-weight: Bold;
--oka-typo-brand-heading-lg-line-height: 48;
--oka-typo-brand-heading-lg-font-size: 2.369rem;
--oka-typo-brand-heading-lg-letter-spacing: -3.5%;
--oka-typo-brand-heading-lg-paragraph-spacing: 0;
--oka-typo-brand-heading-lg-text-case: none;
--oka-typo-brand-heading-lg-text-decoration: none;
--oka-typo-brand-heading-md-font-family: IBM Plex Sans;
--oka-typo-brand-heading-md-font-weight: Bold;
--oka-typo-brand-heading-md-line-height: 40;
--oka-typo-brand-heading-md-font-size: 1.777rem;
--oka-typo-brand-heading-md-letter-spacing: -3.5%;
--oka-typo-brand-heading-md-paragraph-spacing: 0;
--oka-typo-brand-heading-md-text-case: none;
--oka-typo-brand-heading-md-text-decoration: none;
--oka-typo-brand-heading-sm-font-family: IBM Plex Sans;
--oka-typo-brand-heading-sm-font-weight: Bold;
--oka-typo-brand-heading-sm-line-height: 32;
--oka-typo-brand-heading-sm-font-size: 1.333rem;
--oka-typo-brand-heading-sm-letter-spacing: -3.5%;
--oka-typo-brand-heading-sm-paragraph-spacing: 0;
--oka-typo-brand-heading-sm-text-case: none;
--oka-typo-brand-heading-sm-text-decoration: none;
--oka-typo-brand-heading-xs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xs-font-weight: Bold;
--oka-typo-brand-heading-xs-line-height: 24;
--oka-typo-brand-heading-xs-font-size: 1rem;
--oka-typo-brand-heading-xs-letter-spacing: -3.5%;
--oka-typo-brand-heading-xs-paragraph-spacing: 0;
--oka-typo-brand-heading-xs-text-case: none;
--oka-typo-brand-heading-xs-text-decoration: none;
--oka-typo-brand-heading-xxs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xxs-font-weight: Bold;
--oka-typo-brand-heading-xxs-line-height: 16;
--oka-typo-brand-heading-xxs-font-size: 0.75rem;
--oka-typo-brand-heading-xxs-letter-spacing: -3.5%;
--oka-typo-brand-heading-xxs-paragraph-spacing: 0;
--oka-typo-brand-heading-xxs-text-case: none;
--oka-typo-brand-heading-xxs-text-decoration: none;
--oka-typo-brand-heading-secondary-poster-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-poster-font-weight: Light;
--oka-typo-brand-heading-secondary-poster-line-height: 104;
--oka-typo-brand-heading-secondary-poster-font-size: 5.61rem;
--oka-typo-brand-heading-secondary-poster-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-poster-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-poster-text-case: none;
--oka-typo-brand-heading-secondary-poster-text-decoration: none;
--oka-typo-brand-heading-secondary-giant-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-giant-font-weight: Light;
--oka-typo-brand-heading-secondary-giant-line-height: 80;
--oka-typo-brand-heading-secondary-giant-font-size: 4.209rem;
--oka-typo-brand-heading-secondary-giant-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-giant-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-giant-text-case: none;
--oka-typo-brand-heading-secondary-giant-text-decoration: none;
--oka-typo-brand-heading-secondary-xl-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xl-font-weight: Light;
--oka-typo-brand-heading-secondary-xl-line-height: 64;
--oka-typo-brand-heading-secondary-xl-font-size: 3.157rem;
--oka-typo-brand-heading-secondary-xl-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xl-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xl-text-case: none;
--oka-typo-brand-heading-secondary-xl-text-decoration: none;
--oka-typo-brand-heading-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-lg-font-weight: Light;
--oka-typo-brand-heading-secondary-lg-line-height: 48;
--oka-typo-brand-heading-secondary-lg-font-size: 2.369rem;
--oka-typo-brand-heading-secondary-lg-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-lg-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-lg-text-case: none;
--oka-typo-brand-heading-secondary-lg-text-decoration: none;
--oka-typo-brand-heading-secondary-md-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-md-font-weight: Light;
--oka-typo-brand-heading-secondary-md-line-height: 40;
--oka-typo-brand-heading-secondary-md-font-size: 1.777rem;
--oka-typo-brand-heading-secondary-md-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-md-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-md-text-case: none;
--oka-typo-brand-heading-secondary-md-text-decoration: none;
--oka-typo-brand-heading-secondary-sm-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-sm-font-weight: Light;
--oka-typo-brand-heading-secondary-sm-line-height: 32;
--oka-typo-brand-heading-secondary-sm-font-size: 1.333rem;
--oka-typo-brand-heading-secondary-sm-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-sm-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-sm-text-case: none;
--oka-typo-brand-heading-secondary-sm-text-decoration: none;
--oka-typo-brand-heading-secondary-xs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xs-font-weight: Regular;
--oka-typo-brand-heading-secondary-xs-line-height: 24;
--oka-typo-brand-heading-secondary-xs-font-size: 1rem;
--oka-typo-brand-heading-secondary-xs-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xs-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xs-text-case: none;
--oka-typo-brand-heading-secondary-xs-text-decoration: none;
--oka-typo-brand-heading-secondary-xxs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xxs-font-weight: Regular;
--oka-typo-brand-heading-secondary-xxs-line-height: 16;
--oka-typo-brand-heading-secondary-xxs-font-size: 0.75rem;
--oka-typo-brand-heading-secondary-xxs-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xxs-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xxs-text-case: none;
--oka-typo-brand-heading-secondary-xxs-text-decoration: none;
--oka-typo-brand-text-default-font-family: IBM Plex Sans;
--oka-typo-brand-text-default-font-weight: Regular;
--oka-typo-brand-text-default-line-height: 24;
--oka-typo-brand-text-default-font-size: 1rem;
--oka-typo-brand-text-default-letter-spacing: 0;
--oka-typo-brand-text-default-paragraph-spacing: 0;
--oka-typo-brand-text-default-text-case: none;
--oka-typo-brand-text-default-text-decoration: none;
--oka-typo-brand-text-sm-font-family: IBM Plex Sans;
--oka-typo-brand-text-sm-font-weight: Regular;
--oka-typo-brand-text-sm-line-height: 24;
--oka-typo-brand-text-sm-font-size: 0.875rem;
--oka-typo-brand-text-sm-letter-spacing: 0;
--oka-typo-brand-text-sm-paragraph-spacing: 0;
--oka-typo-brand-text-sm-text-case: none;
--oka-typo-brand-text-sm-text-decoration: none;
--oka-typo-brand-text-xs-font-family: IBM Plex Sans;
--oka-typo-brand-text-xs-font-weight: Regular;
--oka-typo-brand-text-xs-line-height: 16;
--oka-typo-brand-text-xs-font-size: 0.75rem;
--oka-typo-brand-text-xs-letter-spacing: 0;
--oka-typo-brand-text-xs-paragraph-spacing: 0;
--oka-typo-brand-text-xs-text-case: none;
--oka-typo-brand-text-xs-text-decoration: none;
--oka-typo-brand-text-lg-font-family: IBM Plex Sans;
--oka-typo-brand-text-lg-font-weight: Light;
--oka-typo-brand-text-lg-line-height: 32;
--oka-typo-brand-text-lg-font-size: 1.333rem;
--oka-typo-brand-text-lg-letter-spacing: 0;
--oka-typo-brand-text-lg-paragraph-spacing: 0;
--oka-typo-brand-text-lg-text-case: none;
--oka-typo-brand-text-lg-text-decoration: none;
--oka-typo-system-heading-lg-font-family: IBM Plex Sans;
--oka-typo-system-heading-lg-font-weight: Bold;
--oka-typo-system-heading-lg-line-height: 40;
--oka-typo-system-heading-lg-font-size: 1.777rem;
--oka-typo-system-heading-lg-letter-spacing: 0;
--oka-typo-system-heading-lg-paragraph-spacing: 0;
--oka-typo-system-heading-lg-text-case: none;
--oka-typo-system-heading-lg-text-decoration: none;
--oka-typo-system-heading-md-font-family: IBM Plex Sans;
--oka-typo-system-heading-md-font-weight: Bold;
--oka-typo-system-heading-md-line-height: 32;
--oka-typo-system-heading-md-font-size: 1.333rem;
--oka-typo-system-heading-md-letter-spacing: 0;
--oka-typo-system-heading-md-paragraph-spacing: 0;
--oka-typo-system-heading-md-text-case: none;
--oka-typo-system-heading-md-text-decoration: none;
--oka-typo-system-heading-sm-font-family: IBM Plex Sans;
--oka-typo-system-heading-sm-font-weight: Bold;
--oka-typo-system-heading-sm-line-height: 32;
--oka-typo-system-heading-sm-font-size: 1rem;
--oka-typo-system-heading-sm-letter-spacing: 0;
--oka-typo-system-heading-sm-paragraph-spacing: 0;
--oka-typo-system-heading-sm-text-case: none;
--oka-typo-system-heading-sm-text-decoration: none;
--oka-typo-system-heading-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-lg-font-weight: Regular;
--oka-typo-system-heading-secondary-lg-line-height: 40;
--oka-typo-system-heading-secondary-lg-font-size: 1.777rem;
--oka-typo-system-heading-secondary-lg-letter-spacing: 0;
--oka-typo-system-heading-secondary-lg-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-lg-text-case: none;
--oka-typo-system-heading-secondary-lg-text-decoration: none;
--oka-typo-system-heading-secondary-md-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-md-font-weight: Regular;
--oka-typo-system-heading-secondary-md-line-height: 40;
--oka-typo-system-heading-secondary-md-font-size: 1.333rem;
--oka-typo-system-heading-secondary-md-letter-spacing: 0;
--oka-typo-system-heading-secondary-md-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-md-text-case: none;
--oka-typo-system-heading-secondary-md-text-decoration: none;
--oka-typo-system-heading-secondary-sm-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-sm-font-weight: Regular;
--oka-typo-system-heading-secondary-sm-line-height: 32;
--oka-typo-system-heading-secondary-sm-font-size: 1rem;
--oka-typo-system-heading-secondary-sm-letter-spacing: 0;
--oka-typo-system-heading-secondary-sm-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-sm-text-case: none;
--oka-typo-system-heading-secondary-sm-text-decoration: none;
--oka-typo-system-data-lg-font-family: IBM Plex Sans;
--oka-typo-system-data-lg-font-weight: Light;
--oka-typo-system-data-lg-line-height: 24;
--oka-typo-system-data-lg-font-size: 1rem;
--oka-typo-system-data-lg-letter-spacing: 0;
--oka-typo-system-data-lg-paragraph-spacing: 0;
--oka-typo-system-data-lg-text-case: none;
--oka-typo-system-data-lg-text-decoration: none;
--oka-typo-system-data-md-font-family: IBM Plex Sans;
--oka-typo-system-data-md-font-weight: Light;
--oka-typo-system-data-md-line-height: 16;
--oka-typo-system-data-md-font-size: 0.875rem;
--oka-typo-system-data-md-letter-spacing: 0;
--oka-typo-system-data-md-paragraph-spacing: 0;
--oka-typo-system-data-md-text-case: none;
--oka-typo-system-data-md-text-decoration: none;
--oka-typo-system-data-sm-font-family: IBM Plex Sans;
--oka-typo-system-data-sm-font-weight: Regular;
--oka-typo-system-data-sm-line-height: 16;
--oka-typo-system-data-sm-font-size: 0.75rem;
--oka-typo-system-data-sm-letter-spacing: 0;
--oka-typo-system-data-sm-paragraph-spacing: 0;
--oka-typo-system-data-sm-text-case: none;
--oka-typo-system-data-sm-text-decoration: none;
--oka-typo-system-data-xs-font-family: IBM Plex Sans;
--oka-typo-system-data-xs-font-weight: Regular;
--oka-typo-system-data-xs-line-height: 16;
--oka-typo-system-data-xs-font-size: 0.64rem;
--oka-typo-system-data-xs-letter-spacing: 0;
--oka-typo-system-data-xs-paragraph-spacing: 0;
--oka-typo-system-data-xs-text-case: none;
--oka-typo-system-data-xs-text-decoration: none;
--oka-typo-system-data-strong-lg-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-lg-font-weight: Medium;
--oka-typo-system-data-strong-lg-line-height: 24;
--oka-typo-system-data-strong-lg-font-size: 1rem;
--oka-typo-system-data-strong-lg-letter-spacing: 0;
--oka-typo-system-data-strong-lg-paragraph-spacing: 0;
--oka-typo-system-data-strong-lg-text-case: none;
--oka-typo-system-data-strong-lg-text-decoration: none;
--oka-typo-system-data-strong-md-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-md-font-weight: Medium;
--oka-typo-system-data-strong-md-line-height: 16;
--oka-typo-system-data-strong-md-font-size: 0.875rem;
--oka-typo-system-data-strong-md-letter-spacing: 0;
--oka-typo-system-data-strong-md-paragraph-spacing: 0;
--oka-typo-system-data-strong-md-text-case: none;
--oka-typo-system-data-strong-md-text-decoration: none;
--oka-typo-system-data-strong-sm-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-sm-font-weight: Medium;
--oka-typo-system-data-strong-sm-line-height: 16;
--oka-typo-system-data-strong-sm-font-size: 0.75rem;
--oka-typo-system-data-strong-sm-letter-spacing: 0;
--oka-typo-system-data-strong-sm-paragraph-spacing: 0;
--oka-typo-system-data-strong-sm-text-case: none;
--oka-typo-system-data-strong-sm-text-decoration: none;
--oka-typo-system-data-strong-xs-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-xs-font-weight: Medium;
--oka-typo-system-data-strong-xs-line-height: 16;
--oka-typo-system-data-strong-xs-font-size: 0.64rem;
--oka-typo-system-data-strong-xs-letter-spacing: 0;
--oka-typo-system-data-strong-xs-paragraph-spacing: 0;
--oka-typo-system-data-strong-xs-text-case: none;
--oka-typo-system-data-strong-xs-text-decoration: none;
--oka-typo-system-cta-lg-font-family: IBM Plex Sans;
--oka-typo-system-cta-lg-font-weight: Medium;
--oka-typo-system-cta-lg-line-height: 32;
--oka-typo-system-cta-lg-font-size: 1rem;
--oka-typo-system-cta-lg-letter-spacing: 0;
--oka-typo-system-cta-lg-paragraph-spacing: 0;
--oka-typo-system-cta-lg-text-case: none;
--oka-typo-system-cta-lg-text-decoration: none;
--oka-typo-system-cta-md-font-family: IBM Plex Sans;
--oka-typo-system-cta-md-font-weight: Medium;
--oka-typo-system-cta-md-line-height: 24;
--oka-typo-system-cta-md-font-size: 0.875rem;
--oka-typo-system-cta-md-letter-spacing: 0;
--oka-typo-system-cta-md-paragraph-spacing: 0;
--oka-typo-system-cta-md-text-case: none;
--oka-typo-system-cta-md-text-decoration: none;
--oka-typo-system-cta-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-system-cta-secondary-lg-font-weight: Regular;
--oka-typo-system-cta-secondary-lg-line-height: 32;
--oka-typo-system-cta-secondary-lg-font-size: 1rem;
--oka-typo-system-cta-secondary-lg-letter-spacing: 0;
--oka-typo-system-cta-secondary-lg-paragraph-spacing: 0;
--oka-typo-system-cta-secondary-lg-text-case: none;
--oka-typo-system-cta-secondary-lg-text-decoration: none;
--oka-typo-system-cta-secondary-md-font-family: IBM Plex Sans;
--oka-typo-system-cta-secondary-md-font-weight: Regular;
--oka-typo-system-cta-secondary-md-line-height: 32;
--oka-typo-system-cta-secondary-md-font-size: 0.875rem;
--oka-typo-system-cta-secondary-md-letter-spacing: 0;
--oka-typo-system-cta-secondary-md-paragraph-spacing: 0;
--oka-typo-system-cta-secondary-md-text-case: none;
--oka-typo-system-cta-secondary-md-text-decoration: none;
--oka-typo-system-label-lg-font-family: IBM Plex Sans;
--oka-typo-system-label-lg-font-weight: Medium;
--oka-typo-system-label-lg-line-height: 24;
--oka-typo-system-label-lg-font-size: 1rem;
--oka-typo-system-label-lg-letter-spacing: 0;
--oka-typo-system-label-lg-paragraph-spacing: 0;
--oka-typo-system-label-lg-text-case: none;
--oka-typo-system-label-lg-text-decoration: none;
--oka-typo-system-label-md-font-family: IBM Plex Sans;
--oka-typo-system-label-md-font-weight: Medium;
--oka-typo-system-label-md-line-height: 16;
--oka-typo-system-label-md-font-size: 0.875rem;
--oka-typo-system-label-md-letter-spacing: 0;
--oka-typo-system-label-md-paragraph-spacing: 0;
--oka-typo-system-label-md-text-case: none;
--oka-typo-system-label-md-text-decoration: none;
--oka-typo-system-label-sm-font-family: IBM Plex Sans;
--oka-typo-system-label-sm-font-weight: Medium;
--oka-typo-system-label-sm-line-height: 16;
--oka-typo-system-label-sm-font-size: 0.75rem;
--oka-typo-system-label-sm-letter-spacing: 0;
--oka-typo-system-label-sm-paragraph-spacing: 0;
--oka-typo-system-label-sm-text-case: none;
--oka-typo-system-label-sm-text-decoration: none;
--oka-fontweight-bold: Bold;
--oka-fontweight-semibold: SemiBold;
--oka-fontweight-medium: Medium;
--oka-fontweight-regular: Regular;
--oka-fontweight-light: Light;
--oka-fontweight-thin: Thin;
--oka-fontweight-system-stronger: Bold;
--oka-fontweight-system-strong: Medium;
--oka-fontweight-system-regular: Regular;
--oka-fontweight-system-light: Light;
}