:root {
  --oka-color-bd: var(--oka-color-neutral-alpha80);
  --oka-color-bd-disabled: var(--oka-color-neutral-alpha20);
  --oka-color-bd-info: var(--oka-color-info-600);
  --oka-color-bd-info-active: var(--oka-color-info-800);
  --oka-color-bd-info-hover: var(--oka-color-info-800);
  --oka-color-bd-info-minimal: var(--oka-color-info-alpha10);
  --oka-color-bd-info-subtle: var(--oka-color-info-alpha30);
  --oka-color-bd-minimal: var(--oka-color-neutral-alpha20);
  --oka-color-bd-negative: var(--oka-color-negative-600);
  --oka-color-bd-negative-active: var(--oka-color-negative-800);
  --oka-color-bd-negative-hover: var(--oka-color-negative-800);
  --oka-color-bd-negative-minimal: var(--oka-color-negative-alpha10);
  --oka-color-bd-negative-subtle: var(--oka-color-negative-alpha30);
  --oka-color-bd-positive: var(--oka-color-positive-600);
  --oka-color-bd-positive-active: var(--oka-color-positive-800);
  --oka-color-bd-positive-hover: var(--oka-color-positive-800);
  --oka-color-bd-positive-minimal: var(--oka-color-positive-alpha10);
  --oka-color-bd-positive-subtle: var(--oka-color-positive-alpha30);
  --oka-color-bd-primary: var(--oka-color-primary-600);
  --oka-color-bd-primary-active: var(--oka-color-primary-700);
  --oka-color-bd-primary-hover: var(--oka-color-primary-700);
  --oka-color-bd-primary-minimal: var(--oka-color-primary-alpha20);
  --oka-color-bd-primary-subtle: var(--oka-color-primary-alpha30);
  --oka-color-bd-secondary: var(--oka-color-secondary-600);
  --oka-color-bd-secondary-active: var(--oka-color-secondary-700);
  --oka-color-bd-secondary-hover: var(--oka-color-secondary-700);
  --oka-color-bd-secondary-minimal: var(--oka-color-secondary-alpha20);
  --oka-color-bd-secondary-subtle: var(--oka-color-secondary-alpha30);
  --oka-color-bd-spec: var(--fushia-600);
  --oka-color-bd-spec-minimal: var(--fushia-alpha10);
  --oka-color-bd-spec-strong: var(--fushia-800);
  --oka-color-bd-spec-subtle: var(--fushia-alpha30);
  --oka-color-bd-strong: var(--oka-color-neutral-600);
  --oka-color-bd-subtle: var(--oka-color-neutral-alpha50);
  --oka-color-bd-warning: var(--oka-color-warning-500);
  --oka-color-bd-warning-active: var(--oka-color-warning-700);
  --oka-color-bd-warning-hover: var(--oka-color-warning-700);
  --oka-color-bd-warning-minimal: var(--oka-color-warning-alpha10);
  --oka-color-bd-warning-subtle: var(--oka-color-warning-alpha30);
  --oka-color-bg-disabled: var(--oka-color-neutral-alpha10);
  --oka-color-bg-info: var(--oka-color-info-600);
  --oka-color-bg-info-active: var(--oka-color-info-700);
  --oka-color-bg-info-hover: var(--oka-color-info-800);
  --oka-color-bg-info-minimal: var(--oka-color-info-alpha10);
  --oka-color-bg-info-subtle: var(--oka-color-info-alpha30);
  --oka-color-bg-minimal: var(--oka-color-neutral-alpha10);
  --oka-color-bg-negative: var(--oka-color-negative-600);
  --oka-color-bg-negative-active: var(--oka-color-negative-700);
  --oka-color-bg-negative-hover: var(--oka-color-negative-800);
  --oka-color-bg-negative-minimal: var(--oka-color-negative-alpha10);
  --oka-color-bg-negative-subtle: var(--oka-color-negative-alpha30);
  --oka-color-bg-on_surface: var(--oka-color-white);
  --oka-color-bg-positive: var(--oka-color-positive-600);
  --oka-color-bg-positive-active: var(--oka-color-positive-700);
  --oka-color-bg-positive-hover: var(--oka-color-positive-800);
  --oka-color-bg-positive-minimal: var(--oka-color-positive-alpha10);
  --oka-color-bg-positive-subtle: var(--oka-color-positive-alpha30);
  --oka-color-bg-primary: var(--oka-color-primary-500);
  --oka-color-bg-primary-active: var(--oka-color-primary-600);
  --oka-color-bg-primary-hover: var(--oka-color-primary-700);
  --oka-color-bg-primary-minimal: var(--oka-color-primary-alpha10);
  --oka-color-bg-primary-subtle: var(--oka-color-primary-alpha30);
  --oka-color-bg-secondary: var(--oka-color-secondary-500);
  --oka-color-bg-secondary-active: var(--oka-color-secondary-600);
  --oka-color-bg-secondary-hover: var(--oka-color-secondary-700);
  --oka-color-bg-secondary-minimal: var(--oka-color-secondary-alpha10);
  --oka-color-bg-secondary-subtle: var(--oka-color-secondary-alpha30);
  --oka-color-bg-spec: var(--fushia-600);
  --oka-color-bg-spec-minimal: var(--fushia-alpha10);
  --oka-color-bg-spec-strong: var(--fushia-800);
  --oka-color-bg-spec-subtle: var(--fushia-alpha40);
  --oka-color-bg-strong: var(--oka-color-neutral-700);
  --oka-color-bg-warning: var(--oka-color-warning-500);
  --oka-color-bg-warning-active: var(--oka-color-warning-600);
  --oka-color-bg-warning-hover: var(--oka-color-warning-700);
  --oka-color-bg-warning-minimal: var(--oka-color-warning-alpha10);
  --oka-color-bg-warning-subtle: var(--oka-color-warning-alpha30);
  --oka-color-fg: var(--oka-color-neutral-900);
  --oka-color-fg-disabled: var(--oka-color-neutral-300);
  --oka-color-fg-info: var(--oka-color-info-600);
  --oka-color-fg-info-active: var(--oka-color-info-800);
  --oka-color-fg-info-hover: var(--oka-color-info-800);
  --oka-color-fg-info-strong: var(--oka-color-info-800);
  --oka-color-fg-negative: var(--oka-color-negative-600);
  --oka-color-fg-negative-active: var(--oka-color-negative-700);
  --oka-color-fg-negative-hover: var(--oka-color-negative-700);
  --oka-color-fg-negative-strong: var(--oka-color-negative-700);
  --oka-color-fg-on_surface: var(--oka-color-white);
  --oka-color-fg-positive: var(--oka-color-positive-600);
  --oka-color-fg-positive-active: var(--oka-color-positive-700);
  --oka-color-fg-positive-hover: var(--oka-color-positive-700);
  --oka-color-fg-positive-strong: var(--oka-color-positive-700);
  --oka-color-fg-primary: var(--oka-color-primary-600);
  --oka-color-fg-primary-active: var(--oka-color-primary-800);
  --oka-color-fg-primary-hover: var(--oka-color-primary-800);
  --oka-color-fg-primary-strong: var(--oka-color-primary-800);
  --oka-color-fg-secondary: var(--oka-color-secondary-500);
  --oka-color-fg-secondary-active: var(--oka-color-secondary-700);
  --oka-color-fg-secondary-hover: var(--oka-color-secondary-700);
  --oka-color-fg-secondary-strong: var(--oka-color-secondary-700);
  --oka-color-fg-spec: var(--fushia-700);
  --oka-color-fg-strong: var(--oka-color-black);
  --oka-color-fg-subtle: var(--oka-color-neutral-500);
  --oka-color-fg-warning: var(--oka-color-warning-600);
  --oka-color-fg-warning-active: var(--oka-color-warning-700);
  --oka-color-fg-warning-hover: var(--oka-color-warning-700);
  --oka-color-fg-warning-strong: var(--oka-color-warning-700);
  --oka-color-layer-floor-0: var(--oka-color-white);
  --oka-color-layer-footer: var(--oka-color-white);
  --oka-color-layer-header: var(--oka-color-white);
  --oka-color-layer-overlay: var(--oka-color-neutral-alpha60);
  --oka-color-layer-shadow: var(--oka-color-neutral-alpha20);
  --oka-color-layer-underground: var(--oka-color-neutral-50);
}


.oka-darkMode {

  --oka-color-bd: var(--oka-color-neutral-400);
  --oka-color-bd-disabled: var(--oka-color-neutral-alpha60);
  --oka-color-bd-info: var(--oka-color-info-300);
  --oka-color-bd-info-active: var(--oka-color-info-100);
  --oka-color-bd-info-hover: var(--oka-color-info-100);
  --oka-color-bd-info-minimal: var(--oka-color-info-alpha30);
  --oka-color-bd-info-subtle: var(--oka-color-info-alpha50);
  --oka-color-bd-minimal: var(--oka-color-neutral-alpha50);
  --oka-color-bd-negative: var(--oka-color-negative-200);
  --oka-color-bd-negative-active: var(--oka-color-negative-50);
  --oka-color-bd-negative-hover: var(--oka-color-negative-50);
  --oka-color-bd-negative-minimal: var(--oka-color-negative-alpha30);
  --oka-color-bd-negative-subtle: var(--oka-color-negative-alpha50);
  --oka-color-bd-positive: var(--oka-color-positive-300);
  --oka-color-bd-positive-active: var(--oka-color-positive-100);
  --oka-color-bd-positive-hover: var(--oka-color-positive-100);
  --oka-color-bd-positive-minimal: var(--oka-color-positive-alpha30);
  --oka-color-bd-positive-subtle: var(--oka-color-positive-alpha50);
  --oka-color-bd-primary: var(--oka-color-primary-500);
  --oka-color-bd-primary-active: var(--oka-color-primary-300);
  --oka-color-bd-primary-hover: var(--oka-color-primary-300);
  --oka-color-bd-primary-minimal: var(--oka-color-primary-alpha30);
  --oka-color-bd-primary-subtle: var(--oka-color-primary-alpha50);
  --oka-color-bd-secondary: var(--oka-color-secondary-500);
  --oka-color-bd-secondary-active: var(--oka-color-secondary-300);
  --oka-color-bd-secondary-hover: var(--oka-color-secondary-300);
  --oka-color-bd-secondary-minimal: var(--oka-color-secondary-alpha30);
  --oka-color-bd-secondary-subtle: var(--oka-color-secondary-alpha50);
  --oka-color-bd-spec: var(--fushia-200);
  --oka-color-bd-spec-minimal: var(--fushia-alpha30);
  --oka-color-bd-spec-strong: var(--fushia-50);
  --oka-color-bd-spec-subtle: var(--fushia-alpha60);
  --oka-color-bd-strong: var(--oka-color-neutral-300);
  --oka-color-bd-subtle: var(--oka-color-neutral-alpha70);
  --oka-color-bd-warning: var(--oka-color-warning-200);
  --oka-color-bd-warning-active: var(--oka-color-warning-50);
  --oka-color-bd-warning-hover: var(--oka-color-warning-50);
  --oka-color-bd-warning-minimal: var(--oka-color-warning-alpha30);
  --oka-color-bd-warning-subtle: var(--oka-color-warning-alpha50);
  --oka-color-bg-disabled: var(--oka-color-neutral-alpha20);
  --oka-color-bg-info: var(--oka-color-info-300);
  --oka-color-bg-info-active: var(--oka-color-info-200);
  --oka-color-bg-info-hover: var(--oka-color-info-100);
  --oka-color-bg-info-minimal: var(--oka-color-info-alpha30);
  --oka-color-bg-info-subtle: var(--oka-color-info-alpha50);
  --oka-color-bg-minimal: var(--oka-color-neutral-alpha90);
  --oka-color-bg-negative: var(--oka-color-negative-300);
  --oka-color-bg-negative-active: var(--oka-color-negative-200);
  --oka-color-bg-negative-hover: var(--oka-color-negative-100);
  --oka-color-bg-negative-minimal: var(--oka-color-negative-alpha30);
  --oka-color-bg-negative-subtle: var(--oka-color-negative-alpha50);
  --oka-color-bg-on_surface: var(--oka-color-black-alpha40);
  --oka-color-bg-positive: var(--oka-color-positive-300);
  --oka-color-bg-positive-active: var(--oka-color-positive-200);
  --oka-color-bg-positive-hover: var(--oka-color-positive-100);
  --oka-color-bg-positive-minimal: var(--oka-color-positive-alpha30);
  --oka-color-bg-positive-subtle: var(--oka-color-positive-alpha50);
  --oka-color-bg-primary: var(--oka-color-primary-400);
  --oka-color-bg-primary-active: var(--oka-color-primary-500);
  --oka-color-bg-primary-hover: var(--oka-color-primary-700);
  --oka-color-bg-primary-minimal: var(--oka-color-primary-alpha30);
  --oka-color-bg-primary-subtle: var(--oka-color-primary-alpha50);
  --oka-color-bg-secondary: var(--oka-color-secondary-400);
  --oka-color-bg-secondary-active: var(--oka-color-secondary-500);
  --oka-color-bg-secondary-hover: var(--oka-color-secondary-200);
  --oka-color-bg-secondary-minimal: var(--oka-color-secondary-alpha20);
  --oka-color-bg-secondary-subtle: var(--oka-color-secondary-alpha50);
  --oka-color-bg-spec: var(--fushia-200);
  --oka-color-bg-spec-minimal: var(--fushia-alpha30);
  --oka-color-bg-spec-strong: var(--fushia-50);
  --oka-color-bg-spec-subtle: var(--fushia-alpha60);
  --oka-color-bg-strong: var(--oka-color-neutral-200);
  --oka-color-bg-warning: var(--oka-color-warning-300);
  --oka-color-bg-warning-active: var(--oka-color-warning-200);
  --oka-color-bg-warning-hover: var(--oka-color-warning-100);
  --oka-color-bg-warning-minimal: var(--oka-color-warning-alpha30);
  --oka-color-bg-warning-subtle: var(--oka-color-warning-alpha50);
  --oka-color-fg: var(--oka-color-neutral-50);
  --oka-color-fg-disabled: var(--oka-color-neutral-400);
  --oka-color-fg-info: var(--oka-color-info-300);
  --oka-color-fg-info-active: var(--oka-color-info-100);
  --oka-color-fg-info-hover: var(--oka-color-info-100);
  --oka-color-fg-info-strong: var(--oka-color-info-100);
  --oka-color-fg-negative: var(--oka-color-negative-300);
  --oka-color-fg-negative-active: var(--oka-color-negative-100);
  --oka-color-fg-negative-hover: var(--oka-color-negative-100);
  --oka-color-fg-negative-strong: var(--oka-color-negative-100);
  --oka-color-fg-on_surface: var(--oka-color-white);
  --oka-color-fg-positive: var(--oka-color-positive-300);
  --oka-color-fg-positive-active: var(--oka-color-positive-100);
  --oka-color-fg-positive-hover: var(--oka-color-positive-100);
  --oka-color-fg-positive-strong: var(--oka-color-positive-100);
  --oka-color-fg-primary: var(--oka-color-primary-400);
  --oka-color-fg-primary-active: var(--oka-color-primary-100);
  --oka-color-fg-primary-hover: var(--oka-color-primary-100);
  --oka-color-fg-primary-strong: var(--oka-color-primary-100);
  --oka-color-fg-secondary: var(--oka-color-secondary-400);
  --oka-color-fg-secondary-active: var(--oka-color-secondary-100);
  --oka-color-fg-secondary-hover: var(--oka-color-secondary-100);
  --oka-color-fg-secondary-strong: var(--oka-color-secondary-100);
  --oka-color-fg-spec: var(--fushia-100);
  --oka-color-fg-strong: var(--oka-color-white);
  --oka-color-fg-subtle: var(--oka-color-neutral-300);
  --oka-color-fg-warning: var(--oka-color-warning-300);
  --oka-color-fg-warning-active: var(--oka-color-warning-100);
  --oka-color-fg-warning-hover: var(--oka-color-warning-100);
  --oka-color-fg-warning-strong: var(--oka-color-warning-100);
  --oka-color-layer-floor-0: var(--oka-color-neutral-900);
  --oka-color-layer-footer: var(--oka-color-neutral-950);
  --oka-color-layer-header: var(--oka-color-neutral-800);
  --oka-color-layer-overlay: var(--oka-color-neutral-alpha40);
  --oka-color-layer-shadow: var(--oka-color-black);
  --oka-color-layer-underground: var(--oka-color-neutral-950);

}