:root {
        --oka-color-white: #ffffff;
--oka-color-black: #000000;
--oka-color-primary-lightest: #e5f6ff;
--oka-color-primary-lighter: #80d0ff;
--oka-color-primary-light: #29b0ff;
--oka-color-primary-base: #0091e6;
--oka-color-primary-dark: #005ebd;
--oka-color-primary-darker: #005999;
--oka-color-primary-darkest: #003c66;
--oka-color-secondary-lightest: #fff2eb;
--oka-color-secondary-lighter: #ffb58a;
--oka-color-secondary-light: #ff9152;
--oka-color-secondary-base: #ff5e00;
--oka-color-secondary-dark: #b34100;
--oka-color-secondary-darker: #662500;
--oka-color-secondary-darkest: #331300;
--oka-color-neutral-lightest: #eef1f6;
--oka-color-neutral-lighter: #dee3ed;
--oka-color-neutral-light: #bdc7db;
--oka-color-neutral-base: #7a8fb8;
--oka-color-neutral-dark: #475c85;
--oka-color-neutral-darker: #364563;
--oka-color-neutral-darkest: #121721;
--oka-color-accent-primary-lightest: #e5f2ff;
--oka-color-accent-primary-lighter: #cce6ff;
--oka-color-accent-primary-light: #3399ff;
--oka-color-accent-primary-base: #0073e6;
--oka-color-accent-primary-dark: #0059b3;
--oka-color-accent-primary-darker: #004080;
--oka-color-accent-primary-darkest: #003366;
--oka-color-accent-secondary-lightest: #fff1e0;
--oka-color-accent-secondary-lighter: #ffc37a;
--oka-color-accent-secondary-light: #ffa83d;
--oka-color-accent-secondary-base: #ff8c00;
--oka-color-accent-secondary-dark: #ff670f;
--oka-color-accent-secondary-darker: #db5000;
--oka-color-accent-secondary-darkest: #a83e00;
--oka-color-feedback-success-lightest: #99ffc9;
--oka-color-feedback-success-lighter: #00ff77;
--oka-color-feedback-success-light: #00cc5f;
--oka-color-feedback-success-base: #009947;
--oka-color-feedback-success-dark: #00803c;
--oka-color-feedback-success-darker: #006630;
--oka-color-feedback-success-darkest: #004d24;
--oka-color-feedback-warning-lightest: #ffecb3;
--oka-color-feedback-warning-lighter: #ffdb70;
--oka-color-feedback-warning-light: #ffcf3d;
--oka-color-feedback-warning-base: #ffc61a;
--oka-color-feedback-warning-dark: #e69900;
--oka-color-feedback-warning-darker: #b37700;
--oka-color-feedback-warning-darkest: #805500;
--oka-color-feedback-error-lightest: #f9d2d9;
--oka-color-feedback-error-lighter: #ec798c;
--oka-color-feedback-error-light: #e64c66;
--oka-color-feedback-error-base: #df2040;
--oka-color-feedback-error-dark: #c91d39;
--oka-color-feedback-error-darker: #9c162d;
--oka-color-feedback-error-darkest: #701020;
--oka-color-feedback-info-lightest: #abc1ed;
--oka-color-feedback-info-lighter: #5783db;
--oka-color-feedback-info-light: #2d64d2;
--oka-color-feedback-info-base: #2450a8;
--oka-color-feedback-info-dark: #1b3c7e;
--oka-color-feedback-info-darker: #122854;
--oka-color-feedback-info-darkest: #09142a;
--oka-color-specs-lighter: #ffb3e6;
--oka-color-specs-light: #ff80d5;
--oka-color-specs-base: #ff33bb;
--oka-color-specs-dark: #e60099;
--oka-color-specs-darker: #b30077;
--oka-color-test: #000000;
--oka-fontfamily-brand-default: IBM Plex Sans;
--oka-fontfamily-brand-heading: IBM Plex Sans;
--oka-fontfamily-brand-text: IBM Plex Sans;
--oka-fontfamily-system-default: IBM Plex Sans;
--oka-fontfamily-system-heading: IBM Plex Sans;
--oka-fontfamily-system-data: IBM Plex Sans;
--oka-fontfamily-system-cta: IBM Plex Sans;
--oka-fontfamily-system-label: IBM Plex Sans;
--oka-typo-brand-heading-poster-font-family: IBM Plex Sans;
--oka-typo-brand-heading-poster-font-weight: Bold;
--oka-typo-brand-heading-poster-line-height: 104;
--oka-typo-brand-heading-poster-font-size: 5.61rem;
--oka-typo-brand-heading-poster-letter-spacing: -3.5%;
--oka-typo-brand-heading-poster-paragraph-spacing: 0;
--oka-typo-brand-heading-poster-text-case: none;
--oka-typo-brand-heading-poster-text-decoration: none;
--oka-typo-brand-heading-giant-font-family: IBM Plex Sans;
--oka-typo-brand-heading-giant-font-weight: Bold;
--oka-typo-brand-heading-giant-line-height: 80;
--oka-typo-brand-heading-giant-font-size: 4.209rem;
--oka-typo-brand-heading-giant-letter-spacing: -3.5%;
--oka-typo-brand-heading-giant-paragraph-spacing: 0;
--oka-typo-brand-heading-giant-text-case: none;
--oka-typo-brand-heading-giant-text-decoration: none;
--oka-typo-brand-heading-xl-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xl-font-weight: Bold;
--oka-typo-brand-heading-xl-line-height: 64;
--oka-typo-brand-heading-xl-font-size: 3.157rem;
--oka-typo-brand-heading-xl-letter-spacing: -3.5%;
--oka-typo-brand-heading-xl-paragraph-spacing: 0;
--oka-typo-brand-heading-xl-text-case: none;
--oka-typo-brand-heading-xl-text-decoration: none;
--oka-typo-brand-heading-lg-font-family: IBM Plex Sans;
--oka-typo-brand-heading-lg-font-weight: Bold;
--oka-typo-brand-heading-lg-line-height: 48;
--oka-typo-brand-heading-lg-font-size: 2.369rem;
--oka-typo-brand-heading-lg-letter-spacing: -3.5%;
--oka-typo-brand-heading-lg-paragraph-spacing: 0;
--oka-typo-brand-heading-lg-text-case: none;
--oka-typo-brand-heading-lg-text-decoration: none;
--oka-typo-brand-heading-md-font-family: IBM Plex Sans;
--oka-typo-brand-heading-md-font-weight: Bold;
--oka-typo-brand-heading-md-line-height: 40;
--oka-typo-brand-heading-md-font-size: 1.777rem;
--oka-typo-brand-heading-md-letter-spacing: -3.5%;
--oka-typo-brand-heading-md-paragraph-spacing: 0;
--oka-typo-brand-heading-md-text-case: none;
--oka-typo-brand-heading-md-text-decoration: none;
--oka-typo-brand-heading-sm-font-family: IBM Plex Sans;
--oka-typo-brand-heading-sm-font-weight: Bold;
--oka-typo-brand-heading-sm-line-height: 32;
--oka-typo-brand-heading-sm-font-size: 1.333rem;
--oka-typo-brand-heading-sm-letter-spacing: -3.5%;
--oka-typo-brand-heading-sm-paragraph-spacing: 0;
--oka-typo-brand-heading-sm-text-case: none;
--oka-typo-brand-heading-sm-text-decoration: none;
--oka-typo-brand-heading-xs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xs-font-weight: Bold;
--oka-typo-brand-heading-xs-line-height: 24;
--oka-typo-brand-heading-xs-font-size: 1rem;
--oka-typo-brand-heading-xs-letter-spacing: -3.5%;
--oka-typo-brand-heading-xs-paragraph-spacing: 0;
--oka-typo-brand-heading-xs-text-case: none;
--oka-typo-brand-heading-xs-text-decoration: none;
--oka-typo-brand-heading-xxs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-xxs-font-weight: Bold;
--oka-typo-brand-heading-xxs-line-height: 16;
--oka-typo-brand-heading-xxs-font-size: 0.75rem;
--oka-typo-brand-heading-xxs-letter-spacing: -3.5%;
--oka-typo-brand-heading-xxs-paragraph-spacing: 0;
--oka-typo-brand-heading-xxs-text-case: none;
--oka-typo-brand-heading-xxs-text-decoration: none;
--oka-typo-brand-heading-secondary-poster-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-poster-font-weight: Light;
--oka-typo-brand-heading-secondary-poster-line-height: 104;
--oka-typo-brand-heading-secondary-poster-font-size: 5.61rem;
--oka-typo-brand-heading-secondary-poster-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-poster-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-poster-text-case: none;
--oka-typo-brand-heading-secondary-poster-text-decoration: none;
--oka-typo-brand-heading-secondary-giant-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-giant-font-weight: Light;
--oka-typo-brand-heading-secondary-giant-line-height: 80;
--oka-typo-brand-heading-secondary-giant-font-size: 4.209rem;
--oka-typo-brand-heading-secondary-giant-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-giant-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-giant-text-case: none;
--oka-typo-brand-heading-secondary-giant-text-decoration: none;
--oka-typo-brand-heading-secondary-xl-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xl-font-weight: Light;
--oka-typo-brand-heading-secondary-xl-line-height: 64;
--oka-typo-brand-heading-secondary-xl-font-size: 3.157rem;
--oka-typo-brand-heading-secondary-xl-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xl-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xl-text-case: none;
--oka-typo-brand-heading-secondary-xl-text-decoration: none;
--oka-typo-brand-heading-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-lg-font-weight: Light;
--oka-typo-brand-heading-secondary-lg-line-height: 48;
--oka-typo-brand-heading-secondary-lg-font-size: 2.369rem;
--oka-typo-brand-heading-secondary-lg-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-lg-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-lg-text-case: none;
--oka-typo-brand-heading-secondary-lg-text-decoration: none;
--oka-typo-brand-heading-secondary-md-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-md-font-weight: Light;
--oka-typo-brand-heading-secondary-md-line-height: 40;
--oka-typo-brand-heading-secondary-md-font-size: 1.777rem;
--oka-typo-brand-heading-secondary-md-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-md-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-md-text-case: none;
--oka-typo-brand-heading-secondary-md-text-decoration: none;
--oka-typo-brand-heading-secondary-sm-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-sm-font-weight: Light;
--oka-typo-brand-heading-secondary-sm-line-height: 32;
--oka-typo-brand-heading-secondary-sm-font-size: 1.333rem;
--oka-typo-brand-heading-secondary-sm-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-sm-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-sm-text-case: none;
--oka-typo-brand-heading-secondary-sm-text-decoration: none;
--oka-typo-brand-heading-secondary-xs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xs-font-weight: Regular;
--oka-typo-brand-heading-secondary-xs-line-height: 24;
--oka-typo-brand-heading-secondary-xs-font-size: 1rem;
--oka-typo-brand-heading-secondary-xs-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xs-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xs-text-case: none;
--oka-typo-brand-heading-secondary-xs-text-decoration: none;
--oka-typo-brand-heading-secondary-xxs-font-family: IBM Plex Sans;
--oka-typo-brand-heading-secondary-xxs-font-weight: Regular;
--oka-typo-brand-heading-secondary-xxs-line-height: 16;
--oka-typo-brand-heading-secondary-xxs-font-size: 0.75rem;
--oka-typo-brand-heading-secondary-xxs-letter-spacing: -3.5%;
--oka-typo-brand-heading-secondary-xxs-paragraph-spacing: 0;
--oka-typo-brand-heading-secondary-xxs-text-case: none;
--oka-typo-brand-heading-secondary-xxs-text-decoration: none;
--oka-typo-brand-text-default-font-family: IBM Plex Sans;
--oka-typo-brand-text-default-font-weight: Regular;
--oka-typo-brand-text-default-line-height: 24;
--oka-typo-brand-text-default-font-size: 1rem;
--oka-typo-brand-text-default-letter-spacing: 0;
--oka-typo-brand-text-default-paragraph-spacing: 0;
--oka-typo-brand-text-default-text-case: none;
--oka-typo-brand-text-default-text-decoration: none;
--oka-typo-brand-text-sm-font-family: IBM Plex Sans;
--oka-typo-brand-text-sm-font-weight: Regular;
--oka-typo-brand-text-sm-line-height: 24;
--oka-typo-brand-text-sm-font-size: 0.875rem;
--oka-typo-brand-text-sm-letter-spacing: 0;
--oka-typo-brand-text-sm-paragraph-spacing: 0;
--oka-typo-brand-text-sm-text-case: none;
--oka-typo-brand-text-sm-text-decoration: none;
--oka-typo-brand-text-xs-font-family: IBM Plex Sans;
--oka-typo-brand-text-xs-font-weight: Regular;
--oka-typo-brand-text-xs-line-height: 16;
--oka-typo-brand-text-xs-font-size: 0.75rem;
--oka-typo-brand-text-xs-letter-spacing: 0;
--oka-typo-brand-text-xs-paragraph-spacing: 0;
--oka-typo-brand-text-xs-text-case: none;
--oka-typo-brand-text-xs-text-decoration: none;
--oka-typo-brand-text-lg-font-family: IBM Plex Sans;
--oka-typo-brand-text-lg-font-weight: Light;
--oka-typo-brand-text-lg-line-height: 32;
--oka-typo-brand-text-lg-font-size: 1.333rem;
--oka-typo-brand-text-lg-letter-spacing: 0;
--oka-typo-brand-text-lg-paragraph-spacing: 0;
--oka-typo-brand-text-lg-text-case: none;
--oka-typo-brand-text-lg-text-decoration: none;
--oka-typo-system-heading-lg-font-family: IBM Plex Sans;
--oka-typo-system-heading-lg-font-weight: Bold;
--oka-typo-system-heading-lg-line-height: 40;
--oka-typo-system-heading-lg-font-size: 1.777rem;
--oka-typo-system-heading-lg-letter-spacing: 0;
--oka-typo-system-heading-lg-paragraph-spacing: 0;
--oka-typo-system-heading-lg-text-case: none;
--oka-typo-system-heading-lg-text-decoration: none;
--oka-typo-system-heading-md-font-family: IBM Plex Sans;
--oka-typo-system-heading-md-font-weight: Bold;
--oka-typo-system-heading-md-line-height: 32;
--oka-typo-system-heading-md-font-size: 1.333rem;
--oka-typo-system-heading-md-letter-spacing: 0;
--oka-typo-system-heading-md-paragraph-spacing: 0;
--oka-typo-system-heading-md-text-case: none;
--oka-typo-system-heading-md-text-decoration: none;
--oka-typo-system-heading-sm-font-family: IBM Plex Sans;
--oka-typo-system-heading-sm-font-weight: Bold;
--oka-typo-system-heading-sm-line-height: 32;
--oka-typo-system-heading-sm-font-size: 1rem;
--oka-typo-system-heading-sm-letter-spacing: 0;
--oka-typo-system-heading-sm-paragraph-spacing: 0;
--oka-typo-system-heading-sm-text-case: none;
--oka-typo-system-heading-sm-text-decoration: none;
--oka-typo-system-heading-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-lg-font-weight: Regular;
--oka-typo-system-heading-secondary-lg-line-height: 40;
--oka-typo-system-heading-secondary-lg-font-size: 1.777rem;
--oka-typo-system-heading-secondary-lg-letter-spacing: 0;
--oka-typo-system-heading-secondary-lg-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-lg-text-case: none;
--oka-typo-system-heading-secondary-lg-text-decoration: none;
--oka-typo-system-heading-secondary-md-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-md-font-weight: Regular;
--oka-typo-system-heading-secondary-md-line-height: 40;
--oka-typo-system-heading-secondary-md-font-size: 1.333rem;
--oka-typo-system-heading-secondary-md-letter-spacing: 0;
--oka-typo-system-heading-secondary-md-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-md-text-case: none;
--oka-typo-system-heading-secondary-md-text-decoration: none;
--oka-typo-system-heading-secondary-sm-font-family: IBM Plex Sans;
--oka-typo-system-heading-secondary-sm-font-weight: Regular;
--oka-typo-system-heading-secondary-sm-line-height: 32;
--oka-typo-system-heading-secondary-sm-font-size: 1rem;
--oka-typo-system-heading-secondary-sm-letter-spacing: 0;
--oka-typo-system-heading-secondary-sm-paragraph-spacing: 0;
--oka-typo-system-heading-secondary-sm-text-case: none;
--oka-typo-system-heading-secondary-sm-text-decoration: none;
--oka-typo-system-data-lg-font-family: IBM Plex Sans;
--oka-typo-system-data-lg-font-weight: Light;
--oka-typo-system-data-lg-line-height: 24;
--oka-typo-system-data-lg-font-size: 1rem;
--oka-typo-system-data-lg-letter-spacing: 0;
--oka-typo-system-data-lg-paragraph-spacing: 0;
--oka-typo-system-data-lg-text-case: none;
--oka-typo-system-data-lg-text-decoration: none;
--oka-typo-system-data-md-font-family: IBM Plex Sans;
--oka-typo-system-data-md-font-weight: Light;
--oka-typo-system-data-md-line-height: 16;
--oka-typo-system-data-md-font-size: 0.875rem;
--oka-typo-system-data-md-letter-spacing: 0;
--oka-typo-system-data-md-paragraph-spacing: 0;
--oka-typo-system-data-md-text-case: none;
--oka-typo-system-data-md-text-decoration: none;
--oka-typo-system-data-sm-font-family: IBM Plex Sans;
--oka-typo-system-data-sm-font-weight: Regular;
--oka-typo-system-data-sm-line-height: 16;
--oka-typo-system-data-sm-font-size: 0.75rem;
--oka-typo-system-data-sm-letter-spacing: 0;
--oka-typo-system-data-sm-paragraph-spacing: 0;
--oka-typo-system-data-sm-text-case: none;
--oka-typo-system-data-sm-text-decoration: none;
--oka-typo-system-data-xs-font-family: IBM Plex Sans;
--oka-typo-system-data-xs-font-weight: Regular;
--oka-typo-system-data-xs-line-height: 16;
--oka-typo-system-data-xs-font-size: 0.64rem;
--oka-typo-system-data-xs-letter-spacing: 0;
--oka-typo-system-data-xs-paragraph-spacing: 0;
--oka-typo-system-data-xs-text-case: none;
--oka-typo-system-data-xs-text-decoration: none;
--oka-typo-system-data-strong-lg-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-lg-font-weight: Medium;
--oka-typo-system-data-strong-lg-line-height: 24;
--oka-typo-system-data-strong-lg-font-size: 1rem;
--oka-typo-system-data-strong-lg-letter-spacing: 0;
--oka-typo-system-data-strong-lg-paragraph-spacing: 0;
--oka-typo-system-data-strong-lg-text-case: none;
--oka-typo-system-data-strong-lg-text-decoration: none;
--oka-typo-system-data-strong-md-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-md-font-weight: Medium;
--oka-typo-system-data-strong-md-line-height: 16;
--oka-typo-system-data-strong-md-font-size: 0.875rem;
--oka-typo-system-data-strong-md-letter-spacing: 0;
--oka-typo-system-data-strong-md-paragraph-spacing: 0;
--oka-typo-system-data-strong-md-text-case: none;
--oka-typo-system-data-strong-md-text-decoration: none;
--oka-typo-system-data-strong-sm-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-sm-font-weight: Medium;
--oka-typo-system-data-strong-sm-line-height: 16;
--oka-typo-system-data-strong-sm-font-size: 0.75rem;
--oka-typo-system-data-strong-sm-letter-spacing: 0;
--oka-typo-system-data-strong-sm-paragraph-spacing: 0;
--oka-typo-system-data-strong-sm-text-case: none;
--oka-typo-system-data-strong-sm-text-decoration: none;
--oka-typo-system-data-strong-xs-font-family: IBM Plex Sans;
--oka-typo-system-data-strong-xs-font-weight: Medium;
--oka-typo-system-data-strong-xs-line-height: 16;
--oka-typo-system-data-strong-xs-font-size: 0.64rem;
--oka-typo-system-data-strong-xs-letter-spacing: 0;
--oka-typo-system-data-strong-xs-paragraph-spacing: 0;
--oka-typo-system-data-strong-xs-text-case: none;
--oka-typo-system-data-strong-xs-text-decoration: none;
--oka-typo-system-cta-lg-font-family: IBM Plex Sans;
--oka-typo-system-cta-lg-font-weight: Medium;
--oka-typo-system-cta-lg-line-height: 32;
--oka-typo-system-cta-lg-font-size: 1rem;
--oka-typo-system-cta-lg-letter-spacing: 0;
--oka-typo-system-cta-lg-paragraph-spacing: 0;
--oka-typo-system-cta-lg-text-case: none;
--oka-typo-system-cta-lg-text-decoration: none;
--oka-typo-system-cta-md-font-family: IBM Plex Sans;
--oka-typo-system-cta-md-font-weight: Medium;
--oka-typo-system-cta-md-line-height: 24;
--oka-typo-system-cta-md-font-size: 0.875rem;
--oka-typo-system-cta-md-letter-spacing: 0;
--oka-typo-system-cta-md-paragraph-spacing: 0;
--oka-typo-system-cta-md-text-case: none;
--oka-typo-system-cta-md-text-decoration: none;
--oka-typo-system-cta-secondary-lg-font-family: IBM Plex Sans;
--oka-typo-system-cta-secondary-lg-font-weight: Regular;
--oka-typo-system-cta-secondary-lg-line-height: 32;
--oka-typo-system-cta-secondary-lg-font-size: 1rem;
--oka-typo-system-cta-secondary-lg-letter-spacing: 0;
--oka-typo-system-cta-secondary-lg-paragraph-spacing: 0;
--oka-typo-system-cta-secondary-lg-text-case: none;
--oka-typo-system-cta-secondary-lg-text-decoration: none;
--oka-typo-system-cta-secondary-md-font-family: IBM Plex Sans;
--oka-typo-system-cta-secondary-md-font-weight: Regular;
--oka-typo-system-cta-secondary-md-line-height: 32;
--oka-typo-system-cta-secondary-md-font-size: 0.875rem;
--oka-typo-system-cta-secondary-md-letter-spacing: 0;
--oka-typo-system-cta-secondary-md-paragraph-spacing: 0;
--oka-typo-system-cta-secondary-md-text-case: none;
--oka-typo-system-cta-secondary-md-text-decoration: none;
--oka-typo-system-label-lg-font-family: IBM Plex Sans;
--oka-typo-system-label-lg-font-weight: Medium;
--oka-typo-system-label-lg-line-height: 24;
--oka-typo-system-label-lg-font-size: 1rem;
--oka-typo-system-label-lg-letter-spacing: 0;
--oka-typo-system-label-lg-paragraph-spacing: 0;
--oka-typo-system-label-lg-text-case: none;
--oka-typo-system-label-lg-text-decoration: none;
--oka-typo-system-label-md-font-family: IBM Plex Sans;
--oka-typo-system-label-md-font-weight: Medium;
--oka-typo-system-label-md-line-height: 16;
--oka-typo-system-label-md-font-size: 0.875rem;
--oka-typo-system-label-md-letter-spacing: 0;
--oka-typo-system-label-md-paragraph-spacing: 0;
--oka-typo-system-label-md-text-case: none;
--oka-typo-system-label-md-text-decoration: none;
--oka-typo-system-label-sm-font-family: IBM Plex Sans;
--oka-typo-system-label-sm-font-weight: Medium;
--oka-typo-system-label-sm-line-height: 16;
--oka-typo-system-label-sm-font-size: 0.75rem;
--oka-typo-system-label-sm-letter-spacing: 0;
--oka-typo-system-label-sm-paragraph-spacing: 0;
--oka-typo-system-label-sm-text-case: none;
--oka-typo-system-label-sm-text-decoration: none;
--oka-fontweight-bold: Bold;
--oka-fontweight-semibold: SemiBold;
--oka-fontweight-medium: Medium;
--oka-fontweight-regular: Regular;
--oka-fontweight-light: Light;
--oka-fontweight-thin: Thin;
--oka-fontweight-system-stronger: Bold;
--oka-fontweight-system-strong: Medium;
--oka-fontweight-system-regular: Regular;
--oka-fontweight-system-light: Light;
--oka-borderradius-bt: 1rem;
--oka-borderradius-navitem: 0rem;
--oka-borderradius-tag: 3rem;
--oka-borderradius-forms: 3rem;
--oka-borderwidth-bt: 1px;
--oka-borderwidth-navitem: 1px;
--oka-fontsize-xxxl: 5.61rem;
--oka-fontsize-xxl: 4.209rem;
--oka-fontsize-xl: 3.157rem;
--oka-fontsize-lg: 2.369rem;
--oka-fontsize-md: 1.777rem;
--oka-fontsize-sm: 1.333rem;
--oka-fontsize-xs: 1rem;
--oka-fontsize-body: 0.875rem;
--oka-fontsize-xxs: 0.75rem;
--oka-fontsize-xxxs: 0.64rem;
--oka-lineheight-xxxl: 104;
--oka-lineheight-xxl: 80;
--oka-lineheight-xl: 64;
--oka-lineheight-lg: 48;
--oka-lineheight-md: 40;
--oka-lineheight-sm: 32;
--oka-lineheight-xs: 24;
--oka-lineheight-xxs: 16;
--oka-letterspacing-brand-compact: -3.5%;
--oka-opacity-action-bg: 0.1;
--oka-gradient: linear-gradient(45deg, #005ebd 0%, #003c66 100%);
      }