/** INPUTS

| 4.0.1 | 16/10/2023 | Ancêtre -forceActionSecondary |
| 4.0.0 | 13/03/2022 | figma token compatible + ABEM |
| 3.1.0   | 03/06/2021 | revision nommage Modifiers Taille         |
| 3.0.2   | 24/11/2020 | secondary |
| 3.0.1   | 25/10/2020 | commons 3.0.1  - getion outline |
| 3.0.0   |            | nomage                          |
| 2.0.1   |            |                                 |

 ressources
 https://uxdesign.cc/ui-cheat-sheet-text-fields-2152112615f8

*/

// Dépendance 
// Communs
// @import "../commons.4.0.0.scss";




@mixin inputDefault() {
    @include forms;
    @include forms--md;

    // Centrage Verticale (ex : pour Tag cas Multiselect )
    display:flex;
    flex-wrap : wrap;
    align-items: center;
    // NoCrop Suite au centrage vertical Flex.
    padding-top:0;
    padding-bottom:0;
    &:before,&:after{display:none}

    // Cas contenu Tags
    > *:not(:last-child){
        margin-right:0.25rem;
    }
    .oka-tag{
        margin-top:.25rem;
        margin-bottom:0.25rem;
    }

}


input {
    &[type=color],
    &[type=date],
    &[type=datetime-local],
    &[type=datetime],
    &[type=email],
    &[type=month],
    &[type=number],
    &[type=password],
    &[type=search],
    &[type=tel],
    &[type=text],
    &[type=time],
    &[type=url],
    &[type=week] {

        //
        // Styles des elements de type input text
        //
        @include inputDefault();  
        @include forms-text('primary' );
        
    }
}

.oka-input,
input.oka-input
{
    @include inputDefault();
    @include forms-text('primary');

    &.-secondary,
    &--secondary,
    .-forceActionSecondary & {
        @include forms-text('secondary' );
    }



}



// SIZE MODIFIERS
.oka-input {

    &.-sm,
    &--sm {
        @include forms--sm;
    }

    &.-lg,
    &--lg {
        @include forms--lg;
    }

    
    &.-full,//
    &--full {
        max-width:none !important;
    }

}