---
// ===== Import du fichier Markdown =====
import * as titreDiversite from "../../contenus/realisations/titre-diversite.md"
import * as paragrapheDiversite from "../../contenus/realisations/paragraphe-diversite.md"
---

<section class="flex-grid">
   <div class="col col-1"></div>

   <div class="col col-8">
      <h2 class="oka-t -lg" set:html={titreDiversite.rawContent()}></h2>
      <div class="col col-15">
         <p class="oka-text -lg" set:html={paragrapheDiversite.rawContent()}></p>
      </div>

      <div class="oka-spacer -md" aria-hidden="true"></div>

      <button class="oka-bt -outlined">
         <!-- <div class="oka-bt__ico"><i class="fa-regular fa-arrow-left"></i></div> -->
         <div class="oka-bt__lbl">call to action</div>
         <!-- <div class="oka-loader"></div> -->
      </button>
   </div>
   
   <div class="oka-spacer  -xl" aria-hidden="true"></div>
</section>