---
// ===== Composants d'animations =====
import RevealText from '../../animations/RevealText.astro';
// ===== Fichiers Markdown =====
import * as titreDiversite from "../../contenus/realisations/titre-diversite.md"
import * as paragrapheDiversite from "../../contenus/realisations/paragraphe-diversite.md"
---

<div class="oka-appWrap -fluid oka-lightMode oka-surface">
   <section class="flex-grid">
      <div class="oka-spacer  -xl" aria-hidden="true"></div>

      <div class="col col-1"></div>
   
      <div class="col col-8">
         <RevealText>
            <titreDiversite.Content/>
         </RevealText>
   
         <div class="sok-t-paragraph">
            <paragrapheDiversite.Content/>
         </div>
   
         <div class="oka-spacer -md" aria-hidden="true"></div>
   
         <button class="oka-bt -outlined">
            <!-- <div class="oka-bt__ico"><i class="fa-regular fa-arrow-left"></i></div> -->
            <div class="oka-bt__lbl">call to action</div>
         </button>
      </div>
      
      <div class="oka-spacer  -xl" aria-hidden="true"></div>
   </section>
</div>
