//https://medium.com/codyhouse/create-your-design-system-part-2-grid-layout-aa961d59b8d6

//grid gap
$gap-horizontal: 1rem;
$gap-vertical: $gap-horizontal;
$grid-columns: 12;

//mixins definition
@mixin grid {
  @supports(grid-area: auto) {
    display: grid;
    grid-column-gap: $gap-horizontal;
    grid-row-gap: $gap-vertical;
  }
}

@mixin gridLayout($cols...) {
  $i: 1;
  @each $col in $cols {
    > :nth-of-type(#{$i}) {
      width: calc( #{round-width(nth($col,1))} - #{$gap-horizontal});
    }
    $i: $i + 1;
  }

  @supports(grid-area: auto) {
    grid-template-columns: repeat($grid-columns, 1fr);

    $i: 1;
    @each $col in $cols {
      > :nth-of-type(#{$i}) {
        grid-column-end: span nth($col,1);
        @if length($col) > 1 {
          grid-row-end: span nth($col,2);
        }
      }
      $i: $i + 1;
    }

    > :nth-child(n) {
      width: auto;
      margin: 0;
    }
  }
}

//here's where we use the grid mixins
.containerLayout {
  @include grid;

    //Force la hauteur
    // voir : https://developer.mozilla.org/fr/docs/Web/CSS/grid-auto-rows
    // grid-auto-rows: 120px;
    grid-auto-rows: minmax(1rem, auto);


  @media only screen and (min-width: 600px) {
        @include gridLayout(
            (7, 8),
            (5, 4),
            (5, 4),
            (12, 4)
        );
    }
}



.planche {
    @include grid;

    @media only screen and (min-width: 600px) {
          @include gridLayout(
              (7, 8),
              (5, 4),
              (5, 4),
              (12, 4),
              (12, 4)
          );
      }

    > *  {
        //outline:1px solid red;
    }
}
//demo style
.containerLayout {
  font-family: sans-serif;
  //max-width: 1000px;
  margin: 0 auto;

  > div:nth-of-type(1) {
    background-color: #ead8c2;
  }

  > div:nth-of-type(2) {
    background-color: #4f8365;
  }

  > div:nth-of-type(3) {
    background-color: #eca414;
  }

  > div:nth-of-type(4) {
    background-color: #3a568c;
  }

  > div:not(:first-of-type) {
    color: white;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
