/* OKA APPBAR */
/*

| 5.0.0 | 24/05/2025 | Compatible design token 5 |
| 4.0.2 | 28/08/2024 | Ajout modificateur -fullwidth pour oka-appbar__left |
| 4.0.1 | 29/08/2023 | Evite le container-type en cas de oka-appWrap |
| 4.0.0 | 17/05/2022 | utilise tokens figma |
| 0.0.4 | 14/10/2021 | Supression du padding sur les colonnes gauche/centre/droite : centrage verticale par flex |
| 0.0.3 | 14/09/2021 | gestion largeur col left par variable global (--app-left-width-md : 24rem; --app-left-width-xl : 30rem;) |
| 0.0.2 | 22/08/2021 | Integration menu mobile spécifique (cf : hibou) |
| 0.0.1 |            | versionning - tokens
*/

:root{
    --oka-appbar-height : 4rem;
    --oka-appbar-elevation : var(--oka-elevation-header , 1000);
    --oka-appbar-color-background : var(--oka-color-layer-header, var(--oka-color-app-bg-header ));
}

.oka-appbar {


    //position:absolute;
    z-index: var(--oka-appbar-elevation); // $oka-appbar-elevation;
   
    top:0;
    left:0;
   
    width:100%;
    height : var(--oka-appbar-height);
    //
    display:flex;
    justify-content: flex-start;
    //
    padding : 0;
    background : var(--oka-appbar-color-background);
  
    //4.0.0 -> Ajout border-bottom pour dark-mode
    //border-bottom: 1px solid var(--oka-color-app-border-default);

    // Row
    &__row{
        display:flex;
        justify-content: flex-start;
        flex-grow:1;

        // 4.0.1 : reset le @container-type de "oka-app-wrap" en cas de  "oka-appbar__row oka-app-wrap"
        // Provoque le disfonctionnemnt de oka-burger sous mobile
        container-type: normal !important;
    }


    &__left{
        display:flex;
        justify-content: flex-start;
        align-items: center; // Centrage vertical 
        flex-grow:0;
        flex-basis: var(--app-left-width-md , 300px);
        // 0.0.4 // padding : 0.5rem 0 0 0.5rem ;
        padding-left:0.5rem ; // 4.0.0


        @include breakpoint(xl) {
            flex-basis: var(--app-left-width-xl , 400px);
        }
    }

    &__center{
        display:flex;
        justify-content: flex-start;
        align-items: center; // Centrage vertical 
        flex-grow:1;
        // 0.0.4 // padding : 0.5rem 0 ; 
    }

    &__right{
        display:flex;
        justify-content: flex-end;
        align-items: center; // Centrage vertical 
        flex-grow:1;

        // 0.0.4 // padding :  0.5rem 0;
        padding-right:0.5rem ; // 4.0.0
    }
}


.oka-appbar--fixed {
    position: fixed;
}

// AppBar pour Mobile
.oka-appbar--sm {
    

    //Adaptation 
    .oka-burger__openner{
        margin-left:auto;
        
        min-width:2.5rem;
        height:2.5rem;

        .oka-bt__lbl {
            min-width : 0;
        }
    }

    @media (orientation: landscape) {

        .oka-burger__openner,
        .oka-burger__openner:hover{
            transform: rotate(-90deg);
            transform-origin: center center;

            width:2.5rem;

            .oka-bt__lbl { 
               display:none;
            }
            .oka-bt__ico {
                margin-left:0.5rem !important; // Recentrage du picto
            }
        }

    }

    @include breakpoint(md) { 
        display:none;
    }

}

// AppBar pour Desktop
.oka-appbar--lg{
    display:none;
    
    @include breakpoint(md) { 
        display:flex;
    }

}