
/** OKA TABS 

| 1.0.2 | /2021 | Token du Filet séparateur |
| 1.0.1 | 02/03/2021 | Filet séparateur |
| 1.0.0 | 04/11/2020 | creations|

*/


// Dépendances :
//
// Tokens
@import "../../../design-tokens/oka-tabs-tokens.scss";

// ripple
//@import "../../1-bases/ripple";

.oka-tab {
    margin:0;
    //outline:1px solid blue;

    //
    &__head{
        position:relative;

        display: flex;
        flex-wrap : wrap; // 1.0.2 Responsive Stack



        background: $oka-tab-head-color-background ;
        padding:$oka-tab-head-space-inset;


        @include breakpoint(sm) {
            flex-wrap : nowrap; // 1.0.2 Reset : Responsive Stack
        }

    }
    // Inputs radios Pilot
    &__pilot{
        display:none;
    }

    // separator
    &__separator{
        display: block;
        position:absolute;
        z-index:1;
        bottom:1px;
        left:0;


        height:1px;
        width:100%;
    
        background-color: $oka-tab-head-separator-color;;
    }

    // label
    &__button{

        display:flex;
        align-items: center;
        
        height: $oka-tab-button-height;
        width : calc(100% - 2rem); // 1.0.2 Responsive Stack
        
        margin-left:$oka-tab-button-space-inline;
        margin-bottom:0.5rem; // 1.0.2 Responsive Stack

        padding : $oka-tab-button-space-inset  ;
      
        background :$oka-tab-button-color-background ;
        color :$oka-tab-button-color-text ;




        cursor: pointer;

        //@include ripple;
        @extend .oka-ripple;

        @include breakpoint(sm) {
            width : auto; // 1.0.2 Reset : Responsive Stack
            margin-bottom:0; // 1.0.2 Reset : Responsive Stack
        }


        &:hover{
            background:$oka-tab-button-color-background-over;
            color:$oka-tab-button-color-text-over;
        }

        &--disabled {
            opacity:$oka-tab-button-opacity-disabled ;
            cursor:not-allowed;
            pointer-events:none;
        }


    }

    &__lbl {
        @include typo-buttons;
        color:inherit;
    }


    &__panel, // deprecated
    &__body {
        display:none;
        z-index: 2;
        position: relative;

        margin-top:-($oka-tab-head-space-inset-bottom);
        border-top: $oka-tab-head-space-inset-bottom solid $oka-tab-panel-color-background ;

        // !!!!
        // Le padding dans le panel doit etre
        // géré par un container interne;
        //padding:1.5rem 0.5rem;
    }

}

// INTERACTIONS
//
// Activer les Buttons Tabs
#pilot-panel-1:checked ~ .oka-tab__head label[for=pilot-panel-1] ,
#pilot-panel-2:checked ~ .oka-tab__head label[for=pilot-panel-2] ,
#pilot-panel-3:checked ~ .oka-tab__head label[for=pilot-panel-3] ,
#pilot-panel-4:checked ~ .oka-tab__head label[for=pilot-panel-4] ,
#pilot-panel-5:checked ~ .oka-tab__head label[for=pilot-panel-5] ,
#pilot-panel-6:checked ~ .oka-tab__head label[for=pilot-panel-6] ,
#pilot-panel-7:checked ~ .oka-tab__head label[for=pilot-panel-7] ,
#pilot-panel-8:checked ~ .oka-tab__head label[for=pilot-panel-8] ,
#pilot-panel-9:checked ~ .oka-tab__head label[for=pilot-panel-9] ,
#pilot-panel-10:checked ~ .oka-tab__head label[for=pilot-panel-10] {
    background:$oka-tab-button-color-background-active;
    color:$oka-tab-button-color-text-active;
    z-index:1;


    border-color : $oka-tab-head-separator-color;
    border-width : $oka-tab-head-separator-width;
    border-style: solid;
   
    order : 10; // 1.0.2  Responsive Stack
    margin-bottom: 0 ; // 1.0.2  Responsive Stack
   
    @include breakpoint(sm) {
        order : initial; // 1.0.2 Reset : Responsive Stack
    }



}



#pilot-panel-1:checked ~ [data-tab="panel-1"] ,
#pilot-panel-2:checked ~ [data-tab="panel-2"] ,
#pilot-panel-3:checked ~ [data-tab="panel-3"] ,
#pilot-panel-4:checked ~ [data-tab="panel-4"] ,
#pilot-panel-5:checked ~ [data-tab="panel-5"] ,
#pilot-panel-6:checked ~ [data-tab="panel-6"] ,
#pilot-panel-7:checked ~ [data-tab="panel-7"] ,
#pilot-panel-8:checked ~ [data-tab="panel-8"] ,
#pilot-panel-9:checked ~ [data-tab="panel-9"] ,
#pilot-panel-10:checked ~ [data-tab="panel-10"]{
    background:$oka-tab-panel-color-background;
    display:block;
}

