

/*

| 0.0.2   | 30/09/2022 | Colors - compatible Figma Token      |
| 0.0.1   | 09/09/2021 | Mise en place (recup de Hibou)        |

*/


.oka-input-checklist{
    
    //color:var(--color-1--lightest);

    &__point {
        @extend %oka-data-sm;
        margin-bottom:-0.5rem;

        &:before {
            content : '✕';
            margin-right:0.5rem;
            color:var(--oka-color-error-contrast-hight);
        }


        &--success,
        &.-success{
            //color : green;
            color:var(--oka-color-success-contrast-hight);

            &:before {
                content : '✔';
                color:var(--oka-color-success-contrast-hight);
            }

        }
    }
}
