

/*

| 0.0.2   | 30/09/2022 | Colors       |
| 0.0.1   | 09/09/2021 | Mise en place (recup de Hibou)        |

*/


.oka-input-checklist{
    
    //color:var(--color-1--lightest);

    &__point {
        @include data-sm;
        
        &:before {
            content : '✕';
            margin-right:0.5rem;
            color:var(--color--error);
        }


        &--success{
            //color : green;
            &:before {
                content : '✔';
                color:var(--color--succes);
            }

        }
    }
}
