


// Dépendances
//@import "../../../oka-design-system/2-elements/buttons/buttons.3.0.7.scss";




.oka-burger{

    position:relative;
    width:100%;

    display:flex;
    flex-direction: row-reverse;
    

    @include breakpoint(md) {
        flex-direction: row;
    }



    // Bouton d'ouverture
    &__openner{
        //@include bt;
        //@include btType($type:"ghost");
        //@include btType($type:"outlined");
        //@include btSize($size:"large");

        position:relative;
        z-index:4100;

        @include breakpoint(md) {
            display:none;
        }
    }


    // le input checkbox declancheurs
    &__pilot{
        display:none;
    }

    // Container 
    &__ctnr {
        background :var(--color-1--darkest);
        display:none;
        position: fixed;
        top:4rem;
        bottom:0;
        right:0;
        left:0;
        z-index: 4000;


        @include breakpoint(sm) {

            flex-direction: row-reverse;

            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            
            background :oka-alpha(var(--color-1--darkest) , 0.28);
            

        }



        @include breakpoint(md) {
            display:flex;

            position:relative;
            top:0rem;
            bottom:0;
            right:0;
            left:0;
            
            background :transparent;
            box-shadow : none;
        }
    


    } 
    // Le declencheur de fermeture
    // Label transparent sur toute la surface (viewport)
    &__closer{

        pointer-events:all; 


        // !!!!! on surcharge un label
        // donc on reinit tout et  on force
        //
        display:none !important;
        //
        position:fixed  !important;
    

        top:0 !important; // 
        right:0 !important; // 
        bottom:0 !important; // 
        left:0 !important; // 

        margin: 0 !important;
        background:transparent !important;
    


        &:after,
        &:before {
            display:none !important;
        }
    }

    // Le contenu
    &__content{
        width:100%;

        display:flex;
        // Centrage vertical du contenu
        flex-direction: column;
        justify-content: center;

        padding:1rem 3rem 3rem;

        > * {
            margin-top:0.5rem;
            flex-shrink: 0;

            // Force la position : fix bug affchage avec backdropFilters
            position:relative;
        }


        @include breakpoint(sm) {
         
    
            width:340px;

            @include shadow-6;
            padding:1rem;

            background :var(--color-1--darkest);

        }


        @include breakpoint(md) {
            width:100%;

            flex-direction: row;
            padding:0;

            background:transparent;

           // responsivité des boutons
            > * {
                margin-top:0;
                margin-right:0.5rem;
                flex-shrink: 1;
            }

        }

    }
}

//
//
// System d'ouverture (pure css)
//
.oka-burger__pilot:checked ~ .oka-burger__ctnr,
.oka-burger__pilot:checked ~ .oka-burger__ctnr .oka-burger__closer{
    display:flex !important;
    
    backdrop-filter: blur(1px);
}