// ----------------------------------
// UTILITAIRE DE VISIBILITE SUIVANT Media Queries

/*
| 4.0.0 | 20/04/2023 | Nomage du fichier  |
| 3.1.1  | 28/09/2021 | Ajout des utilitaires de Base |
| 3.1.0  | 03/06/2021 | Nommage des modifiers Taille |
// 1.0.0 : mise en place
*/

// Dépendance 
// Tokens
//@import "../../../design-tokens/oka-breakpoints-tokens.scss";
// https://www.lightningdesignsystem.com/utilities/visibility/#CSS-Class-Overview
@mixin visibility($class-name, $min: null, $max: null) {
    .oka-visible {
        /* Allow class interpolation with parent selector for easier utility class generation */
        /* stylelint-disable selector-class-pattern */
        &-since-#{$class-name} {
            display: none;
            @if $min {
                @media (min-width: $min) {
                    display: block;
                    &--flex {
                        display: flex;
                    }
                    &--inline-block {
                        display: inline-block;
                    }
                    &--inline {
                        display: inline;
                    }
                }
            }
        }
        @if $min and $max {
            &-only-#{$class-name} {
                display: none;
                @media (min-width: $min) and (max-width: $max - 1) {
                    display: block;
                    &--flex {
                        display: flex;
                    }
                    &--inline-block {
                        display: inline-block;
                    }
                    &--inline {
                        display: inline;
                    }
                }
            }
        }
        /* stylelint-enable selector-class-pattern */
    }
    @if $max {
        .oka-max-#{$class-name}-hide {
            @media (max-width: $max - 1) {
                display: none;
            }
        }
    }
}

@include visibility(xs, $oka-breakpoint-xs, $oka-breakpoint-sm);
@include visibility(sm, $oka-breakpoint-sm, $oka-breakpoint-md);
@include visibility(md, $oka-breakpoint-md, $oka-breakpoint-lg);
@include visibility(lg, $oka-breakpoint-lg);
// Generates responsive visibility tags
@each $key,
$value in ( 'xxs': $oka-breakpoint-xxs, 'xs': $oka-breakpoint-xs, 'sm': $oka-breakpoint-sm, 'md': $oka-breakpoint-md, 'lg': $oka-breakpoint-lg, 'xl': $oka-breakpoint-xl, ) {
    @media(min-width: $value) {
        /**
     * @summary Hides the element when the window is bigger than the specific size. Sizes can be: x-small, small, medium, large, and * x-large.
     *
     * @selector .oka-hide_*
     * @notes Element will be displayed normally when the window is smaller
     * @modifier
     */
        .oka-hide_#{$key}, .oka-hide--#{$key} {
            // scss-lint:disable ImportantRule
            display: none !important;
        }
        // GUIDE DE DEVELOPEMENT
        body.showGrid:before {
            content:'#{$key} / min-width : #{$value}' !important;
            position: fixed !important;
            z-index: 1000000 !important;
            bottom: 0.5rem !important;
            left: 0.5rem !important;
            width: auto !important;
            height: auto !important;
            padding: 0.5rem !important;
            background: blue !important;
            font-size: 10px !important;
            color: #fff !important;
            opacity: 1 !important;
        }
    }
    @media(max-width: $value - 1px) {
        /**
     * @summary Shows the element when the window is bigger than the specific size. Sizes can be: x-small, small, medium, large, and * x-large.
     *
     * @selector .oka-show_*
     * @notes Element will be displayed normally when the window is bigger
     * @modifier
     */
        .oka-show_#{$key},
        .oka-show--#{$key} {
            // scss-lint:disable ImportantRule
            display: none !important;
        }
    }
}


/* UTILITARES DE BASE */

.u-displaynone {
    display: none !important;
}

.u-invisible {
    //hibou
    opacity: 0;
}

.u-hidden {
    // trucks
    visibility: hidden;
    opacity: 0;
    // Pottok
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
}