// OKA ACCEPT TERMS
/*
| 5.0.0 | 22/05/2025 | compatible design tokens 5 figma |

| 4.0.0    | 07/07/2023 |  Création |
*/


/*
SUIVANT DOM 

<div class="oka-acceptTerms">
						
    <div class="l-form-row ">    
    
        <span class="oka-field oka-field--checkboxs oka-field--group oka-field--valid oka-field--changed">
            
            <input type="checkbox" id="depot_acceptecgv" name="depot[acceptecgv]" required="required" class="oka-checkbox js-handler-ecouteValidationContenu" value="1">
            <label class="oka-label required" id="depot_acceptecgv-label" for="depot_acceptecgv">j accepte les </label>
            
            <span class="oka-field__ico-required  oka-field__ico-required--false"></span>
    
            <div class="oka-field__feedback">
                <span class="oka-field__ico-state "></span>
                <span class="oka-field__message"></span>
            </div>
        </span>
    </div>
				
    <label class="oka-acceptTerms__link" href="">conditions générales de vente</label>
</div>
*/

.oka-acceptTerms {

    //border:1px solid red;

    display:flex;
    //align-items: center;

    * {
        white-space: nowrap;
    }

    // le CHECKBOX
    .l-form-row,
    .l-form-row label {
        margin:0 0.25rem 0 0 !important;
    }

    //  orientation vertical pour le message d'erreur 
    .oka-field {
        flex-direction: column;
        align-items: flex-start;
    }
    // les message de feedback
    .oka-field__feedback {
        order:3;
        width: 0px; // taille à 0 pour overflow du texte et évite l'impacte de la largeur .
    
    }


    //le LIEN
    &__link {
        @include label--checkbox; //label--checkbox;
        @extend %link;
    }

}