
// MULI : FONT DE REMPLACEMENT POUR LA CENTURY GOTIC
//Chemin des polices
$fonts-path: $oka-brand-font-path;
$muli-folder : 'muli-v16-latin' !default; //;

/* muli-200 - latin */
@font-face {
  font-family: 'Muli ExtraLight';
  font-style: normal;
  font-weight: 200;
   font-display: swap;
  src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-300 - latin */
@font-face {
  font-family: 'Muli Light';
  font-style: normal;
  font-weight: 300;
   font-display: swap;
  src: local('Muli Light'), local('Muli-Light'),
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
   font-display: swap;
  src: local('Muli Regular'), local('Muli-Regular'),
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-800 - latin */
@font-face {
  font-family: 'Muli ExtraBold';
  font-style: normal;
  font-weight: 800;
   font-display: swap;
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-900 - latin */
@font-face {
  font-family: 'Muli Black ';
  font-style: normal;
  font-weight: 900;
   font-display: swap;
  src: local('Muli Black'), local('Muli-Black'),
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}/#{$muli-folder}/muli-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
