// Montserrat
//Chemin des polices
$fonts-path: $oka-brand-font-path;
$montserrat-path: 'montserrat-v-14-latin' !default;

// https://jamonserrano.github.io/plumber-sass/baselines/
$montserrat-baseline : 0.141500;

/* montserrat-100 - latin */

$montserrat-thin-weight:100;

@font-face {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-100.woff') format('woff');
}
/* montserrat-200 - latin */

$montserrat-extra-light-weight:200;

@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-200.woff') format('woff');
}
/* montserrat-300 - latin */

$montserrat-light-weight:300;

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-300.woff') format('woff');
}
/* montserrat-regular - latin */

$montserrat-regular-weight:400;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-regular.woff') format('woff');
}
/* montserrat-500 - latin */

$montserrat-medium-weight:500;

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-500.woff') format('woff');
}
/* montserrat-600 - latin */

$montserrat-semi-bold-weight:600;

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-600.woff') format('woff');
}
/* montserrat-700 - latin */

$montserrat-bold-weight:700;

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-700.woff') format('woff');
}
/* montserrat-800 - latin */

$montserrat-extra-bold-weight:800;

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-800.woff') format('woff');
}
/* montserrat-900 - latin */

$montserrat-black-weight:900;

@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$montserrat-path}/montserrat-v14-latin-900.woff') format('woff');
}
