---
import PolygoneFlip from "./PolygoneFlip.astro";
interface Props {
  rows?: string;
  cols?:  string;
  ratio?: string;
}
const { rows, cols, ratio } = Astro.props;

---

<div class="hex-grid -hidden" 
data-rows={rows ?? 1} 
data-cols={cols ?? 4} 
data-ratio={ratio ?? 0.1}
data-appeargroup
data-delay="1.5"
>

  <PolygoneFlip frontText="" backText="Back Texte" imageUrl="/src/assets/images/test.jpg" color="-web" data-appearUp />
  <PolygoneFlip frontText="" backText="Back Texte" imageUrl="/src/assets/images/test2.jpg" color="-metier"/>
  <PolygoneFlip frontText="" backText="Back Texte" videoUrl="/src/assets/videos/test.mp4" color="-ia"/>
  <PolygoneFlip frontText="" videoUrl="/src/assets/videos/test.mp4" color="-app" />
  <PolygoneFlip frontText="" backText="Back Texte" imageUrl="/src/assets/images/test.jpg" color="-web"/>
  <PolygoneFlip frontText="" backText=""  color="-metier"/>
  


</div>
