---
import PolygoneStatic from "./PolygoneStatic.astro";
import { hexHeight, hexWidth } from "../../../utils/hexConfig";

interface Props {
  rows?: string;
  cols?:  string;
  ratio?: string;
}

const { rows, cols, ratio } = Astro.props;
---

<div class="hex-grid -hidden" 
data-rows={rows ?? 1} 
data-cols={cols ?? 16} 
data-ratio={ratio ?? 0.5} 
data-hex-width={hexWidth} 
data-hex-height={hexHeight}
style="margin-left:calc(var(--hex-width) / -2)">
  <!-- <PolygoneStatic videoUrl="/src/assets/videos/test.mp4" color="-ia" /> -->
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />



  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />


  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />

  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />

  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />

    <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
  <PolygoneStatic />
</div>

<style lang="scss">
  .hex-grid {
    display: grid;
    gap: 1px;
    /* colonnes et lignes définies par le script */

    svg {
      overflow: visible; // permet au stroke de ne pas être rogné par le viewport SVG
    }

    &.-hidden {
      visibility: hidden;
    }
  }
</style>

