---
interface Props {
	frontText?: string;
	backText?:  string;
	color?: string;
	videoUrl?: string;
	imageUrl?: string;
}
const { frontText, backText = 'Back', videoUrl, imageUrl, color } = Astro.props;
---
<div class="polygon-container">
	<div class={`polygon-shape ${color ?? ''}`}  style={imageUrl ? `background-image: url(${imageUrl});` : undefined}>
		{(!imageUrl || videoUrl) && (
			<span class="polygon-text">{frontText}</span>
		)}

		{videoUrl && (
			<video autoplay muted loop>
				<source src={videoUrl} type="video/mp4">
			</video>
		)}
	</div>
</div>

<style lang="scss">

  .polygon-shape {
		position: relative;
		height: 128px;
		width: 110.851px;
		// clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: path("M 47 4 Q 55.425 0 63 4 L 102 28 Q 110.851 32 110.851 40 L 110.851 88 Q 110.851 96 102 100 L 63 124 Q 55.425 128 47 124 L 8 100 Q 0 96 0 88 L 0 40 Q 0 32 8 28 Z");
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-color: rgba(255, 255, 255, 0.39);

		.polygone-text {
			color: #2C5F8A;
			font-size: 12px;
			text-align: center;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.-web {
		background-color: rgb(15, 36, 230);
		color: white
	}

	.-metier {
		background-color: rgb(255, 162, 0);
		color: black
	}

	.-app {
		background-color: rgb(28, 168, 100);
		color: white
	}

	.-ia {
		background-color: rgb(38, 112, 208);
		color: white
	}

	.-objet {
		background-color: rgb(80, 171, 20);
		color: black
	}

	.-stroke {
		border: 1px solid #2C5F8A;
	}

	.-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

</style>