
<section>
   <div class="flex-grid">
      <div class="col col-1"></div>
      <div class="oka-avantages col col-14 oka-darkMode">
         <div class="oka-flex">
            <slot />
         </div>
      </div>
   </div>
</section>