---
import Accompagnement from "./avantages/Accompagnement.astro";
import Forfait from "./avantages/Forfait.astro";
import Garantie from "./avantages/Garantie.astro";
import Satisfaction from "./avantages/Satisfaction.astro";
import Fidelite from "./avantages/Fidelite.astro";
---


<section class="oka-avantages oka-darkMode oka-surface">
   <Accompagnement />
   <Forfait />
   <Garantie />
   <Satisfaction />
   <Fidelite />
</section>