---

---


<div class="oka-avantages col col-14 oka-grid240 oka-darkMode oka-surface">
   <slot />
</div>

<style lang="scss">
   .oka-avantages {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
</style>