
<section>
   <div class="oka-spacer -xl" aria-hidden="true"></div>

   <div class="flex-grid">
      <div class="col col-1"></div>
      <div class="oka-avantages col col-14 oka-darkMode">
         <div class="oka-flex">
            <slot />
         </div>
      </div>
   </div>

   <div class="oka-spacer -xl" aria-hidden="true"></div> 
</section>


<style lang="scss">
   section {
      background-color: var(--sok-color-surface-dark);
   }
</style>