<footer class="oka-footer oka-darkMode oka-surface">
  <div class="oka-footer__main">
    <div class="oka-footer__contact">
      <p class="oka-footer__text">
        Lorem ipsum dolor sit amet consectetur. Lorem risus molestie posuere
        turpis tincidunt vestibulum cursus.
      </p>

      <!-- TODO Créer un component Call to action -->
      <a href="#" class="oka-cta">Contactez-nous</a>
    </div>

    <nav class="oka-footer__nav">
      <!-- Liste 1 -->
      <ul class="oka-footer__list">
        <li class="oka-footer__item">
          <h3 class="oka-footer__title">Navigation</h3>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Méthodologie</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Réalisations</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Équipe</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Contact</a>
        </li>
      </ul>

      <!-- Liste 2 -->
      <ul class="oka-footer__list">
        <li class="oka-footer__item">
          <span>Services</span>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Solutions web</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Logiciels métiers</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Application mobile</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Lorem ipsum</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Lorem ipsum</a>
        </li>
      </ul>

      <!-- Liste 3 -->
      <ul class="oka-footer__list">
        <li class="oka-footer__item">
          <h3>Légale</h3>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Mentions légales</a>
        </li>

        <li class="oka-footer__item">
          <a class="oka-footer__link" href="#">Lorem ipsum</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- divider -->
  <div class="oka-footer__divider"></div>

  <span class="oka-footer__signature">HOKOHA</span>
</footer>
