---
const { modifier } = Astro.props;
---

<div class="oka-appWrap -fluid">
  <footer class={`oka-footer oka-darkMode oka-surface _ctnr-inline" ${modifier}`}>
    <div class="oka-spacer -md" aria-hidden="true"></div>
  
    <div class="flex-grid">
      <div class="col col-1"></div>
      <div class="col col-14">
    
        <div class="oka-footer__main oka-cols -two">
          <div class="oka-footer__contact">
            <p class="oka-text -lg">
              Lorem ipsum dolor sit amet consectetur. Lorem risus molestie posuere
              turpis tincidunt vestibulum cursus.
            </p>
    
            <div class="oka-spacer -sm" aria-hidden="true"></div>
    
            <button class="oka-bt -lg -outlined">
              <div class="oka-bt__lbl">call to action</div>
              <div class="oka-bt__ico"><i class="fa fa-arrow-right"></i></div>
            </button>
    
            <div class="oka-spacer -xl -spacing" aria-hidden="true"></div>
          </div>
    
          <nav class="oka-footer__nav oka-cols -three -Z">
            <!-- Liste 1 -->
            <ul class="oka-footer__list">
              <li>
                <h3 class="oka-h -sm">Navigation</h3>
              </li>
    
              <li>
                <a class="oka-link" href="methodologie" aria-label="lien vers la page méthodologie">Méthodologie</a>
              </li>
    
              <li>
                <a class="oka-link" href="/realisations" aria-label="lien vers la page réalisations">Réalisations</a>
              </li>
    
              <li>
                <a class="oka-link" href="/equipe" aria-label="lien vers la page équipe">Équipe</a>
              </li>
    
              <li>
                <a class="oka-link" href="/contact" aria-label="lien vers la page contact">Contact</a>
              </li>
            </ul>
    
            <!-- Liste 2 -->
            <ul class="oka-footer__list">
              <li>
                <h3 class="oka-h -sm">Services</h3>
              </li>
    
              <li>
                <a class="oka-link" href="#">Solutions web</a>
              </li>
    
              <li>
                <a class="oka-link" href="#">Logiciels métiers</a>
              </li>
    
              <li>
                <a class="oka-link" href="#">Application mobile</a>
              </li>
    
              <li>
                <a class="oka-link" href="#">Intelligence artificielle</a>
              </li>
    
              <li>
                <a class="oka-link" href="#">Objets connectés</a>
              </li>
            </ul>
    
            <!-- Liste 3 -->
            <ul class="oka-footer__list">
              <li>
                <h3 class="oka-h -sm">Légale</h3>
              </li>
    
              <li>
                <a class="oka-link" href="mentions_legales">Mentions légales</a>
              </li>
    
              <li>
                <a class="oka-link" href="#">Lorem ipsum</a>
              </li>
            </ul>
          </nav>
        </div>
    
        <div class="oka-spacer -lg" aria-hidden="true"></div>
        <hr class="oka-divider" aria-hidden="true">
        <div class="oka-spacer -md" aria-hidden="true"></div>
        
        <div class="sig-container">
          <div class="sig-content">
            <span class="oka-h -xxl signature" aria-hidden="true">HOKOHA</span>
          </div>
        </div>
      </div>
  
    </div>
  </footer>
</div>

<style lang="scss">
  @use "../../styles/oka-design-system/0-abstracts/breakpoints/breakpoints" as *;

  // Base
  .oka-appWrap {
    padding: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .oka-text.-lg {
    width: 100%;
    max-width: 480px;
    text-align: justify;
    padding-top: 0;
    
    @include breakpoint(xs) {
      text-align: start;
    }
  }

  .-spacing {
    @include breakpoint(sm) {
      display: none;
    } 
  }
  
  // Footer
  .oka-footer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 1rem;
    border-top: 1px solid var(--oka-color-bd-minimal);

    .oka-footer__list {
      display: flex;
      flex-direction: column;
      gap: .25rem;      
    }
    
    .sig-container {
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      margin-bottom: -10%;
      
      .sig-content {
        // overflow: hidden;
        
        .signature {
          padding: 0;
          font-size: clamp(80px, 22vw, 460px);
          line-height: 1;
          // position: relative;
          // left: 50%;
          // transform: translateX(-50%);
          white-space: nowrap;
          text-align: center;
          opacity: 0.1;
        }
      }
    } 
  }

  // .oka-footer.-grey {
  //   background-color: var(--sok-color-underground);
  // }
</style>
