<div class="grid-bg-fx__grid flex-grid ">


<div class="col col-1" >
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1" >
        <div class="persp"></div>
    </div>
    <div class="col col-1" >
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>



    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    <div class="col col-1" ></div>

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    

</div>

<style lang="scss">

.grid-bg-fx__grid{

    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0rem;
    left: 0rem;
}

   
.grid-bg-fx__grid > * {
    position: relative;

    perspective: 150px;

    background-color: transparent !important;
    opacity: 0.5;
    border-right: 1px solid var(--oka-color-bd-primary-minimal);
    border:none;
}



.persp{
    position: absolute;
    z-index: 2  ;
    top: -4dvh;
    left: 0;
    width: 200dvw;
    height: 300dvh;
 
    pointer-events: all;

    border-radius: 3rem;
    border: 1px solid var(--oka-color-bd-primary-subtle);
    /* transform: perspective(500px) rotateY(189deg); */
    transform: skewY(-6deg);

    /* transform: rotateX(0deg) rotateY(26deg);*/
    transform-style: preserve-3d; 


    &:hover {
        //border-color: var(--oka-color-bd-primary-minimal) !important;
        //background: var(--oka-color-bd-primary-minimal) !important;
    }
}


</style>