<div class="grid-bg-fx__grid flex-grid ">


<div class="col col-1" >

    
    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>


        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1" >
        <div class="persp"></div>
    </div>
    <div class="col col-1" >
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>
    <div class="col col-1">
        <div class="persp"></div>
    </div>



    <div class="col col-1" ></div>

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    

</div>

<style lang="scss">

@use "../../styles/oka-design-system/0-abstracts//breakpoints/breakpoints" as *;



.grid-bg-fx__grid{

    display: none;
    position: absolute;
    z-index: 1;
    top: 4rem;
    bottom: 0;
    right: 0;
    left: 0;

    overflow: hidden;

    @include breakpoint(sm) {
        display: flex;
    }

}

   
.grid-bg-fx__grid > * {
    position: relative;

    perspective: 100px;

    background-color: transparent !important;
    opacity: 0.5;
    border-right: 1px solid var(--oka-color-bd-primary-minimal);
    border:none;
}



.persp{
    position: absolute;
    z-index: 2  ;
    top: -4dvh;
    left: 0;
    width: 200dvw;
    height: 300dvh;
 
    border-radius: 3rem;
    border: 1px solid var(--oka-color-bd-primary-subtle);

    transform: skewY(-9deg);
    transform-style: preserve-3d; 


}


</style>