<div class="grid-bg-fx__grid flex-grid ">

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    <div class="col col-1" ></div>

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    <div class="col col-1" ></div>

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    <div class="col col-1" ></div>

    <div class="col col-1"></div>
    <div class="col col-1"></div>
    <div class="col col-1" ></div>
    <div class="col col-1" ></div>

</div>

<style>

.grid-bg-fx__grid{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0rem;
    left: 0rem;
}

   
.grid-bg-fx__grid > * {

    background-color: transparent !important;
    opacity: 0.5;
    border-right: 1px solid var(--oka-color-bd-primary-minimal);
}

</style>