
<!-- HEADER -->

<div class=" oka-appWrap -fluid" data-appeardown data-delay="0">

<header class="layout-app__header  oka-appbar -oka-darkMode sok-header">
  
  <div class="oka-appbar__row ">
	
    <div class="oka-appbar__left" style="flex-shrink:1;"> 
		<a href="/">
			<img class="sok-logokoha" src="/src/assets/images/logokoha-2.svg" alt="logo Hokoha">
		</a>
    </div>

    

	<div class="oka-appbar__right -hiden">

		
			<a class="oka-bt -ghost" href="/">
				<div class="oka-bt__lbl">Accueil</div>
			</a>
	
		
			<a class="oka-bt -ghost" href="/methodologie">
				<div class="oka-bt__lbl">Méthodologie</div>
			</a>
		
		
			<a class="oka-bt -ghost" href="/realisations">
				<div class="oka-bt__lbl">Réalisations</div>
			</a>
		
		
			<a class="oka-bt -ghost" href="/equipe">
				<div class="oka-bt__lbl">Équipe</div>
			</a>
		
		
			<a class="oka-bt " href="/contact">
				<div class="oka-bt__lbl">Contact</div>
			</a>
		
	
	</div>


  </div>
</header>

</div>




<style lang="scss">
	.sok-header {
		position:relative;
		// display: flex;
		// justify-content: space-around;
		// padding: 20px;
		background-color: #fff ; //var(--oka-color-neutral-50);
		border-radius: var(--sok-radius-section);
		margin: 1rem 0 0 0;
		padding: 0.5rem 1rem;
    	//border: 1px solid red;
	}

	.sok-logokoha{
		height: 2.5rem;
	}
</style>


