---
import logokoha2 from '../../assets/images/logokoha-2-dark.svg';
---

<!-- HEADER -->
<div class="oka-appWrap -fluid" data-appeardown data-delay="0">

	<header class="layout-app__header  oka-appbar -oka-darkMode sok-header">

		<div class="oka-appbar__row ">

			<div class="oka-appbar__left" style="flex-shrink:1;"> 
				<a href="/">
					<img class="sok-logokoha" src={logokoha2.src} alt="logo Hokoha">
				</a>
			</div>

		

			<div class="oka-appbar__right -hiden">
				<div class="sok-toggle">
					menu
				</div>

				<nav class="sok-navbar">

					<div class="oka-spacer -xl -spacing" aria-hidden="true"></div>


					<div class="sok-navbar__items">
						<a class="oka-h -lg" href="/" aria-label="lien vers la page d'accueil">Accueil</a>
				
						<a class="oka-h -lg" href="/methodologie" aria-label="lien vers la page méthodologie">Méthodologie</a>
					
						<a class="oka-h -lg" href="/realisations" aria-label="lien vers la page réalisations">Réalisations</a>
					
						<a class="oka-h -lg" href="/equipe" aria-label="lien vers la page équipe">Équipe</a>
					</div>
				
					
					<div class="oka-spacer -xl -spacing" aria-hidden="true"></div>
					
					<a class="oka-bt sok-contact__btn" href="/contact" aria-label="lien vers la page contact">
						<div class="oka-bt__lbl">Contact</div>
					</a>

					<div class="oka-spacer -md -spacing" aria-hidden="true"></div>
				</nav>
			</div>
	</div>
	
	</header>

</div>


<style lang="scss">
  @use "../../styles/oka-design-system/0-abstracts/breakpoints/breakpoints" as *;  
	// Retrait du transform : empêche l'affichage du menu sur mobile/tablet	
  .oka-appWrap {
		transform: none !important;
	}

	body.no-scroll {
		overflow: hidden;
	}
	.-spacing {
		@include breakpoint(md) {
			display: none
		}
	}

	// ===== Header =====
	.sok-header {
		position:  relative;
		// z-index: 99;
		// display: flex;
		// justify-content: space-around;
		// padding: 20px;
		background-color: rgb(255, 255, 255); //var(--oka-color-neutral-50);
		margin:  0 0 0 0;
		padding: 0.5rem 1rem;
	}

	.sok-logokoha{
		// height: 2.5rem;
		height: 3.125rem;
		z-index: 99;
	}

	// ==== Navbar ====
	.sok-toggle  {
		display: block;
		cursor: pointer;
		z-index: 99;

		@include breakpoint(md) {
			display: none;
			visibility: hidden;
		}
	}

	.sok-navbar {
		position: fixed;
		top: 4rem;
		left: 0;
		z-index: 99;
		width: 100%;
		padding: 0rem 2rem;
		background-color: var(--oka-color-layer-floor-0);
		border-radius: 0 0 10px 10px;
		// transform: translateX(0);
		transform: translateX(-110%);
		transition: transform .2s ease-out;
		background: red;

		&.active {
			transform: translateX(0);
		}

		@include breakpoint(md) {
			position: static;
			display: flex;
			align-items: center;
			gap: 2rem;
			width: auto;
			padding: 0;
		}

		&__items {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			// align-items: flex-start;

			@include breakpoint(md) {
				flex-direction: row;
				gap: 2rem;
			}

			a,
			a:visited {
				color: unset;
				text-decoration: none;
				padding: 0;

				.oka-bt__lbl {

				}
			}
		}
	}
</style>


<script>
	document.addEventListener('DOMContentLoaded', () => {
		const toggle = document.querySelector('.sok-toggle');
		const navbar = document.querySelector('.sok-navbar');
		const navLinks = document.querySelectorAll('.sok-navbar__items a');
	
		// Affiche le menu au clique
		toggle?.addEventListener('click', () => {
			navbar?.classList.toggle('active');
			// TODO: êmpche le scrool à l'ouverture du menu
			// document.body.classList.toggle('no-scroll');
		});
	
		// Ajoute ou retire des classes en fonction du viewport
		toggleClasses();
		window.addEventListener('resize', toggleClasses);
	
		function toggleClasses() {
			const isDesktop = window.innerWidth >= 1024;
	
			navLinks.forEach(navLink => {
				navLink.classList.toggle('-lg', !isDesktop);	
				navLink.classList.toggle('-xs', isDesktop);	
				// navLink.classList.toggle('-secondary', isDesktop);	
			})
		}
	});
</script>

