


<!-- HEADER -->
<header class="layout-app__header oka-appbar ---oka-darkMode sok-header">
  
  <div class="oka-appbar__row oka-app-wrap-fluid">
    <section class="oka-appbar__left" style="flex-shrink:1;padding-right:1rem;padding-bottom:0.5rem; padding-left: 0; padding-top:0.25rem"> 
		<a href="/">
			<img class="sok-logokoha" src="/src/assets/images/logokoha-2.svg" alt="logo Hokoha">
		</a>
    </section>

    

	<section class="oka-appbar__right -hiden">

		
			<a class="oka-bt -ghost" href="/">
				<div class="oka-bt__lbl">Accueil</div>
			</a>
	
		
			<a class="oka-bt -ghost" href="methodologie">
				<div class="oka-bt__lbl">Méthodologie</div>
			</a>
		
		
			<a class="oka-bt -ghost" href="realisations">
				<div class="oka-bt__lbl">Réalisations</div>
			</a>
		
		
			<a class="oka-bt -ghost" href="equipe">
				<div class="oka-bt__lbl">Équipe</div>
			</a>
		
		
			<a class="oka-bt " href="contact">
				<div class="oka-bt__lbl">Contact</div>
			</a>
		
	
	</section>


  </div>
</header>






<style lang="scss">
	.sok-header {
		position:relative;
		// display: flex;
		// justify-content: space-around;
		// padding: 20px;
		background-color: transparent; //var(--sok-color-bg-blue-500)
	}

	// .-hiden {
	// 	display: none;
	// }
</style>


