<header class="oka-header">
	<h1 class="oka-header__logo">Hokoha</h1>

	<nav class="oka-header__nav">
		<ul class="oka-header__list">
			<li class="oka-header__item">
				<a class="oka-header__link" href="/">Accueil</a>
			</li>

			<li class="oka-header__item">
				<a class="oka-header__link" href="methodologie">Méthodologie</a>
			</li>

			<li class="oka-header__item">
				<a class="oka-header__link" href="realisations">Réalisations</a>
			</li>

			<li class="oka-header__item">
				<a class="oka-header__link" href="equipe">Équipe</a>
			</li>

			<li class="oka-header__item">
				<a class="oka-header__link" href="contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	// .oka-header {
	// 	display: flex;
	// 	justify-content: space-around;
	// 	padding: 20px;
	// }
</style>
