
---
// Ceci est un layout global que tu peux réutiliser sur différentes pages.

import Header from '../components/Header.astro';
import Credits from '../components/Credits.astro';

// Recevoir les props passées par les pages qui utilisent ce layout
const { title } = Astro.props;
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sté HOKOHA | {title}</title>

        <style lang="scss" is:global>
            @import '../styles/main.scss';
        </style>
    </head>
    <body class="zzshowGrid">
        <div id="root" class="layout-app">
            
            <!-- Header -->
            <header class="layout-app__header">
                <Header />
            </header>


            <slot name="hero" />

            <!-- Corps de page -->
            <div class="layout-app__body oka-surface">
            
                <main class="layout-app__main">
                    <div class="oka-appWrap">
                        <slot />
                    </div>
                </main> 
                
                <!-- Footer -->
                <footer class="layout-app__footer">
                    <div class="oka-appWrap oka-darkMode">
                        <Credits />
                    </div>
                </footer>
            </div>  
           
            <!-- Grid Preview -->
            <div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
                <div class="oka-app-wrap" style="height:100%">
                    <div class="grid-bg-fx__grid flex-grid ">
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
                    </div>
                </div>
            </div>

      </div>
  </body>
</html>
