
---
// Ceci est un layout global 

import Header from '../components/Header.astro';
import Credits from '../components/Credits.astro';

// Recevoir les props passées par les pages qui utilisent ce layout
const { title } = Astro.props;
const { pageName } = Astro.props;
const { pageClass } = Astro.props;


---

<html>
    <head>
        <meta name="robots" content="noindex, nofollow">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sté HOKOHA | {title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


        <style lang="scss" is:global>
            @import '../styles/main.scss';
        </style>

        <base href="/site-hokoha/">

        <!-- {# FONTAWESOME #} -->
        <script src="https://kit.fontawesome.com/b4f3e09537.js" crossorigin="anonymous"></script>


    </head>
    <body class={`showGrid zzoka-darkMode page-${pageClass}`} >
        <div id="root" class="layout-app">
            
            <div class="heightPointGrid"></div>

         

            <!-- Header -->
            <header>
                <Header  currentPage={pageName} />
            </header>

            <slot name="hero" />
            

            <!-- Corps de page -->
            <div class="layout-app__body oka-surface" style="margin-top:0">
            
                <main class="layout-app__main">
                    
                    <!-- Contenu principal -->
                    <div class="oka-appWrap">
                        <slot  />
                    </div>
                    
                    <slot name="secondary" />

                </main> 
                
                <!-- Footer -->
                <footer class="layout-app__footer">
                    <div class="oka-appWrap oka-darkMode">
                        <Credits />
                    </div>
                </footer>
            </div> 


           
            
            <slot name="modal" />
           
            <!-- Grid Preview -->
            <div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
                <div class="oka-app-wrap" style="height:100%">
                    <div class="grid-bg-fx__grid flex-grid ">
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
                    </div>
                </div>
            </div>

      </div>
  </body>
</html>
