/** OKA NAVGROUPS
| 5.0.0 | 24/05/2025 | Compatible design token 5  |
| 4.0.0 | 23/11/2022 | Border radius en cas d'enfant unique + suppression du modifier -hrz  |
| 0.0.3 | 08/11/2022 | compatible navitem / ABEM / Magin-top -1  |
| 0.0.2 | 02/03/2022 | modifier vertical  |
| 0.0.1 | 07/10/2021 | création  |
*/


/*
Par default : horizontal 

 |_______|________|________|

*/ 


.oka-navgroup {
    --navgroup-margin-right: -1px;
    --navgroup-margin-top: unset;

    display:flex;

    flex-shrink:1;
    flex-grow:1;
    //max-width: 100%;
    //width:100%;
    

    .oka-navitem,
    .oka-nav{
        // supprime les effets au survol vertical
        &:hover{
            transform: translate3d(0, 0, 0);
            z-index:1;
        }
    }

    // autorise la compression de taille des items
    // en horizontal
    & .oka-navitem:not(&--vrt .oka-navitem),
    & .oka-nav:not(&.-vrt .oka-nav){
        flex-shrink:1;
        flex-grow:1;
        justify-content: center;
    }

    // Les boutons du milieu : on supprime les arrondis
    .oka-navitem:not(:first-child):not(:last-child),
    .oka-nav:not(:first-child):not(:last-child){
        border-radius: 0;
    }

    // Les boutons du milieu : on supprime les filets
    .oka-navitem:not(:first-child):not(:last-child),
    .oka-nav:not(:first-child):not(:last-child) {
        //border-right:0;
        margin-right: var(--navgroup-margin-right);
        margin-top: var(--navgroup-margin-top);
    }

    // le premier : supprime l'arrondis de droite
    .oka-navitem:first-child:not(:only-child),
    .oka-nav:first-child:not(:only-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        //border-right:0;
    }

    // le dernier : supprime l'arrondis de gauche
    .oka-navitem:last-child:not(:only-child),
    .oka-nav:last-child:not(:only-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-right: var(--navgroup-margin-right);
        margin-top: var(--navgroup-margin-top);
    }

    // 0.0.2 : orientation Verticale
    &--vrt,
    &.-vrt {
        flex-direction: column; 
        --navgroup-margin-right: unset;
        --navgroup-margin-top: -1px;

        // le premier : supprime l'arrondis du bas
        .oka-navitem:first-child:not(:only-child),
        .oka-nav:first-child:not(:only-child) {
            border-top-left-radius: var(--oka-nav-border-radius);
            border-top-right-radius: var(--oka-nav-border-radius);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        // le Dernier : supprime l'arrondis du haut
        .oka-navitem:last-child:not(:only-child),
        .oka-nav:last-child:not(:only-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: var(--oka-nav-border-radius);
            border-bottom-right-radius: var(--oka-nav-border-radius);
        }
    }
}
