/**
* CHECKBOX OKA
*
| 5.0.0 | 22/05/2025 | compatible design tokens 5 figma |
| 4.0.1 | 16/10/2023 | Ancêtre -forceActionSecondary |
| 4.0.0 | 13/03/2022 | figma token compatible  + Secondary |
| 3.1.0 | 03/06/2021 | revision  |
|   3.0.0   | 25/10/2020 | Tokens |
|   2.0.4   || Evite la derniere marge (position en pied) |
|   2.0.3   || restriction à .e-oka-checkbox |
|   2.0.2   || intégration des icones base64 |
*/

// Communs
// @import "../commons.3.0.3.scss";
//@import "../../../design-tokens/oka-forms-tokens.scss";

//
//@import "../../../0-abstracts/functions-svg";
//@import "../../../1-bases/icons/_icons.scss";


input[type="checkbox"].oka-checkbox {
    
    @include radio-checkbox-structure;
    @include radio-checkbox-appearance('primary');

    &:checked + label:after {
  
        top: 0rem;
        left: 0rem;
        width: 1.5rem;
        height: 1.5rem;

        margin-top:0;// Corrige : CropLineHeight des label qui entrainne un décalage de after

        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        //
        //
        @include background-svg-fill($svg-check, '#000000',  '#ffffff');

    }
  
    &--secondary,
    &.-secondary,
    .-forceActionSecondary &  {
        @include radio-checkbox-appearance('secondary' );
    }

}
