/* OKA SPINNER

| 4.0.0 | 25/10/2022 | extend oka-loader |
| 3.1.1 | 08/10/2021 | Nomage Feedbacks Ajax / ajaxError |
| 3.1.0 |            |                                 |
| 3.0.0 |            | dependance icons3.x.x / Nomage |
| 2.0.2 |            | ajout js-submitSubmit |
| 2.0.1 |            | affinage dependances en interne |
| 2.0.0 |            |                                 |

*/


// Dépendances
// @import "../../1-bases/icons/icons.3.0.0";
@import "../../1-bases/animations/_animations";


// ...........................
// SPINNER
.oka-spinner {

    display: none;
    flex-direction: column;
    justify-content: center;
    
    margin-right:0.5rem;

    background-size:18px;
    background-repeat: no-repeat;
    background-position: center;
    //opacity:0.8;
}



.js-ajaxInProgress,
.js-ajaxProgress, // 3.1.0
.js-submitSubmit {
    .oka-spinner{
        display: flex;
        //@include background-svg-fill($svg-spin, '#000000',  '#ffffff');
        //animation: oka-spin 1s infinite linear;
        @extend .oka-loader;
    }

    


}

.js-ajaxSucces,
.js-ajaxSuccess // 3.1.0
 {
    .oka-spinner{
        display: flex;
        
        width: 2rem;
        min-height: 2rem;

    

        @include background-svg-fill($svg-check, '#000000',  '#ffffff');
        animation: oka-pulse 0.3s linear;
    }
}


.js-ajaxError // 3.1.0
 {
    .oka-spinner{
        display: flex;
        
        width: 2rem;
        min-height: 2rem;

        @include background-svg-fill($svg-error, '#000000',  '#ffffff');
        animation: oka-pulse 0.3s linear;
    }
}
