/** OKA SWITCH

| 5.0.0 | 22/05/2025 |compatible design tokens 5 figma |
|  0.0.2 | 16/01/2023 | Modifier de Couleurs / Version labels Interne |
|  0.0.1 | 29/09/2021 | from https://miladd3.github.io/clean-switch/ |
    
*/


.oka-switch {

  --switch-width: 3rem;
  --switch-height: 1.5rem;
  --switch-thumb-size : 1.5rem;

  // Neutre par default
  --switch-bg-color-inactive : var(--oka-color-bg-disabled, var(--oka-color-ui-bg-primary-disabled)); 
  --switch-thumb-color-inactive : var(--oka-color-fg-disabled, var(--oka-color-ui-fg-primary-muted));

  --switch-fg-color : var(--oka-color-fg , var(--oka-color-app-fg-default));

  // Activé
  --switch-bg-color-active : var(--oka-color-bg-primary-subtle , var(--oka-color-ui-bg-primary-default));
  --switch-thumb-color-active : var(--oka-color-fg-primary-active , var(--oka-color-ui-border-primary-focus)); 

  --switch-thumb-outline:   var(--oka-color-bd-primary-subtle , var(--oka-color-ui-outline-primary-hover));

  // MODIFIERS COLOR
  &.-secondary {

    // --switch-bg-color-inactive : var(--oka-color-bg-disabled, var(--oka-color-ui-bg-secondary-disabled)); // oka-alpha(var(--color--success), 0.4);
    // --switch-thumb-color-inactive :var(--oka-color-fg-disabled, var(--oka-color-ui-fg-secondary-muted));// green;
  
    --switch-bg-color-active : var(--oka-color-bg-secondary-subtle , var(--oka-color-ui-bg-secondary-default));
    --switch-thumb-color-active : var(--oka-color-fg-secondary-active , var(--oka-color-ui-border-secondary-focus)); //red;
  
    --switch-thumb-outline:   var(--oka-color-bd-secondary-subtle , var(--oka-color-ui-outline-secondary-hover));
  }

  &.-trueFalse {
    --switch-bg-color-inactive : var(--oka-color-bg-positive-subtle, var(--oka-color-success-bg-soft)); 
    --switch-thumb-color-inactive :var(--oka-color-fg-positive-active, var(--oka-color-success-fg-on-soft));
  
    --switch-bg-color-active : var(--oka-color-bg-negative-subtle , var(--oka-color-error-bg-soft));
    --switch-thumb-color-active : var(--oka-color-fg-negative-active , var(--oka-color-error-fg-on-soft)); 
  
    --switch-thumb-outline:   var(--oka-color-bd-primary-subtle , var(--oka-color-ui-outline-secondary-hover));
  }

  &.-falseTrue {
    --switch-bg-color-inactive : var(--oka-color-bg-negative-subtle ,var(--oka-color-success-bg-soft)); 
    --switch-thumb-color-inactive :var(--oka-color-fg-negative-active ,var(--oka-color-success-fg-on-soft));
  
    --switch-bg-color-active : var(--oka-color-bg-positive-subtle, var(--oka-color-error-bg-soft));
    --switch-thumb-color-active : var(--oka-color-fg-positive-active, var(--oka-color-error-fg-on-soft)); 
  
    --switch-thumb-outline:   var(--oka-color-bd-primary-subtle , var(--oka-color-ui-outline-secondary-hover));
  }


  &.-travel {
    --switch-bg-color-active : var(--oka-color-bg-strong , var(--oka-color-neutral-dark)); 
    --switch-thumb-color-active : var(--oka-color-bg-positive, var(--oka-color-feedback-success-light));
    
    --switch-fg-color : var(--oka-color-fg-on_surface , var(--oka-color-neutral-lightest));

    --switch-bg-color-inactive : var(--oka-color-bg-strong ,var(--oka-color-neutral-dark));
    --switch-thumb-color-inactive : var(--oka-color-fg-on_surface ,var(--oka-color-neutral-light));
  
    --switch-thumb-outline:   var(--oka-color-ui-outline-primary-hover);
  }

}

.oka-switch {

  display: flex;

  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;

  &.-reverse{
    flex-direction: row;
  }
  &.-inline{
    display: inline-flex;
  }

  input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  /*
  Switcher Style
   */
  &__switcher {

    display: flex;
    flex-direction : row;
    align-items:center;
    
    border-radius: 100px;

    width: var(--switch-width);
    height: var(--switch-height);

    padding:0 0.25rem;

    background-color: var(--switch-bg-color-inactive);
    position: relative;

    box-sizing: border-box;
    //vertical-align: middle;
    cursor: pointer;

    .-collapsed &{
      padding:0;
    }



    // Thumb 
    &:before {

      //--right :  calc(100% - var(--switch-height) + 0.25rem);

      @extend .oka-shadow3;

      content: "";

      flex-shrink:0;

      position: relative;
      
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      width: calc(var(--switch-height) - 0.5rem) ;
      height: calc(var(--switch-height) - 0.5rem) ;

      margin-right: 0;
      
      background-color: var(--switch-thumb-color-inactive) ;
      border-radius: 50%;
      color:#fff;

      transition: all 0.2s;

      .-lg & {
        content:"×";
      }

      .-collapsed & {
        width: var(--switch-height);
        height: var(--switch-height);
      }
    }

    &:active:before {

      box-shadow: 0 0 0 8px var(--switch-thumb-outline);

      transition: all, 0.1s;
    }


    .oka-switch__label{
      flex-grow: 1;
      text-align: center;

      color : var(--switch-fg-color);
      //border:1px solid red;
    }

  }

  &__label {

    @extend .oka-label-sm;

    padding:0;

    &.-false{
      display:none;
    }
  }


  /*
  When Checked
   */
   input[type="checkbox"]:checked + .oka-switch__switcher {

    flex-direction: row-reverse;

    background-color: var(--switch-bg-color-active) ; 


    &:before {
        background-color:  var(--switch-thumb-color-active) ;
    }

    .oka-switch__label{

      &.-true{
        display:none;
      }
      &.-false{
        display:block;
      }
    }

  }





  // Variant Disabled

  & [disabled]:not([disabled="false"]) + .oka-switch__switcher {
    background: #ccc !important;

    &:active:before {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    }

    &:before {
      background-color: #e2e2e2 !important;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    }
  }


  


  // MODIFIERS SIZE
  &.-sm {
    --switch-width: 1.75rem;
    --switch-height: 1rem;
    --switch-thumb-size : 1rem;
  }

  &.-lg {
    --switch-width: 7.0rem;
    --switch-height: 2.5rem;
    --switch-thumb-size : 2rem;


    // Icones de thumb
    .oka-switch__switcher:before {
      content:"×";
      content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cline x1='0.853553' y1='0.782799' x2='7.21719' y2='7.14644' stroke='black'/%3E%3Cline x1='7.21683' y1='0.853553' x2='0.853198' y2='7.21719' stroke='black'/%3E%3C/svg%3E");  
    }

    input[type="checkbox"]:checked + .oka-switch__switcher:before { 
      content:"✓";
      content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9' viewBox='0 0 11 9' fill='none'%3E%3Cpath d='M3.75007 6.95006L1.30007 4.50006L0.483398 5.31672L3.75007 8.58339L10.7501 1.58339L9.9334 0.766724L3.75007 6.95006Z' fill='white'/%3E%3C/svg%3E");
    }
  }

}
