// Roboto
//Chemin des polices
$fonts-path: $oka-system-font-path;
$roboto-folder : 'roboto-v19-latin' !default; //;


//https://jamonserrano.github.io/plumber-sass/baselines/
$roboto-baseline : 0.158203;


/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  font-display:swap;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-300.woff') format('woff'); /* Modern Browsers */

}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: local('Roboto'), local('Roboto-Regular'),
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  font-display:swap;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$fonts-path}/#{$roboto-folder}/roboto-v19-latin-900.woff') format('woff'); /* Modern Browsers */

}
