
/** OKA RIPPLE

| 5.0.1 | 26/06/2025 | compatible skeuomorphMode : fonctionne sans overflow hidden du parent |
| 5.0.0 | 22/05/2025 | compatible design tokens 5 figma |

| 4.0.1 | 17/08/2023 | conversion en %placeholder |
| 4.0.0 | 25/10/2022 | figma tokens |
| 3.1.0 | 03/06/2021 | Revue |
| 1.0.1 | 22/02/2021 | Hack Safari -> correction bad overflow  |

*/

%oka-ripple {

    position: relative;
    transform: translate3d(0, 0, 0);
    

    // Ripple effect
    &:after {
        content: "";
        //border: 1px solid red;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        //background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
        background-image: radial-gradient(circle, var(--oka-color-fg, var(--oka-color-app-fg-default)) 10%, transparent 10.01%); // 5.0.0
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 2000%;
        //transform: scale(10,10);

        border-radius : inherit;

        opacity: 0;
        transition: background-image 1.26s, background-size 0.26s, opacity 1s;
        //
        // correction crop text
        margin : 0;
    }


    &:active:after {
        //transform: scale(0,0);
        background-image: radial-gradient(circle, var(--oka-color-fg, var(--oka-color-app-fg-default)) 100%, transparent 100.01%); // 5.0.0
        background-size: 0%;
        opacity: .25;
        transition: 0s;
        
    }
}



