/* OKA FLIP */
//

/**

| 5.0.0 | 24/05/2025 | Compatible design token 5 |
| 1.0.3 | 19/12/2022 | Compatible tokens figma |
| 1.0.2 | 12/02/2021 | ajout effets profondeur au hover (reservé au viewport (md) - corr backface-visibility pour ios mobile |
| 1.0.1 | 15/01/2021 | ajout effets profondeur au hover |
// 1.0.0
*/


// Dépendances :
//
// tokens
//@import "../../../design-tokens/oka-flips-tokens.scss";
// Ombres
// @import "../../1-bases/shadows/shadows.3.0.0";



// https://www.w3schools.com/howto/howto_css_flip_card.asp
// Fonctionnalités de FLIP

.oka-flip {
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

    box-shadow : none;
    


    &__pilot{
        display:none;

    }
    
    &__flipper{
        // !!!!! on surcharge un label
        // donc on reinit tout et  on force
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;

        margin: 0 !important;

        cursor:alias;


        &:after,
        &:before {
            display:none !important;
        }
    }

    &__inner{

        position: relative;
        height: 100%; // cas plusiseurs hauteurs différent de frères de grid

        transform: translateZ(0);
        transform-style: preserve-3d;

        // SHADOW
        // !!! NON , à gerer au niveau de __front et __back
        //@include shadow-sharp; // !!! Non , provoque un filet de decalage suite aux rotations


        // Effet de profonder au hover 
        // !!! Prbl de backface-visibility sur ios mobile 
        // -> on  applique hors mobiles seulement;
        @include breakpoint(md) {
            //padding:0.25rem;

            &:hover{
                padding:0; 
            
            }
        }
    }


    /* This container is needed to position the front and back side */
    &__front,
    &__back {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        -webkit-backface-visibility:hidden; 
        backface-visibility: hidden;  
    
        background-color: var(--oka-color-layer-floor-0 , var(--oka-color-app-bg-default ,#fff));
        color: var(--oka-color-fg, var(--oka-color-app-fg-default ,#000));
        

        border-radius: var(--oka-card-bd-radius);

        overflow:hidden;

        // SHADOW
        @extend .oka-shadow-2;

      

    }


    &__front {

        position: relative;
        width: 100%;
        height: 100%;

        &:hover{
            @extend .oka-shadow-3;
        }

       
    }

    &__back {

        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

    
        transform: rotateY(180deg);

    }

}




/* Do an horizontal flip when you move the mouse over the flip box container */


.oka-flip__pilot:checked ~ .oka-flip__inner {
    transform: rotateY(180deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;

    // Déactive le label flipper de front (en cas de présence de boutons dans back)
    // .oka-flip__front .oka-flip__flipper {
    //     display:none;
    // }

    .oka-flip__back {
        z-index:1;
    }

    .oka-flip__front {
        z-index:-1;
    }

}

.oka-flip__pilot:not(:checked) ~ .oka-flip__inner {
    transform: rotateY(0deg);
    transition: transform 0.25s;
    transform-style: preserve-3d;
}
