/**  OKA FIELDS
//
// Champs de formulaires et elements associés
| 5.0.0 | 22/05/2025 |compatible design tokens 5 figma |

| 4.0.1 | 11/09/2024 | modifier : -full (pleine largeur dispo) |
| 4.0.0 | 11/09/2023 | Appliquer marge ingerieur aux label sauf ceux .u-displaynone |
| 1.0.3 | 20/05/2022 | Ajout de Max-width correspondant à max-width des inputs |
| 1.0.2 | 01/01/2022 | Centrage vertical des enfants |
| 1.0.1 | 06/07/2021 | Isolation message avec oka-field__feedback - association avec javascript oka-formVerif(1.1.8) |
| 1.0.0 | 02/03/2021 | Création association avec javascript oka-formVerif(1.1.6) |



// Intégration du DOM

< div .l-form-row  > 
|
|_____<label >
|
|_____<span .oka-field >
        |
        |______< input > 
        |
        |______< oka-field__feedback >
                |______< oka-field__ico-state > 
                |______< oka-field__message > 
        |
        |______< oka-field__ico-required > 


*/

/* Margin inférieure pour les labels stacks */
.l-form-row .oka-label:not(.u-displaynone) + .oka-field{
    margin-top:0.5rem;
}

.oka-field{


    --color--error : var(--oka-color-fg-negative-strong, var(--oka-color-error-contrast-medium));

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    width:100%;
    max-width : $oka-forms-max-width; //  | 1.0.3 
    
    //-----------------------------------------------
    // MODIFIERS

    // PLEINE LARGEUR DISPO
    &.-full,
    &:has(.-full) {
        max-width:none !important;
    }


    // CHANGED
    &--changed {
        border-bottom: 0px solid green !important;
    }

    // VALID
    &--valid {

    }

    // INVALID     
    &--invalid,
    &--select.oka-field--invalid {
        select, 
        input:not([type="search"]), 
        textarea,
        .ss-main .ss-multi-selected  {
            border: 1px solid var(--oka-color-bd-negative, var(--color--error)) !important;
            box-shadow      : 0 0 0 3px var(--oka-color-bd-negative-minimal) !important; //3.0.2
        }
    }

    &--switch.oka-field--invalid,
    &--radios.oka-field--invalid,
    &--checkbox.oka-field--invalid {

            input{
                border-color:var(--color--error) !important;
            }
            label:before {
                color:var(--color--error) !important;
                border: 1px solid var(--oka-color-bd-negative, var(--color--error)) !important;
                box-shadow      : 0 0 0 3px var(--oka-color-bd-negative-minimal) !important; //3.0.2
            }
            label:after{
                background-color: var(--oka-color-fg-negative) !important;
            }

    }



    &-invalid {

        input[type='text'],
        select,
        textarea,
        input[type="radio"].oka-radio + label:before,
        input[type="checkbox"].oka-checkbox + label:before {
        
        //border:1px solid red !important;
            box-shadow: 0 0 0 3px hsla(var(--color--error-h), var(--color--error-s), var(--color--error-l), 0.45);
        }
    }


    // HIDDEN
    &--hidden {
        height: 0;
        width: 0;
        margin:0;
        overflow: hidden;
    }

}


// ELEMENTS

.oka-field__ico-required {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;

    &--false:before {
        content: '*';
        color: var(--color--error);
    }

    &--true:before {
        content: '';
        color: var(--color--success);
    }
}



.oka-field__feedback {
    position:relative;
    display: flex;
    align-items: flex-start;
    width:100%;
}

.oka-field__ico-state {
    pointer-events: none;
    display:inline-block;
    flex : 0 0 auto;
}


// .oka-field__ico-state.oka-field__ico-state--valid{
//     width: 10px;
//     height: 10px;
//     margin:2px;
//     padding: 0px;
//     border-radius: 10px;
//     border:2px solid var(--color--succes);
//     background-color: var(--color--succes);
//     background-image:  url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' role='img' viewBox='0 0 512 512'><path fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/></svg>");
// }



.js-oka-tab__button--invalide:after{
    content:' ';
    display:inline-block;
    margin-left:0.5rem !important;
}


.js-oka-tab__button--invalide .oka-tab__indic,
.oka-field__ico-state.oka-field__ico-state--error {

    width: 0.75rem;
    height: 0.75rem;

    background-color: var(--color--error , var(--oka-color-error-contrast-medium, red));
    border-radius: 0.75rem;

    &:after {
        content:'!';
        width: 0.75rem;
        height: 0.75rem;
        position:absolute;
        font-size: 11px;
        line-height: 0.75rem;
        text-align: center;
        color:#fff;
    }

}

.oka-field__ico-state.oka-field__ico-state--error {
    margin:0.35rem 0.25rem 0 0;
}

.js-oka-tab__button--invalide .oka-tab__indic{
    margin:0 0 0 0.5rem;
}


//-----------------------------------------------
//
// MESSAGE D'ERREUR
//
.oka-field__message {
    position: relative;
    flex: initial;
    pointer-events: none;
    display: block;
    max-width: $oka-forms-max-width;
}

.oka-field__message--error {
    color: var(--color--error);
    pointer-events: none;
    @extend  %oka-data-xs;
}


//-----------------------------------------------
.oka-field--group{
    //border:1px solid blue;
    
    > label{
        align-self: flex-start;
        //margin-top:0.5rem;
    }
}



// ---------------------------------------------
// MISE EN PAGES SPECIFIQUES

.oka-field--text,
.oka-field--textarea,
.oka-field--select,
.oka-field--password ,
.oka-field--file  {

    //outline:1px solid blue;

    flex-direction: row;
    flex-wrap: wrap;
    //
    input,
    textarea,
    select{
        flex-shrink: 0;
    }

}


// GROUPE RADIOS / CHECKBOX
.oka-field--group {

    flex-direction:row;
    flex-wrap: wrap;
        
    input ~ label,
    .l-form-row__group ,
    .l-form-row__group--inline{
        order:3;
    }
    
    // .oka-field__feedback{
    //     display:none;
    // }

    .oka-field__ico-required{
        order:1;
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
    }
  }
